[2018-09-24 09:31] microbit-mark opened #1284 "Is radio strength now low by default?"
**Describe the bug**
Without setting radio power in the code, the default strength appears to be low with the signal only reaching about 30cm. This is the experience in v0 and v1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/_6H0E3oFqDAeq (v1 program)
2. Flash script to two micro:bits. Press A to send string. Try extending distance between devices

**Exp

[2018-09-24 13:22] microbit-giles opened #1285 "Safari constantly throwing up disk space message"
**Describe the bug**
On https://makecode.microbit.org in Safari I am *constantly* being challenged to allow the page to use disk space.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org
2. Create or edit any code, move any block
3. Following pop-up appears. I have clicked Develop > Empty caches and it still appears but I have *not* deleted all cookies and br

[2018-09-24 14:36] abchatra commented on #1285
Does this repro on /beta?

[2018-09-24 14:39] abchatra commented on #1282
As we are planning to switch to /beta to live in next couple of months, if we the issue doesn't reproduce in /beta we will not take that up.

Seems like part of the issue (scroll drags editor) repros in /beta as well. Can you elaborate (screenshot or exact repro steps) on that issue?

[2018-09-24 14:41] abchatra commented on #1284
Not an intentional change. Is there a change on our side. We should investigate.

[2018-09-24 14:41] abchatra commented on #1284
@pelikhan are you aware of any intentional change?

[2018-09-24 14:43] guillaumejenkins commented on #1285
That's because we save on each project modification (move a block, change a paramater, etc). If you are out of storage space, then each save will fail.

I would be inclined to treat this as a side effect of https://github.com/Microsoft/pxt-microbit/issues/1278, and not a separate issue. If we handle out-of-storage issues, this will not happen anymore.

[2018-09-24 14:48] microbit-mark commented on #1284
@abchatra  https://github.com/lancaster-university/microbit-dal/commit/2a12ea23c12e725a2edda2752ae44e55cda76241?diff=unified#diff-02c86b17108efddd975b763f7215b1b1L279

no longer calls the setTransmitPower function

@microbit-sam will submit a fix

[2018-09-24 14:50] abchatra commented on #1284
Ok DAL issue right? We need to patch v0 as well.

[2018-09-24 14:51] microbit-mark commented on #1284
Yes. Both v0 and v1 experience the issue.

[2018-09-24 15:16] pelikhan commented on #1281
Looks like pxt-bluetooth-midi has compilation issues against v1. investigating.

[2018-09-24 15:56] pelikhan commented on #1284
This is strange. The fix is easy, we can call setTransmitPower when initializing radio. See PR.

[2018-09-24 15:58] pelikhan commented on #1285
@microbit-giles  Do you allow or dissallow?

[2018-09-24 15:59] #1285 closed

[2018-09-24 16:52] microbit-giles commented on #1285
Always allow.

[2018-09-24 17:10] pelikhan commented on #1285
Does it increment by 5mb?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Giles Booth <notifications@github.com>
Sent: Monday, September 24, 2018 9:52:27 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; State change
Subject: Re: [Microsoft/pxt-microbit] Safari constantly throwing up disk space message (#1285)

Always allow.

—
You are receiving this because you

[2018-09-24 17:17] pelikhan commented on #1281
Looking into this

[2018-09-24 17:31] #1276 closed

[2018-09-24 19:09] jaustin commented on #1281
@pelikhan I think this isn't just V1 related, as Martin's example suggests that something's up in V0 too.

@machinehistories can you please confirm that you're using the 'live' version of makecode at makecode.microbit.org rather than the beta?

Thanks
Jonny

[2018-09-24 20:40] machinehistories commented on #1281
I have similar issues with both the live version and the beta although when
I use the live version with midi bluetooth it will run the code, perform
some midi messages, and then produce 020 error at some point. If I use the
midi bluetooth on the beta site I can't even establish a recognized
bluetooth midi connection without getting an error. Hopefully that answers
your questions.

On Mon, Sep 24,

[2018-09-24 20:41] pelikhan commented on #1281
On v1, it does not even build so you get a broken program from MakeCode. I have a fix coming.

[2018-09-24 20:47] pelikhan commented on #1281
There's two issues that are being mixed up here.

* A compilation issue on v1 for the midi package (fix coming)
* OOM issues with BLUE in v0/v1 using the 2.1DAL

FOr the memory issue, what is Lancaster saying about memory pressure in DAL 2.1?

[2018-09-24 20:55] pelikhan commented on #1284
Fix in v0 https://github.com/Microsoft/pxt-microbit/commit/fa2c6bc6e507462b3c934fabcb26a4259ce9701a
Fix in v1 https://github.com/Microsoft/pxt-microbit/commit/eed66868a9020135f855c1eaf5c944d7317f4036

[2018-09-24 20:55] #1284 closed

[2018-09-24 20:56] pelikhan commented on #1281
Compile issue fixed and deployed https://github.com/Microsoft/pxt-microbit/commit/088c95661be9eb41554c7e06ff8345867a9835f9

[2018-09-24 23:38] finneyj commented on #1281
Thanks @pelikhan

Since microbit-dal 2.1.0, we've moved to using a single heap memory allocator. Previously, dynamic memory allocation was split between the MicroBitHeapAllocator and the gcc/libc heap allocator. The reasons why are legacy. In 2.1.0, we move purely to the MicroBitHeapAllocator.

There are two observations we noted from this.

1) there were far more background allocations happening

[2018-09-24 23:43] finneyj commented on #1281
hmm... looks like it is:

[code]

0x700 is a large GATT table size for a simple example though. That's probably using up about 1K more than is needed...  I wonder if there's a way to reduce this in a way that's not too restricting.

[2018-09-24 23:47] pelikhan commented on #1281
Right so in the past we maxed out the GATT table in order to support "all BLE services on" scenario.

[2018-09-24 23:48] finneyj commented on #1281
yep. The dal will reclaim any unused space though...

[2018-09-24 23:50] pelikhan commented on #1281
So we were lucky in the past...

[2018-09-25 00:07] machinehistories commented on #1281
The 020 error message pretty much is happening with the absolute simplest
of examples. In the past I could send rather lengthy code that used
bluetooth midi related instructions and it worked great. Based on what you
are now saying the bluetooth midi is essentially unusable since it errors
as soon as bluetooth is connected. Sounds like the previous solution was
great in so much as it worked. This

[2018-09-25 00:19] finneyj commented on #1281
@pelikhan yes, I think so...

@machinehistories I hear you.  I'm just trying to explain the reasons here as a start point. We should look to resolve these issues of course...

@pelikhan - my spidey sense tells me this is close to running. As a stopgap, is there a way to set the GATT table size differently for different packages? i.e. have the midi package set a small fatter table size in config.js

[2018-09-25 09:27] ChrisDorna commented on #984
I have a problem with the colors and te thext in the inline snippets.
This code:
 ``|math:pick random|`` and ``||Basic:show number||``

<img width="353" alt="nr01" src="https://user-images.githubusercontent.com/20975602/46005481-a4b8fb00-c0b5-11e8-8459-06dba33f77eb.png">
gives this output:
<img width="416" alt="nr02" src="https://user-images.githubusercontent.com/20975602/46005508-b26e8080-c0b5-11

[2018-09-25 13:01] microbit-mark commented on #1275
Have polled all these tickets again.

https://github.com/CoderDojoOlney/pxt-olney/issues/6
https://github.com/srs/pxt-bitbot/issues/15
https://github.com/chevyng/pxt-ucl-junkrobot/issues/4
https://github.com/Microsoft/pxt-bluetooth-temperature-sensor/issues/2
https://github.com/PaulDFoster/pxt-microbit-GY521/issues/5

[2018-09-25 13:02] Carlborg opened #1290 "Block editor beta - unexpected behaviour when duplicating for index loop"
Running the beta block editor at https://makecode.microbit.org/beta#editor, on chrome on mac osx high sierra.

When I drag a "for index"-block to the canvas, duplicate it, and change the name of the index variable on one of them, both variable names get changed.

However, when I drag two "for index"-blocks to the canvas, and change the name of the index variable on one of them, only that one varia

[2018-09-25 14:15] pelikhan commented on #984
Double pipe missing and lower case basic

[2018-09-25 14:16] abchatra commented on #1290
I see variable names being changes in both cases. Can you add a gif? (You can use screentogif software for the same on windows.

In future it is very helpful if you use bug template.

[2018-09-25 14:31] abchatra commented on #1275
I am closing this issue from our end as there is no further action from our end.

[2018-09-25 14:31] #1275 closed

[2018-09-25 17:06] abchatra opened #1291 "Steps to take when switching v0 to v1"
- [x]  Change https://github.com/Microsoft/pxt-deployment-config/blob/master/production/config.json#L27 to v1
Pull request ready https://github.com/Microsoft/pxt-deployment-config/pull/75

- [x] Merge master into v1 for any documentation changes

- [x] Create a branch v0 in the target to serve v0 documentation (snapped from master)

- [x] set crowdin branch in v0 to v0, push a build to upload tran

[2018-09-25 18:40] abchatra opened #1293 "WebUSB usage requires new documentation"
WebUSB requires better documentation.

As of today  we link to following two links
1. https://makecode.microbit.org/v1/device/usb/webusb - Help redirects here
2. https://makecode.microbit.org/v1/device/usb/webusbfirmware - Check your firmware version and update if necessary redirects here. This one is 404 and requires new documentation.

For (1) we need pictures and clear documentaiton and serial

[2018-09-25 18:40] abchatra commented on #1293
@ganicke let me know if you need any information here. @pelikhan  fyi

[2018-09-25 18:44] jaustin opened #1294 "v0 not automatically upgrading"
I'm using Chrome Version 69.0.3497.100 (Official Build) (64-bit).

If I visit makecode.microbit.org in a normal session, and choose 'gear->about' I am still seeing:

If I open an Incognito tab I get served the latest version.

As the auto-update is important for people with the revised sensors I want to check there isn't some wider problem. Any useful debug I can share? I think @microbit-carlos al

[2018-09-25 18:53] microbit-carlos commented on #1294
Yes, I've seen it on Firefox when the beta was being updated to different dal-integration-x releases, but it did eventually updated itself.

In fact right now I went to https://makecode.microbit.org and it was still showing me the previous MakeCode version with DAL v2.0.0-rc-11, without any indication that a new version was being downloaded (normally it used to show a dark overlay while it was upd

[2018-09-25 18:59] carlosperate opened #1295 "MakeCode beta detecting firefox as safari"
Looking at the JS console in https://makecode.microbit.org I can see the following line:

[code]

makecode.microbit.org version: 0.14.52
Microsoft MakeCode version: 0.19.16
C++ runtime version: v2.1.0

In https://makecode.microbit.org/beta#editor I get:

[code]

makecode.microbit.org version:  1.1.53
Microsoft MakeCode version:  3.22.20
microbit runtime version:  v2.1.0

Running Firefox 62.0 on ma

[2018-09-25 19:52] jaustin commented on #1281
@pelikhan would I expect changing the 'project settings' to include the following to help me debug

(based on https://github.com/Microsoft/pxt-microbit/blob/master/libs/bluetooth/pxt.json#L23)

I tried this on a little memory consumption program to see if I could see any difference and whether I use a gatt_table_size of 0x900 or 0x400 I don't see any difference in the results (BLE versus non BLE i

[2018-09-25 20:05] abchatra commented on #1295
@carlosperate Any issues with the website?

[2018-09-25 20:16] abchatra commented on #1294
Issue is with firefox. @pelikhan has put a workaround for this issue in the last release. You will have to manually refresh for now.
 Closing as fixed.

[2018-09-25 20:38] pelikhan commented on #1281
A package can override the gatt_table_size but there is no mechanism to handle clashing of multiple request. e.g. what if two packages request a different gatt size? do we take the max?

[2018-09-25 20:39] pelikhan commented on #1281
If you have a YOTTA config flag for heap debugging, you could enable it from the pxt.json config section.

[2018-09-25 21:27] jaustin commented on #1281
For now I'm just trying to debug this - are you saying things set in the project settings should work then? Do you mind checking the URL above to see that I've done what you'd expect because they both seem to behave the same way (but then maybe my test fills stack not heap?)

[2018-09-25 21:28] pelikhan commented on #1281
If you build locally with docker, you call look at the dockeryt folder. It contains the generated module.json... which is the ultimate truth about which flags ended being enabled in the config.

[2018-09-25 21:31] philipphenkel opened #1296 "Shim for serial.readBuffer is missing"
**Describe the bug**
When using the serial.readBuffer block causes the following simulator error:
Program Error: pxsim.serial.readBuffer is not a function

**To Reproduce**
Steps to reproduce the behavior:
Add a serial.readBuffer block (see screenshot)

**Expected behavior**
No error. readBuffer an arbitrary filled buffer with correct length.

**Screenshots**
![bildschirmfoto 2018-09-25 um 23 08 2

[2018-09-25 21:42] pelikhan commented on #1291
It's probably wiser to review commits in master and cherry-pick them into v1.

[2018-09-25 21:45] pelikhan commented on #1295
Detected probably on windows.
![image](https://user-images.githubusercontent.com/4175913/46045115-8e209d00-c0d1-11e8-8773-e260f954f018.png)
Could you run ``navigator.userAgent`` from the javascript console?
[code]

[2018-09-26 04:45] pelikhan commented on #1293
I suggest that (1) points to (2) and not the foundation ticket. It's not clear and not localizable.
For 2, I we already have https://makecode.microbit.org/device/firmware we should beef it up.

[2018-09-26 05:05] pelikhan commented on #1293
Actually @abchatra is right, the windows troubleshoot page is better. We spent quite a bit of time and feedback to tune it. We should clone it do the same for webusb.

[2018-09-26 08:56] martinwork opened #1298 "V1 Download / Save dialog is confusing because it is not relevant to iOS"
**Describe the bug**
V1 Download / Save dialog is confusing because it is not relevant to iOS. It asks me to connect with a USB cable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/beta#editor'
2. Tap 'Download' or 'Save'
3. See dialog mentioning USB cable

**Expected behavior**
I would expect the dialog to be similar to the V0 one.

**Screenshots**
V1

[2018-09-26 09:28] carlosperate commented on #1295
@abchatra there are no issues with the website, but I though it was worth mentioning as maybe it is used for logging/metrics.

User agent:
[code]

[2018-09-26 09:29] jaustin commented on #1294
Are you sure it's Firefox only? I saw it with Chrome today (as in the original issue) and had to manually reload the page to get the newer version (which came as an autoupdate, not immediately). Could it be related to having multiple MakeCode tabs open?

[2018-09-26 09:35] jaustin commented on #1293
How long is the existing webUSB pairing UX sticking around for? I think it'd be really useful to have some kind of indicator about whether direct downloads are 'on' or 'off' in the main view.

I was wondering about something like this for when we're ready to make webUSB much more visible:
![image](https://user-images.githubusercontent.com/147113/46071256-83204800-c177-11e8-98cf-dfc94ec39e2d.png)

[2018-09-26 11:56] JosefJezek opened #1299 "Base set of icon-based blocks"
Could you create extension for base set of icon-based blocks for young children (ages 5-7) as ScratchJr, OzoBlockly, LEGO WeDo or EdBlocks?

- http://scratchjr.org
- https://ozoblockly.com/editor?lang=en&robot=bit&mode=1
- https://github.com/LLK/scratch-blocks
- https://developers.googleblog.com/2016/12/scratch-blocks-update-making-it-easier-to-develop-coding-apps-for-kids.html
- https://play.goog

[2018-09-26 14:27] abchatra commented on #1293
Interesting idea. We had a slightly different one where we would advertise webusb on every download. We parked these ideas until we see decent usage with webusb. Majority of teachers are not going to upgrade to new firmware. We will need to wait for the adoption of new hardware to make use of this feature.

Issue with the toggle button design is we don't have enough space for button in tablet view

[2018-09-26 14:28] abchatra commented on #1294
I haven't seen an issue on Chrome. Did you see any appcache errors in the console. Good to capture them.

[2018-09-26 14:47] pelikhan commented on #1294
We have a check when the “updateready” event triggers to ensure that the update state is ready. Firefox triggers that event BEFORE the update is ready (thanks ff) so we can’t rely on the event alone.

In such case, next reload gets the update.

[2018-09-26 15:02] guillaumejenkins commented on #1293
A checkmark on the download button maybe? But then again maybe on smaller screens we won't have room either

[2018-09-26 15:20] pelikhan commented on #1293
Different icon - swap to usb when paired

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Guillaume Jenkins <notifications@github.com>
Sent: Wednesday, September 26, 2018 8:05 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Mention
Subject: Re: [Microsoft/pxt-microbit] WebUSB usage requires new documentation (#1293)

A checkmark on the download button maybe? B

[2018-09-26 15:40] pelikhan commented on #1298
Fix in https://github.com/Microsoft/pxt-microbit/pull/1300

[2018-09-26 16:34] jaustin commented on #1293
@pelikhan we're building a page on microbit.org rather than the knowledge base so it'll be translatable. @microbit-mark and I were discussing this earlier this morning and it's in flight but I wouldn't expect that page out this week :)

[2018-09-26 16:38] pelikhan commented on #1293
We can update our docs later when you've got something up.

[2018-09-26 19:05] finneyj commented on #1281
agree - let's track over there and see what we can do

https://github.com/lancaster-university/microbit-dal/issues/390

[2018-09-26 20:18] pelikhan commented on #1037
This issue is fixed in v1.1.55

[2018-09-26 23:05] jaustin commented on #1281
@machinehistories please don't consider the closure of the issue here on MakeCode as a suggestion we're not going to keep looking into this - it's just we need to move the issue to a different project to track it - as it's the DAL that can resolve the memory consumption issue (we may need MakeCode to update some parameters or settings once we've sorted out the right conditions, but we should debug

[2018-09-27 02:19] KurtWAndrews opened #1305 "Manage projects directly from the home screen (Beta V1)"
**Is your feature request related to a problem? Please describe.**

Every time I go to the home screen, I feel that I should be able to select a subset of my projects and do things like delete them or possibly create hex files directly from the home screen.

Either the solution or the alternative described below would work well.

**Describe the solution you'd like**

Select one or more projects
Cl

[2018-09-27 08:23] Helen09 opened #1306 "Block "start melody" can't play a complete music when putting it under "forever""
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Music" and drag block "start melody"
![issue927](https://user-images.githubusercontent.com/23466737/46131714-eb9e2080-c26e-11e8-9a30-297f9fc2202b.PNG)
3. Put this block under "on start" & "forever" separately

**Expected result:**
When putting this block under "forever", it should play a complete music as putting b

[2018-09-27 08:54] Helen09 opened #1307 "When clicking button "A", simulator shows "2,1,3,1,4""
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Drag block show number "1" and put it under block "forever"
3. Drag block show number "2, 3, 4" and put them under "on button A pressed"
4. Click button "A" on simulator and observe simulator

**Expected result:**
When clicking button "A", simulator should show number "2,3,4"

**Actual result:**
When clicking button "A",

[2018-09-27 09:09] microbit-mark opened #1308 "triggering 'game over' shows A+B button and 'reset is not implemented in simulator yet'"
microbit-support:17781

**Describe the bug**

When using the 'game over' block it makes the A+B button appear on the simulator, when this is clicked it errors with the message "reset is not implemented in simulator yet"

![screen recording 2018-09-27 at 10 01 am](https://user-images.githubusercontent.com/31242877/46135307-c5f82380-c23c-11e8-82b2-6a6b48b2228a.gif)

This is a confusing experience, a

[2018-09-27 09:21] Helen09 opened #1309 "The document is not translated when changing language to "Chinese""
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "More..." -> "Language" -> "Chinese"
3. Right click on any block and check "help" document

**Expected result:**
The document should be translated to Chinese

**Actual result:**
The document is not translated to Chinese when changing language to "Chinese"
![capture](https://user-images.githubusercontent.com/23466737

[2018-09-27 09:55] Helen09 opened #1310 "The first "on button A pressed" block disabled when changing its position"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Drag two "on button A pressed" blocks and put different block in it
3. Exchange these two blocks' position and observe

**Expected result:**
The first "on button A pressed" block should always enable

**Actual result:**
The first "on button A pressed" block disabled when changing its position
![issue92703](https://user-im

[2018-09-27 14:55] abchatra commented on #1237
Fixed

[2018-09-27 14:55] #1237 closed

[2018-09-27 14:56] abchatra commented on #1290
I will reopen this when there is additional information.

[2018-09-27 14:56] #1290 closed

[2018-09-27 14:57] abchatra commented on #1305
Good feature request @samelhusseini FYI

[2018-09-27 15:13] abchatra commented on #1307
Show number has a pause inbuilt. So when you interleave two events forever 1 and 2,3,4 there will be control transfer to forever after each number. This is as designed.

[2018-09-27 15:13] #1307 closed

[2018-09-27 15:15] abchatra commented on #1309
Documentation needs to be translated in Crowdin.  These are not translated yet. When they are translated these will be in chinese.

[2018-09-27 15:15] #1309 closed

[2018-09-27 15:15] abchatra commented on #1310
This is also as designed. In case of duplicate event handlers, left most survives.

[2018-09-27 15:15] #1310 closed

[2018-09-27 15:44] pelikhan commented on #1120
All the docs have been updated and redirects have been added. Please reopen if anything is needed.

[2018-09-27 15:44] #1120 closed

[2018-09-27 15:46] pelikhan commented on #1279
The printing feature is now available via the "Experiments" page (gearwheel -> About -> Print Code). This printing issue should be fixed now.

[2018-09-27 15:46] #1279 closed

[2018-09-27 15:56] abchatra commented on #1306
Same behavior in v0 as well. @pelikhan and @samelhusseini any clue on the reasons?
@Helen09 good bug.

[2018-09-27 15:59] abchatra commented on #1308
@microbit-mark I can't reproduce this. Can you?

[2018-09-27 16:04] machinehistories commented on #1281
First off thanks for working on resolving this issue and I am very
appreciative for such a strong development team focused on the microbit. I
am in class all day and can't try out these programs until this evening.
Just to make sure I am running this tests properly so can you tell me which
firmware you'd like me to use and I am assuming all of these tests are
focused on the live build only. Please

[2018-09-27 16:06] pelikhan commented on #1306
starting a melody stops the previous, it is not a queue. this is expected.

[2018-09-27 16:07] pelikhan commented on #1293
Docs have been updated.

[2018-09-27 16:07] #1293 closed

[2018-09-27 16:15] jaustin commented on #1281
Hey, both of those links are good to compile against the live build, yes. I've modified the project settings to change the stack and heap size. It means they don't build as fast as normal (normally they're not rebulding the whole thing) so if it spins for a while before download give it time (up to a minute or two!)

[2018-09-27 22:11] pelikhan opened #1311 "Fix translation issues"
@ganicke could you go through each of these errors and fix the syntax. It is either an extra space around the = or %
[code]

[2018-09-27 23:08] jwunderl commented on #1308
Here is link to repr [link](https://makecode.microbit.org/_5tvTJA4i1c7P)

press `A`, then `A+B`

[2018-09-27 23:09] abchatra commented on #1308
I am able to reproduce this (Thanks @jwunderl).  Same behaviour in v0 as well.

[2018-09-28 04:35] machinehistories commented on #1281
I tried them and I didn't have any luck. First off it was very difficult to
pair and get the midi recognized. When I managed to do it it immediately
gave the 020 error. I would say I had less success with these than I did
with the previous files. I was mainly trying to run this on windows 10
however I then tried on android but again I was unsuccessful in getting the
midi to run although I didn't g

[2018-09-28 05:52] ganicke commented on #1311
OK, I think I got all of them...

Suggestion | File | Language | Time |  
-- | -- | -- | -- | --
задаване темпо до (bpm)\|%стойност | core-strings.json | Bulgarian | 22:48 | Undo
покажи стрелка %i=device_arrow | core-strings.json | Bulgarian | 22:46 | Undo
%sprite\|změna %property\|o %value | core-strings.json | Czech | 22:44 | Undo
hæv hændelsen\|fra kilde %src=control_event_source_id\|med værdi

[2018-09-28 12:03] jaustin commented on #1103
Hi all, I'm still really keen to have the 'loading' layer light like the rest of the Ux? It's still rather incongruous to me - could this be considered alongside other design stuff that @samelhusseini is looking at?

[2018-09-28 15:14] KurtWAndrews opened #1313 "WebUSB still tries direct download after returning micro:bit to production firmware Beta v1"
**Describe the bug**

Can't seem to turn WebUSB off. After returning to the production version of the firmware (0243), WebUSB does not detect that the device is not compatible with direct downloading.  The direct download fails and then allows the user to download the hex file to be downloaded to the file system.

**To Reproduce**

1. Follow the [Instructions to setup WebUSB](https://support.micro

[2018-09-28 15:54] guillaumejenkins commented on #1313
I suspect Chrome is still thinking that your micro:bit is paired. If we try to perform WebUSB flash, it's because the browser is telling us that there is a paired device. In that case, there's nothing we can do - we can't know that the browser is lying to us.

To confirm my suspicions, could you click on the Lock icon next to the URL (red circle in below screenshot), and post a screenshot of the p

[2018-09-28 16:19] ppelleti opened #1314 "Improve documentation for I2C blocks"
**Is your feature request related to a problem? Please describe.**
This came up when someone asked a question on the micro:bit Slack.  He was trying to use the I2C read and write blocks to read and write an I2C EEPROM.  In helping him, I was a bit annoyed that the documentation on the read and write blocks was minimal.  In particular, I had to go to the [Runtime documentation](https://lancaster-un

[2018-09-28 16:26] KurtWAndrews commented on #1313
I found it.  I think it would be beneficial to add the unpair functionality to the editor itself where it would be more obvious and helpful to the user.  I see that an enhancement to display WebUSB connection status (#1274).  Should I open a new enhancement to unpair a microbit, or can we add it to 1274?

![screenshot 2018-09-28 at 11 07 27](https://user-images.githubusercontent.com/2064542/462205

[2018-09-28 17:54] jaustin commented on #1313
@KurtWAndrews thanks for picking this up. Out of interest, why where you going back to 0243? Was there an issue, or are you just being thorough with the testing ;)?

[2018-09-28 18:17] samelhusseini commented on #1103
Could make it all light?

[2018-09-28 18:33] jaustin commented on #1103
@samelhusseini I think I like that but is it a bit drastic? Is the loading text not invertible if you change the second stage loader to light? Or do both loader overlays have to be the same colour?

[2018-09-28 18:58] guillaumejenkins commented on #1313
@KurtWAndrews There is no WebUSB API for websites to unpair a device. In light of this, the best we can do is what we already do: gracefully handle flash failures and propose file download.

It seems like the real underlying problem here is that Chrome thinks it can pair to the old firmware.

[2018-09-28 19:04] guillaumejenkins commented on #1274
I'll add to this that we should have an "Unpair" button that pops a dialog with instructions on how to unpair. There is no WebUSB API to do that programmatically, so the user will still have to manually do it, but right now it's really hard to discover.

To unpair, you have to click the X in the Lock icon popup:

![image](https://user-images.githubusercontent.com/14299377/46228327-bc9bb380-c32f-11

[2018-09-28 19:15] ppelleti commented on #1314
Just a followup: I noticed that the repeated parameter *is* documented [here](https://makecode.microbit.org/reference/pins/i2c-read-number), so I just didn't RTFM enough.  The "documentation" I'm referring to in the report above is the mouse-over documentation for the block.  (i. e. the doc comment)

Also, I found the documentation for [NumberFormat](https://makecode.microbit.org/types/buffer/numb

[2018-09-28 20:24] #1252 closed, assigned to samelhusseini

[2018-09-28 20:38] abchatra commented on #1103
We are not taking any new bugs unless it is compat breaking or P1 to keep the branch stable. However we can fix this immediately after release of v1 as a pointed patch fix.

[2018-09-28 20:43] samelhusseini opened #1315 "Improve the contrast between a block's primary colour and it's border"
We've received some feedback about the colours of the blocks as we transition from v0 to v1. The colours of the blocks are exactly the same, however the rendering has changed. The new rendering removes any sort of space between the blocks, and only keeps an outline (stroke) around the block. This stroke needs to have good contrast between the block's main colour and its boundary in order for the b

[2018-09-28 20:52] abchatra commented on #1102
Thi sis fixed.

[2018-09-28 20:52] #1102 closed

[2018-09-28 21:09] #1230 closed

[2018-09-28 22:11] samelhusseini commented on #1315
Here's are the colours chosen by our design team. I've generated side by side comparisons of the editors with some code that uses blocks from all categories.

I've checked that all colours pass AA accessibility rating.

V0:
![screen shot 2018-09-28 at 3 07 53 pm](https://user-images.githubusercontent.com/16690124/46235739-99253880-c330-11e8-91b8-80ffdde5015b.png)

V1: (Current)
![screen shot 2018-

[2018-09-28 22:11] samelhusseini commented on #1315
Let me know if there are any colours you'd like to tweat and I can portray that information to our designers.

[2018-09-28 23:14] machinehistories commented on #1281
The way I am testing these is using [midiberry](https://www.microsoft.com/en-us/p/midiberry/9n39720h2m05#activetab=pivot:overviewtab) on windows 10
on android I am using [midi ble connect](https://play.google.com/store/apps/details?id=com.mobileer.example.midibtlepairing&hl=en_US)
on ios [midimittr](https://itunes.apple.com/us/app/midimittr/id925495245?mt=8)
Again I appreciate all you hard work de

[2018-09-28 23:30] #1228 closed

[2018-09-29 00:17] KurtWAndrews commented on #1313
@jaustin I was just being thorough, I've already put 0250 back on my micro:bit to test the micro python editor.  I'll be leaving it on, going forward.  I'd like to understand the pairing and unpairing process better myself.  This isn't something that I'm used to dealing with when plugging a USB device into a computer.

[2018-09-29 22:49] pelikhan commented on #1313
We need to indicate that we are connected and have a way to “disconnect”. I agree it can lead to confusion.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Kurt Andrews <notifications@github.com>
Sent: Friday, September 28, 2018 5:24 PM
To: Microsoft/pxt-microbit
Cc: Subscribed
Subject: Re: [Microsoft/pxt-microbit] WebUSB still tries direct download after return

[2018-09-30 20:57] halspeed opened #1317 "Image matrix should be light purple - v1"
**Describe the bug**
Under the Image menu, Create Image, Create Big Image and Icon Image have light blue LED matrix instead of having light purple LED matrix. This issue is most noticeable when the Icon Image dropdown is selected.

**Expected behavior**
Under the Basic menu, Show LEDs and Show Icon have light blue matrix to match the color of the blue block. I expect the Image blocks to have light

[2018-09-30 21:06] halspeed opened #1318 "Unconnected blocks retain yellow highlight - v1"
**Describe the bug**
Unconnected blocks retain their yellow highlight when not selected.

**To Reproduce**
Drop multiple unconnected blocks into the canvas.

**Expected behavior**
I expect a block to no longer be highlighted when another block is selected or when no blocks are selected.

**Screenshots**
![image](https://user-images.githubusercontent.com/29285304/46262698-7cbd0380-c4ca-11e8-80d3-a8

[2018-10-01 06:42] ganicke commented on #1311
@pelikhan these pass localization build now?

[2018-10-01 14:28] abchatra commented on #1317
This is probably intentional change for better contrast ration.  @samelhusseini can you provide your thoughts?

[2018-10-01 14:44] guillaumejenkins commented on #1313
We had discussed having maybe a checkbox close to the download button that said `Direct flash` or something like that. It would let the user decide to skip WebUSB even if the device is paired.

[2018-10-01 15:05] halspeed commented on #1317
For the Icon Image, the light blue is too bright against the purple, so it makes the white LEDs hard to see. Could another set of png images be created with light purple instead of light blue?

I don't know if this will be a problem if we lighten the block fill colors. FYI, Scratch 3.0 uses a darker matrix:
![image](https://user-images.githubusercontent.com/29285304/46297070-6c0b9c80-c561-11e8-87a

[2018-10-01 16:17] samelhusseini commented on #1317
We reuse images between the two categories, ie: the images are pre-baked PNGs and not dynamically rendered, which means if we want to differentiate between the images shown under the basic (blue) category and the images shown under the images (purple) category, we would have to duplicate and download two sets of images which would increase the size of the editor (download size).

Since these block

[2018-10-01 17:08] samelhusseini commented on #1317
Here's what that looks like:
![screen shot 2018-10-01 at 10 07 34 am](https://user-images.githubusercontent.com/16690124/46303852-df151300-c561-11e8-994a-146d72050ab2.png)

[2018-10-01 17:54] jaustin commented on #1313
I like the idea of the checkbox/switch (#1293 has a rough example)

[2018-10-01 18:43] jaustin commented on #1315
Sam, I really like this. I think to the eye a user isn't going to consider these 'different colours' but the contrast is way better.

There are only a couple of issues - the whole thing is now more saturated, and I think specifically "Music", "Math" and perhaps the "Loops" are driving that. The others are all muted enough...

If I'm totally honest, my first reaction was to move my head slightly fu

[2018-10-01 18:48] samelhusseini commented on #1315
Thanks for the feedback @halspeed and @jaustin. I will shoot that over to our design consult. I mentioned to this to @jaustin offline but the tricky part with finding colours is the requirements are many:
- meets AA accessibility contrast
- contrasts well with 30% darkened border colour.
- In the case of Music, we need two orange colours, as Arrays is also orange so needs to be distinguishable
- S

[2018-10-01 18:57] jxgx072037 commented on #1261
Hi @riknoll ,

May I ask when would next version release which could solve this issue?

[2018-10-01 19:49] luchotc opened #1321 "Embedding limitations"
Hi! In your docs about how to share a project I read the following:

When trying it myself, I discovered that in order to actually edit the code (using either blocks or js), I had to leave the website and do it directly in the main page.

Are you planning on adding support for editing the project in the iframe?

Thanks in advance!

[2018-10-01 19:51] pelikhan commented on #1321
This is by design. Embedded editors might not have access to the local data (e.g. in OneNote) so we force it to be readonly. This also ensures a full screen editing experience.

[2018-10-01 19:51] #1321 closed

[2018-10-01 19:59] riknoll commented on #1261
@jxgx072037 next-release is just a tag we use internally for issues that we want to resolve before the next release whenever that might be. We don't have a release date to give you, unfortunately.

[2018-10-01 22:51] riknoll commented on #1261
Okay, I think I figured out the issue. When we parse C++ files we keep track of the enums we see and check function declarations to make sure the enum exists. Our C++ parser doesn't support the enum declaration syntax used by minode (see [here](https://github.com/minodekit/pxt-minode/blob/master/libs/MiNodeConn.h#L8)). They got around that in v0 by checking in a file with the enums re-declared in

[2018-10-01 23:41] pelikhan commented on #1261
(1) have them fix the package.

[2018-10-02 13:18] jaustin commented on #1294
@abchatra I'm definitely seeing this in MakeCode on Chrome - for example I've just launched Chrome and I'm getting
makecode.microbit.org version: 0.14.52

Microsoft MakeCode version: 0.19.16

C++ runtime version: v2.1.0

(Currently in Firefox I have 0.14.53)

[2018-10-02 14:16] abchatra commented on #1294
What extension are you using? Failing to download files will result in not updating.

[2018-10-02 16:32] samelhusseini commented on #1315
New colours are in beta: https://makecode.microbit.org/beta

[2018-10-02 16:33] samelhusseini commented on #1317
Thsi fix is also in beta: https://makecode.microbit.org/beta

[2018-10-02 16:39] jaustin commented on #1294
This was uBlock Origin

[2018-10-02 17:26] CleoQc opened #1328 "gigglebot code not working from Firefox for one client"
**Describe the bug**
I really don't know where to look for this one. We had one client report the gigglebot package wasn't working. Any hex downloaded from Makecode would fail. After investigation, it turns out only the client's Firefox would do this. His Chrome worked just fine.
Firefox is my main browser and I don't have any issue.
He can use Firefox and Makecode without issues, except for the g

[2018-10-02 21:29] philipphenkel opened #1334 "Events are notified twice when listing for ANY and a specific value"
**Describe the bug**
Events are notified twice when listing for ANY and a specific value for the same event source. This is caused by the implementation of registerWithDal.

**To Reproduce**
Steps to reproduce the behavior:
Run https://makecode.microbit.org/_MwM3KfKzCaU0
Press button A or B: it shows 2

**Expected behavior**
Event should be notified only once. Press button A or B: it shows 1

**Sc

[2018-10-02 21:30] philipphenkel commented on #1334
#1333 is a potential fix

[2018-10-02 21:49] philipphenkel commented on #1064
@physicsdavid @HyperDuino Recently, we had a similar discussion and to decided to add some pin helpers to our MakerBit extension package. You could use the "set digital pin" with a variable and this turned out to be quite useful for our students.
Drawback: I saw programs that did math on the variables (e.g. count down) and overwrote all pins by accident. It could introduce a new range errors...

!

[2018-10-02 22:17] philipphenkel commented on #767
@jpiay uBit.serial.setRxBufferSize has not been publicly exposed.

With serial.readBuffer(length) you can read more than 20 characters.

[2018-10-02 23:03] HyperDuino commented on #1190
Changing the block style for tablets, and in particular iPads, is moving to the past, not the future.  Chromebooks are already past the 50% deployment in schools, and I see no sign whatsoever of that slowing.  The school audience is very different than the home (phone) audience.  Making the blocks bigger reduces the environment's utility on Chromebooks and its overall usefulness.

Is there any way

[2018-10-02 23:06] pelikhan commented on #1190
Please try out the latest beta. The screenshots on this issue are outdated.

[2018-10-03 07:47] philipphenkel commented on #1157
**SYNC_SLEEP** is great for reading operations.

**SYNC_SPINWAIT** would solve the concurrency issue for write operations. From a students perspective, it seems more important to deliver reliably vs freeing up the CPU while transferring. Of course, I'm assuming that usually only small amounts of data are transferred.

Thus, a change of the default parameters for write operations might already help

[2018-10-03 08:54] finneyj commented on #1157
@philipphenkel

thanks for reporting. For the nrf51 on micro:bit I think this makes a lot of sense - it has no DMA support and the transmit buffer is very small (just a handful of bytes). We should also fix the bug though - I guess we missed a mutex lock in there!

[2018-10-03 11:36] ChrisDorna commented on #984
I have been away for some days. I tried the corrected string from ganicke but this is the output:
<img width="597" alt="output" src="https://user-images.githubusercontent.com/20975602/46408011-05c57c00-c711-11e8-952b-64fc02b225e1.png">

This is the code:
<img width="359" alt="code" src="https://user-images.githubusercontent.com/20975602/46408094-3c02fb80-c711-11e8-8ca6-00c2f9f5be68.png">

[2018-10-03 11:55] DaveAtKitronik opened #1338 "Project causes makecode to hang on opening in Edge but not Chrome"
[microbit-HALO-Cycle-Jacket-ArrowsAB-buttons (1).zip](https://github.com/Microsoft/pxt-microbit/files/2441865/microbit-HALO-Cycle-Jacket-ArrowsAB-buttons.1.zip)

**Describe the bug**
Makecode on hangs on startup with a project in Edge
Same project opens fine in Chrome
Have attached the hex file.

**To Reproduce**
Steps to reproduce the behavior:
Load the hex into Edge. I think it will load fine th

[2018-10-03 14:04] philipphenkel commented on #1157
@finneyj Should I prepare a PR for the microbit-dal that sets the default parameter for write to SYNC_SPINWAIT? Or should update serial.cpp to use SYNC_SPINWAIT?
I would recommend doing the later because that's more explicit.

[2018-10-03 14:41] guillaumejenkins commented on #1338
This is a known issue with Edge; as soon as a project has a certain number of blocks, this happens. We've spoken to the Edge team about this; @abchatra knows more.

[2018-10-03 14:51] ghalfacree commented on #1328
I'm the user: MakeCode with Giggle (not Gigglebot) extension works fine when the hex file is generated and downloaded in Chrome, but not in Firefox. Identical extensions in both; Firefox tried with extensions disabled.

Attached are two hex files: the same program, generated in Chrome and Firefox. The Chrome version works, and is 605.3kB; the Firefox version does not, and is 572.1kB. The Firefox v

[2018-10-03 14:51] finneyj commented on #1157
Thanks @tomas-mbit

yes, please pop that in as a PR for now, which keeps things nice and safe until we get chance to drop in a mutex and test it through.

[2018-10-03 14:54] pelikhan commented on #1328
Could you check the version of editor in firefox/chrome? Go to the gear wheel and click “about”

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Gareth Halfacree <notifications@github.com>
Sent: Wednesday, October 3, 2018 7:51 AM
To: Microsoft/pxt-microbit
Cc: Subscribed
Subject: Re: [Microsoft/pxt-microbit] gigglebot code not working from Firefox for one client

[2018-10-03 14:54] philipphenkel commented on #1157
@finneyj Done :-)

[2018-10-03 14:55] finneyj commented on #1157
thanks!

[2018-10-03 14:57] ghalfacree commented on #1328
I'm seeing different versions, with Firefox being older:

Firefox:
makecode.microbit.org version: 0.13.52
Microsoft MakeCode version: 0.14.27
C++ runtime version: v2.0.0-rc11

Chrome:
makecode.microbit.org version: 0.14.53
Microsoft MakeCode version: 0.19.16
C++ runtime version: v2.1.0

Switching to makecode.microbit.org/beta actually gives me an even *older* version, oddly:
makecode.microbit.org

[2018-10-03 15:07] ghalfacree commented on #1328
As a follow-up, it appears that there's a stale MakeCode being stored by Firefox: opening MakeCode in a private window, without access to existing cache and local storage, results in:

makecode.microbit.org version: 0.14.53
Microsoft MakeCode version: 0.19.16
C++ runtime version: v2.1.0

So, the issue isn't as it first seemed: it's not that Firefox doesn't work with the Giggle extension, it's that

[2018-10-03 15:11] ghalfacree commented on #1328
And as a follow-up to my follow-up, deleting the local storage for MakeCode and hard-refreshing the page results in the same version numbers as in Chrome, and the Giggle extension then works fine. The delete-local-storage part was absolutely required, though: I'd tried hard-refreshing the page previously, which did not load the latest version.

How bizarre - but I guess we can count this as resolv

[2018-10-03 15:25] #1328 closed, assigned to nobody

[2018-10-03 16:04] CleoQc commented on #1328
Thanks for digging into this one. It's been a learning experience for me. Next time a user has a similar issue I'll know how to handle it.

[2018-10-03 16:43] abchatra commented on #1338
This is duplicate of this issue https://github.com/Microsoft/pxt-adafruit/issues/780 . Details about the issue are there. Edge is in the process of releasing these fixes in older version of windows. Upgrading to the latest windows 10 which got released yesterday 10/2 should solve this bug.

[2018-10-03 16:43] #1338 closed

[2018-10-03 20:12] abchatra commented on #1338
They fixed in their latest update. Please install the latest update (https://support.microsoft.com/en-us/help/4458469) on RS4 or install windows 10 update RS5 (Windows 10 version 1809)

[2018-10-04 07:35] microbit-mark opened #1344 "Setting game LED brightness does not work as expected"
from micro:bit support: 17724

**Describe the bug**
In this program 3 LEDs are created and set at varying values. Setting the LED brightness for the second varibale to 40 seems to have no effect and is still shown at full brightness. This is the same behaviour on the micro:bit

**To Reproduce**
Steps to reproduce the behavior:
https://makecode.microbit.org/_frDczuWLU4Ki

**Expected behavior**
[cod

[2018-10-04 08:49] Carlborg opened #1345 "Beta editor integer division share link bug"
**Describe the bug**
When creating a project with regular division math blocks, then creating a sharable link to that project, and opening it, the regular division blocks have changed to integer division blocks.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/beta#editor
2. add show number block to forever
3. add 0/0 math block inside show number
4. press

[2018-10-04 09:45] DaveAtKitronik commented on #1338
Update to windows / Edge fixes it :)

[2018-10-04 14:19] abchatra commented on #1345
I can't repro this bug. Can you add your editor version and the shared link?
For example: https://makecode.microbit.org/_hkyKex5JpEYH

[2018-10-04 14:40] abchatra commented on #1345
I am able to repro in chrome and not in Edge.

[2018-10-04 14:44] Carlborg commented on #1345
Hi,
a shared link that does the thing for me is https://makecode.microbit.org/_M2mfvddXfJeJ <https://makecode.microbit.org/_M2mfvddXfJeJ>
And my editor version is:

makecode.microbit.org version:  1.1.62 <https://github.com/Microsoft/pxt-microbit/releases/tag/v1.1.62>
Microsoft MakeCode version:  4.1.13 <https://github.com/Microsoft/pxt/releases/tag/v4.1.13>
microbit runtime version:  v2.1.0 <http

[2018-10-04 14:47] abchatra commented on #1345
There is an additional bug here, on edge share link always goes to javascript. Seems incorrect to me.

[2018-10-04 18:17] tomas-mbit commented on #1157
@philipphenkel @finneyj Thanks for fixing this. I hope that my initial attempts at testing and analysis were of some help.
Forgive my ignorance, but how/when does a fix like this one make its way into the actual "production environment"?
--Tomas

[2018-10-04 18:27] pelikhan commented on #1157
Right now we are waiting on @finneyj to finish review this change. After that, the changes should make it to /beta within a day.

[2018-10-04 19:04] philipphenkel commented on #1157
@tomas-mbit Without your report and the analysis, I would have never connected it to the issue I struggled with. Also, your test program made it pretty convenient to verify the potential fix. Super helpful!

[2018-10-04 20:07] #1345 closed

[2018-10-04 20:07] samelhusseini opened #1349 "Red Blue contrast issue with show led block"
We have an issue with the show led block where the block background is blue and the leds are red.
There's a well known optical illusion that gives you the perception of depth when the colours blue and red appear right next to each other. Here's the wikipedia article: https://en.wikipedia.org/wiki/Chromostereopsis

This issue is a lot more prevalent when the size is much smaller. We noticed that wh

[2018-10-04 21:33] ganicke commented on #984
Hmm, are using a fork of PXT? Looks like the styles for the target are missing for these block categories maybe. @samelhusseini do you have an idea?

[2018-10-04 22:40] abchatra commented on #1315
This done.

[2018-10-04 22:40] #1315 closed

[2018-10-04 22:49] abchatra opened #1351 "Edge upgrade fails"
Below program is created in v0.
https://makecode.microbit.org/v1/61874-74423-81162-49231

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to above link in Edge.

Upgrade fails and javascript is shown. Upgrade correctly happens on Chrome

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Edge

[2018-10-05 22:10] #1349 closed

[2018-10-06 16:44] daniel-pers commented on #1317
In beta version V1, the On color is still white instead of red.
Is a fix planned ?

[2018-10-06 16:52] pelikhan commented on #1317
Screenshot?

[2018-10-06 17:06] daniel-pers commented on #1317
![capture 061018](https://user-images.githubusercontent.com/18614830/46573837-d9bd2b80-c99a-11e8-9b29-b2d4af4b9f45.JPG)

[2018-10-07 02:41] machinehistories opened #1356 "add check box to prevent pop-up pairing window"
Add a check box to prevent pairing pop up from displaying after initial pair.
![pair](https://user-images.githubusercontent.com/26831444/46577618-a5983980-c99f-11e8-8d77-fed67a24c2ec.PNG)

[2018-10-07 03:11] machinehistories opened #1357 "stream to cloud function using webusb"
I am requesting the previously capable stream to cloud feature is reinstated to allow data from microbit to be streamed to google sheets or microsoft azure. It would be great to see a set of blocks that enable a pc iot cloud gateway and can make an https get request so we can use services such as adafruit.io using . There are several add ons for the microbit that feature esp8266 chip and they do t

[2018-10-07 18:38] halspeed commented on #1317
The show icon and icon image dropdowns appear to each have a different lighter color for OFF LEDs, should those also be changed?

[2018-10-07 19:17] pelikhan commented on #1317
@daniel-pers could circle around what to look for?

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Hal Speed <notifications@github.com>
Sent: Sunday, October 7, 2018 11:38 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Comment
Subject: Re: [Microsoft/pxt-microbit] Image matrix should be light purple - v1 (#1317)

The show icon and icon image dropdowns appear

[2018-10-07 20:16] daniel-pers commented on #1317
I think it's clear.
When a LED is On it should be red, but it's white (you have to look at each block).

[2018-10-07 20:19] pelikhan commented on #1317
This is by design - discussion here: https://github.com/Microsoft/pxt-microbit/issues/1349

[2018-10-07 21:19] daniel-pers commented on #1317
Thank you for this information.
Personally I regret this choice of colors because it will complicate the task for some students.
On a real BBC micro:bit board we have these colors:
LED ON: white (or  light yellow, but certainly not blue or black)
LED OFF: red (not white as when off)
Wanting to avoid an optical problem (that I did not see) we create a problem even more embarrassing for childrens I

[2018-10-08 15:02] halspeed opened #1359 "Right click "Delete All Blocks" is confusing v1"
**Describe the bug**
Right clicking an individual block displays the option to "Delete All Blocks" but it should display "Delete This Block" (or "Delete Block"). I believe it is counting fields as blocks.

**To Reproduce**
Right click on any block on the canvas.

**Expected behavior**
On right click, I expect individual blocks to display "Delete Block" and for event handlers, conditionals and loop

[2018-10-08 16:29] samelhusseini commented on #1239
The issue that I see, and @riknoll correct me if I'm wrong, but this looks like a bug where there is an inconsistent behavior after updating the snap target from the left edge to the cursor.

The bug is that the block replacement check is still bound to the left edge where it should be consistent with the change to move the target to the cursor.

[2018-10-08 16:57] samelhusseini commented on #1317
RE: show icon having a different colour. I can't remember who mentioned to use a transparency fill on the images for the OFF colour, but I've tried that and it fixes the inconsistency issue between icons under the basic category vs icons in the images category.

Here are the two options for the OFF colour (light vs dark). The aim here is to make the icon fill (ON) pop out and the overall shape sho

[2018-10-08 18:08] ganicke commented on #1311
Small fix of Slovenian string: 'počakaj (μS)%Micro' to 'počakaj (μS) %micros'. All should be OK now.

[2018-10-08 18:08] #1311 closed

[2018-10-08 21:21] pelikhan commented on #1294
@jaustin the latest v1 beta pulls ai.0.js from our CDN so it should not be blocked. Please try again.

[2018-10-08 21:21] #1294 closed

[2018-10-08 22:02] halspeed commented on #933
@abchatra can we fix Getting Started for release? FYI, @Jaqster @jaustin

[2018-10-08 23:08] pelikhan commented on #933
Getting started has been deprecated.

[2018-10-08 23:16] halspeed commented on #933
What, I use Getting Started all the time for workshops

[2018-10-08 23:18] abchatra commented on #933
I think we need one getting started for folks to point to. Why was it removed?

[2018-10-08 23:30] abchatra commented on #933
It is always good to have one tutorial to help the first time here, start this kind of message. @ganicke can you  help adding that first tutorial?

[2018-10-08 23:31] pelikhan commented on #933
The first tutorial is "flashing heart"

[2018-10-08 23:33] abchatra commented on #933
We need to add something like following
![image](https://user-images.githubusercontent.com/6107272/46638855-d0a59900-cb17-11e8-8efa-8c614b4f6b28.png)

[2018-10-08 23:41] pelikhan commented on #933
https://github.com/Microsoft/pxt-microbit/commit/c6fa65763b492f05c5a9b7c36a0f2088e77637da

Ribbon color could probably be improved.

[2018-10-08 23:46] pelikhan commented on #933
The fix is in but you'll need to bust the cache to see it or try an anonymous window
![image](https://user-images.githubusercontent.com/4175913/46639222-c2587c80-cb19-11e8-8ff6-8ad0d66e948a.png)

[2018-10-08 23:50] halspeed commented on #1317
This looks good @samelhusseini thanks for the quick turnaround.

Can we mute the OFF LEDs in unconnected blocks like in v0:

![image](https://user-images.githubusercontent.com/29285304/46639280-c2ad4380-cb2a-11e8-8b48-45081572da68.png)

![image](https://user-images.githubusercontent.com/29285304/46639297-cfca3280-cb2a-11e8-924d-5c00e815a4f6.png)

[2018-10-09 10:03] Helen09 opened #1362 "The page is missing"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Extensions" -> click "?" on the top-right of the page

**Expected result:**
The page should not miss

**Actual result:**
The page is missing
![issue100902](https://user-images.githubusercontent.com/23466737/46662261-855dba00-cbed-11e8-91c5-8c5ba2749bde.gif)

[2018-10-09 15:19] microbit-mark commented on #1239
The yellow border does seem to make the snap more obvious
![screen recording 2018-10-09 at 04 18 pm](https://user-images.githubusercontent.com/31242877/46679536-1e390900-cbdf-11e8-8f5e-eadf0de65445.gif)

[2018-10-09 15:42] designingourtomorrow opened #1363 "led.plot different in emulator to micro:bit. Can miss pixels."
**Describe the bug**
led.plot is giving me different results on the web emulator and the micro:bit I am using.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
I would expect only the left hand column to be filled on the emulator.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser: Chrome
 - Version: 69.0.3497.100 (

[2018-10-09 16:42] halspeed opened #1365 "Add a third option when exiting project v1"
**Describe the bug**
User is not given the option to not name their project.

**To Reproduce**
In the editor, select the Home icon and a dialog box appears with Exit Project -- Done/Cancel.

**Expected behavior**
Similar to Save/Don't Save/Cancel, I expect an option to not name my project and continue to the home screen. Consider asking "Do you want to name your project?" -- Yes/No/Exit

**Screens

[2018-10-09 16:43] pelikhan commented on #1365
Let's pick this one up on our UI design meeting.

[2018-10-09 16:48] halspeed opened #1366 "micro:bit color on homescreen hero image v1"
**Describe the bug**
Micro:bit does not appear to be the correct color in the homescreen hero image.

**To Reproduce**
Go to the homescreen

**Expected behavior**
I expect the micro:bit to be one of the four correct colors and have transparent holes. Consider using one of the images here: https://github.com/microbit-foundation/microbit-svg

**Screenshots**
![image](https://user-images.githubuserco

[2018-10-09 17:09] halspeed opened #1367 "Inconsistency showing blocks in tutorials v1"
**Describe the bug**
Some tutorials automatically show the programming blocks and some require the user to select hint to see the blocks.

**To Reproduce**
Go to the homescreen and select a tutorial

**Expected behavior**
I expect Flashing Hearts, Smiley Buttons, Love Meter and Coin Flip to show the programming blocks the same way as Name Tag and Dice show the blocks between steps.

**Screenshots*

[2018-10-09 17:17] halspeed opened #1368 "Inconsistency in the display of project instructions v1"
**Describe the bug**
Instructions for some projects are embedded in the editor while some open a new webpage.

**To Reproduce**
Go to the homescreen and select a project with instructions.

**Expected behavior**
I expect the instructions to show in the editor with the option to expand into a webpage. Some projects such as Rock-Paper-Scissors open a new webpage instead of being embedded in the edit

[2018-10-09 17:28] halspeed opened #1369 "Home icon expands on mouse over v1 homescreen"
**Describe the bug**
When on the homescreen, the icon of the home expands on mouse over but is not selectable because the user is already on the homescreen.

**To Reproduce**
Go to the homescreen and mouse over the home icon at the top.

**Expected behavior**
Since the home icon is not selectable, I don't expect it to expand on mouse over.

[2018-10-09 17:36] halspeed opened #1370 "Inconsistency selecting micro:bit logo v1"
**Describe the bug**
On the homescreen, selecting the micro:bit logo opens a new page at microbit.org/code. In the editor, selecting the micro:bit logo goes to the homescreen.

**To Reproduce**
Select the micro:bit logo on the homescreen and in the editor.

**Expected behavior**
I would expect selecting the micro:bit logo on the homescreen or in the editor opens a new page at microbit.org/code.

[2018-10-09 17:50] ganicke commented on #1362
The big **?** goes to https://makecode.microbit.org/boards. What should really be attached to that? https://makecode.microbit.org/v1/extensions maybe?

[2018-10-09 17:53] halspeed opened #1371 "Tutorial names listed under My Projects are not tutorials v1"
**Describe the bug**
Names of Tutorials listed under My Projects are not tutorials.

**To Reproduce**
1. Go to the homescreen and open a tutorial
2. Exit the tutorial
3. Under My Projects, select the name of the tutorial

**Expected behavior**
Selecting the name of the tutorial under My Projects would relaunch the tutorial.

**Additional context**
Consider adding "My" to the name of the tutorial w

[2018-10-09 17:57] pelikhan commented on #1362
Yes to "/extensions".

[2018-10-09 17:58] pelikhan commented on #1363
Fixed.

[2018-10-09 17:58] #1363 closed

[2018-10-09 19:11] ganicke commented on #1362
I think that the **'?'** is tied to the help search mode set in _scriptsearch.tsx_:

[code]

[2018-10-09 19:12] pelikhan commented on #1362
That’s bug...

[2018-10-09 19:14] ganicke commented on #1362
Wait, easy fix, need to add a the check for ``mode == ScriptSearchMode.Extensions``.

[2018-10-09 21:08] ganicke commented on #1362
Fixed in https://github.com/Microsoft/pxt/pull/4794

[2018-10-09 21:08] #1362 closed

[2018-10-09 21:31] samelhusseini commented on #1291
To Test:
- [ ] Sharing page switches to use v1 as default. v0 share scripts still work.
- [ ] Able to create shared scripts from both v0 and v1.
- [ ] New docs page using v1 as default, v0 docs page
- [ ] Side docs uses v1 doc pages
- [ ] Able to pop out from both v0 and v1 editors into the respective documentation pages

[2018-10-10 05:55] Helen09 opened #1372 "Page link on "Extension" page is same as the link on editor page"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Advanced" -> "Extensions" to navigate to extension page
3. Observe the browser link

**Expected result:**
The page link on extension page should be different with editor page

**Actual result:**
Page link on "Extension" page is same as the link on editor page
![100903](https://user-images.githubusercontent.com/2346

[2018-10-10 05:56] pelikhan commented on #1372
We have limited support for navigation/history in pxt, e.g. pretty much only ``#editor`` is supported.

[2018-10-10 10:03] microbit-carlos opened #1374 "MakeCode beta hanged once during load"
**Describe the bug**
Went to the beta editor yesterday (9th October 2018) and the page hanged at the loading modal.
Looks like there might be an unhandled error, console output:

[code]

It worked again the next time I loaded https://makecode.microbit.org/beta, so it's not a permanent issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/beta
2. See error

[2018-10-10 10:27] philipphenkel commented on #1157
@finneyj Do you approve https://github.com/philipphenkel/pxt-microbit/commit/b72ad9a860825939fad75ae3764f24a9d68fdae8 for merge?

[2018-10-10 12:52] abchatra commented on #1372
By design

[2018-10-10 12:52] #1372 closed

[2018-10-10 14:01] jaustin opened #1375 ""Take me to the old editor" link may be too specific"
When opening a program that contains an extension that doesn't upgrade well, we get the following dialogue

![image](https://user-images.githubusercontent.com/147113/46741599-4b4bf100-cc9d-11e8-94ac-a2d57dcfb0c7.png)

The 'go to the old editor' button takes me to
https://makecode.microbit.org/v0.14.54#editor

This exposes direct version selection in a way that could leave users saving URLs to olde

[2018-10-10 14:39] pelikhan commented on #1374
Did you have the editor opened in multiple tabs by any chance?

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Carlos Pereira Atencio <notifications@github.com>
Sent: Wednesday, October 10, 2018 3:03 AM
To: Microsoft/pxt-microbit
Cc: Subscribed
Subject: [Microsoft/pxt-microbit] MakeCode beta hanged once during load (#1374)

Describe the bug
Went to the beta edit

[2018-10-10 14:40] pelikhan commented on #1375
Good one we should use the major version only.

[2018-10-10 14:47] microbit-carlos commented on #1374
Good catch, while I cannot confirm with certainty, that is quite possible.
At that point I had about 5 chrome windows with several tabs each, so while I'm sure that specific window did not have any MakeCode instance open, it is possible I did have one with a forgotten makecode tab in a minimised window.

[2018-10-10 14:52] pelikhan commented on #1374
Was this filling up the update reload?

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Carlos Pereira Atencio <notifications@github.com>
Sent: Wednesday, October 10, 2018 7:47 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Comment
Subject: Re: [Microsoft/pxt-microbit] MakeCode beta hanged once during load (#1374)

Good catch, while I cannot confirm with cert

[2018-10-10 14:54] microbit-carlos commented on #1374
Not sure I understood the question @pelikhan, could you elaborate a bit?

[2018-10-10 15:08] pelikhan commented on #1374
Say you have 5 tabs with MakeCode and they decide to reload with the update all at the same time. In that scenario, it could possible that you end up in situation. In any case, we should handle the error more gracefully.

[2018-10-10 16:03] pelikhan commented on #1367
I made the first tutorial steps go full screen. @ganicke can we add an intro "headless" step in each of them that shows explains what the tutorial will do?

[2018-10-10 17:51] Jaqster commented on #933
Looks good.  I have additional tweaks I'd like to make for Flashing Heart:
- Step 2: the second Show LED block should be blank.  Let's not get fancy here, blinking heart is fine
- Step 3: add the text "But we only see the heart blink once. To make it blink continuously, ..."
- Step 4: add the text "Now let's get fancy and place more Show LED blocks to create your own custom animation"

[2018-10-10 18:34] microbit-carlos commented on #1374
Oh I see you mean now, thanks for the clarification.
Can't really say if any of the other MakeCode tabs were updating, but yes, that would be quite possible as well.

[2018-10-10 20:57] #1317 closed

[2018-10-11 02:35] Helen09 opened #1378 "An error shows in example "rock-paper-scissors" tutorial"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/projects/rock-paper-scissors/code
2. Scroll down to 7th step and copy the code to "JavaScript" editor page

**Expected result:**
The 3th line code should be "let tool  = Math.randomRange(0,2)" rather than "let tool = Math.random(3)"

**Actual result:**
An error shows in example "rock-paper-scissors" tutorial
![issue101101](https://user-

[2018-10-11 10:13] microbit-mark commented on #1344
Hi @abchatra can you take a look at this one for us?

[2018-10-11 13:02] designingourtomorrow opened #1380 "Serial colours can be hard to read"
**Is your feature request related to a problem? Please describe.**
I can't read yellow on white when I am looking at serial data

**Describe the solution you'd like**
I'd like to be able to order colours for different serial strands I am sending

**Describe alternatives you've considered**
Cutting out the yellow on white option is possible.  So is refreshing whenever it looks like my eyes will hur

[2018-10-11 16:16] jaustin opened #1381 "Upgrade corner case: broken packages leave main scripts untouched"
**Describe the bug**
When upgrading from v1 the normal behaviour for translating v0 scripts to v1 is to convert division to integer division

This works in the following cases I've tested
* upgrade from cache
* drag-and-drop of normal script

However, in the case that a script has a package in, and that package has an error on upgrade, the body of the program doesn't seem to get updated

**To Repr

[2018-10-11 16:28] samelhusseini commented on #1317
Issue is fixed.

[2018-10-11 16:43] abchatra commented on #1370
This is by design. Students are clicking on the top left expecting it to go to home screen. It used to link out to microbit website in the past. Changed the behavior to take back to the home screen. (Same for all our editors). Top left is usual paradigm to go back.

Moving the logo to a different location and adding a back or home button at the top left is another solution we discussed.
For exampl

[2018-10-11 16:43] #1370 closed

[2018-10-11 16:48] abchatra commented on #1381
This is as designed.  If we can't fix we leave it as it is.

[2018-10-11 16:50] abchatra commented on #1378
When you copy paste there is no chance for upgrade. But you download and drag the hex file to the beta editor your script will be update.d.

[2018-10-11 17:03] samelhusseini opened #1382 "Temp slider in simulator shows NaN on IOS devices"
**Describe the bug**
Previewing the micro:bit simulator on a mobile device (iPhone plus) and adjusting the temperature setting by sliding the thermometer gives you a reading of "NaN"

**To Reproduce**
Steps to reproduce the behavior:
1. On an IOS device
2. Add a temperature block
3. Try to adjust the temperature in the simulator
4. Receive NaN as a reading

**Expected behavior**
Show the values be

[2018-10-11 17:52] abchatra commented on #1375
We are going to fix this to redirect to v0.

[2018-10-11 17:52] abchatra commented on #1381
The upgrade is whole or none. This is by design not mess with half upgrade which results in various other issues.

[2018-10-11 17:52] #1381 closed

[2018-10-11 18:38] pelikhan commented on #1380
We are overriding default colors in pxtarget. Maybe we should just use the default.

[2018-10-11 18:46] ganicke commented on #1368
This is due to the side docs experience not being as friendly to viewing for some projects that have large typescript sections or embedded videos. Unfortunately, we haven't standardized a sidedocs vs. full page format.

[2018-10-11 19:34] pelikhan commented on #1344
Another sample https://makecode.microbit.org/_MhAi1zAosLFe

[2018-10-11 19:35] pelikhan commented on #1344
I think know what is going on. We are switching modes between non-greyscale and greyscale incorrectly.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Mark <notifications@github.com>
Sent: Thursday, October 11, 2018 3:13 AM
To: Microsoft/pxt-microbit
Cc: Subscribed
Subject: Re: [Microsoft/pxt-microbit] Setting game LED brightness does not work as expected (#1344

[2018-10-11 20:07] #1023 closed

[2018-10-11 20:07] #1359 closed

[2018-10-11 21:14] abchatra commented on #1365
Feedback from designer:
https://github.com/Microsoft/pxt/pull/4804

[2018-10-11 21:17] abchatra commented on #1344
Fixed

[2018-10-11 21:17] #1344 closed

[2018-10-11 21:17] abchatra commented on #1375
Fixed. Will be available in /beta soon.

[2018-10-11 21:17] #1375 closed

[2018-10-11 21:51] samelhusseini commented on #1365
Fixed by https://github.com/Microsoft/pxt-microbit/issues/1365

[2018-10-11 21:51] #1365 closed

[2018-10-11 21:55] samelhusseini commented on #1305
Trying to understand the feature request a little more here and thinking specifically what it means for MakeCode.
I'm thinking this would be a grid (or list view) of all projects, and be able to select one or multiple, but besides delete, what features would you expect in a view like that?

[2018-10-11 22:05] pelikhan commented on #1305
We had request for the ability to "Clone" a project. We could start with just delete.

[2018-10-11 22:12] samelhusseini commented on #1277
This fix should help with that: https://github.com/Microsoft/pxt/pull/4805

[2018-10-12 14:02] abchatra commented on #1314
@ppelleti if you want to help feel free to give a pull request with updated documentation. There is an edit button at the bottom of these pages where you can find the source of file in github.

[2018-10-12 14:19] jdarling commented on #849
Late to the party (sorry was away from the connected world for a bit) but want to put in my two cents.  Two things would have made this easier:

1) A way to test changes from branches without effecting current live
  1a) Automated test framework that works with PR's
2) Someone would have taken the few seconds to write the Monkey Path and stuff it into the v0

[code]

Anyways I've patched up my com

[2018-10-12 14:37] abchatra commented on #849
@jdarling we do have Math.idiv in v0

[2018-10-12 14:40] CenTdemeern1 opened #1387 "Array issue in javascript (typescript) generator: Generic type 'Array<T>' requires 1 type argument(s)."
![microbit-screenshot 1](https://user-images.githubusercontent.com/24682280/46875929-4cb41f80-ce3d-11e8-8a81-742c98a750d4.png)
![mbscrnsht](https://user-images.githubusercontent.com/24682280/46876009-7ec58180-ce3d-11e8-91b6-fbc9539f295f.png)

[2018-10-13 00:13] pelikhan commented on #1380
Fixed, please reopen if you still find a problematic color.

[2018-10-13 00:13] #1380 closed

[2018-10-13 00:15] pelikhan commented on #1367
We did a round of fixing. Reopen if more issues.

[2018-10-13 00:15] #1367 closed

[2018-10-13 00:16] pelikhan commented on #1357
We should be able to implement this kind of features as a editor extension. I'll prep a sample.

[2018-10-13 00:50] machinehistories commented on #1357
Amazing I can't wait to use it. I never got an opportunity to use the
previous stream to cloud function. I did cobble together my own blocks for
esp8266 with microbit for use with adafruit.io. I took some of the things
that worked with obloq and some with elecfreaks extension and
Frankensteined them. I know you are going to do something far more polished
without the need for external hardware. Wit

[2018-10-13 15:08] lioujj opened #1416 "pins.onPulsed() error"
When P8 pulses low, then the LED displays the string High. When P8 pulses high, then the LED displays the string Low.  It looks something wrong.
![microbit-screenshot 1](https://user-images.githubusercontent.com/34760803/46906829-1dd0a300-cf3c-11e8-9f35-02920d070727.png)

[2018-10-14 05:03] pelikhan commented on #1416
This API is not yet implemented in the simulator.

[2018-10-14 05:07] lioujj commented on #1416
This result is not in the simulator, it's in my real micro:bit.

[2018-10-15 01:03] KurtWAndrews commented on #1305
Here are some ideas:

1. printing project
1. compiling the project
1. saving the project as JS
1. project settings
1. pairing if that is done at the project level (it looks to me like it is)

[2018-10-15 01:48] Helen09 commented on #1378
I tried to download and drag the hex file to the beta editor, the script still can't be updated.
The detail is as below .gif.
![123](https://user-images.githubusercontent.com/23466737/46925632-6d5bbf80-d05f-11e8-9912-df1880f2b457.gif)

[2018-10-15 09:58] designingourtomorrow opened #1421 "Refresh option for extension is too long"
**Describe the bug**
The refresh option for an imported extension contains a long ID number, which is sitting over everything else.

**To Reproduce**
Steps to reproduce the behavior:
Import https://github.com/designingourtomorrow/pxt-stepcounter
(also tested with https://github.com/designingourtomorrow/pxt-stepcounter-test )
Click JavaScript
Expand Explorer options

**Expected behavior**
The 'refr

[2018-10-15 10:38] microbit-sam opened #1422 "MakeCode v1 Import Bugs"
**Describe the bug**
Importing into MakeCode v1 appears to have a few bugs:
- show string "hello world" -> show string ""
- show leds [1, 1, 1, 1, ...] -> show leds [0, 0, 0, 0, ...]
- Pin mappings are incorrect

**To Reproduce**
Steps to reproduce the behavior:
- Migrate a project from https://www.microbit.co.uk/app/?r=tbyga
- Change the URL to use MakeCode v1
- Observe differences

OR

- Drag an

[2018-10-15 11:59] nielsswinkels opened #1423 "Place both running time blocks next to each other in menu"
![image](https://user-images.githubusercontent.com/5718354/46949628-5f6b6600-d082-11e8-96d7-a3f6bc247314.png)

It is easier to notice that running time blocks exist both in milliseconds and microseconds if the blocks would be placed directly after each other instead of with "calibrate compass" in between.

[2018-10-15 14:49] abchatra commented on #1387
Empty array don't have any type information. We follow static type script and it requires type information. You will need to create with specific number or string array for  the first parameter
[code]

[2018-10-15 14:49] #1387 closed

[2018-10-15 15:39] abchatra commented on #1423
Fixed by https://github.com/Microsoft/pxt-microbit/pull/1

[2018-10-15 15:58] microbit-sam commented on #1422
.co.uk -> v0 -> v1 works
I'll make sure to point the migrate button to v0 and document this for any user migrating a project

[2018-10-15 16:07] abchatra opened #1426 "Home screen scrolling broken in RTL languages"
**To Reproduce**
Steps to reproduce the behavior:
1. Switch language to Arabic
2. Scrolling is broken and if you scroll past the new project, you can reach it back

**Screenshots**
![image](https://user-images.githubusercontent.com/6107272/46963113-ac871200-d059-11e8-8ced-83870ceec6d3.png)

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser: Edge

[2018-10-15 16:16] mmoskal commented on #1421
https://github.com/Microsoft/pxt/pull/4767

@pelikhan I guess we should display first 7 characters for the SHA, the way github does?

[2018-10-15 16:16] pelikhan commented on #1421
right, will fix.

[2018-10-16 08:11] soya6598 opened #1433 "The LEDs clolor of the blocks now is hard to differentiate."
**Is your feature request related to a problem? Please describe.**
Wondering why the color was changed.
using white is certainly brighter, but sometimes it also feels like "there's nothing overhere".
likewise, it's totally different from the lights color of micro:bit, maybe a little weird?

**Describe the solution you'd like**
Change to some color that's not white. maybe if pink red, similar as it

[2018-10-16 08:49] microbit-mark opened #1434 "Link behaviour erratic"
**Describe the bug**
When sharing https://makecode.microbit.org/_54xWWzdztU0F created  in makecode.microbit.org/beta I am taken to the editor at https://makecode.microbit.org/v1#editor

This is not the case for other users who are redirected here: https://makecode.microbit.org/v1/13777-68951-86521-62206 and then redirected to a blank editor at v0

![2018-10-16 09 38 25](https://user-images.githubu

[2018-10-16 08:55] microbit-mark opened #1435 "Exponent does not produce correct result on micro:bit"
**Describe the bug**
Using these examples in makecode produces correct results 10 ** 0.5 = 3.16, 10 ** 1.5 = 31.62.
On the micro:bit these output as '1' eg 10 ** 0.5 = 1 or 10 ** 1.5 = 1.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/_54xWWzdztU0F '
2. Click on 'A' see output as integer '3.16'
3. Download and flash
4. See output on micro:bit as '1'

**E

[2018-10-16 09:53] AimeeCao18 opened #1436 "There is no Pair device on Edge, IE & Firefox"
Repro steps:
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "More..." to observe

Expected result(Chrome):
Pair device appears on Edge, IE & Firefox.
![1](https://user-images.githubusercontent.com/44188776/47008015-0546cf80-d16c-11e8-8095-72974f3adb54.png)

Actual result(Edge, IE & Firefox):
There is no Pair device on Edge, IE & Firefox.
![2](https://user-images.githubuserconten

[2018-10-16 10:33] jaustin opened #1437 "v1: Bluetooth is now off by defualt. Should be JustWorks"
**Describe the bug**

On v1 by default Bluetooth has been changed to 'No Pairing Required'

The default mode for Bluetooth should be JustWorks as it is in v0

What's weird is that I think https://github.com/Microsoft/pxt-microbit/blob/3b182fc11deb2825dfb74b1090a7ea724b5852d1/libs/bluetooth/pxt.json#L44  still claims JustWorks is default.

[2018-10-16 13:11] jaustin commented on #1437
@pelikhan is this something from some of your testing?

[2018-10-16 14:14] abchatra commented on #1422
Peli also added a redirect to v0 popup if someone drags these hex files

[2018-10-16 14:14] #1422 closed

[2018-10-16 14:15] abchatra commented on #1433
@Jaqster

[2018-10-16 14:19] abchatra commented on #1434
This is basically basic.showNumber(10 ** 0.5) fails while compiling (works fine in the simulator).

[2018-10-16 14:32] abchatra commented on #1436
Edge IE & Firefox doesn't support WebUSB and hence no pair button.

[2018-10-16 14:32] #1436 closed

[2018-10-16 14:47] pelikhan commented on #1437
Let’s discuss this in the tech meeting. No pairing now also allow to go into pairing mode. This makes the whole experience consistent.

Just works does not just work on Windows mostly - specially with WebBLE.

[2018-10-16 15:38] microbit-mark commented on #681
This seems to be fixed in v1
[ali_nOPS27.82-87mark10162018163637.mp4.zip](https://github.com/Microsoft/pxt-microbit/files/2483840/ali_nOPS27.82-87mark10162018163637.mp4.zip)

[2018-10-16 15:58] pelikhan commented on #1437
Fixed in v1.1.74

[2018-10-16 15:58] #1437 closed

[2018-10-16 15:59] pelikhan commented on #1435
See https://github.com/Microsoft/pxt-common-packages/blob/57adb80aa7f465aba7204c881c79a519c87c92ce/libs/base/core.cpp#L752

[2018-10-16 16:09] mmoskal commented on #1435
We need to fix the sim though

[2018-10-16 16:49] Jaqster commented on #1433
Hi @soya6598 - thanks for this feedback.  We changed to white because we heard feedback that the Red/Blue contrast was jarring for a lot of users - there is a known optical illusion effect (https://en.wikipedia.org/wiki/Chromostereopsis) that happens with Red/Blue images.  We could look into a different color (pink?), but we thought white would be the easiest since it matches with the Show Icon bl

[2018-10-16 17:21] pelikhan commented on #1421
Fixed. Thanks for reporting.

[2018-10-16 17:21] #1421 closed

[2018-10-16 17:22] pelikhan commented on #1308
Reset is now implemented.

[2018-10-16 17:22] #1308 closed

[2018-10-16 17:42] abchatra commented on #1423
Fixed

[2018-10-16 17:42] #1423 closed

[2018-10-16 18:09] alankrantas opened #1439 "PCA9685 Extension Errors"
The generic PCA9685 package (https://github.com/jdarling/pxt-pca9685) cause errors and stop working after recent updates.
**I've already file a issue at pxt-pca9685**, which was also updated a few days ago. I am sure it did work fine with V1 editor last week.
![1](https://user-images.githubusercontent.com/44191076/47037113-ac4d5a80-d1b0-11e8-8d4a-cde01a46d07b.jpg)

When I add PCA9685 into V1 edito

[2018-10-16 18:11] abchatra commented on #1439
There seems to be error in that package. Package author needs to fix that error.

[2018-10-16 18:11] #1439 closed

[2018-10-16 18:12] abchatra commented on #1439
Older code snaps to a particular version of the package. Can you share that version which works with the package author?

[2018-10-16 20:37] Jaqster opened #1441 "Rock Paper Scissors Tutorial"
Hey Galen,
Can you put together a Rock Paper Scissors Tutorial?  It's one of the most popular projects, and would be great to have it in Tutorial format.
Thanks!
Jacqueline

[2018-10-16 20:42] pelikhan commented on #1441
Let’s convert the existing side-project into a tutorial.

[2018-10-16 20:49] pelikhan commented on #1439
The package author also needs to create release tags.

[2018-10-16 21:40] pelikhan commented on #1441
I'm going to take a snap at this. Move the RPS project and replace by a simple tutorial

[2018-10-16 22:59] pelikhan commented on #1441
Updated tutorial is live. @ganicke give it a review pass. @Jaqster i moved the watch to "duct-tape-watch" under "fashion".

[2018-10-17 00:18] ganicke commented on #1441
I look at it now. RE: #1444

[2018-10-17 01:17] alankrantas commented on #1439
I really knows nothing about this level of coding. We are an organization teaching children coding on micro:bit using MakeCode.

Recently we made a all-in-one expansion board for micro:bit, which features a PCA9685 for multiple servo projects (powered by built-in batteries). I am writing manuals and a book for it. I am scheduled to teach some teachers about it next Monday.

It means we have to sto

[2018-10-17 01:28] pelikhan commented on #1439
@alankrantas I suggest you file a complaint on the https://github.com/jdarling/pxt-pca9685 repo or call their customer service.
@microbit-mark the author of a supported package has broken his package: https://github.com/jdarling/pxt-pca9685 .

[2018-10-17 01:30] pelikhan commented on #1439
@alankrantas I saw you posted https://github.com/jdarling/pxt-pca9685/issues/3 . I suggest sending an email to the company that sold the board as they may not be monitoring the github issues.

[2018-10-17 01:33] alankrantas commented on #1439
I did reported it, yesterday afternoon (local time). No replies yet.

We are not using Kitronik boards. I just know they uses PCA9685 as well. The new boards are designed and made in Taiwan.

I am going to ask tinkertanker/udriver_pca9585 can they fix the 90 degree problem.

[2018-10-17 01:39] pelikhan commented on #1439
You are probably better off having your own repo/package for your product. Unfortunately, we don't know when this user will fix this issue.
@microbit-mark what is the procedure to downgrade a package?

[2018-10-17 01:44] pelikhan commented on #1441
Done. Please test @Jaqster

[2018-10-17 01:44] #1441 closed

[2018-10-17 03:03] soya6598 commented on #1433
thnaks for replying, I've catched up on that.

[2018-10-17 04:15] Jaqster commented on #1441
Looks good.  Couple comments:
- One nit-picky comment, can we change the name of the variable from "tool" to "hand"?  Rock Paper Scissors is played with a hand.  Tool just seems a bit strange...
- Break up Step 3 into two different steps: Make a Variable should be it's own step - this may be the first time they have ever made a variable, so we should walk them through this
- Pick Random 1-3  I've

[2018-10-17 09:06] mericidum opened #1448 "Czech Translation, especially Change by"
Hi!
I just started to teach 22 kids with MicroBit and MakeCode. It's great, but I was really disappointed by Czech translation. Some is not "elegant", but there is one really horrible:
The "**Change by**" block is translated as "**Zaměnit za**", which means "**Exchange for**". This is really misleading and user expects function identical to "**Set to**".
I was wondering if this new version gives u

[2018-10-17 09:32] carlosperate commented on #1306
If by default it uses the `MelodyOptions.Once` instead of `MelodyOptions.OnceInBackground`, shouldn't the block finish before the next forever iteration? Or what would be the difference between those two options?

[2018-10-17 09:33] martinwork opened #1449 "File saved in v0 Blocks imports to v1 JavaScript"
**Describe the bug**
The attached file was saved in v0 Blocks. When imported to v0 it opens in Blocks but in v1 it opens in JavaScript.

[microbit-monitor-services.zip](https://github.com/Microsoft/pxt-microbit/files/2486704/microbit-monitor-services.zip)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/beta'
2. Click on 'Import'
3. Click on 'Import file'

[2018-10-17 10:50] microbit-mark commented on #1439
@pelikhan The user looks like they are actively developing the package. We would give them an opportunity to fix before taking any further action. One to discuss on next call.

[2018-10-17 10:52] designingourtomorrow opened #1450 "Serial Simulator Mouseover Improvement"
**Is your feature request related to a problem? Please describe.**
When the simulator is paused, I can't read off values in the same way I can when it's moving.

**Describe the solution you'd like**
I'd like a mouseover of the serial simulator to show me the values I'm mousing over whether it's paused or not.

**Describe alternatives you've considered**
Can't think of any.  Downloading the data is

[2018-10-17 11:24] DavidWhaleMEF opened #1451 "Query about serial redirect"
I wish to use serial tx routed to the USB, and serial RX routed to a pin, for a project. Both serial ports will be at the same baud rate, but I want to receive serial data from one device and transmit serial data across the USBSER.

I believe I can do this in MicroPython by passing None to the txpin and a pin object to the rxpin in init:

https://microbit-micropython.readthedocs.io/en/latest/uart.

[2018-10-17 12:39] pelikhan commented on #1448
Our translations are crowdsource and we'd love to get some more help on the Czech side. You can register as a translator at https://crowdin.com/project/kindscript to start translating or fixing translation.
If you wish to become a proofreader (e.g. being able to validate translation), please send us your resume/linkedin. Thank you!

[2018-10-17 12:39] #1448 closed

[2018-10-17 12:40] pelikhan commented on #1451
@whaleygeek  Please test https://makecode.microbit.org/app/5e7315b5c43219136ed17de948c6965d882406da-7bf5c9f8ec'

[2018-10-17 13:54] martinwork opened #1454 "Project has no name dialogue appears off screen on iOS"
**Describe the bug**
Project has no name dialogue appears off screen because it is pushed up by the iOS keyboard.

It looks like something thinks the entire MakeCode page needs to be above the keyboard, rather than just the dialog, or just the edit control.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/beta'
2. Click on 'New Project'
3. Click on 'Home'

[2018-10-17 17:58] philipphenkel commented on #1334
I'm surprised that this is standard DAL behaviour as I "fixed" it pxt-microbit code.

To be precise a specific event triggers currently **4 notifications** in pxt-microbit. I would expect that 1 event triggers 2 notifications only: the specific one and ANY.

@tballmsft Would it be helpful to analyze the behaviour of MicroPython?

[2018-10-17 20:05] Jaqster opened #1455 "Edge - Show Icon field editor"
On Edge, the Show Icon field editor cuts off the right column of icons

![showiconedge](https://user-images.githubusercontent.com/22108954/47113207-45aa5a00-d20d-11e8-85b0-a81e978bed50.png)

[2018-10-18 00:59] riknoll opened #1456 "Typing "whatever" in the block search causes the toolbox to disappear"
![missingtoolbox](https://user-images.githubusercontent.com/13754588/47125099-53280a00-d236-11e8-8d70-7f5c42e63e23.gif)

Tested on beta

[2018-10-18 01:03] samelhusseini commented on #1456
what the

[2018-10-18 01:07] riknoll commented on #1456
Don't think it's related to "whatever", typing anything causes it. Sorry, fired off this issue a little too fast :smile:

[2018-10-18 06:18] samelhusseini opened #1457 "Editing function name takes up the whole size of the block"
**Describe the bug**
Function name editing takes up the entire block size.

<img width="353" alt="screen shot 2018-10-17 at 11 17 09 pm" src="https://user-images.githubusercontent.com/16690124/47134784-cd6e8380-d262-11e8-9d49-badc1a6fbc1a.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Make a function
2. Add a few blocks in the function (or not, still repro's)
3. Try to edit the functi

[2018-10-18 06:38] Jaqster commented on #1455
I'm on Microsoft Edge 44.17763.1.0, Microsoft EdgeHTML 18.17763.
You have to fiddle with it a bit... try clicking on different icons and opening/closing field editor

[2018-10-18 06:44] samelhusseini commented on #1455
Ah I see it now, that's so bizarre only happens just after selecting one of the options and then immediately going back to select a different one.

[2018-10-18 06:50] samelhusseini opened #1458 "gesture field editor sometimes selecting invalid options"
**Describe the bug**
This is a tricky bug to repro. Sometimes when selecting something from the gesture field editor you see it produce an error and that is because it's selecting the text as the option rather than converting it to the correct enum. ie: producing invalid javascript.

**To Reproduce**
Steps to reproduce the behavior:
1. Add two gesture blocks to your workspace
2. Keep swapping betw

[2018-10-18 06:53] samelhusseini commented on #1458
For better odds at repro'ing just continue changing the field value, it usually eventually repro's

[2018-10-18 09:39] Helen09 opened #1459 "On "Blocks to JavaScript" instruction page, it shows "Sorry, the page is missing""
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Scroll down to the bottom of the page
3. Click "Blocks to JavaScript" -> "Show Instructions" to open the instruction

**Expected result:**
The instruction should not be missing

**Actual result:**
On "Blocks to JavaScript" instruction page, it shows "Sorry, the page is missing"
![issue101801](https://user-images.githubuse

[2018-10-18 09:57] martinwork opened #1460 "Can't edit "on event from" block in iOS"
**Describe the bug**
The popup menus in the "on event from" block do not support scrolling properly. They disappear as soon as a drag-to-scroll finishes, so selecting items further down the list is extremely awkward.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/beta'
2. Tap on 'New Project'
3. Add 'on event from' block from Advanced/Control
4. Try to c

[2018-10-18 15:43] nielsswinkels opened #1461 "the keycommand ctrl+left/right should jump between words, not open the menu"
**Describe the bug**
The normal behavior in text editors when you press ctrl+left/right is to jump between words. But the makecode editor steals this shortcut for opening the menu instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Open editor
2. go to javascript
3. press ctrl+left arrow

**Expected behavior**
Jump between words

**Desktop (please complete the following information):**

[2018-10-18 16:08] abchatra commented on #1461
@samelhusseini Is this by design?

[2018-10-18 16:09] samelhusseini commented on #1461
This was done for accessibility reasons but I hadn't realized that the CtrlCmd + arrow keys were already used for navigating around the editor.
I am working on a change to use a different shortcut to get into the toolbox menu.

[2018-10-18 16:11] samelhusseini commented on #1461
https://github.com/Microsoft/pxt/pull/4867

[2018-10-18 16:13] abchatra commented on #1460
I could repro this in Ipad.

[2018-10-18 16:14] abchatra commented on #1459
@pelikhan

[2018-10-18 16:16] abchatra commented on #1459
@Helen09 I can't repro this. Can you retry?

[2018-10-18 16:20] pelikhan commented on #1459
It's working for me. Might be a cache issue.

[2018-10-18 16:25] #1451 closed, assigned to nobody

[2018-10-18 16:29] samelhusseini commented on #1460
Do you mean to scroll to the ticket item?
and could you provide a screenshot of what you mean by open at the top on Windows?

Thanks

[2018-10-18 16:33] abchatra commented on #1450
I can't repro this. Can you share your program?

[2018-10-18 16:42] abchatra commented on #1433
Per design.

[2018-10-18 16:42] #1433 closed

[2018-10-18 16:48] abchatra commented on #981
Old issue closing.

[2018-10-18 16:48] #981 closed

[2018-10-18 16:49] abchatra commented on #1055
Done this is part of experiment now. Will go through the normal release process for the release

[2018-10-18 16:49] #1055 closed

[2018-10-18 16:50] abchatra commented on #1061
No plans untill next release in June. Closing as "Revisit next release"

[2018-10-18 16:50] #1061 closed

[2018-10-18 16:51] abchatra commented on #1083
Done

[2018-10-18 16:51] #1083 closed

[2018-10-18 17:10] #1461 closed

[2018-10-18 23:12] #1449 closed

[2018-10-18 23:20] samelhusseini commented on #1458
Turns out the repro here is clicking on the text. I have a fix.

[2018-10-19 00:51] #1458 closed

[2018-10-19 06:33] Helen09 opened #1462 "Tutorial "Rock Paper Scissors" picture is not clear in tutorial 7th and 9th steps"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down to Games -> "Rock Paper Scissors" -> "Start Tutorial" -> click the tutorial steps one by one
3. Click to 7th and 9th steps and observe

**Expected result:**
The block picture should be clear in tutorial 7th and 9th steps

**Actual result:**
The block picture is not clear in tutorial 7th and 9th steps
![issue101901](h

[2018-10-19 06:59] AimeeCao18 opened #1463 "An error shows in example "Karel the LED" tutorial"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/projects/karel
2. Scroll down to "Coding Karel the LED" step
3. Copy the code to the "JavaScript" editor page

**Expected result:**
Error should not show when copying the example code to "JavaScript" editor

**Actual result:**
An error shows in example "Karel the LED" tutorial
![1](https://user-images.githubusercontent.com/44188776/4720

[2018-10-19 08:17] AimeeCao18 opened #1464 ""Duct Tape Watch" doesn't have picture on home page"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down the scroll bar to Fashion
3. Observe the "Duct Tape Watch"

**Expected result:**
"Duct Tape Watch" should have picture

**Actual result:**
"Duct Tape Watch" doesn't have picture on home page
![default](https://user-images.githubusercontent.com/44188776/47206123-72e83b00-d3ba-11e8-9492-f8aabe0a185b.PNG)

[2018-10-19 09:48] Helen09 opened #1467 "The instruction of the tutorial in red box is not clear"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down the scroll bar to Tutorials
3. Click "Micro Chat" and observe the short instruction of the tutorial

**Expected result:**
The instruction of the tutorial should be clear

**Actual result:**
The instruction of the tutorial in red box is not clear
![issue101902](https://user-images.githubusercontent.com/23466737/472110

[2018-10-19 12:06] nielsswinkels opened #1468 "rightclick in menu in javascript mode does not work (firefox)"
**Describe the bug**
When in javascript mode, rightclicking on a piece of code in the menu does not give the popup menu that should come up, but shows my browsers own right click menu.

**To Reproduce**
Steps to reproduce the behavior:
1. (in firefox) Go to javascript mode
2. open the toolbox/menu
3. right click a piece of code

**Expected behavior**
Should show a popup menu with for example the h

[2018-10-19 12:21] nielsswinkels opened #1469 "scrolling up/down with mousewheel click does not work (firefox)"
**Describe the bug**
I want to scroll up/down in the text editor by clicking with the mousehweel and then move the mouse up/down. But this only lets me scroll horizontally.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to javascript mode
2. write a lot of code so it does not fit vertically in the screen
3. mousewheel click
4. move mouse up/down

**Expected behavior**
Should scroll throu

[2018-10-19 14:38] abchatra commented on #1468
We don't have right click on the toolbox. Can you add screenshot of other browsers?

[2018-10-19 14:43] abchatra commented on #1469
Mouse scroll works fine for me on on Firefox 62 on Windows 10. This scrolls veritically  What is mousewheel click? Can you add a gif ?

[2018-10-19 14:45] abchatra commented on #1463
Nice find. Thanks @AimeeCao18

[2018-10-19 14:48] abchatra commented on #1463
Although I am not able to repro. Can you try again?

[2018-10-19 14:52] pelikhan commented on #1462
By design.

[2018-10-19 14:52] #1462 closed

[2018-10-19 17:11] #1426 closed

[2018-10-19 17:37] riknoll commented on #1351
Fixed by https://github.com/Microsoft/pxt/pull/4869

[2018-10-19 17:37] #1351 closed

[2018-10-19 20:36] DavidWhaleMEF commented on #1451
I didn't really have much success with this sadly. Could you share your test program, so I can see if it works this end? Thanks!

[2018-10-19 20:48] pelikhan commented on #1451
What is not working?
[code]

[2018-10-19 20:51] DavidWhaleMEF commented on #1451
It seemed to me that when I redirected TX to USB_TX, the RX stopped working.

For reference, here is the equivalent system on MicroPython, which seems to work...

SENDER
[code]

[2018-10-19 20:52] pelikhan commented on #1451
Please send the equivalent microbit-dal C++ sample.

[2018-10-19 20:53] DavidWhaleMEF commented on #1451
You already have a serial.redirect_to_usb (which does TX and RX simulataneously)

What I need is RX to be connected to a pin, and TX to be connected to USB, so that I can use it as a serial bridge where one half of the serial comes from the edge connector, and the outgoing chars go out via USBSER

[2018-10-19 20:54] DavidWhaleMEF commented on #1451
![2018-10-19 21 44 31-1](https://user-images.githubusercontent.com/25079586/47243306-7f37bc80-d3e9-11e8-8934-601f7b00b5e6.jpg)

[2018-10-19 20:56] DavidWhaleMEF commented on #1451
I'm not too fussed if this doesn't work - I have a python version that works now. It just would have been nice to have one microbit as makecode and the other as python.

It may take me some time to get a C++/DAL example together, as I have to progress with my project now. But I'll keep this ticket URL in my TODO list and next time I get a chance to try it again I will report back. Thanks for your

[2018-10-19 20:58] pelikhan commented on #1451
This is the DAL abstraction we are using https://github.com/lancaster-university/microbit-dal/blob/master/inc/drivers/MicroBitSerial.h#L436 . I don't know what Python is using.

[2018-10-19 21:08] DavidWhaleMEF commented on #1451
Ok great, thanks. I will see if I can reproduce a split redirect in DAL/C++ and report back if that doesn't work. Thanks for your help

[2018-10-21 01:52] ganicke commented on #1459
These are present in `v1`:

https://makecode.microbit.org/v1/projects/red-light-green-light
https://makecode.microbit.org/v1/projects/duct-tape-watch
https://makecode.microbit.org/v1/courses/blocks-to-javascript

Seems that`beta` is does not path properly to these pages.

[2018-10-22 02:09] AimeeCao18 commented on #1463
I verified this issue again and it still can repro. Below is the published project
https://makecode.microbit.org/_3puJVFePu4yJ

[2018-10-22 03:38] samelhusseini commented on #1457
Looks like this change broke this:
https://github.com/Microsoft/pxt-blockly/pull/108

 @riknoll FYI

[2018-10-22 03:39] samelhusseini commented on #1457
Looks like this change broke this:
https://github.com/Microsoft/pxt-blockly/pull/108

 @riknoll FYI

[2018-10-22 07:54] nielsswinkels commented on #1469
when you press down on the mousewheel it clicks, it shows this
![image](https://user-images.githubusercontent.com/5718354/47282647-588fa680-d5e0-11e8-8818-24159f260dbd.png)
Then you can move your mouse above it to scroll up and below to scroll down. But it doesn't work in the vertical direction in the makecode text editor

[2018-10-22 07:58] nielsswinkels commented on #1469
![20181022_095609_1](https://user-images.githubusercontent.com/5718354/47282847-0d29c800-d5e1-11e8-8a0c-03d967e7e09e.gif)

[2018-10-22 08:01] nielsswinkels commented on #1469
![20181022_095609_1](https://user-images.githubusercontent.com/5718354/47282948-65f96080-d5e1-11e8-9c06-edb6b7fbe218.gif)

[2018-10-22 08:03] nielsswinkels commented on #1468
Shouldn't there be a right click menu with at least the help option?

[2018-10-22 08:05] nielsswinkels commented on #1468
Blocks:
![image](https://user-images.githubusercontent.com/5718354/47283044-d6a07d00-d5e1-11e8-9517-6bde6efa2f65.png)

javascript:
![image](https://user-images.githubusercontent.com/5718354/47283080-051e5800-d5e2-11e8-9217-eccc7f0bed46.png)

[2018-10-22 08:40] AimeeCao18 opened #1472 "The step number shows error"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/projects/milky-monster
2. Scroll down the scroll bar and click "Code"
3. Scroll down the scroll bar and observe the step number

**Expected result:**
The numerical order of the steps is correct

**Actual result:**
Step number shows error
![capture2](https://user-images.githubusercontent.com/44188776/47281795-4e38d100-d60f-11e8-9688-029b

[2018-10-22 08:51] AimeeCao18 opened #1473 "The step number shows error"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/projects/milky-monster
2. Scroll down the scroll bar and click "Code"
3. Scroll down the scroll bar and observe the step number

**Expected result:**
The numerical order of the steps is correct

**Actual result:**
The step number shows error
![capture2](https://user-images.githubusercontent.com/44188776/47284655-b93bd500-d61a-11e8-870f-

[2018-10-22 10:39] microbit-mark opened #1474 "Printing lessons no longer produces coloured blocks"
microbit-support:18020

**Describe the bug**
Previously printing in makecode allowed you to print coloured blocks. Blocks are now rendered in black and white.

Children find the colours useful to differentiate blocks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/lessons/beautiful-image'
2. Click on print
3. Preview is in black and white.

**Expected beh

[2018-10-22 11:06] microbit-mark opened #1475 "Device console does not display data for accelerometer strength over usb"
**Describe the bug**
Device console does not display data for accelerometer strength over usb

**To Reproduce**
Steps to reproduce the behavior:
1. Open [microbit-grav.hex.zip](https://github.com/Microsoft/pxt-microbit/files/2501060/microbit-grav.hex.zip) in makecode beta
2. Pair device and flash code
3. Try looking at simulator console, then at device console

![screen recording 2018-10-22 at 11

[2018-10-22 13:37] guillaumejenkins commented on #1239
To clarify, this is **not** about snapping a block onto an empty shadow block. This bug is about **replacing** an already-slotted block with a new one.

If you look at the original gif, I am trying to replace `light level` with `compass direction`, but it doesn't let me snap it unless I mouseover the are where the underlying `Number` shadow block is

[2018-10-22 14:33] abchatra commented on #1459
@pelikhan any idea why this would be?

[2018-10-22 14:34] abchatra commented on #1468
Monaco editor doesn't support these yet.

[2018-10-22 14:57] abchatra commented on #1475
Can you share the code? I don't see a new line after the code. It is necessary to flush the serial data out.

[2018-10-22 14:59] pelikhan commented on #1475
write value adds a new line but something must be wrong on the BLE stack. Did the device run out of memory?

[2018-10-22 16:53] abchatra commented on #1239
@riknoll this is fixed

[2018-10-22 16:53] #1239 closed

[2018-10-22 16:53] abchatra commented on #933
This is fixed.

[2018-10-22 16:53] #933 closed

[2018-10-22 17:04] pelikhan commented on #1463
TypeScript 2.0 is probably more strict that 1.0 (or the other way around.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: AimeeCao18 <notifications@github.com>
Sent: Sunday, October 21, 2018 7:23 PM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Assign
Subject: Re: [Microsoft/pxt-microbit] An error shows in example "Karel the LED" tutorial (#1463)

I verified t

[2018-10-22 17:06] pelikhan commented on #1459
Does it still fail in a anonymous window?

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Abhijith Chatra <notifications@github.com>
Sent: Monday, October 22, 2018 7:33 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Mention
Subject: Re: [Microsoft/pxt-microbit] On "Blocks to JavaScript" instruction page, it shows "Sorry, the page is missing" (#1459)

@pelikh

[2018-10-22 17:07] pelikhan commented on #1468
Monaco toolbox is on our side.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Abhijith Chatra <notifications@github.com>
Sent: Monday, October 22, 2018 7:34 AM
To: Microsoft/pxt-microbit
Cc: Subscribed
Subject: Re: [Microsoft/pxt-microbit] rightclick in menu in javascript mode does not work (firefox) (#1468)

Monaco editor doesn't support these yet.

—
You are

[2018-10-22 17:07] pelikhan commented on #1474
This is by design. Most schools can not afford printing in colors, and some schools still have low quality bw printers. Colored background will print mostly grey and unreadable in those cases.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Abhijith Chatra <notifications@github.com>
Sent: Monday, October 22, 2018 7:55 AM
To: Microsoft/pxt-microbit
Cc: Peli de Ha

[2018-10-22 17:24] samelhusseini opened #1477 "radio package text rendered at the bottom of a tutorial hint"
**Describe the bug**
radio (package) text shows in the last tutorial hint of the micro chat tutorial.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the v1 editor and open the micro chat tutorial
2. Navigate to the final step
3. See that the text "radio" shows at the bottom of the hint

**Expected behavior**
No text

**Screenshots**
<img width="931" alt="screen shot 2018-10-22 at 10 2

[2018-10-22 17:47] pelikhan commented on #1477
It’s probably not in the branch.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Sam El-Husseini <notifications@github.com>
Sent: Monday, October 22, 2018 10:26 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Mention
Subject: [Microsoft/pxt-microbit] radio package text rendered at the bottom of a tutorial hint (#1477)

Describe the bug
radio (package) text sh

[2018-10-22 17:58] samelhusseini opened #1478 "Sharing embed (code-embed) feature not working"
**Describe the bug**
Unable to embed code snippet using the "Code" embedding feature

**To Reproduce**
Steps to reproduce the behavior:
1. Create some code to share
2. Click on Share and publish
3. Click on Embed and on the first tab (Code)
4. Copy the produced HTML and paste it in a jsfiddle
5. See that it doesn't load and error in the console

Note: If testing beta, you will need to update the s

[2018-10-22 18:05] pelikhan opened #1479 "Search bar contrast too low in High Contrast mode"
![image](https://user-images.githubusercontent.com/4175913/47309845-57fc0d80-d5ea-11e8-96fa-3bcc903aa545.png)

[2018-10-22 18:09] riknoll opened #1480 "Accelerometer display covers up the A+B button in the simulator"
Accelerometer display covers up the A+B button in the simulator.

To reproduce:

Use an on A+B block
Use 1 or more acceleration blocks

[2018-10-22 18:10] abchatra opened #1481 "Comments title bar is shorter than the text space"
Add workspace comments in iPad, the shape of the comment is not square.

**To Reproduce**
Steps to reproduce the behavior:
1. Long press on the workspace
2. Add comments

**Screenshots**
![image-1](https://user-images.githubusercontent.com/6107272/47310056-deb0ea80-d5ea-11e8-9c3e-605018af4263.jpg)

**Desktop (please complete the following information):**
 - OS: iOS
 - Browser: Safari

[2018-10-22 18:18] Jaqster opened #1482 "Add screenshots for Download intruction pages"
Add screenshots to these pages:
https://makecode.microbit.org/device/usb/windows-edge
https://makecode.microbit.org/device/usb/windows-ie
https://makecode.microbit.org/device/usb/windows-firefox

![edgesaveas](https://user-images.githubusercontent.com/22108954/47310457-18362580-d5ec-11e8-81a2-3b2251d94944.png)
![iesaveas](https://user-images.githubusercontent.com/22108954/47310466-1f5d3380-d5ec-11

[2018-10-22 18:31] samelhusseini opened #1485 "Accelerometer simulator UI logic doesn't work in shared view"
**Describe the bug**
Accelerometer simulator UI logic doesn't work in shared view.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project that uses the on shake block and share it
2. GO to the shared view and click on the simulator (tri) button at the top
3. Try to move the simulator by hovering over it
4. See how it's stuck in this view (see screenshot)

**Expected behavior**
The

[2018-10-22 18:32] guillaumejenkins opened #1486 "Undo/redo issues"
## Disabled blocks issue
Disabling a block is something undoable. It shouldn't be in the undo/redo stack.
![undo-disabled](https://user-images.githubusercontent.com/14299377/47311242-33625e80-d607-11e8-8458-42b457840068.gif)

## Layout issue (UWP app only)
Happens when dragging a stack out of a block, then undoing, then redoing, then undoing, and so forth
![undo-redo-offset](https://user-images.gi

[2018-10-22 18:40] guillaumejenkins opened #1488 "[UWP] Clicking Download with no device plugged spins forever"
1. Download program to plugged device
2. Unplug device after flash is successful
3. Click Download again

Expected:
"Device not found" message + save file dialog

Actual:
Download button spins forever, no errors, no file dialog, no timeout

Might be related to https://github.com/Microsoft/pxt-microbit/pull/1388

[2018-10-22 18:45] abchatra opened #1489 "404 on help for extensions"
Screenshot

![image](https://user-images.githubusercontent.com/6107272/47311930-dc04c400-d5ef-11e8-95b3-ccc6f4eb7738.png)

[2018-10-22 18:46] Jaqster opened #1490 "Documentation links"
The left and right arrows in the documentation don't keep you in the v1 docs.
Also the Get Started button for some of the projects don't preserve version either.
![doclinks](https://user-images.githubusercontent.com/22108954/47311999-06568180-d5f0-11e8-9bc0-2e0a5be40db9.PNG)

[2018-10-22 18:46] #1489 closed

[2018-10-22 18:49] pelikhan commented on #1478
This is a versioning issue. This line is not being patched.
[code]

[2018-10-22 18:59] ganicke commented on #1489
I think this one was fixed in https://github.com/Microsoft/pxt/pull/4794

[2018-10-22 20:46] samelhusseini commented on #1478
Fix here: https://github.com/Microsoft/pxt/pull/4887/files

[2018-10-22 20:54] samelhusseini commented on #1478
Fix is in master. Waiting on the github webhooks to be back alive and the cloud to recognize there's been a change.

Use http://jsfiddle.net/sh48L7v5 to test

[2018-10-22 20:56] samelhusseini commented on #1486
Ah the Undo / Redo rendering issues surface again!

[2018-10-22 21:09] abchatra commented on #1472
Duplicate of https://github.com/Microsoft/pxt-microbit/issues/1473

[2018-10-22 21:09] #1472 closed

[2018-10-22 21:09] abchatra commented on #1473
Fixed

[2018-10-22 21:09] #1473 closed

[2018-10-22 21:18] abchatra commented on #1480
Fixed already right?

[2018-10-22 21:22] abchatra commented on #1488
If the fix is easy, I can take this up this week. @pelikhan fyi

[2018-10-22 21:28] #1490 closed

[2018-10-22 23:36] abchatra commented on #1378
@riknoll take a peek at this when you have time.

[2018-10-22 23:36] abchatra commented on #1459
Yes please try in inprivate window.

[2018-10-22 23:43] guillaumejenkins commented on #1488
I'm taking a look tomorrow, should be a simple fix

[2018-10-23 00:09] riknoll commented on #1378
There are a couple things going on here:

1. Looks like the hex files that we download from the docs are setting the "editor" flag to TS so they won't open in blocks by default
2. Our upgrade rules fix `Math.random()` in blocks but not in TS

That first one is causing the second issue. @samelhusseini @pelikhan is `Math.random()` not being upgraded in the TS an oversight or intentional?

[2018-10-23 06:00] Helen09 commented on #1378
This issue also repros on project "Reaction Time", the detail is as below:
1. Navigate to https://makecode.microbit.org/projects/reaction-time/code
2. Copy or download and then import the code to JavaScript editor page and observe
![issue1023](https://user-images.githubusercontent.com/23466737/47338878-0461f080-d6cc-11e8-866b-af561de27241.PNG)

[2018-10-23 06:39] Helen09 commented on #1459
This issue still repros in inprivate window
1. Radio Games -> “Red Light Green Light” -> “Show Instructions”
2. Courses -> “Blocks to JavaScript” -> “Show Instructions”

[2018-10-23 07:11] Helen09 commented on #785
This issue still repros

[2018-10-23 09:53] Helen09 opened #1495 "UI issue on instruction of "micro: bit of things""
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down to the bottom of the home page
3. "Courses" -> "micro: bit of things" -> "Show Instructions" to look its instruction

**Expected result:**
The instruction should make user read more conveniently

**Actual result:**
**Issue 1:** There are too much text and no picture in the instruction and it's not convenient for user

[2018-10-23 11:58] pelikhan commented on #1459
This is because the home screen does not route those resources to "/v1/...". For the other project, they also exist in v0, so it masks the issue.

[2018-10-23 11:58] microbit-mark commented on #1474
Thanks for the feeback @pelikhan. Could it be a choice for those that want to print colour or would you expect these people to create their own resources by downloading screenshots for example
?

[2018-10-23 12:30] pelikhan commented on #1474
Unfortunately, CSS does not give us a way to decide if we are going for HQ print or using the worst printer available. So we default to working everywhere - even if we have to lose colors.

[2018-10-23 12:31] pelikhan commented on #1474
See https://github.com/Microsoft/pxt-microbit/issues/1163

[2018-10-23 14:11] abchatra commented on #1378
We should update Math.random in TS. @pelikhan confirm.

[2018-10-23 14:26] #1478 closed, assigned to pelikhan

[2018-10-23 14:42] abchatra commented on #1459
Ok cool that makes sense. This is not an issue for v1 once we release.

[2018-10-23 14:51] JoshuaLowe1002 opened #1499 "Issues with the function block field"
**Describe the bug**
@samelhusseini already knows about this (discussed via an email over PXT-Blockly) but I thought i'd log it anyway. When you click on the function block text field, the text editor expands in a way that is different to other blocks (presumably because it's not a shadow block.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Functions'
2. Click on 'Create a function'

[2018-10-23 15:05] samelhusseini commented on #1499
Thanks for logging @JoshuaLowe1002. This bug is already tracked in https://github.com/Microsoft/pxt-microbit/issues/1457

[2018-10-23 15:05] #1499 closed

[2018-10-23 18:36] JoshuaLowe1002 commented on #1499
Ah, didn't spot!

[2018-10-24 02:53] AimeeCao18 commented on #779
The bug still repro

[2018-10-24 02:59] AimeeCao18 commented on #786
The bug still repro on Edge, Chrome and IE

[2018-10-24 03:04] AimeeCao18 commented on #792
The bug still repro now.

[2018-10-24 03:07] AimeeCao18 commented on #794
The bug still repro on IE

[2018-10-24 03:29] AimeeCao18 commented on #818
The bug still repro on Edge and IE

[2018-10-24 03:39] AimeeCao18 commented on #825
The bug still repro on IE

[2018-10-24 05:37] pelikhan opened #1507 "receivedNumber, receivedString not translatable"
See https://crowdin.com/project/kindscript/discussions/41/0/home

[2018-10-24 05:40] AimeeCao18 commented on #826
The bug still repro now

[2018-10-24 05:42] AimeeCao18 commented on #922
The bug still repro now

[2018-10-24 05:46] AimeeCao18 commented on #948
The bug still repro

[2018-10-24 05:47] AimeeCao18 commented on #961
The bug still repro

[2018-10-24 05:49] AimeeCao18 commented on #962
The bug still reproduce

[2018-10-24 05:51] AimeeCao18 commented on #1145
The bug still repro on Firefox

[2018-10-24 05:53] #1474 closed

[2018-10-24 05:53] #1464 closed

[2018-10-24 05:53] AimeeCao18 commented on #1192
The bug still reproduce

[2018-10-24 06:02] AimeeCao18 commented on #1224
The bug still repro

[2018-10-24 06:03] AimeeCao18 commented on #1232
The bug still repro

[2018-10-24 06:17] AimeeCao18 commented on #1233
The bug still repro

[2018-10-24 06:19] AimeeCao18 commented on #1265
The bug still repro

[2018-10-24 06:42] AimeeCao18 commented on #785
The bug still repro

[2018-10-24 08:31] Helen09 opened #1508 "Course introduction's syntax error"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down the scroll bar to the bottom of the page
3. Navigate to "Courses" -> "Intro to CS" and observe the short introduction for the course

**Expected result:**
The introduction should be "14 weeks computer science courses for middle school grades 6-8"

**Actual result:**
![issue102401](https://user-images.githubuserconten

[2018-10-24 09:17] Helen09 opened #1509 ""Square" tutorial is not complete on 4th and 6th steps"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down the scroll bar to "Turtle" -> click "Square" -> "Start Tutorial" -> click the tutorial steps one by one

**Expected result:**
The tutorial should be complete

**Actual result:**
"Square" tutorial is not complete on 4th and 6th steps
![issue1024002](https://user-images.githubusercontent.com/23466737/47420292-a824cc80-

[2018-10-24 09:27] AimeeCao18 opened #1510 "After clicking "Finish" button in the tutorial, pages jump to the home page"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down the scroll bar to Turtle-> Click "Square"-> Click "Start Tutorial"
3. Follow the tutorial steps to click Finished

**Expected result(Edge, Chrome & Firefox):**
Stay on the editor page.
![expect](https://user-images.githubusercontent.com/44188776/47420572-5892d080-d7b1-11e8-99f1-7142c2abcb61.gif)

**Actual result(IE):

[2018-10-24 13:17] abchatra commented on #1463
@riknoll can you take a peek?

[2018-10-24 14:04] pelikhan commented on #1463
I suspect the old version is still cached. I did rewrite that sample.

[2018-10-24 14:29] abchatra commented on #1510
This is intentional in IE. As there are issues with that browser reloading the same page. It is a non ideal. workaround. Good observation though!

[2018-10-24 14:29] #1510 closed

[2018-10-24 14:29] abchatra commented on #1510
Can't fix

[2018-10-24 14:30] abchatra commented on #1509
@Helen09 good find.

[2018-10-24 14:47] abchatra commented on #1378
Fixed

[2018-10-24 14:47] #1378 closed

[2018-10-24 16:18] microbit-rosslowe opened #1511 "Embedded SVG blocks with V1 won't render"
**Describe the bug**
As described on https://makecode.microbit.org/blocks-embed (and https://makecode.microbit.org/v1/blocks-embed/) code snippets can be embedded as SVGs. Changing the src in `injectRenderer()` to `https://makecode.microbit.org/v0--docs?render=1`, blocks are still rendered correctly. However, replacing with `v1` or `beta`, blocks do not render and code doesn't render:
<img width="

[2018-10-24 16:41] pelikhan commented on #1511
A / is missing before —docs

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Ross Lowe <notifications@github.com>
Sent: Wednesday, October 24, 2018 9:19 AM
To: Microsoft/pxt-microbit
Cc: Subscribed
Subject: [Microsoft/pxt-microbit] Embedding SVG blocks with V1 won't render (#1511)

Describe the bug
As described on https://makecode.microbit.org/blocks-embed<https:

[2018-10-24 17:46] samelhusseini commented on #1511
Yeah that's our bade @microbit-rosslowe.
Fix is coming up: https://github.com/Microsoft/pxt-microbit/pull/1512

[2018-10-24 18:36] samelhusseini commented on #1511
Fixed in beta

[2018-10-24 18:36] #1511 closed

[2018-10-24 19:03] ganicke commented on #1509
Fixed in #1514

[2018-10-24 19:03] #1509 closed

[2018-10-24 19:10] pelikhan commented on #1511
Try passing instead:

    options: {}

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Ross Lowe <notifications@github.com>
Sent: Wednesday, October 24, 2018 9:24 AM
To: Microsoft/pxt-microbit
Cc: Subscribed
Subject: Re: [Microsoft/pxt-microbit] Embedded SVG blocks with V1 won't render (#1511)

We've observed that adding the following in function makeCodeRenderPr

[2018-10-24 19:48] ganicke commented on #1467
Fixed in #1470

[2018-10-24 19:48] #1467 closed

[2018-10-24 19:53] microbit-carlos commented on #635
Thank you Sam for testing this issue, since it looks like it has been resolved I'll close this ticket.

[2018-10-24 19:53] #635 closed

[2018-10-24 20:33] ganicke commented on #1463
Moving ``const board = new Board();`` (in the old karel) below the class seems tricksy enough to satisfy both versions in case of cache confusion.

[2018-10-25 01:58] #1508 closed

[2018-10-25 03:20] AimeeCao18 opened #1517 ""Rock Paper Scissors" tutorial is not complete on 3th and 4th steps"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down the scroll bar to "Games" -> Click "Rock Paper Scissors" -> "Start Tutorial" -> click the tutorial steps one by one

**Expected result:(Chrome & Firefox)**
The tutorial should be complete

**Actual result:(IE & Edge)**
"Rock Paper Scissors" tutorial is not complete on 3th and 4th steps
![capture3](https://user-images

[2018-10-25 04:57] machinehistories opened #1518 "variable declaration"
I am running into issues when I attempt to make a variable in v1 editor. It hangs up for a few minutes. It eventually makes the variable but when I drag out the variable block it causes severe screen lag and eventually freezes. I am also noticing when I attempt to access the logic blocks the screen quickly flickers and prevents logic blocks from being visible.

[2018-10-25 05:06] pelikhan commented on #1518
What operating system / browser are you using? Could you record a screencast?

[2018-10-25 09:08] microbit-rosslowe commented on #1511
@pelikhan That also works, thanks
@samelhusseini Great, does #1512 also fix layout issues?

[2018-10-25 14:19] pelikhan opened #1519 "buffer.createBufferFromArray is missing"
Missing API from v0

[2018-10-25 14:34] abchatra commented on #1517
@AimeeCao18 good find.

[2018-10-25 14:35] abchatra commented on #1507
This is not a regression from v0. Plan to address this later.

[2018-10-25 14:36] abchatra commented on #1518
Please use the bug template. We need screen shot, OS, browser version for this bug to reproduce.

[2018-10-25 14:44] abchatra commented on #1519
Do other API in that file need to be there as well? Like packedSize, packedBuffer, unpackBuffer etc?

[2018-10-25 14:46] pelikhan commented on #1519
We moved to common packages but we might have missed one. I think we can compare the locale strings.json files to flag any API differences we missed.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Abhijith Chatra <notifications@github.com>
Sent: Thursday, October 25, 2018 7:44 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Author
Subject: Re: [Microsoft/pxt

[2018-10-25 16:14] abchatra commented on #1488
Hmm. Bug still repros.

[2018-10-25 16:28] abchatra commented on #1488
@pelikhan Why did you reopen this bug?

[2018-10-25 16:30] pelikhan commented on #1488
Just to make sure it gets released on friday.

[2018-10-25 16:31] guillaumejenkins commented on #1488
I can confirm it's fixed in /beta using the official store app

[2018-10-25 16:32] pelikhan commented on #1488
Sounds good then.

[2018-10-25 16:32] #1488 closed

[2018-10-25 16:33] pelikhan commented on #1517
This is fixed.

[2018-10-25 16:33] pelikhan commented on #1517
https://github.com/Microsoft/pxt-microbit/commit/44a47a7e5c325accedfecbb32a95976c5d32e883

[2018-10-25 16:34] pelikhan commented on #1517
This is due to our picky parsing of tutorial steps.

[2018-10-25 16:35] pelikhan commented on #1519
Fixed by https://github.com/Microsoft/pxt-microbit/commit/11dbaabe3a46d5394f306419fd7cb0ce161a6142

[2018-10-25 16:35] #1519 closed

[2018-10-25 16:35] abchatra commented on #1517
Fixed

[2018-10-25 16:35] #1517 closed

[2018-10-25 16:37] pelikhan commented on #1463
Make sure to pull the source from https://makecode.microbit.org/v1/projects/karel

[2018-10-25 16:37] #1463 closed

[2018-10-25 16:40] ganicke commented on #1517
Was just gonna hit commit on that one. Better to fix the text parse.

[2018-10-25 17:06] jaustin commented on #1511
@microbit-rosslowe could you open another issue for the rendering issue please?

[2018-10-25 17:12] samelhusseini commented on #1511
There are a number of different layout modes that we can render in.
Are you seeing issues with the default? Would be great to have a jsfiddle with a code snippet that repro's your layout issue. Thanks!

[2018-10-25 17:12] pelikhan commented on #1511
it's the snippetMode - it is supposed to rip out the "on start" block to only see the statement block.

[2018-10-25 17:14] samelhusseini commented on #1511
so do we need a better default @pelikhan? or is that a less used scenario which we should at a minimum update our documentation about?

[2018-10-25 17:16] pelikhan commented on #1511
This is a somewhat less known option. Definitely not to be used as a default.

[2018-10-25 17:56] pelikhan opened #1522 "Approved packages without releases"
These packages do not have a valid release (e.g. ```v0.0.0```) and we are unable to lock them for v0.

- [x] jdarling/pxt-pca9685: no valid release found
- [ ] Imagimaker/pxt-imagimaker: no valid release found
- [x] Annikken/pxt-Andee: no valid release found
- [x] 4tronix/BitBot: no valid release found
- [x] sparkfun/pxt-moto-bit: no valid release found
- [ ] PaulDFoster/pxt-microbit-GY521: no val

[2018-10-25 17:56] pelikhan commented on #1522
@microbit-mark

[2018-10-25 17:56] pelikhan commented on #1522
I guess we could lock to a commit.

[2018-10-25 19:12] samelhusseini opened #1525 "Update v0 target config so it points to the v0 branch"
V0 currently does not pass a version with the targetconfig call.
This means that it will always get the targetconfig that's in master. We need to port over the logic to send the editor version to v0 before we move v1 into master, otherwise v0 will be using v1's targetconfig.

@abchatra @pelikhan FYI

[2018-10-25 19:13] samelhusseini commented on #1291
This doesn't need to happen before release, but certainly before we merge v1 into master: https://github.com/Microsoft/pxt-microbit/issues/1525

[2018-10-25 21:15] abchatra commented on #1525
@samelhusseini can you port the change to v0 and keep it ready?

[2018-10-26 03:04] shaoziyang opened #1531 "It will be timeout in android phone first time download"
**Describe the bug**
When using webusb to download program in a android phone first time, it will be timeout. But if download a program from computer first then download from android phone, it will work fine.

**To Reproduce**
Steps to reproduce the behavior:
1. open chrome browser in a android phone.
2. open url "https://makecode.microbit.org/beta#editor?webusb=1"
3. pair device with microbit
4.

[2018-10-26 06:13] AimeeCao18 opened #1532 "The instruction of the "Red Light Green Light" tutorial is not clear"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down the scroll bar to Radio Games
3. Click "Red Light Green Light" and observe the short instruction of the tutorial

**Expected result:**
The instruction of the tutorial should be clear

**Actual result:**
The instruction of the "Red Light Green Light" tutorial is not clear
![actual result](https://user-images.githubuse

[2018-10-26 07:34] AimeeCao18 opened #1534 ""neopixel" and "microturtle" package details page simulator loading blank"
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Advanced" -> "Extensions" -> Click on the "learn more" button in the "neopixel/microturtle" package
3. Click the "Triangle" button on the page to launch the simulator

**Expected result:**
The simulator works normally

**Actual result:**
"neopixel" and "microturtle" package details page simulator loading blank
![ex

[2018-10-26 10:00] microbit-rosslowe commented on #1511
Just a final note, to get the layout to work correctly I needed to completely remove `options` (`options:{}` still had the layout issue).

[2018-10-26 14:42] abchatra commented on #1532
Nice find @AimeeCao18

[2018-10-26 15:22] pelikhan opened #1535 "Radio does not support floats"
Protocol needs to be updated to account for Doubles (8bit)

[2018-10-26 16:07] jaustin opened #1536 "routes: can't specify both language and 'editor'"
**Describe the bug**

Currently from microbit.org we enter MakeCode with the language that the user has set on the micro:bit site. We do this using #lang=user-choice

We'd also like to be able to create a direct 'editor' button that takes the user to the editor, not the home screen, and at the moment we can't do this as well as specifying the language (unless we force the lang with a query string

[2018-10-26 19:28] samelhusseini commented on #1460
Fix is here https://github.com/Microsoft/pxt-blockly/pull/157.
Still needs to be integrated and released in a microbit release.

[2018-10-26 22:20] samelhusseini opened #1544 "v0 sidedocs popout pops out to root version rather than versioned docs"
**Describe the bug**
v0 sidedocs popout pops out to root version rather than versioned docs

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the help menu
2. Open one of them in the side docs (eg: References)
3. Use the popout link to pop the sidedocs out
4. See that it pops out to the root documentation /

**Expected behavior**
It should popout to v0/references

[2018-10-27 05:35] pelikhan commented on #1535
https://github.com/Microsoft/pxt-microbit/pull/1540

[2018-10-28 00:00] JeffBrilliantLabs commented on #1191
Did you remember to link pxt microbit to pxt?  From the pxt-microbit folder you have to npm link ../pxt
I had same issue and then realized I hadn't linked pxt or common packages to pxt-microbit

[2018-10-28 00:01] pelikhan commented on #1191
Heads: v1 was merged into master. Use master from now on.

[2018-10-28 13:49] sgk opened #1547 ""Move the .hex file to the {0}" not appear on Crowdin"
"Move the .hex file to the {0}" and other strings in "editor/extension.ts" does not appear on Crowdin. This is the reason it is not possible to add translations for these strings.
![image](https://user-images.githubusercontent.com/485416/47616696-a4bc7880-db03-11e8-90bb-c0e6d5dc03f2.png)

[2018-10-28 16:28] abchatra opened #1548 "404 in experiments help"
**Describe the bug**
This doc link is 404: https://makecode.microbit.org/experiments

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'settings'
2. Click on 'about'
3. Click on 'experiments'
4. Click on '?'

**Screenshots**
![image](https://user-images.githubusercontent.com/6107272/47618720-a0f10d80-da93-11e8-9917-6847faa43cd0.png)

[2018-10-28 18:41] mmoskal commented on #1435
The "fix" will most likely be to make Simulator obey integer semantics not change the hardware behavior.

[2018-10-28 20:04] pelikhan commented on #1435
One plan is to bring rename Math.pow to Math.ipow to make integer semantics clearer — and maybe have a Math extension with pow/trig functions

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Michał Moskal <notifications@github.com>
Sent: Sunday, October 28, 2018 11:41 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Comment
Subject: Re: [Microsoft/pxt-microbit]

[2018-10-28 20:05] pelikhan commented on #1547
https://github.com/Microsoft/pxt/pull/4933/

[2018-10-29 02:38] ganicke commented on #1548
Hmm, the link itself https://makecode.microbit.org/experiments isn't working for me. What does the address tip show when you hover of the **?** symbol?

[2018-10-29 02:39] pelikhan commented on #1548
I think that page needs to be created.

[2018-10-29 02:40] ganicke commented on #1548
OK.

[2018-10-29 11:00] designingourtomorrow commented on #1450
https://makecode.microbit.org/_hbvYijb4C3Lx - I only get mouseover info on the 2nd line there, and only while the simulator is not paused.

[2018-10-29 14:54] nbogie opened #1552 "Add right-click to delete a variable"
It is not currently possible for the user to delete variables.  This can lead to a build-up of unused variables which can be distracting, and in complex projects can make it harder for users to find the relevant variable.

It would be good to add an option to delete a variable by right clicking it in the variable list and choosing delete variable.

To ensure users don't accidentally delete somethi

[2018-10-29 15:39] microbit-mark opened #1553 "Feature: Toggle between sideways scroll of projects and grid"
ticket:18298

**Is your feature request related to a problem? Please describe.**
On the homepage of the v1 editor 3 user projects are listed and you can then sideways scroll to the next 3 and the next 3 etc. In the v0 editor you could list more projects

from user: "as a teacher, [being able to see all projects] is important because I have A LOT of them. Now I can only see a few at a time, and I d

[2018-10-29 18:42] jdarling commented on #1439
Sorry as I said I had some back problems that put me on my back for several weeks.  Had to use the little out of bed time to do day job related work.

[2018-10-29 18:45] abchatra commented on #1518
I can repro with the hex file you provided @machinehistories. We will take a look. Thanks!

[2018-10-29 18:54] jdarling commented on #1439
@microbit-mark changes have been rolled back in 0.0.3 and appear to be working again.

@alankrantas if you want control of the package I'll gladly add you to the package just ask.  I built it for a class I was teaching and put it out for anyone else to use.  You could have put in a PR so I could have had my wife click merge.

[2018-10-29 19:58] ganicke commented on #1548
Help link destination added in #1550

[2018-10-29 19:58] #1548 closed

[2018-10-29 20:10] machinehistories commented on #1518
I want to mention I had this issue with variable declaration for a few
days. However I reinserted all blocks in a new file and it now appears to
be working without lag. During the course of events I tried to make the
same file in V0 and it to had similar issues where the screen would
severely lag while attempting to make a variable. If you look over the
video link I posted you can see the glitch.

[2018-10-29 21:07] riknoll commented on #1518
The issue seems to be using `serial` blocks inside a `while (true)`. I'll see if maybe I can debounce our serial messages and fix the issue

[2018-10-30 04:01] samelhusseini commented on #1553
That makes sense @HyperDuino. Thanks for the feedback, I’ll look into this :)

[2018-10-30 04:10] HyperDuino commented on #1553
Thank you! I appreciate the responsiveness.

[2018-10-30 04:30] HyperDuino opened #1556 "V1 "my projects" is different than V0"
**Describe the bug**
When I look at "my projects" in V1, I see a different list than in V0

**To Reproduce**
https://makecode.microbit.org/:

![image](https://user-images.githubusercontent.com/13832091/47695884-6ab1ac00-dbc1-11e8-954b-63f637213680.png)

https://makecode.microbit.org/v0:

![image](https://user-images.githubusercontent.com/13832091/47695902-8321c680-dbc1-11e8-985d-5c51bb36e00d.png)

[2018-10-30 04:31] pelikhan commented on #1556
The projects in v0 and v1 will eventually diverge. The first time you open v1, we clone all your existing v0 projects but we only do this once. You can import v0 projects in v1 via a .hex file.

[2018-10-30 04:47] pelikhan commented on #1547
The strings have been uploaded to crowdin.

[2018-10-30 05:17] HyperDuino commented on #1556
There should probably be some information about that then when users are told that they can continue to use v0 for the next 2 years.  I was just going from the email announcement with the v0 option described.  I saw that another user in the "toggle" issue (https://github.com/Microsoft/pxt-microbit/issues/1553) said that they thought there were missing projects, and this is probably the cause.

[2018-10-30 08:18] microbit-mark commented on #1522
I'll contact package owners and ask for a release

[2018-10-30 14:16] abchatra commented on #1556
First time you move to v1 all the projects will be imported and then any new projects will be specific to v1 or v0. This is by design.

[2018-10-30 14:16] #1556 closed

[2018-10-30 15:03] ryanteck opened #1558 "Travis Picks v0 branch and not v1 branch"
**Describe the bug**
Travis CI Guide as provided for package owners seems to pick the v0 branch instead of the v1 branch even if v1 is specified.

**To Reproduce**
Steps to reproduce the behavior:
1. In package's .travis.yml
2. 'pxt target microbit v1' is ignored

**Expected behavior**
Tests to be tested against V1 branch

**Screenshots**
https://travis-ci.org/PiSupply/pxt-iot-lora-node failing on

[2018-10-30 16:12] Jaqster opened #1559 "Serial data from device not showing"
Repro -
Using Windows 10 app, and Micro:bit connected via USB cable (make sure micro:bit does not already have a serial write program flashed on it).

Open editor and create a serial write program:
basic.forever(function () {
    serial.writeValue("x", input.acceleration(Dimension.X))
})

As soon as I flash this code to the device, I expect to see the Show Console Device button appear and see the

[2018-10-30 16:55] guillaumejenkins commented on #1559
I really can't repro... Any thoughts on what else might contribute to your repro?

![serial data](https://user-images.githubusercontent.com/14299377/47735552-1f3fe200-dc43-11e8-9570-f1fdbbfc50c2.gif)

[2018-10-30 17:03] microbit-mark opened #1560 "sorry we couldn't recognize this file error missing in v1"
suport ticket: 18273
**Describe the bug**
in v0 Trying to add a file produced in a different editor gives a "sorry we couldn't recognize this file" error.

![screen recording 2018-10-30 at 04 54 pm](https://user-images.githubusercontent.com/31242877/47735691-f3cdef00-dc64-11e8-92ad-400efaf6b27f.gif)

The same file drag and drop imported to v1 does not error.
![screen recording 2018-10-30 at 04 55

[2018-10-30 22:19] guillaumejenkins commented on #1559
For the record after offline investigation we've discovered it's probably related to the first-time driver install, i.e. 1st time you plug a specific device to a specific computer

[2018-10-31 10:06] microbit-mark opened #1563 "Reduce delay for events"
support ticket: 18290

**Is your feature request related to a problem? Please describe.**
Using the On Gesture event handling - with say - button pressing and/or orientation detection (i.e. up/down) is very slow to respond.

e.g. running the code below:

[code]
and then pressing the a and b buttons rapidly, buffers up the key presses.

I understand why it would be slow for shaking - but for button

[2018-10-31 14:24] pelikhan commented on #1563
```basic.showString``` introduces a 400ms pause by design. Add ```led.stopAnimations()``` before show string to make it instant.

[2018-10-31 14:50] microbit-mark opened #1564 "Catch the Egg tutorial broken?"
support ticket: 18333

**Describe the bug**
There is some missing block documentation  in the tutorial at
https://makecode.microbit.org/lessons/catch-the-egg-game/ have they been deprecated?
and
should https://makecode.microbit.org/lessons/catch-the-egg-game/tutorial render in blocks or is the user expected to copy and paste the JS?

**Additional context**
User who reported this has recreated the

[2018-10-31 15:11] microbit-mark opened #1565 "v1 Serial blocks are confusing"
support ticket: 18334
**Describe the bug**
A clear and concise description of what the bug is.
In v0 the serial blocks made it obvious that they could accept an input/jigsaw piece
<img width="346" alt="screenshot 2018-10-31 at 15 06 51" src="https://user-images.githubusercontent.com/31242877/47797742-cb0a3000-dd1e-11e8-8c81-a549f6d1145f.png">

In v1 there isn't much contrast between serial write a

[2018-10-31 15:39] shaoziyang opened #1566 "pin20 servo simulator error"
**Describe the bug**
When using pin20 as servo drive, it will not show correctly wire in simulator. It is not work in **wiring instructions**.

**To Reproduce**
Steps to reproduce the behavior:
1. set Pin20 as servo drive.
2. It will show wrong pin in simulator.
3. wiring instructions will show blank.

**Screenshots**
![pin20_sim_err](https://user-images.githubusercontent.com/1037534/47801030-5197

[2018-10-31 16:39] abchatra commented on #1560
Import from v0 to v1 is not supported.

[2018-10-31 16:41] abchatra commented on #1563
This is by design.

[2018-10-31 16:41] #1563 closed

[2018-10-31 16:42] abchatra commented on #1564
@ganicke can you please fix this.

[2018-10-31 16:47] abchatra commented on #1565
This is a valid concern. Is this the shadow block? @riknoll can you take a look?

[2018-10-31 16:50] abchatra commented on #1558
@guillaumejenkins  can you take a peek?

[2018-10-31 16:56] abchatra commented on #1560
Sorry I miss understood. This is from non-makecode hex to makecode v1.

[2018-10-31 20:55] guillaumejenkins commented on #1558
This should be fixed, pxt-core@latest now correctly points to v1

[2018-10-31 21:16] pelikhan commented on #1558
The issue with the pxt-microbit npm package, not pxt-core.

[2018-10-31 21:17] pelikhan commented on #1558
https://www.npmjs.com/package/pxt-microbit Still pointing to v0

[2018-11-01 09:40] microbit-mark opened #1567 "Melody block in conditional loop has opposite effect to expected"
support-ticket: 18283

**Describe the bug**
If you place a melody playing forever in a loop with a conditional that should trigger the melody based on a parameter like light level, the audio appear to play in opposite to the condition.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/_2LDRKyEMy0Dv
2. move the light level in the simulator
3. hear the melody

[2018-11-01 11:20] jaustin commented on #1567
This also shows the issue quite well
https://makecode.microbit.org/_DVVe4KCga7F1

![image](https://user-images.githubusercontent.com/147113/47849009-17f61100-ddc8-11e8-955b-d42662681ed6.png)

As it starts, light level is 128 - no tone
If I drop the light level below 80, tone starts playing
When I move it back above 80, tone has a quick blip but starts playing again (Instead I think it should stop

[2018-11-01 14:56] pelikhan opened #1606 "Search box in block category looks broken in mobile"
On a phone, the search box cuts out the "Search" words and looks more like a bug. It should be hidden or replaced with an icon.
![image](https://user-images.githubusercontent.com/4175913/48113512-066d9880-e210-11e8-89b3-ab9ec81d0085.png)

[2018-11-01 15:08] jaustin opened #1568 "Offline: request for firewall action"
Using the pre-release offline app, on first run I get

![image](https://user-images.githubusercontent.com/147113/47849809-dc107b00-ddca-11e8-861a-a690e9d3c2b8.png)

What's the app trying to do? I think this may confuse/worry IT admins installing it.

[2018-11-01 15:31] pelikhan commented on #1564
the "lesson" are activities we bulked migrated from the touchdevelop time. I wonder where they got surfaced.

[2018-11-01 17:42] abchatra commented on #744
I am assuming this is fixed in the latest editor? If not reopen

[2018-11-01 17:42] #744 closed

[2018-11-01 17:46] abchatra commented on #1567
@jaustin Your bug is dupe of https://github.com/Microsoft/pxt-microbit/issues/805

[2018-11-01 17:48] abchatra commented on #1567
I can't repro the original bug. When you drag the light level below 80 I hear the music otherwise not. @microbit-mark can you repro?

[2018-11-01 22:54] #1552 closed

[2018-11-02 00:09] ganicke commented on #1164
The project provides description for just one team. Maybe say that: "players with the largest roster are the winners"?

[2018-11-02 07:11] sgk opened #1570 "Ring tone blocks change freq to "Middle C" when importing v0 projects"
**Describe the bug**
When importing v0 projects, the frequency settings of ring tone blocks change to "Middle C".

**To Reproduce**
1. Using v0 editor, create and download a project using the ring tone blocks.
2. Using v1 editor, import the project saved in the step 1.

**Expected behavior**
"Middle D", "Middle E" etc should be retained when importing.

**Screenshots**
![image](https://user-images

[2018-11-02 10:10] microbit-mark commented on #1567
The code in https://makecode.microbit.org/_PbcHX8Upp5iJ uses '>' so you should hear music above 80 and otherwise not. Right?

[2018-11-02 11:16] martinwork commented on #1567
I guess as long as the condition is true, the melody is repeatedly restarted, so it never gets going. When the condition becomes false, the melody is left in peace.

With the forever loop, a flag variable can be used to know when the condition **becomes** true. As there is no "stop melody" block, it's necessary to use "once" mode for the melody. The code below uses the same flag variable to enable

[2018-11-02 11:38] DavidWhaleMEF opened #1572 "V1 jumbles up block layout compared to V0"
**Describe the bug**
A clear and concise description of what the bug is.

A  carefully arranged program in v0 looks very jumbled when imported into v1

**To Reproduce**
import a hex file previously written in v0 into latest v1 editor

**Expected behavior**
A clear and concise description of what you expected to happen.
The layout should be the same as in v0

**Screenshots**
Add screenshots to help

[2018-11-02 11:44] microbit-mark opened #1573 "Set brightness changes position of LEDs in Edge"
**Describe the bug**
When using set brightness at different values the position of the LEDs is changed int he Edge browser

![screen recording 2018-11-02 at 11 40 am](https://user-images.githubusercontent.com/31242877/47913527-5953f280-de94-11e8-9763-7618ba20f6f5.gif)

**Expected behavior**
LEDs maintain position in all browsers

Maybe related
https://github.com/Microsoft/pxt-microbit/pull/651

[2018-11-02 13:08] andrewfstratton commented on #1563
Quick comment - it's led.stopAnimation()

[2018-11-02 17:04] abchatra commented on #1570
@sgk good catch. I can repro easily. @riknoll please investigate.

[2018-11-02 17:05] abchatra commented on #1570
Repro URL: https://makecode.microbit.org/_281do30YHTCL

[2018-11-02 17:06] abchatra commented on #1547
Fixed

[2018-11-02 17:06] #1547 closed

[2018-11-02 17:09] abchatra commented on #1291
Only the pending part is teams updating their URL.

[2018-11-02 17:09] #1291 closed

[2018-11-02 17:12] abchatra commented on #1572
This is hard to fix. Sizes, shape  and zoom of the blocks are changed. It is very hard to calculate the right placement. User will have to rearrange their blocks.

[2018-11-02 17:15] abchatra commented on #1262
Closing as original issue is fie=xed

[2018-11-02 17:15] #1262 closed

[2018-11-02 17:16] abchatra commented on #1450
Can't repro.

[2018-11-02 17:17] abchatra commented on #1475
Can't repro.

[2018-11-02 17:17] #1475 closed

[2018-11-02 17:19] abchatra commented on #1567
if you start the melody forever you will hear it forever. This is by design.

[2018-11-02 17:19] #1567 closed

[2018-11-02 17:19] #795 closed

[2018-11-02 17:20] #936 closed

[2018-11-02 17:22] abchatra commented on #1559
This is understood. First time hardware has a delay and you need plug and unplug

[2018-11-02 17:22] #1559 closed

[2018-11-02 17:29] abchatra commented on #1186
Fixed

[2018-11-02 17:29] #1186 closed

[2018-11-02 17:30] #1101 closed

[2018-11-02 17:39] abchatra commented on #689
@guillaumejenkins FYI

[2018-11-02 17:41] abchatra commented on #799
Done

[2018-11-02 17:41] #799 closed

[2018-11-02 17:43] abchatra commented on #961
Won't fix from our end.

[2018-11-02 17:43] #961 closed

[2018-11-02 17:45] abchatra commented on #1182
This is fixed

[2018-11-02 17:45] #1182 closed

[2018-11-02 17:45] abchatra commented on #1191
Fixed

[2018-11-02 17:45] #1191 closed

[2018-11-02 17:51] abchatra commented on #1564
Fixed

[2018-11-02 17:51] #1564 closed

[2018-11-02 17:53] imhori opened #1575 "Block can't be rendered in some Simplified Chinese's Reference Docs"
**Describe the bug**
Below pages and related sub-level Docs pages have some rendering block fail.
https://makecode.microbit.org/reference/bluetooth
https://makecode.microbit.org/reference/devices

![bluetoothrenderfail](https://user-images.githubusercontent.com/41528875/47931404-ac1bc180-df09-11e8-9f47-f5dfa6634909.png)

![devicerenderfail](https://user-images.githubusercontent.com/41528875/479315

[2018-11-02 19:44] coderdojocastleknock commented on #1564
A couple of comments re patch

1. An obsolete block is still referenced, i.e in https://makecode.microbit.org/lessons/catch-the-egg-game/activity challenge 1, game.removelife(1). This  cannot be recreated using current blocks.

as an aside, the leds are a 5x5 matrix,  counting from 0. So why is eggx  set from 0 - 5 in above link ?

[2018-11-02 20:58] ganicke commented on #1564
The **removeLife()** block is enabled in #1569 but won't appear until the next release.

[2018-11-02 22:15] samelhusseini commented on #1544
Fixed in v0/v0-beta

[2018-11-02 22:15] #1544 closed

[2018-11-02 22:15] samelhusseini commented on #1525
Fixed in v0/v0-beta

[2018-11-02 22:15] #1525 closed

[2018-11-03 05:30] pelikhan opened #1578 "assembly error while compiling package"
package: https://github.com/makecode-extensions/OLED12864_I2C
repro example:
https://makecode.microbit.org/_9iF6kCekWEYY

[code]

[2018-11-03 16:37] alankrantas opened #1581 "Pick Random's upper limit become blank in imported V0 and V1 Beta projects"
**Describe the bug**

If you import older projects written in V0 and V1 beta projects, the Pick Random blocks's upper limit will be blank and hence only return zero.

**To Reproduce**

Simply create a code containing Pick Random blocks in V0 editor, download it and open it in V1.

**Expected behavior**

The upper limit shouldn't be blank.

**Screenshots**

![microbit-screenshot](https://user-image

[2018-11-04 13:40] coderdojocastleknock commented on #1564
short answer, google microbit catch the egg

first link is the old site
https://www.microbit.co.uk/td/lessons/catch-the-egg-game/tutorial

this is depreciated, so looked at 5th link

https://makecode.microbit.org/lessons/catch-the-egg-game/activity

On Fri, Nov 2, 2018 at 9:08 PM Galen Nickel <notifications@github.com>
wrote:

[2018-11-04 16:38] pelikhan commented on #1564
A lot of these activities have been migrated at https://makecode.microbit.org/projects

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: coderdojocastleknock <notifications@github.com>
Sent: Sunday, November 4, 2018 5:40 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Comment
Subject: Re: [Microsoft/pxt-microbit] Catch the Egg tutorial broken? (#1564)

short an

[2018-11-04 17:10] coderdojocastleknock commented on #1564
thats my point. Its migrated but broken. Tutorial uses blocks which do not
exist now - eg game-lives blocks. Also I reiterate point re picking a
random led x position on a 0 - 4 grid by looking for a random number from 0
- 5 !

On Sun 4 Nov 2018, 16:38 Peli de Halleux <notifications@github.com wrote:

[2018-11-04 18:12] eric-camplin opened #1585 "Music Blocks change to"C" when changed to French"
**Describe the bug**
Change from English to French modifies note to be "C" for any different note

**To Reproduce**
Steps to reproduce the behavior:
youtu.be/mPUhwcriWCE

1. view https://makecode.microbit.org/_0E3V7eJ2i7ye
2. change language from English to French
3. open the link from history

**Expected behavior**
No change in Music tone

**Screenshots**
Add screenshots to help explain your prob

[2018-11-04 22:11] ganicke commented on #1564
When you use the 'beta' editor: https://makecode.microbit.org/beta#editor you will notice the blocks for lives are present:

![image](https://user-images.githubusercontent.com/27789908/47970447-58f55c00-e03a-11e8-8b9b-1976dd3a3827.png)

The life APIs were always there, just not available as blocks. As mentioned earlier, they are turned on in a recent code update. The new blocks will be available w

[2018-11-04 22:14] coderdojocastleknock commented on #1564
great. thanks.

On Sun 4 Nov 2018, 22:11 Galen Nickel <notifications@github.com wrote:

[2018-11-05 01:36] koichii commented on #1585
I would like to report the similarly problem.

**Describe the bug**
Edit v0 project in the new editor modifies note to be "C" for any different note

**To Reproduce**
Steps to reproduce the behavior:
1. oepn https://makecode.microbit.org/_LxsFW1exD34j
2. press Edit button

**Expected behavior**
No change in Music tone

[2018-11-05 12:09] kristianpedersen opened #1590 "LED functions don't do anything in Chrome/Win10app, but work in Firefox"
On both Chrome and in the Windows 10 app, the LED functions aren't working on my machine.
They do however work as expected in Firefox.

The code below should display a heart, but nothing happens - not in the preview, and not on the microbit itself, but it works fine in Firefox.

basic.showIcon(IconNames.Heart)

[2018-11-05 12:32] microbit-mark opened #1591 "WebUSB enabled by default in Chrome"
Web USB is enabled in Chrome v70 in the editor , but it's still a feature we are testing in Beta.
![screenshot 2018-11-05 at 12 27 45](https://user-images.githubusercontent.com/31242877/47998235-7ab41900-e0f6-11e8-93e3-30d2bfa62595.png)

It's my understanding that we aren't  launching webUSB at this stage, so this should be removed.

^^ @halspeed @jaustin

[2018-11-05 16:10] guillaumejenkins commented on #1568
I agree that it's really annoying, but I've tried really hard to get rid of that dialog and came to the conclusion that it's not possible. Most programs will trigger that dialog (Minecraft and Code Connection both trigger it, and we haven't received complaints from schools about that).

This is an OS-level behavior that triggers whenever an app starts listening on a port. Windows wants the user to

[2018-11-05 16:10] #1568 closed

[2018-11-05 16:29] guillaumejenkins commented on #1572
Note that a possible workaround is to Right-Click on the workspace and select Format, which arranges the blocks neatly. The only problem is you don't control where the blocks end up, so it will probably break up groups of blocks that you wanted to keep together

[2018-11-05 16:38] guillaumejenkins commented on #1450
I can repro on Chrome and I agree it's a bad bug. It pretty much renders the serial editor useless for data collection outside of file download.

In the following GIF, 1) only the bottom graph shows value tooltips correctly (top graph has visual glitches making it impossible to read) and 2), the tooltips don't appear while serial is paused

![data tooltip](https://user-images.githubusercontent.com

[2018-11-05 17:03] halspeed commented on #1591
Nice catch @microbit-mark. This feels like it should be under "experiments" at the moment. I'd like to see us put some thought into automating/simplifying the firmware update.

I'd also like to see a status indicator in MakeCode that the micro:bit is successfully paired, as well as, a way to disconnect/unpair.

[2018-11-05 17:06] abchatra commented on #1585
This is dupe of https://github.com/Microsoft/pxt-microbit/issues/1570

[2018-11-05 17:06] #1585 closed

[2018-11-05 17:07] abchatra commented on #1590
Please share the script and use the bug template to file the bug. We can't repro this issue.

[2018-11-05 17:08] abchatra commented on #1591
This is as per discussion with @jaustin. Feature is hidden enough and there are clear enough instructions on how to upgrade.

[2018-11-05 17:12] abchatra commented on #1591
All other issues are tracked here: https://github.com/Microsoft/pxt-microbit/issues?utf8=%E2%9C%93&q=is:issue+is:open+label:webusb

[2018-11-05 17:19] jaustin commented on #1591
My bad, I got confused and tested in Firefox on desktop this morning not Chrome (! pre-coffee error !) and thought we had a thing with it on mobile not elsewhere. Agree that it's fine for it to be there without a flag but I think we're all agreed that it needs new Ux before it is no longer in beta... The things Hal suggests are good. Sorry for the confusion I caused here.

[2018-11-05 17:21] pelikhan commented on #1591
Still confused. So it stays in the menu right?

[2018-11-05 17:23] guillaumejenkins commented on #1558
Sorry, I meant pxt-microbit, not pxt-core

pxt-microbit@latest is correctly pointing to microbit v1

![image](https://user-images.githubusercontent.com/14299377/48014878-a551a200-e0f5-11e8-9147-08d58e1151ae.png)

[2018-11-05 17:29] halspeed commented on #1591
It sounds like there's some confusion about Web USB being a shipping feature. I was not aware of that being the case. And we haven't included it in any of the comms about v1.

No offense @abchatra, but the instructions are clear for you and me. I'm not convinced they are clear for an elementary school teacher. At a bare minimum, a teacher only needs to download the .hex file, not the whole .zip fi

[2018-11-05 17:32] abchatra commented on #1591
Browsers don't have access to hardware and can't update the hardware with the update button. (That is way WebUSB is such a game changer).

I agree, we should improve the instructions.

These docs can be updated live. Feel free to give pull request here;
https://makecode.microbit.org/device/usb/webusb/troubleshoot
There is an edit button at the bottom.

[2018-11-05 17:34] pelikhan commented on #1591
I see that there is a new firmware guide https://microbit.org/guide/firmware/ . Is that what we should point to?

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Abhijith Chatra <notifications@github.com>
Sent: Monday, November 5, 2018 9:32 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Comment
Subject: Re: [Microsoft/pxt-microbit] WebUSB enabled by default i

[2018-11-05 17:45] halspeed commented on #1591
FYI, they are also different versions 0249 vs 0250

[2018-11-05 21:07] eric-camplin opened #1592 "Variable block allows keyboard symbols such as comparison operators"
Variable syntax not enforced in blocks - can have a variable name such as "x = 1"

New to coding teacher was following the left to build code on right and it was without error

![image](https://user-images.githubusercontent.com/12022944/48026523-2a8b8580-e0fb-11e8-9297-01a0db4922d2.png)

Note: in JavaScript view the "x=1" is "x1"

Expected: should have error for variable syntax with symbols such a

[2018-11-05 22:50] samelhusseini commented on #1592
Saw this on Twitter, thanks @eric-camplin for filing! We'll take a look.

[2018-11-05 23:40] abchatra commented on #1581
Please add RCA for this bug.  https://github.com/Microsoft/pxt/blob/master/docs/develop/RCATemplate.md

[2018-11-05 23:52] abchatra commented on #1581
@alankrantas we can't repro this bug. I tried to create a script in makecode.microbit.org/v0 and it correctly imported. Is it possible for you to share your program in v0 and give us the link to repro?

[2018-11-05 23:52] abchatra commented on #1581
Downloads.zip also got imported correctly in the latest editor

[2018-11-06 00:09] alankrantas commented on #1581
I just tried it again and the blocks are now loaded correctly. This was not the case before I reported this bug (happened on different computers I've used).

Perhaps it is related/tied to other issues and are already fixed.

[2018-11-06 00:09] #1581 closed

[2018-11-06 08:26] microbit-mark opened #1594 "Can't type in text box on Android Chrome"
**Describe the bug**
When attempting to enter text into a show srting block on Android the on screen keyboard appears and dissapears before you are able to enter the text

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'makecode.microbit.org' in Chrome on Android
2. Create a show string block
3. Tap in the box to try and alter the text
4. See error

**Expected behavior**
User should be

[2018-11-06 09:30] microbit-mark commented on #1591
@abchatra https://microbit.org/guide/firmware/ is the right one to point to. We're pending a release that will update the firmware on that page to 250. This page should now be the source of truth for micro:bit firmware.

Since this is available to all users, can you assign an action to update your docs:

Specifically these statements need clarifying and offering better examples/gifs/vids of what u

[2018-11-06 15:03] abchatra commented on #1594
This is fixed in /beta

[2018-11-06 15:03] #1594 closed

[2018-11-06 16:14] microbit-mark commented on #1591
re-opening to
1) update docs on web-usb
2) point ot firmware page

[2018-11-06 16:15] abchatra commented on #1591
Open a new issue.

[2018-11-06 16:15] #1591 closed

[2018-11-06 16:25] Jaqster opened #1596 "Text on blocks not aligned"
In the Windows app/Edge on an older Surface device, the text is bleeding off the left edge of the blocks.  Specifically in the Input and Radio blocks.
<img width="362" alt="input" src="https://user-images.githubusercontent.com/22108954/48077987-71ca5280-e19d-11e8-876e-3402a788f478.png">
<img width="447" alt="radio1" src="https://user-images.githubusercontent.com/22108954/48077994-74c54300-e19d-11e

[2018-11-07 06:05] pelikhan opened #1598 "Search box in block category looks broken in mobile"
On a phone, the search box cuts out the "Search" words and looks more like a bug. It should be hidden or replaced with an icon.
![image](https://user-images.githubusercontent.com/4175913/48113512-066d9880-e210-11e8-89b3-ab9ec81d0085.png)

[2018-11-07 14:32] microbit-rosslowe opened #1599 "Docs: Missing hex file from 14 week CS curriculum"
**Describe the bug**
In the intro to CS 14 week curriculum: https://makecode.microbit.org/courses/csintro
In the activity section of 1.Making
https://makecode.microbit.org/courses/csintro/making/activity

A hex file is missing. In the PDF version (
https://onedrive.live.com/?authkey=%21AEWPObnLnAobvkw&cid=416406873CB120AB&id=416406873CB120AB%21141&parId=416406873CB120AB%21111&o=OneUp) is the follo

[2018-11-07 17:42] abchatra commented on #1599
@ganicke Can you take a look?

[2018-11-07 17:43] abchatra commented on #1590
Can't repro

[2018-11-07 17:43] #1590 closed

[2018-11-07 18:04] pelikhan commented on #1599
We can’t store .hex files!!!

[2018-11-07 18:56] pelikhan commented on #1591
We've updated the docs to point to the same .hex file and pointing to the guide page.
![image](https://user-images.githubusercontent.com/4175913/48153721-c643ff80-e27b-11e8-9f0b-ab6b545e241f.png)

[2018-11-08 03:10] CleoQc opened #1600 "Pre-filling a block with other blocks."
Maybe not so much an issue as me not understanding something. I was investigating how to get an array block with the current V1, and found the following behaviour.

If I create the following block:
    //% block="numbers: %lineOne %lineTwo %lineThree %lineFour %lineFive"
    //% lineOne array  eg : 0
    //% lineTwo array  eg : 0
    //% lineThree array  eg : 0
    //% lineFour array  eg : 0
    /

[2018-11-08 05:04] ganicke commented on #1599
The section in the lesson activity describes how to download the hex file while using the editor. The are no actual links to any hex files from the lesson page itself.

[2018-11-08 05:17] pelikhan commented on #1599
The issue is in the OneDrive...

[2018-11-08 10:37] microbit-mark opened #1601 "v0 programs not upgrading/compiling correctly"
support ticket: 18458

**Describe the bug**
Larger projects that have been created in v0 will compile in the v1 editor but do not run on the micro:bit.

**To Reproduce**
Steps to reproduce the behavior:
1. Flash [microbit-acceleration-working(2).hex.zip](https://github.com/Microsoft/pxt-microbit/files/2561296/microbit-acceleration-working.2.hex.zip) to micro:bit, see program working
2. Open above

[2018-11-08 13:37] kristianpedersen commented on #1590
I figured out what was wrong. The LEDs don't work when I have loaded the "mearm" extension.

[2018-11-08 14:42] microbit-mark opened #1602 "Doc update: https://makecode.microbit.org/device/reactive"
The document here is really useful and informative.

https://makecode.microbit.org/device/reactive

Could the "TODO Diagram"s be created?

[2018-11-08 15:58] abchatra commented on #1602
@tballmsft Is this your doc?

[2018-11-08 16:18] abchatra commented on #1601
There are arithmetic division in the hex file and they won't be upgraded to Math.idiv automatically. (They do when there is a blocks file). But these don't have a blocks file. Can you ask the user to upgrade divisions to Math.idiv if they need to be integer division and report back?

[2018-11-08 16:55] abchatra opened #1604 "Shared page losing it color for a custom category"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/v0/28908-31820-65101-57564'
2. Click on 'Edit'
3. 'Lets talk Science' doesn't have color

**Expected behavior**
If you edit in old editor, you don't see this issue.

**Screenshots*
![image](https://user-images.githubusercontent.com/6107272/48213977-d15a6680-e333-11e8-8fbb-c448ce6c1447.png)

[2018-11-08 17:17] abchatra commented on #1604
Ok set the color to color="#5b99a5" in the namespace COZIR instead of color=190. The way you specify the namespace color has changed in the new editor. You can also try the annotations here: https://makecode.com/playground

https://twitter.com/FergeeksonGirl/status/1060242360221622272

@samelhusseini @riknoll I am assuming this is intentional.

[2018-11-08 17:17] #1604 closed

[2018-11-08 18:42] samelhusseini opened #1605 "Pins category is above functions"
This is /beta only.

![screen shot 2018-11-08 at 10 41 46 am](https://user-images.githubusercontent.com/16690124/48220012-fc988200-e342-11e8-8568-ae2bf3898339.png)

Should be fixed before release.

[2018-11-09 03:32] #1366 closed

[2018-11-09 03:33] AimeeCao18 opened #1608 "The simulator loads blanks on the "Micro:Coin""
**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta#
2. Scroll down the scroll bar to "Radio Games"-> Click "Micro:Coin"-> Click "Show Instructions"
3. Click the button "Triangle" at the bottom right corner

**Expected result:**
The simulator works normally

**Actual result:**
The simulator loads blanks on the "Micro:Coin"
![actual](https://user-images.githubusercontent.com/44188776

[2018-11-09 19:37] samelhusseini commented on #1605
Fixed.

[2018-11-09 19:39] #1605 closed

[2018-11-09 21:23] Jaqster opened #1612 "Old Scripts"
I tried importing the following old scripts, and they didn't import correctly into Blocks:

[microbit-Calculator.hex.txt](https://github.com/Microsoft/pxt-microbit/files/2567533/microbit-Calculator.hex.txt)

[microbit-flashing-heart.hex.txt](https://github.com/Microsoft/pxt-microbit/files/2567537/microbit-flashing-heart.hex.txt)

[2018-11-09 21:33] Jaqster opened #1613 "Snap the Dot Tutorial"
Step 7 - Hint is not displaying in blocks
![step7](https://user-images.githubusercontent.com/22108954/48289195-7607a180-e423-11e8-97f7-a9f355c398f5.PNG)

Game - Add Score and Game Over blocks are not appearing in Toolbox
![snapdot](https://user-images.githubusercontent.com/22108954/48289281-be26c400-e423-11e8-8cdc-c74169d2cb85.PNG)

[2018-11-09 21:39] guillaumejenkins opened #1614 "Hints bleed out in side doc"
I think we had a bug on this but I can't find it, so worst case close this as dup.

![image](https://user-images.githubusercontent.com/14299377/48289572-f76c2d80-e43d-11e8-9952-9d9ff138a0e7.png)

[2018-11-09 22:00] riknoll opened #1615 "Share page content is aligned wrong in tablet view"
The Share page content is centered, except in the tablet view where it suddenly becomes left aligned:

![share_page_resize](https://user-images.githubusercontent.com/13754588/48290414-a94c2f80-e427-11e8-8876-b3017da8a027.gif)

Tested in Chrome and Safari

[2018-11-12 10:38] microbit-rosslowe commented on #1599
Just to clarify, there are two places in which this doesn't behave as expected (but it's the same activity / file missing):
1. In the online version:
https://makecode.microbit.org/courses/csintro/making/activity there is a reference to "select the file that you saved on your computer in the previous step" but there is no file in the previous step. Could this be a link to a Makecode project, with a

[2018-11-12 11:15] ganicke commented on #1613
Hmm, can't repro it, seems to work. Maybe something was fixed in the latest bump:

![image](https://user-images.githubusercontent.com/27789908/48343938-8dfc4280-e628-11e8-84d1-2271d801cb61.png)

![image](https://user-images.githubusercontent.com/27789908/48344098-019e4f80-e629-11e8-8e58-aa51d74a9429.png)

[2018-11-12 13:30] microbit-mark opened #1621 "Android: can't edit musical keyboard in music blocks"
support ticket: 18539

**Describe the bug**
When using a play tone block for example, trying to edit the musical value results in it converting to a number. The music keyboard is hidden when the android keyboard appears.

[See video](https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/19034515448/original/VID_20181112_204542.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Cr

[2018-11-12 16:48] smartyw opened #1623 "Firmware failing to start?"
**Problem**

1. See the code here: https://www.bittysoftware.com/temp/touchpad_control.js

2. Build and install that project that and you'll see a message scroll across the screen on start-up.

3. Uncomment the last line:

// control.onEvent(TOUCHPAD_CONTROL, 0, touchpadControl)

Build again and reinstall and you'll find that the start message does not appear and there's no Bluetooth advertising,

[2018-11-12 17:40] pelikhan opened #1624 "Missing `hex` string literal template"
Needs to be imported from common packages.

[2018-11-12 17:49] smartyw commented on #1623
Correction. I'm converting some C/C++ that I know worked fine the last time I built it. Just read that DAL issue though and now understand that the latest DAL release may have reduced the RAM available for Bluetooth. I'll test that code built against the new DAL and check whether or not it still works.

[2018-11-12 17:56] pelikhan commented on #1623
Right, make sure you're trying it on the same DAL release.

[2018-11-12 20:29] #1164 closed

[2018-11-12 21:35] johnstonmatt opened #1625 "readme directs to clone non-existent branch"
readme says: "git clone https://github.com/microsoft/pxt-microbit --branch v1" which does not exist
![screen shot 2018-11-12 at 5 34 52 pm](https://user-images.githubusercontent.com/5455542/48376461-5f6e7e00-e6a1-11e8-8018-f51c2943c2bc.png)

[2018-11-12 22:06] fergeeksongirl commented on #1604
Thank you for your help!  I was able to update the file and it works great!

Question - when I save the new code and want to share the file - I get an entirely new link.

Is there any way to edit the file but NOT create a new URL link when we publish it?

[2018-11-12 22:08] abchatra commented on #1604
Thanks @fergeeksongirl Shared link are always read-only and can't be modified after you share. As shared links are public, this avoids one student tampering another ones by modifing his shared link.

[2018-11-12 22:09] abchatra commented on #1604
There is no way today, but we will look into this scenario in the future.

[2018-11-12 22:19] fergeeksongirl commented on #1604
Is there any way that it can be edited from “behind the scenes”

I totally get the lockdown of it - it’s just that we have used a bit.ly to point to the custom file and we dot have a professional version of bit.ly...

We have a ridiculous amount of guided material we’d need to update for our project.

Is there any way to have it updated directly on the url whatsoever?

This is an example of where

[2018-11-12 22:41] abchatra commented on #1604
Unfortunately we only store encrypted version of scripts and can't update. We will definitely keep this scenario in the future.

[2018-11-12 22:46] abchatra commented on #1604
@samelhusseini Anything we could do here?

[2018-11-12 22:57] fergeeksongirl commented on #1604
Is there any way that it can be edited from “behind the scenes”

I totally get the lockdown of it - it’s just that we have used a bit.ly<http://bit.ly> to point to the custom file and we dot have a professional version of bit.ly<http://bit.ly>...

We have a ridiculous amount of guided material we’d need to update for our project.

Is there any way to have it updated directly on the url whatsoever?

[2018-11-12 23:32] abchatra commented on #1625
Fixed

[2018-11-12 23:32] #1625 closed

[2018-11-13 09:32] microbit-matt-hillsdon opened #1628 "showString has different scheduling behavior in the v1 simulator and on the micro:bit"
Support ticket: 18483

**Describe the bug**
showString has different scheduling behaviour in the v1 simulator and on the micro:bit.

**To Reproduce**

Use [this shared project](https://makecode.microbit.org/22389-36507-73288-52476) or the JavaScript below:

[code]

Steps to reproduce the behavior:

1. Click A in the simulator after "1" is displayed. Get sequence 1, A, 2, B, 1, 2 ...
2. Download th

[2018-11-13 14:56] microbit-mark commented on #1567
Do you not think this is a confusing experience though @abchatra? Would a 'stop melody' block not be more satisfactory?

[2018-11-13 15:06] microbit-mark commented on #1565
Can you update this one @abchatra

[2018-11-13 15:18] pelikhan commented on #1567
We could have a stop melody block.

[2018-11-13 15:21] pelikhan commented on #1567
Foreground, background or both I guess.

[2018-11-13 15:22] pelikhan commented on #1567
We can have a drop down.

[2018-11-13 15:31] abchatra commented on #1628
Increase the pause to 5sec you will see the exact behavior in simulator as well. One sec is too small to account for all the fiber timing issues. Note desktop is not a exact emulation of hardware. Desktop is a simulation.

No repro.

[2018-11-13 15:31] #1628 closed

[2018-11-13 15:34] abchatra commented on #1565
I have marked it as next-release.

I am not sure how big this issue is. There is no way to create buffer in blocks. So only input for write buffer is read buffer. Do you have the use case scenario?

[2018-11-13 15:43] abchatra commented on #1567
I like stop melody. @microbit-mark Is it possible to open an feature request issue for stop melody?

[2018-11-13 15:47] microbit-mark commented on #1565
The user who reported the issue was just confused, thinking there was a mistake in the software that had created a duplicate of serial read buffer within serial write buffer. It's more a design issue than a technical one. Maybe a border around the block indicating it's the input?

![47797947-45d34b00-dd1f-11e8-8306-76e9a43273fb](https://user-images.githubusercontent.com/31242877/48424810-5d68f580-

[2018-11-13 15:54] microbit-mark opened #1629 "New Music Block: Stop Melody"
**Is your feature request related to a problem? Please describe.**
It is an often requested feature to be able to stop a melody in code. Eg within a forever loop. This example https://github.com/Microsoft/pxt-microbit/issues/1567 creates a program that
plays a melody  in a loop but nothing is heard. Same with #1306

**Describe the solution you'd like**
A block to stop melody, with a dropdown to ch

[2018-11-13 15:57] microbit-mark commented on #1560
Is this something we can prioritise? It would be good to show an error if the file isn't recognised as a makecode HEX. Is there a reason we wouldn't want that?

[2018-11-13 17:39] fergeeksongirl commented on #1604
For real!!!

Oh my goodness!!!!!

I shall stay tuned with my fingers crossed - thank you soooooooooo much!

:)

------------------------------------------------------------------
Jennifer Ferguson
Coordinator, Classroom Technology
Let’s Talk Science - http://www.letstalkscience.ca
Mobile: 403-390-2159

Find us on Facebook: http://www.facebook.com/LetsTalkScience
Follow us on Twitter: http://twitte

[2018-11-13 17:40] pelikhan commented on #1604
Is your package approved already too?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jenn Ferguson <notifications@github.com>
Sent: Tuesday, November 13, 2018 9:39:56 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Comment
Subject: Re: [Microsoft/pxt-microbit] Shared page losing it color for a custom category (#1604)

For real!!!

Oh my goodness!!!!!

I shall

[2018-11-13 18:22] microbit-carlos opened #1631 "Issue with DAPLink 0234 and v1 hex file writing to RAM"
**Describe the bug**
MakeCode v1 writes the Source Embedding in RAM (starting at address 0x2000_0000), and this is causing some issues with micro:bits running DAPLink 0234 (the school drop).

We had a couple of reports from users saying that hex files that used to work in v0 no longer worked when imported to v1. We traced this down to an issue in DAPLink 0234, when writing data to RAM above a cert

[2018-11-13 19:15] pelikhan commented on #1631
@mmoskal

[2018-11-13 20:04] mmoskal commented on #1631
I thought daplink would stop interpreting hex file at "EOF" marker (01 record or something). I guess it doesn't. We can use any address for the embedded source, so we can just move it to 0x8000_0000 or something I guess.

[2018-11-13 21:43] tballmsft commented on #1602
yes, this is mine.

[2018-11-13 23:55] #1602 closed

[2018-11-14 00:02] abchatra commented on #1631
Is this specific to 0234?

[2018-11-14 08:04] smartyw opened #1636 ""2" added to function names when switching from JS to Blocks view"
**Describe the bug**
When switching to Blocks view from JavaScript view, sometimes a "2" is added to the end of my function names. This causes compilation errors where those functions are called by their original names.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new MakeCode project for micro:bit
2. Switch to JavaScript view and delete the existing code
3. Copy and paste the co

[2018-11-14 09:15] microbit-giles opened #1637 "Block to convert number to string"
**Is your feature request related to a problem? Please describe.**
There is a 'parse to number' block for converting strings to numbers, but apparently no block to do the reverse, convert numbers to strings (like str(number) in Python, for example).

**Describe the solution you'd like**
I would like there to be a matching 'parse to string' block.

**Describe alternatives you've considered**
I'm to

[2018-11-14 10:39] microbit-carlos commented on #1631
We tested with 0234 and 0241+, and the problem presents itself only in 0234.
So something has changed or been fixed between those releases.

I can't say if 0241+ stops at the end of file marker, but at least it doesn't erase flash and write to it again.

I guess a simple test would be to add a malformed hex line after the EOF marker and see if DAPLink throws a fail.txt.

[2018-11-14 13:36] ChrisDorna opened #1639 "Missing dropdown arrow in Download screenshot"
When I download a screenshot of a script with a mathematical operation (+, -, * etc), I do not see the white  dropdown arrow after the operator:

<img width="131" alt="editor" src="https://user-images.githubusercontent.com/20975602/48485959-7d132300-e81a-11e8-9726-b62785101c29.png">

![missing](https://user-images.githubusercontent.com/20975602/48485968-83090400-e81a-11e8-9eb4-6038c7994d41.png)

I

[2018-11-14 14:06] microbit-mark opened #1640 "Sending serial number via radio converts it to a float"
support ticket: 18385

**Describe the bug**
When sending a serial number via radio, if the serial number is a positive integer, the output adds additional decimal places.

serial is 0x791b328b  (2031825547 in decimal) is received as 2031825546.9999999
serial is 0x761b118b  (1981485451 in decimal) is received as 1981481450.999999
serial is -0x7292b83e (1922218046 in decimal) is recieved as 19222180

[2018-11-14 15:30] guillaumejenkins commented on #1637
Can you describe your use case for converting a number to a string?

[2018-11-14 15:36] pelikhan commented on #1640
This is a different bug.

[2018-11-14 15:45] ChrisDorna commented on #1639
The arrow is also missing on other blocks with drop down options.

[2018-11-14 15:47] ChrisDorna commented on #1639
Oops, wrong button. Issue still exists. Also on other blocks with drop down options.

[2018-11-14 16:31] microbit-giles commented on #1637
Good question - not off the top of my head! As part of my work I am learning more about MakeCode so I can explain it to educators and prepare learning resources and it occurred to me that most programming languages offer conversion both ways, and that MakeCode should follow suit. It seemed odd to have one but not the other.

[2018-11-14 16:54] guillaumejenkins commented on #1637
Right, it seems like teaching string conversion is one of the only things this would be useful for, especially since all the micro:bit APIs that take a string (Show String, Radio Send String, etc) already accept number arguments (they'll be automatically converted).

Our stance on teaching more advanced programming concepts has always been that it should happen in the JavaScript editor, and type c

[2018-11-14 16:57] microbit-giles commented on #1637
Thanks, would be great to mention the workaround in the docs.

There are other blocks that perform what I regard as highly advanced functions and it just seemed odd to me that there's a specific block for going one way but not the other, but a reference in the documentation would be very helpful!

[2018-11-14 17:01] pelikhan commented on #1637
The text category should have a “to String” block that takes any expression block, just like JavaScript.

From: Guillaume Jenkins <notifications@github.com>
Sent: Wednesday, November 14, 2018 8:55 AM
To: Microsoft/pxt-microbit <pxt-microbit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Microsoft/pxt-microbit] Block to convert number to string (#1637)

Right, it s

[2018-11-14 17:39] mdeutschmtl opened #1643 "Duplicated functions get numbered incorrectly"
**Describe the bug**
The function-duplicating mechanism sometimes goes wrong, resulting in unusual suffix numbers. Seems to be confusing a trailing number in the function name with the suffix-number issued by MakeCode.

**To Reproduce**
Seems to happen when creating 2nd and 3rd generation duplicates. May only happen when the user toggles to look at the Javascript. These numbers sometimes “leak” ba

[2018-11-14 17:43] guillaumejenkins commented on #1643
I'll fix this behavior as part of https://github.com/Microsoft/pxt-microbit/issues/689

[2018-11-14 17:53] abchatra commented on #1535
Fixed

[2018-11-14 17:53] #1535 closed

[2018-11-14 18:03] abchatra commented on #1643
We can't repro this. Please give us repro steps.

[2018-11-14 18:08] abchatra commented on #1636
May be related to https://github.com/Microsoft/pxt-microbit/issues/1643
I can repro this.

[2018-11-14 19:03] mdeutschmtl commented on #1643
As per description, I don't have a 100% repro recipe, but the example URL has it. #1636 captures the same issue.

[2018-11-14 21:03] guillaumejenkins commented on #1636
Will fix as part of https://github.com/Microsoft/pxt-microbit/issues/689

[2018-11-14 21:20] abchatra commented on #1612
These files are shared when in typescript editor and they will be in typescript when opened.

[2018-11-14 21:20] #1612 closed

[2018-11-14 21:21] abchatra commented on #1606
Fixed

[2018-11-14 21:21] #1606 closed

[2018-11-14 21:36] smartyw commented on #1636
Thanks. Any thoughts on a workaround in the meantime? If you have any insight into what triggers the function renaming behaviour, is there a way to prevent it from happening?

[2018-11-14 22:51] f-steff opened #1645 "Sprite brightness update create temporary and erratic screen artifacts when graph plot is performed"
**Describe the bug**
Updating the brightness of sprites in functions where Graph Plot is enabled, produces temporary and erratic screen artifacts.
The behaviour is identical on both hardware and in the simulator.

**To Reproduce**
Steps to reproduce the behavior:
See the example code here: https://makecode.microbit.org/_R744U3hM2aX3
Read usage description in the blocks.

**Expected behavior**
No t

[2018-11-15 15:09] abchatra commented on #1645
@pelikhan

[2018-11-15 15:13] abchatra commented on #1645
@f-steff Can you explain what you mean by  _temporary and erratic screen artifacts_?
Plot graph takes over the screen and then the game engine takes over.

[2018-11-15 15:15] pelikhan commented on #1645
This is by design. The game engine rendering mixes with plotbargraph. In general, those cannot mix together.

[2018-11-15 15:17] #1645 closed

[2018-11-15 15:17] abchatra commented on #1643
I am closing this as duplicate of #1636 and will be address as part of that.

[2018-11-15 15:17] #1643 closed

[2018-11-15 16:28] abchatra commented on #1604
@fergeeksongirl this is fixed in /beta. Try the package in makecode.microbit.org/beta. Can you try and let us know your scripts are fixed with this?

[2018-11-16 11:09] johnstonmatt opened #1646 "docs images not showing after setup"
**Describe the bug**
Installing this repo and dependencies, then packaging them and hosting them as a static bundle  results in images not loading. The markdown points to `/static/mb/....` but all of those paths need prefixing with `/docs` to point to the correct images.

**To Reproduce**
Steps to reproduce the behavior:
1. clone and install
2. run `pxt staticpkg`
3. host the `built/packaged` dire

[2018-11-16 13:47] johnstonmatt commented on #1646
this commit on our version might better illustrate the problem: https://github.com/Brilliant-Labs/pxt-bboard/commit/3d3a52d73c0f6136543016bcbc379093cebe3d56 . Each path needed to be manually updated for the images to load

[2018-11-16 16:48] tsekino62 opened #1647 "Can't build PXT..."
**Describe the bug**

i cant finish build pxt.

[code]

this is debug.log.
[code]

**To Reproduce**

1.  git clone https://github.com/microsoft/pxt
1. cd pxt
1. npm i -f
1. npm run buid

**Desktop (please complete the following information):**

- OS: Windows8

On Vitrualbox

 - OS: CentOS7

Vagrantfile
[code]

Thanks in advance.

[2018-11-16 18:32] samelhusseini commented on #1604
Hey @fergeeksongirl, I'm glad that fixed your issue. As soon as we release our beta to release. Your change link will immediately begin to work :)

[2018-11-16 18:35] fergeeksongirl commented on #1604
Thank you SOOOOOOOOOOO much!

Like for realz... <3

Is there an ETA for the beta release?

[2018-11-16 23:46] abchatra commented on #1604
@fergeeksongirl we released the fix today.

[2018-11-17 04:04] fergeeksongirl commented on #1604
Y’all have no idea how stoked I am!!!
Thank you! Thank you! Thank you!!!!
🙌🏼❤️

[2018-11-17 11:59] f-steff commented on #1645
Apologizes where needed. I was under the impression the Plot Graph were for debugging in the GUI only. Sorry.

[2018-11-17 16:47] tsekino62 commented on #1647
Sorry, i can build it.
thunks.

[2018-11-17 16:47] #1647 closed

[2018-11-18 08:06] samelhusseini opened #1649 "Both Ok and Finish buttons show up on last step of some tutorials"
**Describe the bug**
Both the ok and finish buttons appear on the last step of some tutorials (eg: dice).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dice tutorial
2. Click on the last step or navigate through
3. See how both the ok button and the finish buttons show up when the lightbox appears

**Expected behavior**
For the finish button to not appear while we're in the lightbox.

[2018-11-18 16:37] samelhusseini opened #1650 "Step 7 of Snap the Dot tutorial hint doesn't show blocks"
**Describe the bug**
Step 7 shows JS instead of Blocks.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the 'snap the dot' tutorial
2. Navigate to Step 7
3. Click the hint after Ok
3. See screenshot

**Screenshots**
<img width="1019" alt="screen shot 2018-11-18 at 8 34 59 am" src="https://user-images.githubusercontent.com/16690124/48675387-0ec9ab80-eb0d-11e8-819e-a3391ec26837.png">

**

[2018-11-19 00:40] samelhusseini commented on #1650
This is still not fixed. It might be that it's cached? or maybe something else is going on. Keeping open till we verify that it's fixed live.

[2018-11-19 00:56] pelikhan commented on #1650
Use anonymous window

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Sam El-Husseini <notifications@github.com>
Sent: Sunday, November 18, 2018 4:40 PM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; State change
Subject: Re: [Microsoft/pxt-microbit] Step 7 of Snap the Dot tutorial hint doesn't show blocks (#1650)

This is still not fixed. It might be that it's

[2018-11-19 01:08] samelhusseini commented on #1650
Yeah still happening. I think it might be cached on crowdin? I know the md returned from the backend is cached.

Here's what the live version is:
https://makecode.microbit.org/api/md/microbit/projects/snap-the-dot

and here's what the editor is requesting. Notice how the last step is messed up in that verison. Not sure where it's coming from but I think crowdin.

https://makecode.microbit.org/api/

[2018-11-19 01:09] pelikhan commented on #1650
Bump to update crowdin

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Sam El-Husseini <notifications@github.com>
Sent: Sunday, November 18, 2018 5:08 PM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; State change
Subject: Re: [Microsoft/pxt-microbit] Step 7 of Snap the Dot tutorial hint doesn't show blocks (#1650)

Yeah still happening. I think it might be cac

[2018-11-19 01:10] pelikhan commented on #1650
We should not request crowdin when lang=en. Or client should not request it.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Peli de Halleux <jhalleux@microsoft.com>
Sent: Sunday, November 18, 2018 5:09 PM
To: Microsoft/pxt-microbit; Microsoft/pxt-microbit
Cc: State change
Subject: Re: [Microsoft/pxt-microbit] Step 7 of Snap the Dot tutorial hint doesn't show bl

[2018-11-20 08:42] Helen09 opened #1653 "Function serial.writeNumber() shows the wrong number on JavaScript pane"
**Describe the bug**
Function serial.writeNumber() shows the wrong number on JavaScript pane

**Repro steps:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "{ }JavaScript" to switch to JavaScript pane
3. Copy below code on JavaScript pane and click "Show console Simulator" and observe

**Expected result:**
**Code1:**
basic.forever(function () {
    serial.writeNumbers([1])

[2018-11-20 09:36] Helen09 opened #1654 "There doesn't have a parameter for user to add number for block "serial write numbers""
**Describe the bug**
There doesn't have a parameter for user to add number for block "serial write numbers"

**Steps to reproduce the behavior:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Advanced" -> "Serial" -> Drag block "serial write numbers"
3. Put it under block "forever" and observe

**Expected behavior**
Expected result1: There should have a parameter for user to a

[2018-11-20 15:01] microbit-carlos commented on #1560
For more information, dropping a non-makecode hex into the current beta shows this error in the console:

[code]

makecode.microbit.org version:  1.2.11
Microsoft MakeCode version:  4.4.7
microbit runtime version:  v2.1.0

[2018-11-20 21:51] CleoQc opened #1655 "Local install for developers"
Are the steps in the [readme ](https://github.com/Microsoft/pxt-microbit/blob/master/README.md)still valid?
I followed them to the letter and it didn't work for me.

I am trying to update my local dev environment so it's aligned with V1 instead of V0.  I know there's a github integration but I would rather develop and test locally.

Errors I am getting when I run `pxt serve --cloud`:
error TS6053:

[2018-11-22 01:47] nbogie opened #1656 "Have makecode issue a warning to user when prepared hex file is likely too large for microbit"
Without much feedback, users may well spend a lot of time head-scratching when their program size hits the invisible wall.  They copy the hex to the microbit, it seems to go fine, but they see nothing running.

It'd be great if makecode could issue a warning when the prepared hex file is too large for the microbit.

I understand that a fail.txt gets written to the microbit directory when the copy

[2018-11-22 07:26] Helen09 opened #1657 "There is no individual block "create an array" in "Arrays" tool box"
**Describe the bug**
There is no individual block "create an array" in "Arrays" tool box

**Steps to reproduce the behavior:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Advanced" -> "Arrays" -> scroll down the scroll bar to browse

**Expected behavior**
There should have an individual block "create an array" in "Arrays" tool box
![issue112202](https://user-images.githubuse

[2018-11-22 07:48] Helen09 opened #1658 "Tutorial "Coin Flipper" 2-6 steps' hints don't show automatically"
**Describe the bug**
There is no individual block "create an array" in "Arrays" tool box

**Steps to reproduce the behavior:**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down to "Games" -> open tutorial "Coin Flipper" steps one by one

**Expected behavior**
Each step should show hint automatically
![issue112201compare](https://user-images.githubusercontent.com/23466737/48888419-9e

[2018-11-22 15:10] jaustin opened #1659 "web ble-uart experiment: newline confusion"
With the current implementation of the web-bluetooth and UART experiment when working on real hardware it isn't clear what will result in the browser 'registering' a string being sent.

For example, the following program: https://makecode.microbit.org/_dtf7jMFide7o
<img width="722" alt="image" src="https://user-images.githubusercontent.com/147113/48910882-048b1280-ee69-11e8-9b41-9136071249a9.png">

[2018-11-22 15:48] pelikhan commented on #1659
Same problem as in serial - not really related to bluetooth - we commit a string line by line in the console.

Use UART write line instead, or console.log

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Jonathan Austin <notifications@github.com>
Sent: Thursday, November 22, 2018 7:10 AM
To: Microsoft/pxt-microbit
Cc: Subscribed
Subject: [Microsoft/pxt-microbit]

[2018-11-22 17:01] microbit-carlos opened #1660 "JS Code editor right click menu rendered under the bottom tools area"
**Describe the bug**
The right click menu from the monaco editor can be rendered underneath the "editor tools" bottom area.

Screenshot shows what I mean.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click in the monaco editor in an area close to the bottom edge of the viewport, but that still causes produces the menu to be displayed below the mouse.

**Expected behavior**
Right cli

[2018-11-22 17:02] microbit-carlos opened #1661 "Dragging a block around renders it outside the blockly workspace"
**Describe the bug**
When a block is dragged it overlaps areas outside of the blockly workspace.

**To Reproduce**
See gif below:

![2018-11-21 11 34 13](https://user-images.githubusercontent.com/29712657/48838827-70924b80-ed81-11e8-8430-f1a63640ea73.gif)

**Expected behavior**
Maybe this is done by design, but I would have expected the blocks to be only shown within the limits of the workspace ar

[2018-11-22 18:02] DavidWhaleMEF commented on #1656
+1 from me... The existing Python web (python.microbit.org) and Mu editors do this already based on size of generated hex image, so it must be possible, as we know in advance the highest supported lash memory address on the device.

It would be good for the experience to be consistent across all editors.

[2018-11-22 18:45] DavidWhaleMEF commented on #1631
I checked the DAPLink src for 0234.

It's not completely conclusive, but...

When it sees the intel hex file 01 record (EOF_RECORD) it raises an event flag to request an MSC_DISCONNECT event from the USB stack. But this is an asynchronous flag and won't be processed immediately. I haven't unpicked the priority order of tasks to see when that event flag would eventually get processed.

But it looks