[2022-05-31 20:21] abchatra commented on #4712
I am not sure I understand this issue. Tag results are cleared when the search keyword is typed right?

[2022-05-31 20:57] pelikhan commented on #4712
You stil have to tab 15 times to get to the search results.

[2022-05-31 21:18] abchatra commented on #4712
Issue here is keyboard accessibility, number of tabs to go to the search results is high.

[2022-05-31 23:31] #4291 closed

[2022-06-01 16:57] jaustin opened #4714 "intellisense for datalogging should not suggest columns already used in a log call"
**Describe the bug**

When you're logging columns, it would be good for Intellisense not to suggest columns already used in that log statement.

If you call something like:
`    datalogger.log(datalogger.createCV("compost", 1), datalogger.createCV("compost", 2), datalogger.createCV("compost", 3))`
You will only get a single row with '3' as the entry for 'compost'

**To Reproduce**

![multisuggest

[2022-06-01 16:57] jaustin commented on #4714
CC @carlosperate @JohnVidler

[2022-06-01 17:05] jaustin commented on #4492
@abchatra are there any updated designs for this?

[2022-06-01 19:02] pelikhan commented on #4681
Any change in this space would require testing accross (1) V1 vs V2 (2) data logger vs not data logger (3) all versions of DapLink in circulation.

[2022-06-01 19:03] pelikhan commented on #4681
Added flags to skip those resets: https://github.com/microsoft/pxt-microbit/commit/347f1e11e66fb3001f644435b83592c76e133d6f

[2022-06-01 19:07] abchatra commented on #4681
Fixed

[2022-06-02 19:04] #4126 closed

[2022-06-02 21:58] abchatra commented on #4383
@kimprice look at the comment from @microbit-matt-hillsdon. Seems like a shorter repro.

[2022-06-03 17:34] #3456 closed

[2022-06-03 17:47] Jaqster opened #4716 "Data Logger block too long"
For small screens, very hard to work with the block.
Suggest moving to multi-line split after 2 fields.
![image](https://user-images.githubusercontent.com/22108954/171918666-6c214a91-a928-4380-a9bf-38888c7e2c53.png)

[2022-06-03 17:51] kimprice commented on #4484
Reopening - This bug is fixed on Edge, but we are seeing this bug on Google Chrome.

[2022-06-03 17:52] unthinkmedia opened #4717 "Spacebar does not work in Extension Search block"
**Describe the bug**
When on the extensions window I was trying to type "data logger", but the spacebar was not being recognized and forcing me to type "datalogger".  This happens regardless of what I am typing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to makecode.microbit.com/beta
2. Click on 'Extensions
3. Type a few characters and then hit space and try to type more charectors
4

[2022-06-03 17:54] riknoll opened #4718 "[Safari] border radius on extension dialog cards not working"
<img width="352" alt="Screen Shot 2022-06-03 at 10 53 04 AM" src="https://user-images.githubusercontent.com/13754588/171919606-44e4c174-2dc2-401d-820b-9c234cb743ee.png">

Top radius looks good but the bottom is bad

[2022-06-03 18:01] asmeets opened #4719 "Data Logger: Column names not appearing on iPad/iOS"
After adding column names to the "set column" block, the values are not displayed on screen. Tapping on the block value will show the value entered in the modal box.

**To Reproduce**
After adding the Data Logger extension in beta, these are the steps to reproduce the behavior:
1. Tap on "Data Logger"
2. Drag set columns to the canvas
3. Tap on the white column value that shows " "
4. Enter a valu

[2022-06-03 18:09] asmeets commented on #4716
On the iOS side, the set columns block drops to a vertical view after five column names. The log data block does as well, as referenced by @Jaqster, but given the size of the original block, this does present a challenge.

[2022-06-03 18:13] Jaqster opened #4720 "Play Sound block not reliably playing on hardware"
Repro - I have a bunch of music sounds in a Button pressed event
When I download (through Web USB) to the micro:bit and press button A, I don't hear the second Play Sound block.  Then when I press button A again, nothing plays.
I am on Windows, Edge, with a micro:bit V2.2
test project - https://makecode.microbit.org/_FA8hVFe49e9u

[2022-06-03 18:20] clkantner opened #4721 "Banner at the top of the page is difficult to navigate"
Describe your design or art need by answering the questions below:

## What are the requirements for the project?
Explore other ways of having the banner content accessible.

## Is there a deadline or date this is needed by?
No

## Please share any existing references, screenshots, links, etc. here that will help us better understand your requirements
<img width="1578" alt="Screen Shot 2022-06-03

[2022-06-03 18:28] clkantner opened #4722 "The button hover states have design inconsistencies"
The buttons are inconsistent and buggy, particularly in 'closing' scenarios
<img width="1246" alt="Screen Shot 2022-06-03 at 11 22 30 AM" src="https://user-images.githubusercontent.com/106267801/171924548-dc582dbd-9553-446a-a930-2ca649553b6e.png">

<img width="873" alt="Screen Shot 2022-06-03 at 11 23 10 AM" src="https://user-images.githubusercontent.com/106267801/171924565-5167a64e-da72-4e3e-8000

[2022-06-03 18:30] kimprice opened #4723 "Remove hover highlight and button for microbit logo on V1 board simulator"
**Describe the bug**
V1 boards in the simulator show the microbit logo as clickable, but this is not accurate.

**To Reproduce**
Steps to reproduce the behavior:
1. Open new workspace (do not include any V2 blocks)
2. Hover on the microbit logo in the simulator
3. See the highlight on hover and the cursor indicate it is clickable

**Expected behavior**
We should disable this attribute when the boa

[2022-06-03 18:32] kimprice commented on #4484
Actually, it is being focused just fine when the simulator shown is a V2 board. The problem is that V1 boards in the simulator should not show the logo as clickable. New issue filed: https://github.com/microsoft/pxt-microbit/issues/4723

[2022-06-03 18:32] #4484 closed

[2022-06-03 18:39] abchatra commented on #4721
@clkantner please add additional details in this issue. Ideally anyone reading this should have complete picture to go and address the issue. Screenshots and step by step repro steps are great to add to this issue.

[2022-06-03 19:19] kimprice opened #4724 "Update simulator to reflect the microbit version that is plugged in"
If you connect a microbit device to your computer, the simulator should reflect the version of the device (e.g. V1 or V2).

If the microbit connected is not compatible with some of the blocks in the workspace (e.g. a V1 board is connected, but there are V2 blocks in the project), an informative message should be displayed.

[2022-06-03 19:24] kimprice commented on #4723
Also, when the logo is clickable, we should support clicking anywhere within the logo, not just on the outline of the logo.

[2022-06-03 20:33] abchatra commented on #4722
I agree they are inconsistent. Can you please explain why they are buggy? Do they not close?

[2022-06-03 20:34] abchatra commented on #4724
Good suggestion

[2022-06-03 22:26] #4416 closed

[2022-06-03 23:13] jaustin commented on #4720
@JohnVidler this looks similar to the issue we saw on support that @microbit-pauline couldn't get to reproduce in /beta.

@Jaqster I think this sample program gets munged because the link doesn't open in /beta - can I modify the URL to load it in /beta or can you please share the TypeScript?

Does this need specific parameters in play sound? I've been using it a lot in programs and haven't seen th

[2022-06-03 23:21] Jaqster commented on #4720
Can't you just go to https://makecode.microbit.org/beta then click the Import button to copy/paste this URL?

[2022-06-03 23:49] jaustin commented on #4720
Yes, thanks. Didn't know that route. I wonder if the issue here is the combo of 'old' music blocks and new, which I think gives us multiple mixer channels.

[2022-06-06 13:44] jaustin commented on #4720
@Jaqster querying the P2 label on this - seems more like a P1 or P0 to me. Is there a mitigation for this or does it only happen in a subset of situations?

[2022-06-06 14:17] JohnVidler commented on #4720
I've boiled this down to a minimal program with just a play sound block in a button event:

![image](https://user-images.githubusercontent.com/537325/172178494-8ff3246e-8eb8-490e-b6e4-4d050915a9f2.png)

It appears that if I set _anything_ else, it works fine, but setting the interpolation to log results in the behaviour described here, so there's definitely something funky with the synth log gener

[2022-06-06 14:18] JohnVidler commented on #4720
Additional note - playing both audio routes (melody and sound) works just fine, provided that the sound generator isn't using log interpolation.

[2022-06-06 14:41] jaustin commented on #4720
So if this is limited to log interpolation, I'm happy with the P2 label too.

[2022-06-06 15:35] abchatra commented on #4434
@microbit-mark can we walk through the process in the next sync. I have few comments I would like to discuss.

[2022-06-06 19:00] eanders-ms commented on #4633
Fixed via https://github.com/microsoft/pxt/pull/8886

[2022-06-06 19:00] #4633 closed

[2022-06-06 22:09] eanders-ms commented on #4694
@pelikhan What's the best way to launch a full flash?

[2022-06-06 23:10] pelikhan commented on #4694
Use `forcefullflash=1` in the url (https://cs.github.com/microsoft/pxt-microbit/blob/ded20b240421669bf63d2feb0ba42d442e1a98f9/editor/flash.ts?q=forcefullflash#L85)

[2022-06-07 16:40] #4697 closed

[2022-06-07 19:33] eanders-ms commented on #4694
Unassigning myself, as I'm not equipped to repro. Flash via DAPLink has never worked on my machine.

[2022-06-07 19:41] kiki-lee commented on #4707
Thanks so much!  I've got it in a PR so I'll close out this ticket!
https://github.com/microsoft/pxt-microbit/pull/4728

[2022-06-07 19:41] #4707 closed

[2022-06-07 20:19] riknoll commented on #4584
@abchatra I think we should remove this one from the release. I'm not really sure what the fix entails

[2022-06-07 20:27] jwunderl commented on #4480
Sounds like this has been fixed, or at least improved significantly -- if we run into the issue again it's likely to be a different cause / new issue~

[2022-06-07 20:27] #4480 closed

[2022-06-07 20:33] #4718 closed

[2022-06-07 22:36] abchatra commented on #4584
I am taking this away from this release.

[2022-06-07 23:12] aznhassan commented on #4717
I believe this is by design, @riknoll?

[2022-06-08 00:53] #4130 closed

[2022-06-08 21:31] #4485 closed

[2022-06-08 22:00] aznhassan commented on #4570
Thoughts on just using the font awesome image icon if the extension card image doesn't load?
![image](https://user-images.githubusercontent.com/6496798/172724876-b264207b-208d-4776-9588-539e649bfd81.png)

@jwunderl

[2022-06-08 22:06] jwunderl commented on #4570
I like it~

[2022-06-08 22:22] aznhassan commented on #4570
Are there other examples of what we do when content is missing?

[2022-06-08 22:36] jwunderl commented on #4570
I can't think of any right away -- the home screen carousels just use a gray fill in place of the image until it loads / if there's an error

![image](https://user-images.githubusercontent.com/5615930/172728924-147e4342-4e1c-4ed9-8b95-217659cd263b.png)

but icon seems just as good / better~

[2022-06-08 22:40] JohnVidler commented on #4720
After further investigation, it seems that the log effect generator results in extreme values at both ends of the scale. Super high values from an effect result in the board locking up, and negative values result in unpleasent clicks from the speaker.

For now, as time is short for the 2022 Makecode release, I've implemented some hard stops for just this effect ( see https://github.com/lancaster-u

[2022-06-09 15:52] jaustin opened #4730 "micro:bit specific text strings in extension screen"
**Describe the bug**

Some of the recent extension UI changes for micro:bit seem to have left micro:bit specific strings in Maker.

<img width="1510" alt="image" src="https://user-images.githubusercontent.com/147113/172890775-3eb627f8-ad11-4f80-912a-121bc266f6d5.png">

**To Reproduce**
Try to add an extension in maker.makecode.com

[2022-06-09 17:08] Jaqster opened #4731 "Tags for Extension page"
Here are the tags for the extension page:
1.	Robotics – kits and accessories that use the micro:bit in robots
2.	Science – STEM-based accessories for environmental sensors and science experiments
3.	Networking – augment the micro:bit for communication over networks and in the cloud, including IoT capabilities
4.	Lights and Display – accessories to expand the micro:bit lights or display screen capa

[2022-06-09 21:41] abchatra commented on #4730
We shouldn't have micro:bit specific strings in pxt or atleast it should be parameterized for the target.

[2022-06-09 22:16] #4716 closed

[2022-06-09 23:11] #4570 closed

[2022-06-09 23:30] pelikhan opened #4732 "Music editor not available in text"
Expected a way to use the music editor like the sprite editor in arcade from typescript

![image](https://user-images.githubusercontent.com/4175913/172961680-8ea61628-5d25-4282-b3ac-290232834972.png)

[2022-06-10 13:04] pelikhan opened #4733 "Sound engine crashes on random music generator"
This program tries all possible shape combinations, and random frequencies. Crashes within a few milliseconds on hardware. Hopefully the log fix improves things.

[code]

[2022-06-10 15:09] abchatra commented on #4681
We reset while setting the baud rate for logging.

[2022-06-10 15:09] abchatra commented on #4681
For the next release get rid of the second reset.

[2022-06-10 15:46] jaustin opened #4735 "simulator and hardware inconsistent on "in background""
**Describe the bug**

On the hardware we queue exactly one sound operation, so, for example in this sample:
<img width="549" alt="image" src="https://user-images.githubusercontent.com/147113/173101829-69d0a2b9-58e3-4211-8471-3e41f45307e2.png">

On the hardware the LED flashes on then immediately off, and after that toggles every 2 seconds
On the simulator the LED toggles very fast (And presumably

[2022-06-10 15:51] jaustin opened #4736 "Queue of simulated sounds to play isn't cleared when the sim is reset."
**Describe the bug**

If you (perhaps accidentally) queue a lot of sounds onto the simulator (which is possible because of #4735 ) then they don't stop playing/the queue isn't cleared until the page is reloaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Run this program for about 10 seconds

<img width="543" alt="image" src="https://user-images.githubusercontent.com/147113/173103439-69

[2022-06-10 15:52] jaustin commented on #4736
CC @riknoll

[2022-06-10 15:52] pelikhan opened #4737 "New sound block move up"
Move new sound block (and deprecate old giggle block somehow)

![image](https://user-images.githubusercontent.com/4175913/173104076-1ff671a4-ee18-4ff7-8fd6-5ba893d64cf3.png)

[2022-06-10 15:57] Jaqster commented on #4737
People like the giggle block.  Why would we deprecate?
We also talked about this and decided not to move it to the top of the Toolbox menu yet - install base of v2 isn't quite mainstream yet.  We can do this mid-year if we feel the need, or wait until next year.

[2022-06-10 15:58] pelikhan commented on #4737
Sorry I meant the top of the v2 category.
________________________________
From: Jacqueline Russell ***@***.***>
Sent: Friday, June 10, 2022 8:57:43 AM
To: microsoft/pxt-microbit ***@***.***>
Cc: Peli de Halleux ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/pxt-microbit] New sound block move up (Issue #4737)

People like the giggle block. Why would we deprecate?
We also talked about th

[2022-06-10 18:07] riknoll commented on #4694
Fixed by https://github.com/microsoft/pxt/pull/8900

[2022-06-10 21:18] pelikhan commented on #4720
Pushed

[2022-06-10 23:56] Jaqster opened #4739 "Play Melody block - all notes show up black in Snapshot"
Repro - take a snapshot of code that includes a Play Melody block.
Looks like all the notes are black on the block (instead of colored).
![image](https://user-images.githubusercontent.com/22108954/173163837-320aadce-1246-4712-b794-88fb64e40a22.png)

[2022-06-13 06:32] abchatra commented on #4736
@riknoll we need to clear the queue on reload

[2022-06-13 10:09] jaustin commented on #4733
Since 0.2.39 CODAL release in MakeCode, this programme doesn't crash for me (running for about 30 seconds now. Can't tell if I love it or hate it!)

[2022-06-13 16:36] #4717 closed

[2022-06-13 16:44] #4167 closed

[2022-06-13 16:44] #4492 closed

[2022-06-13 20:41] dmonroym opened #4742 "Revert #4741"
Related to https://github.com/microsoft/pxt-backend/issues/600

#4741 was created as a test. Creating this issue to revert that change as it's unnecessary

[2022-06-13 20:51] jwunderl opened #4743 "returning to code editor from serial view should not refresh simulator"
**Describe the bug**

currently if you return to the code editor (e.g. blocks) after pressing `show console simulator` we refresh the simulator. We have already skipped that for going to serial view, should make it skip refresh when going from serial view -> any other.

Not a regression

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/_F0gd0uicv2kw
2. open

[2022-06-13 21:52] aznhassan commented on #4730
This is using quite an old version of the extension page. The "Do more with your x" text no longer exists in the extension page. Bumping pxt-core should solve the issue.

[2022-06-13 21:57] abchatra commented on #4742
@dmonroym is this the right repo?

[2022-06-13 21:57] abchatra commented on #4743
This is existing bug.

[2022-06-13 21:57] Jaqster opened #4744 "Docs for Play Sound block"
https://makecode.microbit.org/reference/music/play-sound-effect

- [ ] Rename this to "play sound"
- [ ] Update sample
![image](https://user-images.githubusercontent.com/22108954/173451769-38ec96a2-4848-4018-aa60-d8f8a3be5d7b.png)

- [ ] Include a view of the block expanded
- [ ] Include the version that has pre-built sounds (giggle)

[2022-06-13 22:02] aznhassan opened #4745 "JavaScript Data Logger Tooltip Shows Garbled Text"
**Describe the bug**
The tooltip that is produced for the data logger's `log` function has text that is writing over itself.

**To Reproduce**
Steps to reproduce the behavior:
1. Open up a new project and click on the `Extensions` button
2. Download the data logger extension
3. Switch the project to Javascript
4. Type `datalogger.log(` and notice the tooltip that pops up with the garbled text

**E

[2022-06-13 22:03] Jaqster opened #4746 "Include time stamp by default"
Right now we don't include a time stamp in the Simulated Data Log view.
I would like to propose that we include a second timestamp by default in the table view -
![image](https://user-images.githubusercontent.com/22108954/173452807-98fb7810-f85c-40ca-a594-330e49d925b1.png)

The My_Data table shows this

[2022-06-13 22:17] aznhassan opened #4747 "User Created Disclaimer Message Not Shown for Unofficial Extensions"
**Describe the bug**
The user-provided-extension disclaimer is not present for unofficial micro:bit extensions

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [makecode.microbit.org](https://makecode.microbit.org/beta#editor)
2. Click on the extension button
3. Search for `https://github.com/pelikhan/pxt-kitronik-air-quality/tree/master/jacdac`
4. See that the extension has no disclaim

[2022-06-13 22:18] jwunderl commented on #4746
Mentioned the not mirroring it here: https://github.com/microsoft/pxt/pull/8901

I'm fixing that, it's being called in the same way so just need to fix the bug here & also change the default to match hw

[2022-06-13 22:24] Jaqster opened #4748 "Insert message for getting data file from micro:bit"
Repro -
- Use Data Logger and Serial blocks in a program
- Download program to micro:bit
- Click Show console Device
- Toggle to Data Log view

This view is currently blank.  In the future we could show the MY_DATA file contents, but for now, let's include some messaging and a link to information for how people can open this file.
Proposed messaging:
"To get device data from your micro:bit, you wi

[2022-06-13 22:25] Jaqster commented on #4748
@jaustin - FYI.  Also, probably need to update that support article.

[2022-06-13 22:32] Jaqster opened #4749 "Alternate wording for data/console view buttons"
Now that we have both Serial and Data Log view in this page, thinking of using alternate wording for these buttons:
![image](https://user-images.githubusercontent.com/22108954/173458296-b156b7a3-ddc0-4eb0-b0f9-1678279271d6.png)
![image](https://user-images.githubusercontent.com/22108954/173458325-120565b6-52ea-44b8-8876-006ef137d308.png)

Maybe "Show Simulator Data" and "Show Device Data" ?

[2022-06-13 23:49] ganicke commented on #4744
The old `playUntilDone()` method for the static sound expressions is set to deprecate in favor of `playSoundEffect()` with the built-in sound effect as a parameter - #4554. The docs are setup for the new sound effect functions.

[code]

![image](https://user-images.githubusercontent.com/27789908/173464138-d57000f8-3396-44cc-85c7-fecc4129c090.png)

The current beta build is now showing the new bloc

[2022-06-14 00:13] dmonroym commented on #4742
didn't need to commit it so closing this issue. I just did `pxt uploadtarget`

[2022-06-14 00:13] #4742 closed

[2022-06-14 04:09] kiki-lee opened #4751 "Play Sound in Background inside a Forever loop will keep looping the sound even when the simulator is stopped or the block is deleted"
**Describe the bug**
Was playing with the new sound effects block trying to figure out what "in background" does and put it inside a forever loop.  The sound kept playing, even after I stopped the simulator.  Even after I deleted the block altogether and deleted all blocks inside the workspace.  Had to refresh the browser to get it to stop.

**To Reproduce**
![image](https://user-images.githubuser

[2022-06-14 04:20] abchatra commented on #4737
I think moving to top of v2 subcategory makes sense. Keep the older one below.

[2022-06-14 04:21] abchatra commented on #4746
nice catch

[2022-06-14 04:22] #4747 closed

[2022-06-14 04:23] abchatra commented on #4720
Fixed.

[2022-06-14 04:23] #4720 closed

[2022-06-14 04:41] abchatra commented on #4751
Duplicate of https://github.com/microsoft/pxt-microbit/issues/4736

Thanks @kiki-lee

FYI @riknoll

[2022-06-14 04:41] #4751 closed

[2022-06-14 04:47] abchatra commented on #4749
@Jaqster whom should this bug go to?

Also interesting we changed this before. Instructions here say "show data device"
https://makecode.microbit.org/courses/ucp-science/data-collection/setup-procedure

[2022-06-14 04:56] Jaqster commented on #4749
Oh funny!  I wonder why we changed it to "console"...
I'd like to get customers to weigh in here, but not sure we have time - let me post to Forum.

[2022-06-14 04:59] abchatra commented on #4749
@pelikhan did that :-) https://github.com/microsoft/pxt/pull/3438

[2022-06-14 05:02] pelikhan commented on #4749
it's an old change.
![image](https://user-images.githubusercontent.com/4175913/173497000-4ba11975-3dff-4dd7-b63c-bfc93668861f.png)

[2022-06-14 05:03] abchatra commented on #4749
Ya but we did change it he he.

[2022-06-14 05:05] Jaqster commented on #4749
but why did we change it?  I don't want to change it back if there was some good reason we did that...

[2022-06-14 05:10] Jaqster opened #4752 "Docs for Data Logger extension"
Let's add a documentation page for the Data Logger extension, like we have for NeoPixels (https://makecode.microbit.org/pkg/microsoft/pxt-neopixel) and our other 1st party extensions.

[2022-06-14 05:13] pelikhan commented on #4749
If you follow the trail, it is here https://github.com/microsoft/pxt-adafruit/issues/469 .

The console view lets you see console messages, which is the name of the category. It's unclear that mixing the data logger output and console view into a single concept is a good idea imo. It could/show be 2 separate views; then "show data log" makes sense. The tags are going to be overlooked.

[2022-06-14 05:15] abchatra commented on #4749
Oh no its me :-(

[2022-06-14 05:26] Jaqster commented on #4749
Well, the name of the Toolbox Category is "Serial" (did it used to be called "Console"?)
A "console" is usually used to describe some sort of output window.
I think of both Serial and Data Logger blocks as ways to collect data from the micro:bit - it makes sense to me to have these views together.  It would make even more sense if we just had 1 set of Data blocks.  If someone asked me the differen

[2022-06-14 05:32] abchatra commented on #4749
It is console in arcade and adafruit
![image](https://user-images.githubusercontent.com/6107272/173500589-84355bf8-f95b-4b8b-ae31-44969a1f195e.png)

[2022-06-14 09:27] microbit-matt-hillsdon commented on #4739
Spotted this one when testing with micro:bit classroom. Would be great to fix. Something similar (from a user perspective at least) was fixed in 2020, see #3398.

[2022-06-14 10:09] microbit-matt-hillsdon opened #4753 "Snapshots and renderblocks images no longer use a monospace/code font in beta"
**Describe the bug**

The beta editor has stopped using a monospace/code font in images created with the Snapshot feature and the renderblocks iframe API.

Live:

![Screenshot2022_06_14_105731](https://user-images.githubusercontent.com/44397098/173551245-73b4d68a-f78d-4107-b1b8-9ff60c3b2cc2.jpg)

Beta:

![Screenshot2022_06_14_105704](https://user-images.githubusercontent.com/44397098/173551269-6f4

[2022-06-14 13:45] microbit-pauline opened #4754 "Spelling mistake - show icon - eighth note"
**Describe the bug**
A user in micro:bit support has highlighted a spelling mistake with the word eighth which is highlighted when you hover over the eighth note icon.

![image](https://user-images.githubusercontent.com/29146842/173591364-3c78b0ff-996b-41df-bddc-61f62f4fdbf5.png)

It is displayed as **eigth** and should be **eighth**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Bas

[2022-06-14 21:05] #4746 closed, assigned to jwunderl

[2022-06-15 17:43] jwunderl opened #4756 "mobile sized share dialog regressed"
**Describe the bug**

the share experience on mobile devices is bad in /beta, unreachable buttons / etc:
![image](https://user-images.githubusercontent.com/5615930/173891216-171baa99-71e9-4242-a20b-dd0ab1dbec0f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /beta on a phone
2. share, get to end of dialog w/ share opts
3. See error

**Expected behavior**
buttons should be usable

[2022-06-15 22:12] aznhassan commented on #4730
pxt-maker is now using the most recent pxt-core and no longer has micro:bit-specific text:
![image](https://user-images.githubusercontent.com/6496798/173940942-54f66880-8a4f-4ce1-8655-e0f401b4081e.png)

[2022-06-15 22:12] #4730 closed

[2022-06-15 22:24] ganicke commented on #4752
In this case (when hosted in the target), instead of leaving the extension card's `learnMoreUrl` as `undefined`, why not just set it to `"${homeUrl}/reference/${scr.name}"` and hit the top-level API reference doc page?

https://makecode.microbit.org/reference/datalogger

![image](https://user-images.githubusercontent.com/27789908/173942030-e9abd377-a089-47a0-8b1e-2e9ba8ef42aa.png)

[2022-06-15 22:27] jwunderl commented on #4752
Hm is that the same for all? Seems good then, we should just point to those pages & update as needed

[2022-06-15 22:35] ganicke commented on #4752
In the worst case (where `"${homeUrl}/reference/${scr.name}"` doesn't exist) we could gen a dummy page with just `name` and `description`.  But I guess that's a nested async waiting for a 404, probably too complicated.

[2022-06-15 23:03] #4756 closed

[2022-06-16 11:41] jaustin commented on #4749
would "show output" cover things and remain clear? I guess it requires the leap from both data and serial to 'output'...

[2022-06-16 16:38] Jaqster opened #4757 "Toolbox re-drawing weirdness in Beta"
Windows/Edge - I had resized the browser window a few times and also zoomed in and out on the workspace a couple times and the Toolbox had issues...
![image](https://user-images.githubusercontent.com/22108954/174121718-011a2ebd-6d0f-4cbe-95a9-e8269e40cd42.png)

Refreshed and it went away.

[2022-06-16 16:59] #4587 closed

[2022-06-16 18:20] #4744 closed

[2022-06-16 18:30] abchatra commented on #4723
@jwunderl can you take over this issue for tomorrow?

[2022-06-16 20:10] Jaqster opened #4760 "New sharing button on mobile is hidden behind QR code"
![Screenshot_20220616-130630_Chrome](https://user-images.githubusercontent.com/22108954/174155568-7d6b5dcf-ecca-4b97-8e25-d7aa03ab8397.jpg)

[2022-06-16 20:17] Jaqster commented on #4752
@ganicke - can we add more stuff to this page?  https://makecode.microbit.org/reference/datalogger  Seems pretty slim, and I'm going to be pointing folks to this page to learn more about the Data Logger blocks.

[2022-06-16 20:21] #4737 closed

[2022-06-16 20:21] #4739 closed

[2022-06-16 20:21] #4753 closed

[2022-06-16 20:23] jaustin commented on #4627
I can still reproduce in the /beta

I don't think it's actually that the whole board is hanging, instead I think music fibers are getting blocked

If you modify the program like this (IE adding a 500ms repeat toggle)
<img width="1059" alt="image" src="https://user-images.githubusercontent.com/147113/174156710-6489a7a1-583c-493e-83f1-21907346d0a4.png">
then even when the board "hangs" the LED keeps

[2022-06-16 21:15] #4735 closed

[2022-06-16 21:15] #4736 closed

[2022-06-16 21:43] clkantner commented on #4704
@abchatra assigned, based on design crit discussion we will pause and see how current release feedback validates this as something to revisit

[2022-06-16 21:44] clkantner commented on #4709
@abchatra assigned, based on design crit discussion we will pause and see how current release feedback validates this as something to revisit

[2022-06-16 21:46] clkantner commented on #4703
@riknoll based on design crit, I believe we are going with the split button approach for this.
<img width="977" alt="Screen Shot 2022-06-16 at 2 46 13 PM" src="https://user-images.githubusercontent.com/106267801/174171398-1ec4c2d7-696e-463a-b6c0-35b7613011ae.png">

[2022-06-16 22:19] ganicke commented on #4752
@Jaqster - that's a stub page inherited from pxt-common-packages. I will make another page for it that will live in the microbit docs.  We'll nee two more for https://makecode.microbit.org/reference/radio-broadcast and https://makecode.microbit.org/reference/servo since those extensions will now need a top-level page to work with their "Learn more" links.

[2022-06-16 22:27] #4760 closed

[2022-06-16 22:58] #4723 closed

[2022-06-17 05:36] abchatra commented on #4731
Done

[2022-06-17 05:36] #4731 closed

[2022-06-17 05:52] jwunderl commented on #4749
@abchatra Ahh, I think this can be closed unless we want to change it again? we had decided on 'show data {simulator/hardware}' at lunch w/ jacqueline and that was changed here: https://github.com/microsoft/pxt/pull/8916

[2022-06-17 05:53] #4749 closed

[2022-06-17 11:54] martinwork commented on #4416
@riknoll The "Type annotation" error no longer appears in beta.

Unfortunately, the "implicitly has 'any' type" errors are still shown until an instance of the class is created.

This code works in beta, but has the confusing "any" errors when the class definition is first created
[code]

[2022-06-17 13:46] microbit-matt-hillsdon commented on #4753
Thank you. This and the melody fix looking great on beta.

[2022-06-17 15:24] pelikhan opened #4764 "fix data headers to keep them visible"
This is a CSS technique implemented in the data science editor. Fix the table headers so that they stay visible while the view is scrolling.

![demo](https://user-images.githubusercontent.com/4175913/174328760-0e807835-2fde-49ea-a449-c297e4e2b7bf.gif)
692b-1a7a-4649-be4b-40ad5c5fc1c3.png)

Currently, the headers almost instantly go out of the view

![image](https://user-images.githubusercontent.co

[2022-06-17 15:26] pelikhan opened #4765 "Once the user interacts with the scroll, it is not possible to lock the view to the bottom"
When the datalogger view is pumping data, it locks the view to the last entry by default. Once the user scrolls once, it is not possible to lock again on the view.

Expectation:

scrolling back to the bottom locks the view to seeing the last entries again.

[2022-06-17 17:27] jwunderl commented on #4765
Hm, what device are you on? If the last entry is visible it's supposed to 'lock' back into auto scroll again / "it does on my machine" :)

The check for that happens [here](https://github.com/microsoft/pxt/blob/master/webapp/src/serial.tsx#L282) so maybe it's window.innerHeight being inconsistent in other browsers, I think I've seen that, though I should probably also just add a bit more padding (

[2022-06-17 17:42] pelikhan commented on #4765
The simulator is too fast to reach that point.

![image](https://user-images.githubusercontent.com/4175913/174350580-aa15c763-2874-4d98-b92a-5ec7986dab4c.png)

[2022-06-17 17:49] riknoll opened #4768 "404 when clicking on "learn more" for builtin extensions"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the extension dialog
2. Click on "learn more" for the radio broadcast extension

[2022-06-17 17:55] riknoll opened #4769 "simulator show data button never goes away even if i remove the logging from my program"
If i create a program that logs data (serial or data logger) and I then remove that code, the button to show the data will still be there even after the simulator restarts. It should disappear if the program is no longer logging data after a restart.

I don't think this is a recent regression, because I think it also happens in arcade

[2022-06-17 17:57] Jaqster opened #4770 "Weirdness with WebUSB pairing through Download dialog"
Windows/Edge
Repro -
- micro:bit v2 connected (but not paired yet)
- click Download button
- click Pair Now through dialog
- click Connect to browser

I would expect the Download button to change to the micro:bit icon to show that it's paired, so the next time I click Download it will download via WebUSB.  This is not happening.  The download button still shows as file download...

![Picture1](htt

[2022-06-17 18:00] Jaqster commented on #4770
Trying to upload a video of this...

https://user-images.githubusercontent.com/22108954/174353051-520f56f9-6f2a-459d-b19b-fb4db1a5106a.mp4

[2022-06-17 20:11] abchatra opened #4772 "Windows Store App is broken"
**To Reproduce**
Steps to reproduce the behavior:
1. Install micro:bit app from Windows Store
2. Click on 'about' -> 'experiments'
3. Select 'Beta editor'
4.  Beta loads
5. See the error
  - Simulator is broken
  - Download is broken
  - Tutorials are broken

[2022-06-17 20:13] abchatra commented on #4770
@Jaqster does it atleast paired and one click download works? Is this an icon UI issue?

[2022-06-17 20:52] Jaqster commented on #4770
No, it keeps downloading as a file (also throws up this error message).  I can refresh the page and then it works.

[2022-06-17 21:06] #4764 closed

[2022-06-17 21:11] pelikhan commented on #4770
If you add ?webusbdbg=1 to the URL, you'll get detailled logs about what's causing it to fail.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Jacqueline Russell ***@***.***>
Sent: Friday, June 17, 2022 1:52 PM
To: microsoft/pxt-microbit ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [microsoft/pxt-microbit] Weirdness with WebUSB pairing through Download

[2022-06-17 21:21] Jaqster commented on #4770
where do I see the logs?
![image](https://user-images.githubusercontent.com/22108954/174402781-0077faa6-b041-4447-9ebd-30716791447c.png)
![image](https://user-images.githubusercontent.com/22108954/174402816-0f9e7fe5-b21a-48c4-8765-7bce7286e0ec.png)

[2022-06-17 21:52] pelikhan commented on #4770
You should see something like this:
![image](https://user-images.githubusercontent.com/4175913/174405718-2bd4ba2d-1a44-43e7-8725-21a6cc4f3135.png)

What version of edge is this?

[2022-06-18 19:47] pelikhan opened #4776 "Charts in data logger preview"
Raw data is interesting, but charts is the thing.

[2022-06-20 16:26] #4765 closed

[2022-06-20 21:12] pelikhan opened #4777 "Testing of custom tutorial broken"
In the github view, one can launch a custom tutorial using the "lab" icon. This action fails in the current release.

repro:

 - open repo with custom tutorial in makecode
 - click on the lab icon to preview the tutorial

![image](https://user-images.githubusercontent.com/4175913/174678153-94b25870-8c63-45da-a431-d5e31721abf9.png)

[2022-06-21 04:00] Jaqster opened #4779 "Play Sound Editor - changing Duration value doesn't persist"
Nit-picky bug.
When changing the value in the Duration field, then clicking outside of the editor to close the window, the changed value doesn't persist.  Note that if you tab outside the Duration field, or click the X to close the window the changed value does stay.

https://user-images.githubusercontent.com/22108954/174713241-9580bff1-537f-4b6e-a4c8-e8605e394b3d.mp4

[2022-06-21 05:55] abchatra commented on #4779
@riknoll will take hot fix if we can repro\fix this.

[2022-06-21 05:56] abchatra commented on #4777
Is this a regression? Did it work in the last release?

[2022-06-21 21:49] abchatra commented on #4772
Things to be done
- [ ] Produce a PWA and list on the store. - 06/28 -> Abhijith
- [ ] Foundation to take down the existing app -> 09/1. -> Abhijith.
- [ ] User interface in /v4 to download the new app for 2 months -> 09/01 -> Joey
- [ ] Enable user to download all the projects from the windows app -> 09/01.  (Investigation what is the best way?). Couple of ideas -> Multiple downloads & show windo

[2022-06-21 23:11] #4779 closed

[2022-06-22 02:25] pelikhan commented on #4772
Allow to download all selected projects from project manager?

[2022-06-22 23:06] #4586 closed

[2022-06-23 13:11] microbit-matt-hillsdon commented on #4757
Spotted this today. It doesn't seem to be new in v5.

By zooming in, opening a blocks category, closing it, zooming out and reopening the blocks category you can repro the hight issue.

By having a narrow window, opening a blocks category, closing it, making the window significantly wider and reopening the blocks category you can repro the horizontal offset issue.

All in Desktop Chrome 102.0.5005

[2022-06-23 23:39] abchatra commented on #4627
@johnVidler any update here?

[2022-06-24 12:24] martinwork commented on #4627
Testing with https://makecode.microbit.org/_1rh4HHL9x11g, starting tones at random with every loops.
I was about to say it doesn't go wrong, even if I also press A and B, but it just did without pressing A and B!
The sound stopped but all the LED toggles kept going.

[2022-06-24 12:37] martinwork commented on #4627
I'm not sure if this would be related. With https://makecode.microbit.org/_3vWDdRdzz0fw, the second tone overrides the first, but it's sound ends when the first would have ended, although the program is still blocked for the full 4 beats, as indicated by the LEDs.

[2022-06-24 16:12] #4732 closed

[2022-06-27 07:48] Sheila111 opened #4780 "Hardware: Can't play the video"
**Describe the bug**
**Hardware**: Can't play the video

**Steps to reproduce the behavior**
1.Nabigate to https://makecode.microbit.org/beta#editor
2.**Help--->Hardware**
3.Click the video in the **hardware** doc

**Expect behavior**
Play the video successfully

**Actual behavior**
Can't play the video in the **hardware** doc
![1](https://user-images.githubusercontent.com/59192069/175887269-50db5

[2022-06-27 07:49] Sheila111 commented on #4780
It also happened in offline build: https://makecode.com/api/release/microbit/v5.0.7/win64

[2022-06-27 08:21] Sheila111 opened #4781 "Offline app: The spacing between "search box" and "tags" is too small in Extensions page"
**Describe the bug**
**Offline app**: The spacing between "**search box**" and "**tags**" is too small in **Extensions** page

**Steps to reproduce the behavior**
1.Download **Microbit offline app**: https://makecode.com/api/release/microbit/v5.0.7/win6
2.Create a new project
3.**More...**---->**Extensions**

**Expect behavior**
It should be:
![image](https://user-images.githubusercontent.com/5919

[2022-06-27 13:35] martinwork commented on #3864
@pelikhan Can disablesVariants be added to a project? I seem to get errors using edit settings as text.

[2022-06-27 22:18] pelikhan commented on #3864
It should be allowed, make sure your JSON is properly formatted?

screenshot?

[2022-06-28 01:24] Sheila111 commented on #4780
The internet is connected, I can play the other video.
![2](https://user-images.githubusercontent.com/59192069/176066734-aee82c17-8521-4b1c-bd52-f4f99edb977b.gif)

[2022-06-28 07:36] Sheila111 commented on #4780
It doesn't repro on browser, only repro on offline app now.

[2022-06-28 08:41] Sheila111 opened #4782 "Jacdac: An empty page shows after clicking "User guide""
**Describe the bug**
**Jacdac:** An empty page shows after clicking "**User guide**"

**Steps to reproduce the behavior**
1.Nabigate to https://makecode.microbit.org/beta#editor
2.**Jacdac**---->Button smasher----->Show Instructions
3.Scroll down to the bottom of page
4.Click "**User guide**"

**Expect behavior**
Navigate to "**User guide**" page

**Actual behavior**
**Jacdac:** An empty page show

[2022-06-28 08:43] carlosperate commented on #3864
Make sure the values are in a list, I think I had to use it like this in the past:
[code]

[2022-06-28 14:12] pelikhan commented on #4782
Great bug! Fix coming.

[2022-06-28 14:28] #4782 closed

[2022-06-29 05:59] Sheila111 opened #4783 ""Magic Button Trick": The video is private"
**Describe the bug**
**Magic Button Trick**: The video is private

**Steps to reproduce the behavior**
1.Nabigate to https://makecode.microbit.org/beta#editor
2.Games--->**Magic Button Trick**---->Show Instructions
3.Click the video in the instruction page

**Expect behavior**
Play the video successfully

**Actual behavior**
**Magic Button Trick**: The video is private so it can't be played
![1](h

[2022-06-30 08:58] martinwork opened #4785 "Offline app: Dragging a hex from the website triggers error "Oops, this project is too new!""
**Describe the bug**
A hex file saved from the website cannot be loaded into the offline app.

The offline app shows the error message  "Oops, this project is too new!"

Clicking the "Get latest" button just opens the website.

Reported via support https://support.microbit.org/a/tickets/54832 (private)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '[...](https://makecode.microbit.or

[2022-06-30 09:14] martinwork commented on #4785
Is there an ETA for a new version of the offline app?

[2022-06-30 10:01] Sheila111 commented on #4781
Fixed in version 5.0.9

[2022-06-30 10:28] martinwork commented on #3864
Thanks @carlosperate @pelikhan It works with the right shape brackets, so the settings text ends
[code]
Adding V2 only blocks doesn't seem to work.

[2022-06-30 16:57] abchatra commented on #4785
Thanks for the ping. We plan to release before end of the next week.

[2022-06-30 17:08] martinwork commented on #4785
Thanks @abchatra, I'll let them know.

[2022-06-30 17:19] abchatra commented on #4785
@jwunderl FYI

[2022-07-01 02:54] Sheila111 opened #4787 "Share project: Prompt doesn't highlight when offline"
**Describe the bug**
**Share project**: Prompt doesn't highlight when **offline**

**Steps to reproduce the behavior**
1.Download Microbit offline app: https://makecode.com/api/release/microbit/v5.0.9/win64
2.Open the Microbit offline app and **disconnect the internet**
3.Create a new project
4.**Share project**----->**Publish to share**

**Expect behavior**
It's better to **highlight the prompt**

[2022-07-01 10:53] microbit-carlos opened #4788 "MakeCode 2022 consumes more memory and some v4 programmes won't download anymore"
**Describe the bug**
We've got several reports from users where their micro:bit MakeCode projects stopped working after MakeCode 2022 release date.

**To Reproduce**
Steps to reproduce the behavior:
1. Download this hex file: [microbit-fits-v4_does-not-v5.hex.zip](https://github.com/microsoft/pxt-microbit/files/9028251/microbit-fits-v4_does-not-v5.hex.zip)
2. Load it in https://makecode.microbit.o

[2022-07-01 10:57] microbit-carlos opened #4789 "In-editor notification for major releases"
**Is your feature request related to a problem? Please describe.**
Related to:
- https://github.com/microsoft/pxt-microbit/issues/4788

Some users had some issues with the latest MakeCode 2022 release. One specific piece of feedback provided is that the editor autoupdated itself with significant changes without any kind of indication to the user. So, their programme worked one day and failed the n

[2022-07-01 18:06] Jaqster opened #4790 "Screen resizing"
We saw this issue on one of the demo machines at ISTE, although I haven't been able to reproduce.
This person was in a tutorial, and then I think resized the browser window.  The screen didn't resize appropriately and part of the UI was cut off.  They then exited the tutorial, but the window sizing issue persisted.
![image](https://user-images.githubusercontent.com/22108954/176947554-e2086c40-01b5

[2022-07-01 18:28] microbit-carlos commented on #4788
With the provided hex file in the MakeCode 2022 editor, if I then add the Data Logger extension, which is configured to be V2 only, then MakeCode successfully compiles/downloads the programme.

So the memory issue might right now mostly affect V1 (or at least more easily in V1), and as V1 DAL hasn't been updated vs MakeCode v4, it suggest all the additional memory comes from pxt updates.

[2022-07-01 20:26] abchatra commented on #4790
I think the user touch zoomed it. This is a browser feature and they have to unzoom it.

[2022-07-01 21:40] abchatra commented on #4790
This feature in browser is known as pinch zoom

[2022-07-01 23:47] anzhou5 opened #4791 "Need title card for new micro:bit tutorial "Cat Napping""
Describe your design or art need by answering the questions below:

## What are the requirements for the project?

Need one of these for the new data logger tutorial.

![image](https://user-images.githubusercontent.com/42353804/176978029-15e4a320-7593-4c8c-a750-e236e961fa60.png)

The tutorial involves a cat named Lychee who wants the learner to track light and temperature data at their home, with

[2022-07-04 05:15] Nitesh-AI opened #4794 "Pin 0 touch is not working micro:bit v2"
when setting pin 0 to capacitive touch it is not detecting any touch and resistive touch also it is not happen. using pin p0 press command
![image](https://user-images.githubusercontent.com/18595551/177085653-5817141a-93e3-4d0e-8bf9-ca0a2e685ce4.png)
 it is always showing value 1 means the pin is pressed. Is it a bug or hardware issue?

[2022-07-04 09:50] jaustin commented on #4788
@abchatra @mmoskal we've had more reports of this than anything else and it's a regression for these users, so would like to see if we can investigate. Especially because it affects V2 users even though the constraint appears to be related to V1, really?

[2022-07-04 10:52] martinwork commented on #4794
I used this project to test: https://makecode.microbit.org/_CL5dp1cX6DFT
All combinations seem to work for me except logo + resistive (https://github.com/microsoft/pxt-microbit/issues/3724)
I'm connecting a crocodile clip lead to P0 (and one to ground for P0 + resistive).
Just holding the plastic of one lead can trigger P0 + capacitive.

[2022-07-04 11:30] Nitesh-AI commented on #4794
my pin 0 is not responding for resistive as well as capacitive touch. logo
is working fine.

On Mon, 4 Jul 2022 at 16:22, Martin Williams ***@***.***>
wrote:

[2022-07-04 14:56] microbit-giles opened #4795 "Projects described as 'games' when shared"
**Describe the bug**
Shared project description field relates to Arcade.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to micro:bit MakeCode editor https://makecode.microbit.org/#editor
2. Click on 'Share project'
3. See words 'Tell others about your game' in Description box
![Screenshot2022_07_04_142624](https://user-images.githubusercontent.com/42380137/177178502-00753b8a-6e32-44ae-93

[2022-07-05 06:43] abchatra commented on #4788
@microbit-carlos @jaustin is it possible to create a repro without the extension? If you can do that, I would to figure out the exact checkin.

[2022-07-05 07:25] abchatra commented on #4795
@riknoll change to "project"

[2022-07-05 08:44] microbit-carlos commented on #4788
It really is just copy and paste code until just about you reach the limit in V4 and then load the hex in MakeCode 2022:
[microbit-v4large.hex.zip](https://github.com/microsoft/pxt-microbit/files/9044808/microbit-v4large.hex.zip)

[2022-07-05 09:59] Sheila111 opened #4796 "Mac offline build: The video doesn't load in the instruction page"
**Describe the bug**
**Mac offline build**: The video doesn't load in the instruction page

**Steps to reproduce the behavior**
1.Download Microbit offline app: https://makecode.com/api/release/microbit/v5.0.9/mac64
2.Music---->Hack Your Headphones
3.Scroll down to the bottom of the page and click "**Let's get started**"
4.Scroll down to the bottom of the page and click the video in the **instruct

[2022-07-05 16:53] gaoyuear opened #4797 "how to run a server in the LAN?"
Hi, pxt experts

In our classroom, the computers are in a LAN, but don't connect to Internet.
I want to build a pxt-microbit local server in the LAN, and students can connect to this local server to program microbit.

I successfully run a local server on 'localhost', everything looks good (change language, download hex file).
Then when I serve it on 0.0.0.0 by 'pxt --serve -h 0.0.0.0',
I can open

[2022-07-05 17:47] abchatra commented on #4797
We provide offline app for these scenarios: https://makecode.microbit.org/offline-app
Does that work?

[2022-07-05 23:51] gaoyuear commented on #4797
There are some drawbacks of the offline app in my case, we are volunteering the program education for the schools in the mountainous areas remotely.
1. their windows version is probably old, that lots dependencies might needed.
2. the local teacher doesn't have the skill to install it.
3. there might be disk recover card in the computer.
4. local teacher has to maintains 20+ computers

I plan to r

[2022-07-06 00:30] djwarn opened #4798 "The While button pressed inside a forever loop does not exit when button released"
A simple program Using a forever block containing a while button A is pressed do loop containing a show icon statement  will show the icon when the button is pressed, but will not remove it when the button is released.

![image](https://user-images.githubusercontent.com/97265186/177437877-f1029112-7b93-49d1-9200-8bdf83b762a3.png)

'while button A is pressed do whatever' should stop doing whatever

[2022-07-06 05:33] abchatra commented on #4797
Offline app fits in a USB drive as well.

[2022-07-06 06:15] Nitesh-AI commented on #4798
![image](https://user-images.githubusercontent.com/18595551/177481526-46e0bb43-1dbf-4cea-85dc-aebcd54479bc.png)
add clear screen command outside while to instruct micro:bit to what to do if button A is not pressed. Hope this will solve your issue.

[2022-07-06 06:30] abchatra commented on #4798
Thanks @Nitesh-AI . This is the right answer. Microbit display will not clear on its own once set, there is a need for explicit clear.

[2022-07-06 06:30] #4798 closed

[2022-07-07 00:16] #4795 closed

[2022-07-07 03:09] gaoyuear commented on #4797
Glad to know there's no dependency of the offline app.
But that still needs the local teachers to install them on very computer. And this is not feasible if they have disk recovery card (will restore the system to the snapshot after reboot) in the computer.

Just curious, there are several sites of MakeCode listed in the doc
https://makecode.microbit.org/
https://arcade.makecode.com/
https://makec

[2022-07-07 18:05] abchatra commented on #4790
This is not a bug in the editor but how the browser behaves in pinch zoom scenario. Can't fix from our end.

[2022-07-07 18:05] #4790 closed

[2022-07-07 18:15] abchatra commented on #4780
I can reproduce this in the electron app.

[2022-07-07 18:34] martinwork opened #4802 "Helpful message to open very old hex files in the v0 editor is missing after V3"
**Describe the bug**
Arising from support ticket https://support.microbit.org/helpdesk/tickets/54940 (private)

From v1 to v3 there was a helpful message when attempting to open a very old hex file.
The message from v4 and after is not so helpful.

Here is an example old file: [microbit-clock-step-7a.zip](https://github.com/microsoft/pxt-microbit/files/9066378/microbit-clock-step-7a.zip)

**To Rep

[2022-07-07 22:18] #4785 closed, assigned to nobody

[2022-07-07 22:20] abchatra commented on #4802
We have removed the code to recognize old touch develop scripts from v4. We can't fix this at this point of time.

[2022-07-07 22:20] #4802 closed

[2022-07-08 04:58] #4783 closed

[2022-07-08 09:31] Sheila111 opened #4807 "Mac offline build: Simulator doesn't load after clicking "Edit" in the instruction"
**Describe the bug**
**Mac offline build**: **Simulator** doesn't load after clicking "**Edit**" in the instruction

**Steps to reproduce the behavior**
1.Download Microbit offline app: https://makecode.com/api/release/microbit/v5.0.9/mac64
2.Duct Tape Wallet---->Show Instructions
3.Scroll down to the bottom of the page and click "**Code**"
4.Click "**Edit**" to open the program in the editor

**E

[2022-07-08 11:33] martinwork opened #4808 "MakeCode 2022 leaves less RAM than V4 for user code"
**Describe the bug**

Arising from support ticket https://support.microbit.org/helpdesk/tickets/55037 (private)

The customer's Bluetooth project runs out of memory (Error 020) in micro:bit V1.5.

[microbit-JBN8C-Prj-BT-DPAD-XF-ObjectSensor.zip](https://github.com/microsoft/pxt-microbit/files/9071561/microbit-JBN8C-Prj-BT-DPAD-XF-ObjectSensor.zip)

I created a project in MakeCode V4 by copying the

[2022-07-08 12:53] microbit-carlos commented on #4788
While this issue has been focused on flash consumption, it looks like there is also a higher RAM consumption by MakeCode:
- https://github.com/microsoft/pxt-microbit/issues/4808

[2022-07-08 12:55] microbit-carlos commented on #4808
Thanks Martin!
It's also worth mentioning that for V1 the DAL hasn't changed, so that points at the additional RAM being consumed by the MakeCode side.

Might be worth checking, if as indicated https://github.com/microsoft/pxt-microbit/issues/4788#issuecomment-1175348410, the additional memory usage was between 4.1.5 & 4.16.

[2022-07-08 13:48] Nitesh-AI commented on #4794
When I  am using digital write and analog write command for pin 0 is giving led is very dim as compared to pin 1, pin 2

[2022-07-12 14:33] testingmakecode opened #4810 "Microsoft MakeCode [Web] - Add compliance notice to comply with Italy digital accessibility requirements."
After reviewing this issue, it is invalid. Hence, Closing the bug.

[2022-07-13 04:14] itibanbosi commented on #4808
Memory over occurs in both V2 and V1.5 of micro: bit.
It worked in V4 of MakeCode, but in V5 I get the following error.
Program too ig by 3964bytes!

[2022-07-13 05:30] abchatra commented on #4810
We are localized in Italian
![image](https://user-images.githubusercontent.com/6107272/178657765-39429ee5-c4ca-40b4-b46e-1cd16b2f2ff0.png)

[2022-07-13 07:08] #4810 closed

[2022-07-13 07:09] abchatra commented on #4810
@testingmakecode why is this closed?

[2022-07-13 18:04] v-prahu commented on #4810
@abchatra - This bug was logged in Github ADO by mistake, we will follow up on this requirement on mail for further tracking.

[2022-07-13 19:20] testingmakecode opened #4811 "[Programmatic Access – Make code for micro bit – My projects]: "My projects" heading has focusable descendants."
### **User Experience:**
Visually impaired users who depend on screen readers will get disoriented and will face difficulty in understanding the controls which are not properly nested and appropriate information will not be announced.

**Note:**
User credentials should NOT be included in the bug.

### **Repro Steps:**

1. Open https://makecode.microbit.org/
2. Run AI tool.
3. Verify the issue.

##

[2022-07-15 17:51] 4CodeLife opened #4812 "Maqueen Avoiding Obstacles"
Hello GitHub I am trying to download code for the maqueen onto the Microbit and I continuously get the following message: The hex file is not available, please connect to the internet and try again. However, I am connected to the internet. I tried downloading a different project on the same Microbit. That code downloaded with no problem. Does anyone have any suggestions? Please
Here is the code li

[2022-07-15 18:00] jwunderl commented on #4812
Log: https://makecode.com/compile/dd13b0493958372b7a1c8b36291a7c639b55cbff34ae481be2e9dbd503eff21f.log w/

[code]

but hasn't changed in a while so probably on us?
https://github.com/DFRobot/pxt-maqueen/blob/master/maqueenIR.cpp#L6

[2022-07-16 00:59] anzhou5 opened #4813 "micro:bit stays unlit when asked to output/flash characters that are not basic ASCII"
**Is your feature request related to a problem? Please describe.**
The micro:bit LEDs do not flash non-basic ASCII characters even if they are entered to be shown on the device. No error or indicator is given. For example, if you try to have the micro:bit output a string using non-Latin alphabet characters, if the characters are not supported, the micro:bit LEDs will do nothing and remain black.

[2022-07-16 04:32] abchatra opened #4814 "Request for assets for PWA app of micro:bit in the windows store"
Guidance here: https://docs.microsoft.com/en-us/windows/uwp/publish/app-screenshots-and-images#store-logos

Sonia generated similar thing for arcade app here: https://github.com/microsoft/pxt-arcade/issues/4355#issuecomment-987379126
See arcade app ms-windows-store://pdp/?productid=9NWH29B68GTH for reference

[2022-07-16 04:34] abchatra commented on #4814
This is for micro:bit

[2022-07-16 04:34] abchatra commented on #4772
Related https://github.com/microsoft/pxt-microbit/issues/4814

[2022-07-19 12:28] martinwork commented on #4812
It builds OK on live after updating the Maqueen extension.
The Maqueen extension in the shared project is 1.2.3. After updating, it's 1.7.0 and the IR category has a different name.

[2022-07-20 00:23] mmoskal commented on #3137
Sorry for (loooong) delay.

The inline assembly uses GNU assembler, check out GCC docs for that. The .asm files are assembled by MakeCode's built-in assembler, which uses related, but slightly different syntax. Sorry about that.

[2022-07-20 00:23] #3137 closed

[2022-07-20 14:33] martinwork opened #4815 "Can't change pin number when selected language is Hebrew"
**Describe the bug**
From support ticket https://support.microbit.org/helpdesk/tickets/55348 (private)

When the selected language is Hebrew, changing a pin number in the blocks editor doesn't work.
It seems to be OK in https://makecode.microbit.org/v4

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://makecode.microbit.org/_a3rHfKPhRJrW in the editor
2. Change language to Hebrew
3

[2022-07-20 19:03] riknoll commented on #4812
Thanks @martinwork! This is indeed an issue of the extension being outdated. @4CodeLife you can download the latest extension by switching to typescript and clicking the refresh button next to the extension in the file explorer on the left

Or, just open this project where I updated it for you:

https://makecode.microbit.org/_e6jdcAetk9qC

[2022-07-20 19:03] #4812 closed

[2022-07-20 20:25] 4CodeLife commented on #4812
@riknoll Thank you for your response. I am teacher and I will be using the Maqueen Robot this school year. I am hoping that my students will not ran into the same issue as I did this week when they try to download MaQueen code. What should I have my students do they ran into a downloading issue with the MaQueen?

[2022-07-20 20:36] jwunderl commented on #4812
Since there is a new tagged version, the students shouldn't run into this issue -- whenever you add the extension from the extensions view it grabs the latest release (1.7.0 currently). This issue would happen when someone has an old project that was created when that version of maqueen (1.2.3) was the latest version.

Could you say where you got that share link from -- was it an example you got f

[2022-07-20 21:40] riknoll commented on #4812
@jwunderl yeah, wouldn't hurt

[2022-07-21 11:06] tzach commented on #3313
I see the same issue
Here is my project
https://github.com/tzach/rock-paper-scissors

[2022-07-21 17:40] riknoll commented on #4788
it appears that this commit is the culprit: https://github.com/microsoft/pxt-common-packages/commit/9454016e1e34b0fc0cfc8e5c86a4fc1797637c49

[2022-07-21 18:42] mmoskal commented on #4788
Strange. The commit definitely looks like a noop.

[2022-07-21 21:35] riknoll commented on #4788
well, it appears to be more than just that. delta debugging between the two versions @abchatra mentioned led me to that commit and checking out the commit before does fix the issue. however, reverting that commit on the stable branch that pxt-microbit points too does not fix the issue.

i've narrowed it down to libs/base and libs/radio, but there are no obvious suspects in the diffs between the ol

[2022-07-22 07:40] crouse12 opened #4817 "check microbit version"
microbits have microbit v1.5 and microbit v2.
Is it possible to check microbit version by using makecode?

[2022-07-22 09:14] mmoskal commented on #4788
You could try to run this script https://github.com/microsoft/jacdac-stm32x0/blob/main/scripts/map-file-stats.js on the .map file before and after (requires local build)

[2022-07-22 10:03] martinwork commented on #4817
control.hardwareVersion() returns a string: 1, 2.0, or 2.2

[2022-07-22 16:01] martinwork commented on #4627
From support ticket https://support.microbit.org/helpdesk/tickets/55356 (private)
This program seems to trigger the same problem. https://makecode.microbit.org/_WmkDFR3aj0rd
The sound output stops, but the numbers keep going.
@JohnVidler Is there a fix for this yet?

[2022-07-22 16:50] martinwork commented on #4627
I simplified it to this: https://makecode.microbit.org/_X8KVjdaCcaHf, so no events or volume or microphone involved.
Attach crocodile leads to P0, P1 and GND, then move the free end of the GND lead between the free ends of the P0 and P1 leads.

[2022-07-22 16:54] riknoll commented on #4788
Thanks @mmoskal, I'll give it a shot!

[2022-07-24 09:00] akshitagupta15june opened #4818 "Adding a Electric guitar using Microbit project documentation in docs"
### What it does?

When you touch pin 1 or pin 2 and GND it will play a broken chord, but now you can move the chord down an octave (lowering its pitch) by pressing button A and move it up an octave (raising its pitch) by pressing button B.

The pitch (frequency) of a note doubles when you move up one octave: middle A has a frequency of 440Hz (440 vibrations per second), high A has a frequency of

[2022-07-27 12:25] martinwork opened #4820 "micro:bit V1 tones and melody sound different after MakeCode V2"
**Describe the bug**
Arising from support ticket https://support.microbit.org/helpdesk/tickets/55444 (private)

Tones and melody on micro:bit V1 sound different compared to MakeCode V2.
This zip has hex files built in MakeCode V2 and live [melody.zip](https://github.com/microsoft/pxt-microbit/files/9198390/melody.zip)

I think the difference is that the volume variable and mapping introduced in Ma

[2022-07-27 12:56] kiate opened #4821 "What does (sad face) error code 914 indicate?"
micro:bit V2 shows sad face and error code 914 while I'm working on a line following robot code. I couldn't find this error code in the list here:
[https://support.microbit.org/support/solutions/articles/19000016969-micro-bit-error-codes](https://support.microbit.org/support/solutions/articles/19000016969-micro-bit-error-codes)

Unfortunately I can't reproduce it with the same code. I would like t

[2022-07-28 22:39] riknoll commented on #4821
That particular error is:
[code]
and I have to admit, this is the first time I've seen it as well! Perhaps @mmoskal could shed some light on this one.

Also, could you share the project in which this occurred?

[2022-07-29 23:04] riknoll commented on #4788
well it took me awhile to figure out how to get yotta to run! I ended up having to use Ubuntu 18.04.

Anyway, here are the things that changed between version 4.1.5 (left side of arrow) and 5.0.13 (right side of arrow)

[code]

[2022-07-30 07:33] pelikhan commented on #4788
radio.on , radio.off ?

[2022-07-30 07:34] pelikhan commented on #4788
This script is great! We should run it on every build :)

[2022-08-01 17:16] riknoll commented on #4788
I tried reverting every file it listed as changed back to 4.1.5 and I'm still getting a "program too big by 5216 bytes". @mmoskal any pointers on how to interpret these results?

[2022-08-03 18:00] riknoll commented on #4820
I think the reasoning iirc was that the default volume of 512 was dangerously loud when played over headphones. @pelikhan correct my if I'm wrong.

For this very specific program, I think this workaround is justified.

[2022-08-03 22:04] #4815 closed

[2022-08-05 02:23] kiate commented on #4821
@riknoll Thank you so much for the reply! That's a really helpful indicator for me to continue troubleshooting.

I was using MakeCode PulseIn continuously to read 3x IR sensor pairs connected in R-C mode as shown in the pic below.
![image](https://user-images.githubusercontent.com/1186201/182987832-fc7f4043-70d9-41cd-a507-6f7b1380ed14.png)
P0-P2 are used for other purposes, that's why the rather o

[2022-08-06 04:22] crouse12 opened #4825 "Add extension problem"
I try to add extension into makecode.
So, I add "kaise-ksrobot/pxt-KSB030-4WD" into makecode.
However, I get some errors when I open makecode.
From these errors, I find that Makecode extension open a url for pxt-KSB030-4WD.
https://www.makecode.com/api/gh/kaise-ksrobot/pxt-KSB030-4WD
When I open this url, I get the following messages.
{"message":"repo info response: 404"}
However, when I use this

[2022-08-06 04:47] jwunderl commented on #4825
That api fetches pxt extensions from the given github repo. Since https://github.com/kaise-ksrobot/pxt-KSB030-4WD results in a 404 for me, there is either a typo in the repo name or (more likely) you have the repo set to private so it cannot be used.

[2022-08-08 13:07] mmoskal commented on #4821
If someone can get me a reasonable repro I could look at this. This is either someone trying to run MakeCode code from an interrupt or (more likely) someone trying to allocate stuff on GC heap from an interrupt. Not sure how either of these could happen though...

[2022-08-08 13:23] mmoskal commented on #4788
It could be that the size of compiled code increased - you could look at the assembly output in the editor - it has comments on top that specify sizes. To view the .asm file I think you have to disable the simulator otherwise it disappears very quickly. You could also diff the .asm but you may need to replace some/all numbers by a placeholder to remove "random" changes due to different AST node ID

[2022-08-16 04:16] coproc opened #4826 "Python: assignment to global variable within multiple targes only acts locally"
**Describe the bug**
An assignment within a function of the form `g_value,... = ...` does not respect a prior global declaration `global g_value` (at least in the simulator Microsoft MakeCode Version:  8.0.7)

**To Reproduce**
1. Enter this Python code:
[code]
2. Run code in simulator
3. The LEDs show number `0`

**Expected behavior**
The LEDs should show number `1`.

Note that with these program

[2022-08-17 21:43] kiki-lee opened #4828 "Issue with embedded MakeCode environments in OneNote"
From a Twitter user:

![image](https://user-images.githubusercontent.com/1633958/185248446-eaaea12c-ed55-43b2-8a9b-e341fccb942b.png)

When asked to try the same thing on the desktop version:

![image](https://user-images.githubusercontent.com/1633958/185248417-7c4467c3-c212-4110-928a-278dc39e67e9.png)

[2022-08-18 17:57] StaelensJarne opened #4830 "MakeCode editor converts variables always to global variables"
How can I declare a local variable in the MakeCode editor?

As I define my variables these are always global variables, even if I only need them locally.
I am a professional developer, so I know there is a huge difference between a local and a global variable!
For example:
![function doSomething](https://user-images.githubusercontent.com/26405591/185460845-add84b7e-6b7e-4cab-912a-66d94816c744.png)

[2022-08-18 19:08] Jaqster commented on #4828
I can repro this.  And it's across editors...
![image](https://user-images.githubusercontent.com/22108954/185474893-e18e2c45-34ce-490a-a41c-4cc2213527ce.png)

[2022-08-18 21:02] riknoll commented on #4830
@StaelensJarne one of the limitations of block coding in MakeCode (and most other block based code editors that I know of) is that all variables are global. There is no concept of local variables in our blocks editor except for function parameters and loop indices.

Unfortunately, that means that we have to convert variables to global when switching from JavaScript/Python to blocks. We try our bes

[2022-08-18 21:09] riknoll commented on #4826
you're right, we're definitely messing up the semantics here

[2022-08-19 10:02] bennypowers opened #4831 "Run in Parallel"
# Feature request template

**Is your feature request related to a problem? Please describe.**
Users may wish to execute multiple blocks in parallel, e.g. in the "Countdown" activity, a user would want the high tone and the GO message to occur simultaneously, instead of the GO message only appearing after the high tone has finished playing.

**Describe the solution you'd like**
Adopt the Parallel

[2022-08-21 18:22] martinwork opened #4832 "Some extension "Learn more" snippet Edit buttons don't work"
**Describe the bug**

The **Edit** buttons on some extensions' **Learn more** pages, fail to create a working project.

There's a dialogue offering to fix the problem, which doesn't work. The JavaScript mode Explorer shows multiple errors

The errors are often due to duplication of the extension with different package names. Once this has happened, adding the extension to the original project fail

[2022-08-23 04:33] Faisal-TP opened #4833 "Loading iframe - Microbit domain"
when I load the microbit domain another iframe. not showing all the GUI of the editor. I locally configured the developer code. can I change any code to load this iframe?

[2022-08-23 18:39] tballmsft opened #4834 "makecode pin documentation is only for V1"
As seen at https://tech.microbit.org/hardware/edgeconnector/#pins-and-signals, there are some differences between the pin maps for micro:bit V1 and V2. Furthermore, if you look at the table for V2 vs V1 on the above page, you will notice that there are some different features available on the V2.

The page https://makecode.microbit.org/device/pins needs to be updated to describe the differences.

[2022-08-23 19:16] ganicke commented on #4834
@abchatra - Sure, I'll give it an update.

[2022-08-23 21:28] #4826 closed

[2022-08-24 12:07] shiraz14 opened #4836 "Closed issue"
-

[2022-08-24 12:10] shiraz14 commented on #4836
![Apps   Features window](https://user-images.githubusercontent.com/5546275/186414715-a7a98615-1ff5-44dc-9efb-03e3c7985e7c.JPG)

[2022-08-24 15:53] #4836 closed

[2022-08-25 12:47] martinwork commented on #4812
@riknoll Can this be fixed, so the extension code compiles as in MakeCode v4? If not, how must extension code that uses <vector> be changed to work?

[2022-08-25 16:46] riknoll commented on #4812
I think the easiest thing to do would just be avoid the vector class for now.

@mmoskal any idea why this cropped up? I would assume it's either because of the new yotta or some change in the microbit-dal

[2022-08-25 18:17] mmoskal commented on #4812
@martinwork the easiest hack is to put a space or some comment in front of `typedef`.

The offending line is https://github.com/microsoft/pxt/blob/master/pxtlib/cpp.ts#L677 - it copies typedefs from source files to pointers.cpp, so the prototypes can be parsed correctly. We could change that to not copy lines containing `<`.

I'm not sure how this ever worked, this code has been there for 6 years.

[2022-08-25 20:34] martinwork commented on #4812
Thanks @mmoskal and @riknoll! A single space in front of `typedef` lets it work. The example I tested, that compiles in MakeCode V4, is in the approved list, called "ir-receiver". https://github.com/tinkertanker/pxt-ir-receiver.

[2022-08-27 08:59] THEb0nny commented on #4830
I think this is such a big limitation for teaching kids how to program.
I also do not understand why there is no such thing as a constant in JS and blocks. Everything is converted into a variable.

[2022-08-27 09:40] crousekimo opened #4837 "led enable error on microbit v1"
led enable block  has an error on microbit v1.
If anyone uses digitalWrite blocks before using led enable block, they cannot use digitalWrite anymore.
However, microbit v2 does not have such problem.
![image](https://user-images.githubusercontent.com/43980978/187024559-9711edf9-1285-46ad-b1ce-67f42e571e32.png)

[2022-08-28 09:02] keble6 opened #4838 "Default dependencies include Radio which is unnecessary and frustating"
**Describe the bug**
When saving Makecode to GitHub the default dependencies list includes Radio. This leads to a non-obvious problem if you later try to add Bluetooth.

**To Reproduce**
Create code which doesn't use Bluetooth, save to Github

**Expected behavior**
The pxt.json will not include a Radio dependency

**Screenshots**
See pxt.json in https://keble6.github.io/t/

**micro:bit version (pl

[2022-08-28 09:18] StaelensJarne commented on #4830
Thank you for your answer!
This is indeed a big limitation. If I use VC Code than it is not converted anymore.
This issue can be closer.

[2022-08-29 12:54] Chandangithb opened #4839 "[Programmatic Access - Make code for micro bit - Feedback]: Alternate text is not defined for the image present inside the “Usabilla Feedback button”"
### User Experience:
Visually impaired users who depend on screen reader and navigate in scan mode will not be able to understand the information provided or purpose of the image properly and might get confused.

Note: User credentials should NOT be included in the bug.

**### Repro Steps:**

1. Launch URL: [https://arcade.makecode.com/--skillmap#docs:/skillmap/racer ](https://arcade.makecode.com/

[2022-08-29 13:01] Chandangithb commented on #4839
#A11yAuto, #K4W, #A11yMAS, #A11ySev3, #HCL, #Accessibility, #WCAG1.1.1, #HCL-MakeCode-New

[2022-08-29 16:10] #4830 closed

[2022-08-29 16:39] clkantner commented on #4814
Hi @abchatra @Jaqster , this is where we landed at the end of last week with designs. Please let me know what format you will need these files and how to best deliver to you. Or if you have any last minute thoughts on design. We shared with micro:bit team and so far they haven't asked for us to change anything so I think we are good.
<img width="859" alt="Screen Shot 2022-08-29 at 9 38 48 AM" src=

[2022-08-29 17:16] keble6 commented on #4424
Me too! No obvious reason. Sometimes disappears

[2022-08-29 18:22] abchatra commented on #4814
These look great. Thanks so much @clkantner. Can you share the zip of these images?

[2022-08-29 18:30] clkantner commented on #4814
Yes, here is the zip file
[microbit-banners.zip](https://github.com/microsoft/pxt-microbit/files/9447057/microbit-banners.zip)

[2022-08-31 10:41] stezelMIT opened #4840 "makecode that worked for v1.5 and v1.38 a few months ago now gives 020 errors"
**Describe the bug**
The attached hex file:
[microbit-Message_Me_Back_FINAL.hex.zip](https://github.com/microsoft/pxt-microbit/files/9460750/microbit-Message_Me_Back_FINAL.hex.zip)

used to work perfectly a few months ago and now is giving 020 error.  The code is as simple as it gets.
Only when you remove two of the "on Button pressed" blocks the code stops giving 020 error.
What did you change re

[2022-08-31 11:34] martinwork commented on #4840
Related: https://github.com/microsoft/pxt-microbit/issues/4808

[2022-08-31 22:23] abchatra opened #4841 "A way to enter secrets in blocks extension"
**Is your feature request related to a problem? Please describe.**
IOT extensions need a way to enter secrets like password without the blocks exposing it.

Discussion here: https://github.com/microsoft/pxt-microbit/pull/4565

[2022-08-31 23:47] abchatra commented on #4828
This is likely because we dropped support for IE11. If I remember correctly this was dependent on IE11 rendering engine. Do we have contact in the team? We should check if there is a way to invoke modern engine .

[2022-08-31 23:50] abchatra commented on #4828
I got the contact. Lets first investigate and ensure that is the issue.

[2022-09-02 17:39] abchatra commented on #4817
Thanks @martinwork. Yes use control.hardwareVersion to check the hardware

[2022-09-02 17:39] #4817 closed

[2022-09-02 17:45] abchatra commented on #4818
I am closing this issue as no action required. PR will be reviewed. Thanks for the PR and issue.

[2022-09-02 17:45] #4818 closed

[2022-09-02 17:47] abchatra commented on #4831
We have https://makecode.microbit.org/reference/control/in-background in microbit.

[2022-09-02 17:47] #4831 closed

[2022-09-02 17:48] abchatra commented on #4833
There needs to be repro steps. If this a question, please post in forum.makecode.com

[2022-09-02 17:48] #4833 closed

[2022-09-02 17:49] #4834 closed

[2022-09-02 17:53] abchatra commented on #4837
@crousekimo can you elaborate what you mean by you can't use digital write anymore?

[2022-09-02 17:55] abchatra commented on #4820
I am assuming this is as designed? If not reopen.

[2022-09-02 17:55] #4820 closed

[2022-09-02 17:56] abchatra commented on #4821
No repro.

[2022-09-02 17:56] #4821 closed

[2022-09-02 17:56] abchatra commented on #4825
Question answered.

[2022-09-02 17:56] #4825 closed

[2022-09-02 17:58] abchatra commented on #4838
@keble6 can you please elaborate non obvious issues?

[2022-09-02 17:59] abchatra commented on #4839
This is filed on incorrect repo. Moving to pxt-arcade repo.

[2022-09-02 18:02] abchatra commented on #4840
Program here: https://makecode.microbit.org/_MFt2HkP7TLKD
This contains bluetooth uart

[2022-09-02 18:02] abchatra commented on #4840
Duplicate of #4808

[2022-09-02 18:02] #4840 closed

[2022-09-02 20:18] keble6 commented on #4838
When trying to add Bluetooth Makecode can then remove **other** extensions before adding Bluetooth

[2022-09-02 20:53] abchatra commented on #4838
Students who use Radio are magnitude more than Bluetooth. Hence we made it default. Unfortunately they are not compatible and hence the need to remove the other. This is intended behavior.

[2022-09-03 08:37] keble6 commented on #4838
Sorry, I should explain further:
I created a makecode project called bug-demo and daved to github [here](https://keble6.github.io/bug-demo/)

Note that it does not use either Radio or Bluetooth.

If you look at pxt.json in Github you see the following:

"dependencies": {
        "core": "*",
        "radio": "*",
        "microphone": "*"
    }
If you now try to add the Bluetooth extension you get

[2022-09-04 14:24] bsiever commented on #4838
`radio` vs. `bluetooth` is distinct from other extensions because they are mutually exclusive and `radio` is a default.  In other cases a developer explicitly includes extensions that their new extension either may need itself or may want to pass on to users.

I think the challenge is identifying when `radio` should be a dependency and when it shouldn't.  One option --- `radio` would be included a

[2022-09-04 14:34] keble6 commented on #4838
Agreed, good proposal.

[2022-09-05 10:04] arijitx opened #5521 "Microbit Blutooth doesn't work after adding Jacdac extension"
**Describe the bug**

I'm able to pair microbit with an android smartphone and display the data sent via bluetooth to microbit led display.
[code]

Once I add the jacdac extension, can't pair with the microbit or connect already paired. Seems like adding the jacdac extension disables the BLE of the microbit. Jacdac extension version for makecode "microsoft/pxt-jacdac 1.8.22"

**Desktop (please com

[2022-09-06 15:19] HanaZimmermanKarl opened #4843 "The rest instruction has 2 different measurment units "on" or "in" it at the same time."
I'll explain my problem, because maybe there are better solutions to it then what I think of:
The "rest" block, has "(ms)" writen on it, even when the parameter in it is of type Beat.Fraction.
This is confusing to explain to students.
(I know the "rest" function is overloaded and can therefor has an instance with integer as parameter, which is the number of ms to rest, but it is confusing, and I d

[2022-09-08 13:34] martinwork opened #4844 "iOS App : Simulator is misplaced in landscape view after device rotation"
**Describe the bug**
In the iOS micro:bit app, after rotating the device to portrait then landscape, the simulator does not return to the landscape layout.

This does not happen when the app loads https://makecode.microbit.org/v4.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Code' in the iOS micro:bit app and enter editor
2. Rotate the device to portrait
3. Rotate the device

[2022-09-08 14:43] martinwork opened #4845 "iOS App : Full screen simulator console button is usually hidden and only provides access to Simulator data"
**Describe the bug**

Related: https://github.com/microsoft/pxt-microbit/issues/1919

The blue console button in the full screen simulator view is not always present when the show console buttons would be present below landscape simulator, and seems to only provide access to simulator data. It seems to only appear on first use. I don't see the blue button on a portrait Windows Chrome screen.

The

[2022-09-08 15:19] martinwork commented on #4785
@abchatra
Another enquiry about this: https://support.microbit.org/helpdesk/tickets/56727 (private)

I just installed from Microsoft Store and got v4.0.22. What is the best way to get the offline app?

[2022-09-08 18:28] abchatra commented on #4785
@martinwork

If the requirement is offline app, they can install: https://makecode.microbit.org/offline-app
Please point to them.

[2022-09-08 19:41] martinwork commented on #4785
Thanks @abchatra. On my Windows 10 machine, the installer makecode-microbit-setup-win64.exe goes through a long "Installing" process which ends by running MakeCode, but doesn't seem to create any shortcuts to run it again after I quit it. For example, typing "makecode" into the search box finds nothing. Restarting the computer doesn't seem to help. Is it just me? What am I missing? It is in Settin

[2022-09-08 19:45] abchatra commented on #4785
Searching for the app should show the app:
![image](https://user-images.githubusercontent.com/6107272/189211724-971c6d8a-fe67-41a0-90cc-881881226ad5.png)

Also you can right click on the icon at the taskbar when it is running and pin to the startbar.

[2022-09-08 20:02] martinwork commented on #4785
@abchatra It doesn't find anything for me, probably because I changed start menu settings a long time ago. It still finds every other app I can think of - just not MakeCode!

[2022-09-09 10:46] martinwork commented on #4845
Related support ticket: https://support.microbit.org/helpdesk/tickets/56655 (private)

[2022-09-09 11:59] gomakekit opened #4847 "Contrain block blanks out when changing language to Norwegian"
**Describe the bug**
Any code containing the Math.constrain() function will be blanked out when changing from English to Norwegian (bokmål) language.

**To Reproduce**
Steps to reproduce the behavior:

In javascript or blocks: make a statement with constrain:

let test = 0
let number = 0
basic.forever(function () {
    test = Math.constrain(number, 20, 100)
})

Go to blocks, switch to Norwegian (b

[2022-09-11 22:05] dsssssssss9 opened #4848 "The hex file is not available, please connect to internet and try again."
**Describe the bug**
When i try to download as hex file i get this error ....
The hex file is not available, please connect to internet and try again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/_3UjdXDa30Y8e
2. Click on Download As File
3.  See error

**Expected behavior**
Save hex file to my Computer

**Screenshots**
![error](https://user-images.gith

[2022-09-12 00:02] martinwork commented on #4848
Related: https://github.com/microsoft/pxt-microbit/issues/4812

[2022-09-12 16:41] martinwork opened #4849 "radio.sendString does not send 19 characters - only 18"
**Describe the bug**

Arising from support ticket https://support.microbit.org/helpdesk/tickets/56783 (private)

The documentation for radio.sendString says it sends up to 19 characters.
https://makecode.microbit.org/reference/radio/send-string

MakeCode V1 sent 19 characters, but only 18 have been sent since MakeCode V2.

In MakeCode's radio packet code, MAX_PAYLOAD_LENGTH has always been 20.

In

[2022-09-12 20:23] abchatra commented on #4847
@ganicke issue with crowdin translation?

[2022-09-12 20:29] abchatra commented on #4848
There is an issue with the extension. Create a new share link by copy paste the code from this program and add the latest extensions lzty634158/yahboom_mbit_en and YahboomTechnology/Yahboom_IR

[2022-09-12 20:30] abchatra commented on #4848
Issue is already fixed in the latest extension.

[2022-09-12 20:30] #4848 closed

[2022-09-12 21:45] ganicke commented on #4847
@abchatra - indeed it is!

![image](https://user-images.githubusercontent.com/27789908/189764028-362e5b93-0f25-42b2-99b5-8dcc4e0baefb.png)

Parameter names fixed in:

https://crowdin.com/translate/makecode/65/en-nb?filter=basic&value=0#284788

[2022-09-12 21:45] #4847 closed

[2022-09-13 02:48] abchatra commented on #4847
Thank you so much @ganicke

[2022-09-13 09:26] dsssssssss9 commented on #4848
@abchatra
Many thanks for this
I completely missed seeing the updated extensions - sorry!

[2022-09-13 13:59] akshitagupta15june opened #4850 "Step counter using microbit (Project Idea)"
I want to add a step counter using microbit in the docs/projects

Have a look at the detailed project in my hackster profile: https://www.hackster.io/akshitagupta15june/let-s-run-a-step-counter-made-using-micro-bit-ce2207

Please assign me this issue, so that I can add the content of the project @riknoll @jwunderl

[2022-09-13 14:26] martinwork commented on #4794
@Nitesh-AI Is this still an issue, or is it a fault with your micro:bit?

[2022-09-14 14:56] martinwork opened #4851 "MakeCode extension icons are clipped - seeking clarification on required icon size"
**Describe the bug**
On the extensions dialogue, and especially on the gallery page (https://makecode.microbit.org/extensions), lots of icons are clipped so that important parts of the design are missing.

MakeCode extension icons are specified to be 300x200 pixels and less than 100kb in size (https://makecode.microbit.org/extensions/approval), though few existing extension icons fit that spec.

T

[2022-09-14 15:14] pelikhan opened #4852 "Blocks documentation outdated"
This way of doing destructuring is deprecated?

![image](https://user-images.githubusercontent.com/4175913/190194232-a72f743b-62ba-4820-9b40-77ecdb53021a.png)

[2022-09-16 10:15] microbit-carlos opened #4854 "ChromeOS 105 WebUSB connection issues"
@abchatra posting here for visibility.

Looks like the ChromeOS 105 release has broken WebUSB with the micro:bit, so it doesn't work with the MakeCode and the Python editor.
The issue has been already logged in the Chromium tracker: https://bugs.chromium.org/p/chromium/issues/detail?id=1363712&q=usb&can=2

And a patch is under review: https://chromium-review.googlesource.com/c/chromiumos/platform2

[2022-09-16 15:22] abchatra commented on #4854
I couldn't reproduce this on Chrome 105 on windows. So assuming ChormeOS only issue?

[2022-09-16 15:39] martinwork commented on #4854
@abchatra That is my understanding. In my tests with Chrome OS 106 on my Chromebook's beta channel, MakeCode and the Python Editor both see a failure as if the device is in use, like this
[code]

[2022-09-16 16:02] martinwork commented on #4770
@pelikhan This [pairnow.log](https://github.com/microsoft/pxt-microbit/files/9585480/pairnow.log) was captured from Windows 10 Chrome 105.0.5195.127 with URL
https://makecode.microbit.org/?dbg=1&webusbdbg=1&webusbfullflash=1#editor
and the console set to All levels.

Initially not WebUSB connected, I clicked Download, connected via "pair now" in the Download completed... dialog, then clicked Downl

[2022-09-20 04:59] akshitagupta15june commented on #4850
Its already present so will give a new project

[2022-09-20 05:08] akshitagupta15june opened #4857 "Face touch visual alarm band using microbit"
If you are prone to oily skin, face touching can aggravate the presence of skin oil, To help prevent infections, keep your hands away from your eyes, nose, and mouth so here micro:bit can help a lot

I would like to add this project in makecode

 @ganicke can i add this project?

project video link https://youtu.be/q9-CCeBNZ4Y

[2022-09-20 05:09] #4850 closed

[2022-09-20 05:14] akshitagupta15june opened #4858 "Can microbit v2 be used for data visualization over cloud platforms like thingspeak or qubitro?"
I need to ask that can I connect my microbit v2 with cloud platforms for data visualisation like if I ahve to send data to thingspeak platform of the various sensors?

@riknoll @abchatra

[2022-09-20 12:07] martinwork opened #4859 "Czech translation shows P7 as P5"
**Describe the bug**

From support ticket https://support.microbit.org/helpdesk/tickets/56965 (private)

In Czech, P7 is shown as P5.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/#editor'
2. Drag on 'analog write pin' and choose P7
3. Change language to Czech and check popup
4. See error

**Expected behavior**
P7 is shown as P7

**Screenshots**

![imag

[2022-09-20 23:40] #4555 closed

[2022-09-21 04:10] abchatra commented on #4858
MakeCode doesn't support cloud connection today. However there are hardware IOT accessories to microbit which connect to cloud. See https://makecode.microbit.org/extensions for all extensions.

Forum.makecode.com is a better place for questions. This issue tracker is for bugs and enhancement requests.

[2022-09-21 04:10] #4858 closed

[2022-09-21 23:39] ganicke commented on #4859
Fixed at: https://crowdin.com/translate/makecode/65/en-cs?filter=basic&value=0#31720

[2022-09-21 23:39] #4859 closed

[2022-09-23 14:51] AlasdairAtKitronik opened #4861 "Some programs that were fine in v4 editor are now "too large" in v5 editor"
**Describe the bug**
A program which was written in the v4 MakeCode editor for the Kitronk Air Quality Board and worked with no issues is now 'too big' when it is opened and downloaded from the v5 MakeCode editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Use this file:
[microbit-d_DataLogging-Tutorial.zip](https://github.com/microsoft/pxt-microbit/files/9634693/microbit-d_DataLogging-

[2022-09-23 18:57] martinwork commented on #4861
This is presumably related to https://github.com/microsoft/pxt-microbit/issues/4788 which is included in https://github.com/microsoft/pxt-microbit/milestone/4.

In case this means something... I noticed that the example has extension v0.1.1. When updated, it becomes v1.0.12, and the "too big" number increases to 3220.

As an alternative to using MakeCode V4, it will build for V2 only, if the V1 bu

[2022-09-25 17:21] JShull commented on #4821
For what it's worth hit the same issue: Was running the log through the browser and got some information - hope it helps.
@mmoskal
![Screen Shot 2022-09-25 at 1 20 28 PM](https://user-images.githubusercontent.com/12342337/192156649-84b1a711-2bef-4c1a-9fbc-b9664e7da5b2.png)

[2022-09-26 11:53] martinwork opened #4862 "Sound hangs if tones are played too quickly"
**Describe the bug**
Reported in support ticket https://support.microbit.org/helpdesk/tickets/57130 (private)

Sound stops on micro:bit V2 if tones are played too quickly.
This project demonstrates the error: https://makecode.microbit.org/_ThWV01bxEe8r.
The heart keeps beating, but sound stops after 3 tones.

If the pause is increased to 110ms, it's OK.

**To Reproduce**
Steps to reproduce the beh

[2022-09-27 19:52] HanaZimmermanKarl commented on #4843
@abchatra can you please help?
There are more issues with the music blocks, and I'd love to discuss them and get a solution for teaching them, please....

[2022-09-28 04:47] abchatra commented on #4843
@HanaZimmermanKarl thanks for the feedback. This block has been there for long time and changing them might break screenshots and tutorials at various points.

We have built a much simpler to use playSound block in  beta site (arcade.makecode.com/beta). Would that solve the teaching issue? Feedback welcome here.

![image](https://user-images.githubusercontent.com/6107272/192689762-7b8ac403-09e1-44

[2022-09-28 06:26] HanaZimmermanKarl commented on #4843
@abchatra Thank you very much for your quick reply!!
Went into the arcade.makecode.com/beta as you suggested.
Checked the rest block first.
It looks better because it does not have the (ms) on it:
<img width="139" alt="rest block from arcade" src="https://user-images.githubusercontent.com/112929044/192701321-9677ac1b-202d-4400-a2e6-a929cac9f154.png">
**But** when reading the documentation of it, i

[2022-09-28 07:57] HanaZimmermanKarl commented on #4843
Thank you  Adhijith Chatra for your very quick response!
I'd like to explain my needs a bit better:

I'm the head of a new project at the Israeli MOE (Ministry Of Education)
that is called HighTechClass.

We are addressing critical thinking as well as collaboration, Creativity,
Design thinking, Communication skills and more while teaching students to
code.
We are doing it *for all*. Not only for f

[2022-09-28 17:19] abchatra commented on #4843
If it easier please send email to makecode at microsoft dot com.  Happy to discuss with my team.

[2022-10-03 07:39] AlasdairAtKitronik commented on #4861
@martinwork Looking at those other issues, this does appear to be the same thing as https://github.com/microsoft/pxt-microbit/issues/4788.

With regards to the extension version numbers, we just made some updates to the extension since the example program was written - however, the example program still downloads in the v4 editor when the extension version is updated to the latest one.

The produc

[2022-10-03 21:41] HanaZimmermanKarl commented on #4843
Hi @abchatra,
Sent an email to makecode@microsoft.com, few days ago.
Can you please confirm you got it?
Thanks much!

[2022-10-04 00:21] abchatra commented on #4843
Yes, thanks for writing the email. We are discussing internally.

[2022-10-05 16:30] Jaqster opened #4865 "Inconsistency in Tempo slider values"
Reported by an educator -
The slider values for the Tempo field go from 40 - 500 in the Play Melody block vs. 4 - 400 in the Set Tempo block.
Request is to keep the slider values consistent across blocks.
![image](https://user-images.githubusercontent.com/22108954/194112808-cb6545f9-f999-48d1-b503-ab1b7e4048cd.png)
![image](https://user-images.githubusercontent.com/22108954/194112853-1550b087-76bd

[2022-10-06 08:43] AlasdairAtKitronik commented on #4788
@microbit-carlos @abchatra Any update on this is it's definitely still an issue?

[2022-10-09 08:27] Sheila111 commented on #4780
Same issue for **Arcade offline build**:
**arcade version**: [1.10.34]
**Microsoft MakeCode version**: [8.3.7]
![1](https://user-images.githubusercontent.com/59192069/194746187-b855d78b-426d-4cde-8200-11a8dfe03dfe.gif)

[2022-10-10 04:17] abchatra commented on #4788
Thanks for the reminder @AlasdairAtKitronik. I will update by EOW on the progress.

[2022-10-11 08:04] HanaZimmermanKarl commented on #4843
Hi @abchatra again,
The **name** of the parameter as it apears in the help of the rest block (both in production and in the arcade new version), is **ms**.
It can be seen in the screenshots in previouse comments of this thread.
Naming parameters (as well as to variables and methods), are a huge issue when teaching programming.
Same goes with educating to decide on nameing convention and stick to t

[2022-10-11 08:06] unthinkmedia commented on #4600
Here is a tighter implementation. That increases the space by around 120
px. You will notice that I also reduced the header size to 32 from 36px.

[image: image.png]

On Thu, Apr 28, 2022, 12:54 AM Becky Haruyama ***@***.***>
wrote:

[2022-10-11 08:45] pelikhan commented on #4617
It helps React reconcile the threes when switching categories, not critical here.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Hassan Sufi ***@***.***>
Sent: Friday, May 6, 2022 2:09 PM
To: microsoft/pxt-microbit ***@***.***>
Cc: Peli de Halleux ***@***.***>; Comment ***@***.***>
Subject: Re: [microsoft/pxt-microbit] New extension dialog: SSD1306_OLED extens

[2022-10-15 10:46] martinwork opened #4870 "FAQ Test Domains check appears to be missing some requirements"
**Describe the bug**
Arising from support ticket https://support.microbit.org/helpdesk/tickets/57604 (private)

The list of domains at https://makecode.microbit.org/faq and the "Test Domains" check appears to be missing some requirements.

With Chromebooks passing the Test Domains tests, the simulator failed to appear with the message
"The person who set up this computer has chosen to block this s

[2022-10-17 18:19] abchatra commented on #4870
I am not sure I understand this bug. List below is the same except pxt.microbit.org & www.pxt.io. Both of which we don't use anymore.
https://support.microbit.org/en/support/solutions/articles/19000030385-firewall-requirements-for-micro-bit-editors

[2022-10-17 18:20] abchatra commented on #4854
@carlosperate @martinwork is this fixed now?

[2022-10-17 19:59] abchatra commented on #4854
Ok will keep this alive until it is released.

[2022-10-18 18:33] martinwork commented on #4870
The original report had two photos of the Chromebook screen, showing the failed simulator, and makecode.microbit.org/domains with success for all domains. I asked them to capture console output.

A few days later, I suggested https://support.microbit.org/en/support/solutions/articles/19000083125-makecode-microbit-org-doesn-t-load-on-chromebook which links to https://support.microbit.org/en/support

[2022-10-18 19:17] Jaqster commented on #4769
I've also noticed that if you open a project with data logging, and then create a New Project right afterwards, you'll see that Show Data Simulator button appear.

https://user-images.githubusercontent.com/22108954/196523524-b77c907a-882b-4592-a986-4c942673192b.mp4

[2022-10-19 14:04] martinwork commented on #4870
@abchatra Sorry for commenting on something I know little about, but... I read at https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch "The Promise returned from fetch() won't reject on HTTP error status even if the response is an HTTP 404 or 500."

Could it be that the Test Domains fetch() checks reported success though the io domains were blocked?

Below are console logs from m

[2022-10-19 22:00] abchatra commented on #4870
404 error is ok. It means server is reachable, but the page is not. This is true for simulator domains when we query: https://www.lifewire.com/404-not-found-error-explained-2622936#:~:text=A%20404%20error%20is%20an,showing%20the%20error%20is%20not.

[2022-10-19 22:17] abchatra commented on #4870
It is kind of hard to test this. However, you can use devtools to block a domain and see the page working correct.
![image](https://user-images.githubusercontent.com/6107272/196815018-15bd948c-cd44-4dfd-abe1-f7ac94903ec0.png)

Your feedback is greatly welcome. Always good to question these things.

[2022-10-19 23:09] abchatra commented on #4788
@AlasdairAtKitronik makecode.microbit.org/stable should have a workaround with letting users to download on v2. Please take a look.

[2022-10-19 23:10] abchatra commented on #4788
https://github.com/microsoft/pxt-microbit/pull/4824#issuecomment-1220953203

[2022-10-19 23:11] abchatra commented on #4788
We will release after some testing.

[2022-10-19 23:42] pelikhan commented on #4870
Some “hotel firewalls” don’t return 404/500, they return a valid HTML page. You could sniff the html for some "makecode-ish" markers
________________________________
From: Abhijith Chatra ***@***.***>
Sent: Wednesday, October 19, 2022 3:18:05 PM
To: microsoft/pxt-microbit ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [microsoft/pxt-microbit] FAQ Test Domains check appears to be missing som

[2022-10-20 07:19] AlasdairAtKitronik commented on #4788
@abchatra I have tested the workaround and it works for downloading the program for V2 only.
I take it this is just a temporary fix while you work out how to reduce the download size so programs fit on V1 as well?

[2022-10-20 16:41] abchatra commented on #4788
Yotta package is the reason for hex being bigger in the latest release. Plan here is to move DAL (used by V1) to use CODAL as well, which gets rids of yotta package. This is going to take some time, meanwhile we will ship this workaround for V2.

@jaustin @finneyj - FYI

[2022-10-20 16:48] abchatra commented on #4870
Check is done in a way that any response from the server, then domain is reachable. This should work for hotel firewalls, right?

[2022-10-20 16:58] riknoll commented on #4788
@mmoskal

[2022-10-20 17:47] mmoskal commented on #4788
I think it was update of build environment to latest GCC, which was apparently somehow the only way to run latest yotta that was required due to yotta being killed by arm.

I'm not sure CODAL will use less flash than DAL, but you're the expert.

Also I my understanding is that the difference in flash usage wasn't large, it was just that the programs were already at the edge, is that right @riknoll

[2022-10-20 17:51] riknoll commented on #4788
yes, it was pretty close already.

when we updated yotta, it forced us to update the version of ubuntu that our build service is using because the python libs no longer supported ssl on the older version. the gcc updates were incidental to that.

[2022-10-21 09:22] microbit-carlos commented on #4788
@riknoll could you point me to the old and new Dockerfile? Yotta hasn't been updated in years and I think we could find a combination of Ubuntu release and dependencies that can keep the same gcc version. Worse case scenario, if the issue is only the GCC version used, we can install whichever version we need by downloading a specific released from launchpad, as Arm GCC builds are hosted there and

[2022-10-21 09:32] microbit-carlos commented on #4788
Btw, I am a bit surprised that updating GCC resulted in a larger flash and RAM consumption, it's usually been the other way around. But if the fix is to get a docker image with the same GCC version, I think that should be doable.

In terms of numbers, we are talking about _at least_ 6 KBs of flash, which yes, it's a bit on the edge, but we get to that point easily by using couple of large extensio

[2022-10-21 16:51] riknoll commented on #4788
For the record, I was just talking about flash size and not RAM. Haven't personally done any investigation into memory consumption.

You can find the dockerfile under pext/yotta in dockerhub:

https://hub.docker.com/r/pext/yotta/tags

We currently use the `update-yotta3` tag and were previously using the `gcc4` tag

[2022-10-21 17:52] microbit-carlos commented on #4788
Thanks @riknoll, do you have a link to the Dockerfile in GitHub, and a "before" or "after" commit? Something I can close locally and modify? I can't find a way to the `gcc4` dockerfile on DockerHub.

[2022-10-21 17:58] riknoll commented on #4788
ah, all the old actually does is extend the mbed/yotta dockerfile:

https://github.com/ARMmbed/yotta-docker

Can't link a commit because our backend isn't public

[2022-10-24 10:13] jaustin commented on #4788
@mmoskal just to clarify this, I don't think using the whole of CODAL is on the table - just build.py and associated tooling. So, still building microbit-dal but using CODAL's toolchain to do that.

I don't think we think this will solve the problem in this issue, but will at least make debugging it easier as we can build DAL without needing yotta and dependencies which have become a pain to insta

[2022-10-24 18:24] microbit-carlos commented on #4788
Running a quick test building DAL (from the https://github.com/lancaster-university/microbit-samples repo) with the old PXT Yotta docker image and the newest one, we can see a decrease in flash usage (at least from the DAL side).

Both examples were built using the following command:
[code]

### pext/yotta:gcc4
[code]

[code]
[code]

### pext/yotta:update-yotta3

[code]

[code]
[code]

### Compari

[2022-10-24 21:39] abchatra commented on #4788
@microbit-carlos can you summarize the feedback? Are you saying we should move to the latest GCC?

[2022-10-25 09:24] microbit-carlos commented on #4788
The summary is that the old Yotta docker image had GCC v5, and the latest one has GCC v7. It is my understanding from this thread, that we believe that moving from GCC v5 to v7 has caused the additional flash consumption, but compiling a DAL compilation with those two docker images shows that GCC v7 (the one PXT uses now) actually reduces flash consumption by almost 5 KBs.

Of course, MakeCode has

[2022-10-27 14:58] martinwork opened #4873 "German language: error in translation of writeBuffer, and failure to save a valid private GitHub repo"
**Describe the bug**
Arising from support ticket https://support.microbit.org/helpdesk/tickets/57610 (private)

writeBuffer is not translated when the language is German.
![image](https://user-images.githubusercontent.com/989126/198295896-fbc73d01-4499-457d-b47f-4a3f47afd793.png)

If I create a new project in German, save it to a private repo, then delete the project, the repo fails to import.
No

[2022-10-28 08:04] Sheila111 opened #4874 "Microbit app: No option shows when clicking “Show device share options” button"
**Describe the bug**
**Microbit app**: No option shows when clicking “**Show device share options**” button

**Steps to reproduce the behavior**
1. Open microbit app
2. Open a project and click Publish button to enter into **share screen**
3. Click "**Publish to share**" button
4. Click “**Show device share options**” button

**Actual behavior**
**Microbit app**: No option shows when clicking “**S

[2022-10-28 08:24] Sheila111 opened #4875 "Multi Editors: No simulator shows if opening the Python/JS only editor"
**Describe the bug**
**Multi Editors**: No simulator shows if opening the **Python/JS only** editor

**Steps to reproduce the behavior**
1.Navigate to https://makecode.microbit.org/---multi#
2.Create a project and choose "**Python Only**" or "**JavaScript Only**"

**Actual behavior**
**Multi Editors**: No simulator shows if opening the **Python/JS only** editor. But it has simulator if you open **

[2022-10-28 15:27] abchatra commented on #4788
Our docker-image file here:
[docker-image.txt](https://github.com/microsoft/pxt-microbit/files/9889805/docker-image.txt)

[2022-10-28 16:55] microbit-carlos commented on #4788
Actually, the dockerhub `pext/yotta:latest` points to this image:
<img width="1288" alt="image" src="https://user-images.githubusercontent.com/29712657/198690654-ea48a874-6491-4afc-a358-771b3844defd.png">

Which was pushed 5 years ago, and uses GCC 6.2.1:

[code]

@abchatra @riknoll From this comment Makecode is currently using `pext/yotta:update-yotta3`, is that configured in a different repo?

[2022-10-29 15:38] HanaZimmermanKarl commented on #4843
Hi @abchatra,
Is there any update you can share with me?
Any update will be greatly appriciated.
I need to make decisions as to next year's curriculum, and your update will be of great help in that.
Thank you very much.

[2022-10-31 17:16] riknoll commented on #4788
yes, we don't touch the latest tag for historical reasons. it's still referenced in a few places but not for the micro:bit build

[2022-11-02 00:14] abchatra commented on #4843
@HanaZimmermanKarl I have marked it for the yearly summer release. We will look holistically at these API's by then. We don't typically do changes to the apis in the middle of the school year, just to keep things consistent for teachers.

[2022-11-03 10:00] microbit-carlos commented on #4788
Right, so if `latest` tag is never touched, the pxt-microbit repo `pxtarget.json` file points to the `latest` tag, but the cloud builds are done with the `yotta3` tag, then I assume the cloud build tags are configured somewhere else?

Why not change ` pxt-microbit/pxtarget.json` to point to `yotta3` as well?

[2022-11-05 18:19] paulinaeb commented on #3864
it doesn´t, I already tried it.

[2022-11-05 20:31] HanaZimmermanKarl commented on #4843
@abchatra Thanks for the update.
I guess this leaves me in the dark as to what changes if any are going to be added to your summer release.
As I'm progressing with the curriculum, there are more pedagogical issues that need to be addressed.
We are not using the music blocks at all in our curriculum because of mager issues there, that I'd like to share.
As I wrote, I'd still appreciate a discussion

[2022-11-08 14:01] microbit-Emma opened #4877 "Request to update micro:bit translation support docs"
The info for volunteers on https://makecode.microbit.org/translate is outdated. Please can the page be edited to add the new content to the existing list of blocks? Thanks
color-jsdoc-strings.json
color-strings.json
datalogger-jsdoc-strings.json
datalogger-strings.json
flashlog-jsdoc-strings.json
flashlog-strings.json
jacdac-jsdoc-strings.json
jacdac-strings.json
microphone-jsdoc-strings.json
micr

[2022-11-09 01:43] abchatra commented on #4843
Happy to discuss with you @HanaZimmermanKarl. Do you want to have a meeting?

[2022-11-09 09:46] microbit-Emma commented on #4877
Thank you!

[2022-11-09 18:53] #4877 closed

[2022-11-10 23:57] HanaZimmermanKarl commented on #4843
Hi again @abchatra,
Yes please. I'd love to have a meeting.

[2022-11-12 01:32] abchatra commented on #4843
I will setup one in coming weeks.

[2022-11-14 10:45] HanaZimmermanKarl commented on #4843
@abchatra Thank you ver much!
Looking forward!

[2022-11-14 20:07] adamkdean opened #4880 "Ability to specify specific microbit to deploy to when multiple are connected to same system"
**Is your feature request related to a problem? Please describe.**
I have two microbits connected to a MacOS device. I want to write software for them and deploy independently to each microbit. When I run `pxt deploy` it deploys to both devices simultaneously. This is undesirable, but understandable.

**Describe the solution you'd like**
Being able to provide a target would be perfect, e.g. `pxt d

[2022-11-15 00:19] crouse12 opened #4881 "Add a new option for v1 and v2"
I know makecode check program memory for microbit v1
![image](https://user-images.githubusercontent.com/25700616/201794942-15afb5e1-613f-4b84-a337-4b784256e362.png)
However, it is not good for microbit v2.
I don't know why I buy microbit v2.
Large memory cannot be used.
Is it possible to add a option for microbit v1 and v2?
If you use microbit v2, you can download microbit v2 hex.
If you use micro

[2022-11-15 00:45] abchatra commented on #4881
@crouse12 can you please share the program? Yes, good feedback. Let me take a look

[2022-11-15 02:28] crouse12 commented on #4881
This file cannot be download. Thus, I share the link.
https://makecode.microbit.org/_UUbURpRzufcH
The same file can be used if it is created by old makecode.

[2022-11-15 22:46] PatchesTheSnake opened #4882 "substring"
**in JavaScript substr works different then blocks**
in JavaScript you can only give one argument . if you convert your program to blocks then it sets the value to 0 of the second argment

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'js'
2. type `bacic.showString("test".substr(3))`
3. write down resalt
4. convert to blocks
5. write down resalt
6. they are not the same

**Expected be

[2022-11-18 00:16] abchatra commented on #4881
We have enabled downloading to v2 here, even if we detect higher memory  consumption.
https://makecode.microbit.org/stable

Can you try the above and see if that solves the problem? If yes, we will release the fix soon.

[2022-11-18 04:05] crouse12 commented on #4881
Thanks, this version can download v2 now.
However, I believe microbit v3 will be proposed in the feture.
Is it possible to make makecode like makecode arcade?
We can choose what kind of board you use.
![image](https://user-images.githubusercontent.com/25700616/202614310-8a16d2e0-89d7-4ae1-bcb2-8566922e7b32.png)

[2022-11-18 14:18] rharbird opened #4887 "microphone sound level threshold evaluation uses ==, should use >="
**Describe the bug**
In file microphone.cpp onSound(), the threshold type (LOW/HIGH) is set depending on whether it is equal to DetectedSound::Loud. This means that threshold will not be set to LEVEL_THRESHOLD_HIGH unless it is exactly the value DetectedSound::Loud. This can cause unexpected behaviour.

**To Reproduce**
N/A

**Expected behavior**
thresholdType should be LEVEL_THRESHOLD_HIGH when s

[2022-11-18 18:00] martinwork commented on #4887
The comparison is to convert from the enum values DetectedSound::Loud/Quiet to the CODAL LEVEL_THRESHOLD event values, specifying the type of sound event (loud/quiet=>high/low) that should trigger a call to the handler.
https://github.com/microsoft/pxt-microbit/blob/master/libs/microphone/microphone.cpp#L44
https://makecode.microbit.org/reference/input/on-sound

The actual thresholds used for loud

[2022-11-22 17:25] kiki-lee commented on #963
Adding a +1 here.  Super frustrating that the simulator works correctly and the micro:bit does not.

[2022-11-25 02:28] mark2018888 commented on #4788
@jaustin Hello Jonathan, it looks like the problem of the "Program too big by 1420bytes" still exists in makecode.microbit.org version:  [5.0.12](https://github.com/Microsoft/pxt-microbit/releases/tag/v5.0.12), what we are doing now is to get back to the former 4.0+ version to make things work, but it could be complicated for Ss to operate and understand in classrooms, is there any possibility to

[2022-11-29 18:20] abchatra commented on #4814
This is completed. Thank you @clkantner

[2022-11-29 18:20] #4814 closed

[2022-11-29 18:21] abchatra commented on #4772
@jaustin please take down the app. It is going to cause confusion leading to the hour of code week.