[2020-11-29 00:39] abchatra commented on #3770
These extensions don't work on v2 hardware, please disable their compilation on v2 hardware by specifying the
[code]

[2020-11-29 00:40] abchatra commented on #3770
For how to fix the extension for v2 hardware as well, contact microbit support.

[2020-11-29 19:53] abchatra commented on #3778
Can you share your program and provide details? I don't understand this issue.

[2020-11-30 05:42] tangjie133 commented on #3524
High and low level events cannot be triggered by pins

[2020-12-01 06:43] tangjie133 opened #3782 "Pin pulse event module not available"
Pin pulse event module not available.
V1 version of the microbit can be used normally, V2 can not, please solve as soon as possible.
![QQ截图20201201144105](https://user-images.githubusercontent.com/51323906/100706101-5fa25900-33e3-11eb-9fb8-64854b034e08.png)

[2020-12-01 08:30] microbit-mark opened #3784 "Editor not loading for students"
Reported 26th Nov

**Describe the bug**

- using school office PC,  browsing the website works well
- This issue occurs in the computer classroom:

- Teacher end  PC at school  computer classroom work well (but needed a little bit time)
- Student end PCs at school  computer classroom can not work well (over 30 minutes still can not local the editor)

Users are in Taiwan.

**To Reproduce**
Steps to

[2020-12-01 09:41] 4tronix opened #3785 "Ultrasonic on Single Pin Locks Up or Out of Memory"
**Describe the bug**
Using the same pin for both Trigger and Echo - as we do on ALL our robots - causes the V2 Microbit to either lock up or give an Error 020 (out of memory?)
Using different pins, or using Microbit v1 and everything is fine.
![SonicIssue_01](https://user-images.githubusercontent.com/5825966/100722475-8d25dd00-33b8-11eb-8f1f-f44788362534.jpg)

**To Reproduce**
Use the ultrasonic e

[2020-12-01 10:25] 4tronix commented on #3731
This is also seen in #3785
https://github.com/microsoft/pxt-microbit/issues/3785#issue-754231515

Critical

[2020-12-01 10:27] 4tronix commented on #3785
Related to https://github.com/microsoft/pxt-microbit/issues/3731#issue-746688781

[2020-12-01 10:30] 4tronix commented on #3599
This pulsein change seems to have broken single pin ultrasonics. See https://github.com/microsoft/pxt-microbit/issues/3731#issue-746688781

[2020-12-01 11:25] microbit-mark commented on #3740
Also raised on support by someone with accessories that make use of P0 on the edge connector.

[2020-12-01 11:36] finneyj commented on #3740
Hi folks. This patch is already implemented here:
https://github.com/lancaster-university/codal-microbit-v2/commit/7145889d5d66325cce67cb2cb26f480dc46f8e5a

It's also included in the v0.2.21 release, which I think went to MakeCode beta last week.

[2020-12-01 13:59] microbit-mark commented on #3782
Also raised in micro:bit support testing P0

[2020-12-01 18:03] jaustin commented on #3785
@finneyj is looking at this :)

[2020-12-01 20:42] tballmsft opened #3786 "please add extension to approvedlist"
please add the microsoft/ExpressivePixelsMakeCode (github.com) extension to the approvedlist for micro:bit.

[2020-12-01 21:44] finneyj commented on #3785
OK, Have tracked this down to case of mutual assured destruction between the IRQ edge detector code and the PWM measurement class. Sorry about that.

Fixed in:
https://github.com/lancaster-university/codal-core/commit/147c24ce8641983dfd6ed584926b2a6a27abc017

and made the detector a little more tolerant in the case of missing the start of a pulse here, which could happen if you're turning the pin

[2020-12-02 02:02] abchatra commented on #3786
Here is the pull request. https://github.com/microsoft/pxt-microbit/pull/3788
I will wait for the final update of the blocks. I filed this issue in the repo.
https://github.com/microsoft/ExpressivePixelsMakeCode/issues/7

[2020-12-02 03:09] MiroChao commented on #3785
@finneyj Hi, how do i update my microbit V2 to v0.2.23?

[2020-12-02 03:09] MiroChao commented on #3785
https://github.com/microsoft/pxt-microbit/issues/3731#issuecomment-736383385

[2020-12-02 03:22] tangjie133 commented on #3782
How long can this problem be solved.

[2020-12-02 05:56] abchatra commented on #3736
Fixed

[2020-12-02 05:56] #3736 closed

[2020-12-02 05:56] #3770 closed

[2020-12-02 10:24] microbit-mark commented on #3506
We have replicated the guidance in https://github.com/lancaster-university/codal-microbit-v2/issues/31 on the micro:bit Knowledgebase in https://support.microbit.org/en/support/solutions/articles/19000121371-makecode-extension-compatibility-v1-and-v2

Please link to this if you see further issues @pelikhan @abchatra

[2020-12-02 11:07] finneyj commented on #3785
Hi @MiroChao

The updates should be automatically pulled through onto the makecode.microbit.org/beta in the near future when it next updates.

[2020-12-02 11:21] microbit-pauline opened #3789 "Toolbox not appearing in Microsoft Teams for MakeCode assignment"
An Educator using the MakeCode micro:bit app on Microsoft Teams has noticed an issue where the simulator has loaded but the blocks are missing.

We are unable to test this.

**User Image**
![image](https://user-images.githubusercontent.com/29146842/100866243-4acfcf00-3490-11eb-8009-aa1ea00aed23.png)

Support ticket https://support.microbit.org/a/tickets/41201

[2020-12-02 13:51] microbit-mark commented on #3737
I can trigger this constantly now in Chrome 87 on mac 10.15.7

I was sent this program by a user that caused the error for them https://makecode.microbit.org/_6piFHqMsdX8t

The error reproduces for me.

If I compile the .hex it works as expected.

Resetting the editor and using Incognito window has no effect

Removing WebUSB pairing and reconnecting has no effect.

[2020-12-02 16:39] Jaqster commented on #3789
This is the read-only view that shows up once an assignment has been turned in.  Can you ask the user to give us the repro steps for how they got to this view?  And confirm they are signed into Teams with a Teacher account?

[2020-12-02 18:07] livcheerful commented on #3789
@microbit-pauline should I be able to access the support ticket? It seems to redirect me to login every time I try :\

[2020-12-02 21:12] abchatra commented on #3731
@jaustin what is the plan for this issue?

[2020-12-02 21:18] abchatra commented on #3784
Can't repro. Likely network issue.

[2020-12-02 21:18] #3784 closed

[2020-12-03 10:56] jaustin commented on #3731
@abchatra I think the fix in https://github.com/microsoft/pxt-microbit/issues/3785#issuecomment-736839719 should work for the 020 issue. @finneyj will  v0.2.23 be out this week? Are you waiting for other things before it?

[2020-12-03 11:07] finneyj commented on #3731
Yes - looking to tag v0.2.23 today.

[2020-12-03 21:00] tballmsft opened #3790 "program too large error isn't surfaced in web app"
I created a program that won't fit in the flash of the micro:bit. The only message I got in the app was "compilation failed, check your code for errors" but there was nothing in output.txt (which said everything was fine). I opened the developer console to see:

error: test.ts(1,1): error TS9200: program too big by 60304 bytes!

We need to surface errors that are caught in the "post-processing" ph

[2020-12-03 21:40] tballmsft commented on #3790
More on the problem - the error message is written to output.txt after I press "download" but then the compiler for the simutaor gets invoked again and overwrites with "everything is fine" since that compiler pass doesn't generate binary.

[2020-12-04 01:01] Jaqster commented on #3789
Thanks Pauline.  I'm following up with the Teams team.

[2020-12-04 08:42] MiroChao commented on #3731
@finneyj How do we know it's updated to v0.2.23 ? I didn't find any versions related to this.
![image](https://user-images.githubusercontent.com/11206594/101141675-95e41080-364f-11eb-8d4e-43a3645a7f9e.png)

[2020-12-04 09:27] finneyj commented on #3731
Hi @MiroChao

I'm not sure how MakeCode surfaces the v2 version number. v2.2.20-rc6 is the equivalent v1 version. It would be good to surface the v2 version too for tracking. Perhaps @abchatra can advise here?

We're just in final testing of the v0.2.23 this morning to ensure the pulse input code is now working fully for a range of applications. I'm hoping to release very soon today. I'm sure the

[2020-12-04 10:15] AlasdairAtKitronik commented on #3710
@pelikhan @abchatra Is there any way of getting round this?
I also found this issue when I had spent a week logging data on the micro:bit, connected it to MakeCode via WebUSB to transfer over the serial interface, the micro:bit reset and I lost all my data.

Data logging is something schools really want to do, but it's not practical to keep micro:bits constantly plugged into a computer, especially

[2020-12-04 10:33] AlasdairAtKitronik commented on #3710
Using a terminal program like Tera Term and setting up the connection, changing the baud rate etc doesn't reset the micro:bit, and still allows all the data to be transferred, so why does the same thing with WebUSB in MakeCode cause a reset?

[2020-12-04 13:40] AlasdairAtKitronik commented on #3531
@jaustin @finneyj Any update on this yet?

[2020-12-04 15:11] finneyj commented on #3531
Hi @AlasdairAtKitronik

Yes - all pulse input tests are looking good now. I'll be tagging this in about 30 mins just after a final set of tests are completed on one of the other software modules.

[2020-12-04 15:52] microbit-mark opened #3791 "Pin is not pulled low on P16"
**Describe the bug**

<img width="727" alt="image" src="https://user-images.githubusercontent.com/31242877/101184231-61b92180-3648-11eb-8d5b-c2afba1edc44.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/90021-04323-64968-24644
2.Flash to micro:bit
3. Connect P16 to GND
4. No change on screen

**Expected behaviour**
This works as expected on V1 and for

[2020-12-04 16:09] finneyj commented on #3531
@AlasdairAtKitronik

I still don't know the cause here I'm afraid - feels like a bit of ground noise being amplified somehow. As an interim measure I put this C++ API in for you: https://github.com/lancaster-university/codal-microbit-v2/commit/4f1573e506f1cb08cf12a35fd7db1a1e6f12692a

You should be able to call that from inside your extension with a bit of C. If you call this:
```uBit.audio.mixer.

[2020-12-04 16:13] finneyj commented on #3731
@MiroChao @4tronix

Just FYI, v0.2.23 of codal-microbit-v2 now released which I hope will resolve these issues for you. @4tronix - we tested on one of your boards too.

I'm sure the MakeCode team will pull this onto /beta when they can.

[2020-12-05 01:55] Jaqster commented on #3789
Hi Pauline - here's the update from the Teams team:
"This is by design,  In the "Student View" that the teacher accesses, the resource is read-only. That view is intended as a sneak peak, and teachers are meant to do their editing in the "Edit Assignment" view. Is there a user need to edit from the "student view"?"

So, the reason the Teacher doesn't see the Toolbox is because they have already As

[2020-12-05 01:55] #3789 closed

[2020-12-05 02:48] chenjiegd opened #3792 "Bluetooth automatically disconnects from the phone."
**Describe the bug**
The Bluetooth function of the micro:bit V2 will automatically disconnect after connecting to the phone for 2 minutes, and The phone needs to be connected to the micro:bit V2.0 again. This will happen when using the mobile APP Mbit and micro:bit .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/_DHUctXDtuA7t
No Pairing Required: Anyone

[2020-12-05 03:22] chenjiegd opened #3793 "Unable to edit I2C block code."
**Describe the bug**
The previous version of MakeCode can use the I2C read and control functions normally, but now it seems that only PCA9685 can be used normally but cannot be edited.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/_XWrEXM8vhFPK
2. See error

**Expected behavior**
The micro:bit can communicate with other devices normally

**Screenshots**

[2020-12-05 04:45] pelikhan commented on #3793
This is a translation issue. We should have refused that translation too.

________________________________
From: Blair <notifications@github.com>
Sent: Saturday, December 5, 2020 4:22:29 AM
To: microsoft/pxt-microbit <pxt-microbit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [microsoft/pxt-microbit] Unable to edit I2C block code. (#3793)

Describe the bug
The previo

[2020-12-05 10:35] chenjiegd commented on #3793
This code can run normally when using micro:bit V1.5, but it has no response under V2.0.
https://makecode.microbit.org/_Ftx2rbYsAMPo
![image](https://user-images.githubusercontent.com/37208138/101239564-4a029b80-3723-11eb-8967-6c57382422ce.png)

[2020-12-05 14:17] martinwork commented on #3792
Thank you @chenjiegd I'm sorry you had to pin this down and report it. A fix for this is included in the codal-micrbit-v2 v0.2.23 release, which should be available in MakeCode soon.

[2020-12-07 01:25] chenjiegd commented on #3792
Thank you.@martinwork

[2020-12-07 05:55] MiroChao commented on #3731
@finneyj Hi, thanks for the update.
@abchatra Hi, it seems /beta is still v2.2.20-rc6, will the v0.2.23 of codal-microbit-v2 be updated this week?

[2020-12-07 09:39] pelikhan commented on #3785
https://makecode.microbit.og/beta (v3.0.62) has the fixes. Can you test?

[2020-12-07 10:26] pelikhan commented on #3731
Try https://makecode.microbit.org/beta v3.0.62 which points to codal-v2 v0.2.23

[2020-12-07 10:57] MiroChao commented on #3731
Hi @pelikhan , just tested it on V2, the pulse function seems working now, but for the same code, I got different reading on V2.
Still V1 is working well, but for V2 with ultrasonic sensor, I get a faulty result.

[2020-12-07 11:00] markb139 commented on #3731
This fixes the issues I was seeing where there was no Pulse events.

[2020-12-07 11:08] pelikhan commented on #3731
@finneyj

[2020-12-07 11:17] finneyj commented on #3731
Hi @MiroChao

Can you please check that v2 is returning a result that is faulty?  I suspect it may be the opposite. We have had reports of v1 running slow on pulse measurements.

We have some discussions of if/how we should align v1, pending a v1 update from @martinwork.

[2020-12-07 11:51] martinwork commented on #3731
https://github.com/TinkerGen/pxt-Grove/blob/master/grove.ts#L159
This code is applying an extra factor to the distance = time/58 calculation, which is not necessary with V2.

The V1 update is being tested. Meanwhile, I think ( control.ramSize() > 0x4000) could be used to detect V2.

[2020-12-07 12:01] pelikhan commented on #3740
Fix for setAudioPin sim is in ``v3.0.63``

[2020-12-07 12:03] finneyj commented on #3731
Thanks for confirming @martinwork - really useful to know.

[2020-12-08 00:40] #3786 closed

[2020-12-08 01:50] MiroChao commented on #3731
@finneyj  @martinwork If v1 and V2 are getting different result, can we detect V2 so that we can change the algorithm?

[2020-12-08 02:06] abchatra commented on #3731
@pelikhan is there a way to add a typescript API to query v1 or v2?

[2020-12-08 02:44] tangjie133 opened #3798 "I2C configuration problem"
The test results show that I2C is not an open drain output configuration, which will lead to the failure of I2C for some devices.
Hope to get your reply.

[2020-12-08 06:25] pelikhan commented on #3710
DAPLink resets the NRf when we set the baud rate.

________________________________
From: Abhijith Chatra <notifications@github.com>
Sent: Tuesday, December 8, 2020 3:05:30 AM
To: microsoft/pxt-microbit <pxt-microbit@noreply.github.com>
Cc: Peli de Halleux <jhalleux@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [microsoft/pxt-microbit] Entering into a project resets a microbit co

[2020-12-08 15:27] microbit-mark opened #3803 "Offline app crashes on macOS Big Sur"
**Describe the bug**
It appears the MakeCode offline app works sporadically on Big Sur. Sometimes it crashes (see error image)

**To Reproduce**
Not reproduced by Foundation

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/31242877/101502929-73146d80-3969-11eb-9889-ad3e57512ed4.png)

**Desktop

[2020-12-08 16:23] microbit-mark commented on #3791
Related https://github.com/lancaster-university/codal-microbit-v2/issues/17

[2020-12-08 18:18] jwunderl commented on #3803
Same issue as https://github.com/microsoft/pxt-microbit/issues/3746, closing as duplicate.

[2020-12-08 18:18] #3803 closed

[2020-12-08 18:19] jwunderl commented on #3746
Should be fixed in the next patch release ~

[2020-12-09 12:21] microbit-mark opened #3805 "Add a comment block"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

A suggestion to improve blocks commenting: create a new comment block which can be inserted "anywhere" in a series of blocks.

The difference compared with the existing comment pull-down is that it wou

[2020-12-09 14:29] martinwork commented on #3791
Created https://github.com/lancaster-university/codal-microbit-v2/issues/50

[2020-12-09 16:56] AlasdairAtKitronik commented on #3531
@finneyj Thanks for putting that API in place. I've been looking at how to implement it, and am struggling a bit.
It needs to come into action after a note has played, but having looked through the EventBusValues and MusicEvents, there doesn't seem to be an event for an individual tone being played. The closest is this:
[code]
But it only works for full melodies.
How had you envisaged this being c

[2020-12-09 17:00] finneyj commented on #3531
Hi @AlasdairAtKitronik

Sorry, no. You just need to call it once - anytime.  it should then automatically start to idle at the level you specify whenever the mixer is generating silence....

So just calling it once in your initialization code with a parameter of zero should be all you need.

[2020-12-09 17:01] AlasdairAtKitronik commented on #3531
Ah, OK, that makes a lot more sense now. Thanks!

[2020-12-09 17:14] finneyj commented on #3531
cool. I have a cunning plan how we might reduce some of the click noise when it enables/disables silence that i'll try to put in a later release. I can't make promises I'm afraid, but I'll see what we can do.

[2020-12-10 02:56] MiroChao opened #3806 "Accelerometer reading not match the axis of LSM303AGR"
I found out the accelerometer reading for micro:bit is not matched with the direction of the sensor LSM303AGR , why is that? Is this designed on purpose to have a different 3D axis with the sensor itself?

<img width="393" alt="LogoUp_ay_reading" src="https://user-images.githubusercontent.com/11206594/101715350-429e1200-3ad6-11eb-8dc3-850ab8574d28.png">
<img width="385" alt="tiltRight_ax_reading"

[2020-12-10 03:05] MiroChao commented on #3806
The sensor is on the backside of the micro:bit, so when I look at the screen, shouldn't the axis be like this？
![image](https://user-images.githubusercontent.com/11206594/101716097-9a894880-3ad7-11eb-9a75-cda1ff92a82d.png)

[2020-12-11 09:59] pelikhan opened #3809 "Naming conventation for repoes is snakified"
https://github.com/microsoft/pxt-microbit/blob/efa0c706f13eb57dd7eebc7e4bee64e5ca936f78/targetconfig.json#L194

[2020-12-11 14:08] microbit-pauline opened #3810 "Nyan Melody code not working for micro:bit user"
Micro:bit support #41752

A micro:bit user has come through support to ask for help why the code for nyan melody is not working. I have looked over the code and it looks fine in the emulator but does not work for me either - can you please advise?

[microbit-PEGASUS-MUSIC.zip](https://github.com/microsoft/pxt-microbit/files/5679557/microbit-PEGASUS-MUSIC.zip)

[2020-12-11 14:43] AlasdairAtKitronik commented on #3531
@finneyj Is the initial fix you did in CODAL available in live MakeCode yet? I can't seem to make it work at all.

[2020-12-11 18:20] mmoskal commented on #3742
https://github.com/microsoft/pxt-microbit/blob/master/libs/core/codal.cpp#L98

[2020-12-12 02:19] chenjiegd commented on #3792
https://tech.microbit.org/bluetooth/profile/
![image](https://user-images.githubusercontent.com/37208138/101970111-73f81880-3c63-11eb-8ee7-5545f2739ca5.png)

[2020-12-12 14:10] martinwork commented on #3792
Could you please re-test with a hex downloaded using MakeCode Beta:  https://makecode.microbit.org/beta.

MakeCode Beta can be selected in the mico:bit iOS app, by a long press on the MakeCode back button:

![image](https://user-images.githubusercontent.com/989126/101985615-1bd00f00-3c81-11eb-85de-5a5e56f5249d.png)

[2020-12-13 09:26] whaleygeek opened #3811 "Range of 'Number' type?"
I'm not sure this is a bug or just a misunderstanding somewhere (or if it is, it is a bug in the docs).

https://makecode.microbit.org/types/number

The docs say that a Number is a signed 32 bit quantity.

But I can store the number 4294967294 (2^32-2) in a number variable and add 1 to it a few more times, and it keeps getting bigger and does not wrap to 0 as you would expect - this implies it is

[2020-12-13 16:40] martinwork commented on #3810
It's because the start melody block doesn't wait for the melody to finish.

Hear the difference between pressing A and B in https://makecode.microbit.org/_W76F0ye9xMcf

This may not be the best solution, but it works!

[2020-12-14 14:10] finneyj commented on #3742
I've just done a little testing C++ side against v0.2.23... and I'm afraid I can't repro this.

There are three tests listed below that all seem to work as expected. I think the last one is a pretty faithful equivalent to what MakeCode is doing. Have I missed anything?

[code]

[code]

This works as expected too, and provides the correct parameter to the event handler:

[code]

[2020-12-14 14:18] mmoskal commented on #3742
well, makecode only ever uses the a single handler, but changes the argument; now sure how that would be different though...

[2020-12-14 14:24] finneyj commented on #3742
ahh, yes. Thanks. That's it actually! Thanks @mmoskal

Quite the corner case...  I'll look into it.
I suspect it's because deletions of event handlers are deferred when a fiber is active inside that handler.

[2020-12-14 14:51] microbit-mark commented on #3302
This is still reproducing for users. Is there a size/program limit for the snapshot?

[2020-12-14 17:48] finneyj commented on #3742
Thanks @mmoskal @tballmsft

There was an optimization pathway for resurrecting event handlers that were scheduled for removal... it wasn't correctly honouring changes in the callback argument. Fixed in https://github.com/lancaster-university/codal-core/commit/f484d8d500b454e6fa288b208df41f20f0200315

This will make it's way into the next codal-microbit-v2 tag when it's released, which will be v0.2

[2020-12-15 11:19] microbit-sam opened #3814 "Feature: Keep block layout when changing JS variable name"
From support ticket #41989

**Is your feature request related to a problem? Please describe.**

A user creates a block based script, changes to JS, and edits a variable name. When returning to block view, block formatting is lost

**Describe the solution you'd like**

Block layout does not depend on variable name

**Additional context**

[code]

[2020-12-15 13:58] microbit-mark opened #3815 "Feature: Add get/set calibration to MakeCode"
**Is your feature request related to a problem? Please describe.**
If you build the micro:bit into another project eg a cardboard rocket ship and  want to update a compass program, flashing via USB erases the compass calibration.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

It looks like the DAL has a means of retrieving and setting calibration

[2020-12-15 14:35] microbit-mark commented on #3776
@pelikhan @abchatra please take a look when you get the chance.

[2020-12-15 16:34] microbit-pauline commented on #3810
Thanks @martinwork

[2020-12-16 01:53] tangjie133 opened #3816 "I2C use problems"
**Describe the bug**
The I2C driver OLED can not be implemented. This is only a problem in V2, but not in V1. After testing, we speculate that there may be a problem in the configuration of I2C, which leads to the problem caused by the weak driving ability.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  add “https://github.com/DFRobot/pxt-DFRobot-microIoT”
2. Drag module
![QQ截图202012

[2020-12-16 09:36] microbit-pauline commented on #3810
@martinwork The user is happy with your solution :)

[2020-12-16 09:36] #3810 closed

[2020-12-16 10:35] adryannn commented on #3283
As this issue was not fixed yet, I have posted some instructions about how to use Bluetooth Download extension with previous version of Makecode - v1.
Instructions can be found here: https://github.com/Microsoft/pxt/issues/4807#issuecomment-746025195

Enjoy,
Adrian

[2020-12-16 12:42] microbit-mark commented on #3784
This is still reproducing. Any idea what the network issue might be @abchatra ?

- test upload and download speed it ok
- recheck firewall setting
- recheck win10 upgrade...

[2020-12-16 15:18] microbit-carlos opened #3817 "WaitMicros not working in the simulator"
**Describe the bug**
When the wait microseconds blocks is used in the simulator (in this case with a value of 1_000_000 for a 1 second delay) it doesn't seem to delay the code.

**To Reproduce**
Steps to reproduce the behavior:
1. Run code as shown in the GIF
2. The LEDs toggle much quicker than expected

**Expected behavior**
An LED to toggle per second

**Screenshots**
![makecode-wait](https://u

[2020-12-18 08:21] smfox10 opened #3826 "Makecode offline version error"
hi guys~I had some problems with the offline version

https://makecode.microbit.org/offline
The software I downloaded from here.The software does not work properly when I disconnect from the network.It is not a true offline version.I use win10
![offline](https://user-images.githubusercontent.com/3880290/102588562-98169680-4148-11eb-8717-5b95e195d467.jpg)

![makecode error](https://user-images.gith

[2020-12-18 14:00] #3792 closed

[2020-12-18 14:40] chenjiegd opened #3820 "P0 is set to 0Hz and still output."
**Describe the bug**
P0 is set to 0Hz and still output, which makes the buzzer of the expansion board emit noise; at the same time, I also tried to set P0 to a low level to turn off the buzzer of the expansion board to play music, which makes the music tone appear strange . A comparison chart of V1.5 and V2.0 is provided below.

**To Reproduce**
1. Go to https://makecode.microbit.org/_WaxWvD9xg6oq

[2020-12-19 04:03] chenjiegd opened #3821 "The P5 and P11 pins of micro:bit V2.0 cannot maintain the low level."
**Describe the bug**
The P5 and P11 pins of micro:bit V2.0 cannot maintain the low level. You need to set the low level repeatedly to maintain the low level. For the time being, we have not tested whether this happens on other pins. At the same time, V1.5 does not need to be repeatedly set to pull down the pin level signal.

**Screenshots**
![image](https://user-images.githubusercontent.com/372081

[2020-12-21 07:19] RRWagner commented on #3302
Collapsing functions does not change the result, nor then putting the resulting blocks as close together as possible. That is to say, it doesn't seem to be the x-y dimensions of the workspace so much as the total number of blocks, even if they're not visible.

[2020-12-21 08:46] lzty634158 opened #3822 "extension import Chinese display garbled Code"
**Describe the bug**
 extension import Chinese display garbled Code.

the extention lib:      https://github.com/lzty634158/Tiny-bit

I don't know why it shows a garbled code?
 Can you tell me what format the extension file needs to be in so that it doesn't show the garbled code?

Thank you!

[2020-12-21 18:00] abchatra commented on #3784
Are all the sites unblocked ? https://makecode.microbit.org/faq

[2020-12-22 12:43] jaustin opened #3823 ""start melody" block plays in background but "play melody" doesn't - this is confusing"
**Describe the bug**

The default behaviour for 'play melody' and 'start melody' with respect to whether music plays in the foreground or background is inconsistent and this  leads to confusion.

**To Reproduce**
Use the following script
https://makecode.microbit.org/_a3yKo2JcdTMW

![image](https://user-images.githubusercontent.com/147113/102889477-a3243c00-4452-11eb-82f9-5ba31a2bf635.png)

In thi

[2020-12-22 13:23] jaustin commented on #3821
P5 and P11 are shared with the buttons on the board. These have a pull-up resistor to V_TGT. Driving them to GND will increase the power consumption of the board and also stop the buttons working.

The difference between the boards could be a result of the slightly different pin implementations on V1 and V2, @finneyj is there anything you can think of that might explain this?

With the program her

[2020-12-22 14:33] JLFra opened #3824 "Feature: µs blockly command"
Could you add µs cpmmand as you have millis (ms). I found it in javascript, but not in blocky ?
Thanks? Julien

[2020-12-22 18:35] #3496 closed

[2021-01-03 09:19] PilotFlying commented on #3745
A similar one:
https://makecode.microbit.org/_EU25jxW2dR0V

(Win10, Chrome)

[2021-01-04 14:05] microbit-mark commented on #3740
Another person has been in touch to request having an option to disable sound output on Pin0 completely, rather than retargeting it to another pin.

[2021-01-04 14:10] 4tronix commented on #3740
I fully support this request. We have a number of products that use all
the available pins and it would be good to be able to also use the sound
on the Microbit, so disabling music output to the pins is necessary for
this.

Gareth

------ Original Message ------
From: "Mark" <notifications@github.com>
To: "microsoft/pxt-microbit" <pxt-microbit@noreply.github.com>
Cc: "4tronix" <Sales@4tronix.co.uk

[2021-01-05 10:05] jaustin commented on #3793
@chenjiegd could you please file a separate issue for this problem specifically, so we can track it separately to the translation issue?

[2021-01-05 11:43] DaveAtKitronik opened #3825 "V2 Neopixel error - Was working prior Christmas"
**Describe the bug**
WS2812B (3535 size) LEDs on Kitronik ZIP64 are no longer working with V2 micro:bit

This zip contains a test hex. It shows a rainbow on startup and then red/blue on a couple of button presses.
[microbit-zip64testwith-icon.zip](https://github.com/microsoft/pxt-microbit/files/5769932/microbit-zip64testwith-icon.zip)

The button presses are registering OK, and on a V1.5 micro:bit

[2021-01-05 12:39] microbit-mark commented on #3825
@abchatra @pelikhan It looks like the last couple of releases relate to changed in pxt-core. Could this have introduced an issue? Is it useful to look back at the last couple of incremental releases eg. https://makecode.microbit.org/v3.1.45 and https://makecode.microbit.org/v3.1.44 to see where the issue was introduced.

[2021-01-05 13:10] pelikhan commented on #3825
You should be able https://makecode.microbit.org/stable instead https://makecode.microbit.org/beta. "beta" is beta and may have regressions.

[2021-01-05 15:12] jaustin commented on #3825
@DaveAtKitronik can you please confirm whether this is a regression on live or beta? I understood from your original issue that this was a regression on Live?

[2021-01-05 15:32] DaveAtKitronik commented on #3825
Live makecode. reported from customer - who is unlikely to be using /beta and then recreated using just makecode.microbit.org
![image](https://user-images.githubusercontent.com/25896029/103665320-3721f780-4f6b-11eb-86fa-2c408facb154.png)

[2021-01-06 14:17] bsiever commented on #3824
It's in the "Advanced > Control" menu.   Here's an example: https://makecode.microbit.org/_EJjAVTK9tUvL

[2021-01-06 15:24] jaustin commented on #3816
Thanks, this is really usefull and @finneyj might well have an idea about why this is necessary for your code.

Could you please try without enabling the pull-down and just using the high-drive setting? We'd like to know which of the settings there for the pins is key.

[2021-01-06 18:04] jaustin commented on #3825
@pelikhan any ideas as this is in Live?

[2021-01-06 18:27] jwunderl commented on #2166
(implemented a while ago, missed that this was assigned; closing)

[2021-01-06 18:27] #2166 closed

[2021-01-07 07:46] JLFra commented on #3824
So could you add it please?
Thanks

[2021-01-07 08:36] AlasdairAtKitronik commented on #3825
I've managed to get a scope, several ZIP64s and several V2 micro:bits, so I'm now able to do some hardware investigation as well. I'll post any updates on that side of things when I get them, but for now, I've firmly established that this is only an issue with the V2 micro:bit - all the product samples work with V1s.

[2021-01-07 09:25] microbit-mark opened #3828 "Sound/Melody behaviour is inconsistent in sim and hardware"
**Describe the bug**
There are inconsistencies in the behaviour of sound in the simulator vs the hardware.
![image](https://user-images.githubusercontent.com/31242877/103874509-24bdd000-50c9-11eb-99ac-1bcfbec14e42.png)

- Pressing A will play a sound and then a melody, which is what we would expect
- Pressing B will play a sound at the same time as a melody on the hardware, as we would expect, but

[2021-01-07 09:41] jaustin commented on #3825
@AlasdairAtKitronik as this was working before Christmas, and because we drive WS2818BS quite differently on V1 and V2 I think it'd be best to work out which change caused the breakage. Have you tried the older isntances Mark linked?

[2021-01-07 11:34] DaveAtKitronik commented on #3825
I tried to use older verions, but anything before 3.0.61 doesnt compile:
![image](https://user-images.githubusercontent.com/25896029/103888170-3066c200-50dc-11eb-98fc-789d9295f85e.png)

Output.txt happliy reports: Everything seems fine!

[2021-01-07 15:37] microbit-mark opened #3829 "Users accidentally hitting https://makecode.microbit.org/v2"
**Describe the bug**
Presumably through Google search, people are hitting https://makecode.microbit.org/v2 by accident thinking it is the micro:bit V2 editor. Searching for "makecode microbit v2" reveals this as the top result.

![5F6456D5-69E5-4BBB-90FD-BCA735C8EEBE](https://user-images.githubusercontent.com/31242877/103911353-d119a980-50fd-11eb-8d44-7f69412d423b.jpg)

I believe we've had a coupl

[2021-01-07 15:55] microbit-mark commented on #3825
@DaveAtKitronik https://makecode.microbit.org/stable is at v3.0.63, have you tried that too?

[2021-01-08 12:12] microbit-mark commented on #3764
@abchatra Any reason this can't be added sooner? It would really help when supporting people.

[2021-01-08 14:05] microbit-pauline opened #3830 "MakeCode - Simplified Chinese I2C block not available"
Micro:bit Foundation support ticket - 42490

**Describe the bug**
A user has reported that the I2C read and write blocks are missing information. This may be a translation bug.

**Screenshots**
![image](https://user-images.githubusercontent.com/29146842/104023960-4cd92c00-51ba-11eb-9685-27f55b1e0a46.png)

[2021-01-08 15:07] DaveAtKitronik commented on #3825
In looking into this we have noticed that the timings are also suspect on V2. Ill open a separate issue for that.

[2021-01-08 15:44] microbit-mark opened #3831 "String replace does not work in Python"
**Describe the bug**
A clear and concise description of what the bug is.

This script uses string replace to replace a decimal point ".", with a comma  ","

[code]

This script works in real Python but in MakeCode Python in the editor and on the device it does not. The string is printed twice with the decimal point.

**Expected behavior**
A clear and concise description of what you expected to hap

[2021-01-08 16:14] DaveAtKitronik opened #3832 "V2 WS2812 (neopixel) timings are probably incorrect"
Ws2812B come in a number of flavours, which have subtly different timing requirements. We use at least 3 different types at Kitronik alone.
Some timings for the ones we use:
![image](https://user-images.githubusercontent.com/25896029/104036595-7f3f5500-51cb-11eb-8e10-d66f32f3c15e.png)
![image](https://user-images.githubusercontent.com/25896029/104036658-95e5ac00-51cb-11eb-9fa8-53791b32f549.png)
![

[2021-01-08 23:33] ElizabethRiffle opened #3833 "Microbit V2 blocks translation issue"
**Describe the bug**
Here is the tweet highlighting the issue: https://twitter.com/jaera_japan/status/1338411114493669377

Some of our microbit V2 blocks are not translating to the selected language. I looked a number of languages and it seems that this an issue for many languages. Out of the languages I looked at French and German translated, but Japanese, Chinese, Spanish, Danish, and others did

[2021-01-08 23:50] jwunderl commented on #3833
All translations are all handled by the community translation members over on crowdin, so in all languages there will be missing localizations at times. If you want to reply to that tweet might be helpful to point them to https://makecode.com/translate in case they would like to participate.

These blocks are new in the last release, and just haven't been translated / had the translations approved

[2021-01-08 23:50] #3833 closed

[2021-01-11 01:26] lionyhw commented on #3830
![image](https://user-images.githubusercontent.com/32665689/104140891-bccff800-53ee-11eb-8fbc-f60e2cb87d16.png)
![image](https://user-images.githubusercontent.com/32665689/104140907-de30e400-53ee-11eb-8148-08fca351ac5b.png)
Serial also has broken blocks.

[2021-01-11 17:26] microbit-pauline opened #3834 "MakeCode String Variable not working"
From Micro:bit support ticket 42474

**Describe the bug**
A user has reported that the string variable does not work in MakeCode, it defaults back to a number variable.

The user said that they were able to work around by switching to Python and then back out again, but that is too complicated for their students.

**Screenshots**

Creating a new variable:
![image](https://user-images.githubusercon

[2021-01-12 16:20] DaveAtKitronik opened #3836 "WS2812 LEDs on P0 incompatible with onboard V2 music"
**Describe the bug**
if there are WS2812 LEDs attached to P0 on a device and the user uses the V2 music blocks then the LEDs come on, usually full white.  This was reported by a user in the field with a Kitronik Servo:lite - where the WS2812 LEDs are on P0, but will also affect any other accessory with a similar configuration (for Kitronik this is ZIP64 and HALO)

**To Reproduce**
create the follo

[2021-01-12 16:20] jaustin commented on #3816
Just looking at this now with @finneyj we've noted that mbed used to configure the pins as follows
in mbed...

[code]
Could you please try the equivalent of this on V2?
So not the pulldown config, but all else the same.

[2021-01-12 17:57] jaustin commented on #3836
I don't believe this is an incompatibility... It's more that you can't have two things be the default behaviour and we picked that the default behaviour for sound on V2 should be the same as it was on V1, which was that it would come out the edge connector. This is to ensure that speaker accessories for micro:bit V1 that have an amplifier, etc, also get to amplify the sounds.

You can set an audio

[2021-01-12 17:59] jaustin commented on #2864
@abchatra we discussed this today but this issue isn't quite the same. Do you want to re-open this or make a new issue?

[2021-01-12 18:14] jaustin opened #3837 "request: more advanced for loops"
**Is your feature request related to a problem? Please describe.**
Working with frequencies and sweeping frequencies is a really fun way to make sound with the micro:bit V2.

The 'for loop' is an ideal construct for this, as it lets you make some good sounds with very little code.

**Describe the solution you'd like**
I'd like a block that lets the user set the start and increment value for the fo

[2021-01-12 22:26] abchatra commented on #2864
New issue would be great. This is not the same.

[2021-01-13 05:53] 0hotpotman0 opened #3838 "the P16 pin does not work on Microbit V2 board"
**The P16 pin problem**
I was using the ultrasonic sensor connect to P16  on Microbit V2 board, there is not any data return which means the sensor or the P16 pin did not work, but when I connect to P0 to P15, the sensor works very well.

**code**
the code is simple as below:
![image](https://user-images.githubusercontent.com/47217650/104412015-7a511b80-55a6-11eb-9b4a-75a7f4d2fe17.png)

please hel

[2021-01-13 08:27] DaveAtKitronik commented on #3836
@jaustin  I think the user was excited to have sound on their :MOVE mini.
In an ideal world the system would realise its a V2, and that there are none audio things attached to P0 and just not route audio out. That sounds like a nightmare to implement in a sensible manner and catch all the possibilities, so I don't think going that way is a good idea.

The pin already used doesn't detect the Neopix

[2021-01-13 08:28] microbit-mark commented on #3764
Now in beta makecode.microbit.org/beta thanks @abchatra

![image](https://user-images.githubusercontent.com/31242877/104425934-2c71ee80-5579-11eb-995c-4d85202df5eb.png)

[2021-01-13 21:17] Cerquaas opened #3839 "Constantly getting the 927 error."
**Describe the bug**
I have the 927 error whenever I load my device. I have updated the firmware, flashed and reconnected multiple times.

**To Reproduce**
Steps to reproduce the behavior:
1. Power on device
2. See 927 error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
Add screenshots to help explain your problem. You can copy paste the sc

[2021-01-14 18:17] kiki-lee opened #3840 "One of our microbit cards links to a project that's no longer there"
From Giles at micro:bit...

Under ‘Courses’ if you scroll along there’s a card called ‘Discover JavaScript Blocks’ (which is what we used to call MakeCode!) – that page no longer exists, and it redirects to our project page **, but it probably makes more sense to link a course page to our ‘First steps’ page https://microbit.org/get-started/first-steps/introduction/** and maybe have another card so

[2021-01-14 18:32] kiki-lee opened #3841 "Flashing Heart translates to Dutch on Chrome & Safari in UK"
Hi Kiki,

No, the translate icon doesn’t appear. It also looks the same in an incognito window in Chrome. It also has the Dutch translation for the title in Safari, but oddly not in Firefox! (I’m on a Mac, I think my colleague was using a Windows PC)

Best wishes
Giles
---------------
From: Kiki Prottsman <kprottsman@microsoft.com>

When on that page, do you happen to see this icon at the top of t

[2021-01-15 17:28] microbit-carlos opened #3842 "Feature: Get the display buffer as an Image"
**Is your feature request related to a problem? Please describe.**
Is there a way to get the full display buffer as an Image?

**Describe the solution you'd like**
A method in the `led` instance to return the buffer as an Image

**Describe alternatives you've considered**
We could form a string by calling `led.point(x, y)` on each individual LED, but then we cannot create an image from a variable:

[2021-01-15 18:13] jaustin commented on #3825
The issue here is that the pin configurations on V1 and V2 by default allow slightly different amounts of current to be sunk through the pin. In this case, the issue can be resolved by setting the P0 to high drive mode using the following API https://github.com/lancaster-university/codal-nrf52/blob/master/source/NRF52Pin.cpp#L895 but it's specificic to the hardware in question. This isn't a genera

[2021-01-15 18:13] #3825 closed

[2021-01-15 18:16] jaustin commented on #3839
Hello

Error 927 means the following:

(from https://support.microbit.org/support/solutions/articles/19000016969-micro-bit-error-codes)

As you have a micro:bit V1.5 it sounds like this might be due to you using a feature for the micro:bit V2.

Are you using any of the features for micro:bit V2 like the 'on Loud' block, or anything relating to the micro:bit sounds?

It would help if you could shar

[2021-01-15 18:19] jaustin commented on #3838
Hello @0hotpotman0 - just to check, can you please confirm that the same sensor works properly on other pins, but not on P16?

It looks like you're using an extension here, could you please share what the extension is?

[2021-01-15 18:21] jaustin commented on #3829
@abchatra we see people getting confused by this - anything you can manage at your end?

[2021-01-15 18:26] jaustin commented on #3824
@abchatra
I think this is a question for your team.

[2021-01-15 20:12] martinwork commented on #3838
Related:
https://github.com/microsoft/pxt-microbit/issues/3524
https://github.com/microsoft/pxt-microbit/issues/3791
https://github.com/lancaster-university/codal-microbit-v2/issues/50

[2021-01-15 23:53] abchatra commented on #3829
This should be doable. I will schedule someone from my team to take a look.

[2021-01-16 00:39] #3778 closed

[2021-01-18 06:07] 0hotpotman0 commented on #3838
Hi jaustin
yeah, it is the same sensor, I do an extension board, the board has 6 groves connect port, one of grove port which is P16 have the problem, then for object exclusion problem, I used the clip to clamp the signal pin of Ultrasonic sensor on P16 pin, it still no data return, in the same way, when I try to use P0 - P15 pin the sensor was working very well, so I think it is not the extension

[2021-01-19 16:47] microbit-pauline opened #3843 "MakeCode offline app - not installing"
**Describe the bug**
A micro:bit support ticket was received where the user experienced problems downloading the MakeCode offline app. They confirmed that other teachers in Taiwan were experiencing the same issue.

**To Reproduce**
Steps to reproduce the behavior:
1. User went to https://makecode.microbit.org/offline-app
2. User downloaded makecode-microbit-set-up-win64.exe
3. User experienced err

[2021-01-21 05:43] abchatra commented on #3843
@microbit-pauline We need version of the operating system. We only support 64 bit windows or MAC.

[2021-01-21 05:45] abchatra commented on #3841
@kiki-lee I don't understand this issue. Can you please condense the right issue here?

[2021-01-21 05:47] abchatra commented on #3839
@Cerquaas need additional information here.

[2021-01-21 05:53] abchatra commented on #3840
This is a request to update link to the "Discover javascript card"

[2021-01-21 05:56] abchatra commented on #3834
You need to drag the empty "" from the TEXT category for strings. This is because blocks are strongly typed in MakeCode. This is by design.

[2021-01-21 05:56] #3834 closed

[2021-01-21 09:07] tangjie133 commented on #3816
Yes, there is no problem with this configuration.
Use gpio configuration function to configure when power on.

Please revise this question.

[2021-01-21 09:28] microbit-mark commented on #3776
nudging this one @abchatra can you assign and prioritise as appropriate

[2021-01-21 09:55] microbit-mark commented on #3841
This was the issue, but no longer needs

Perhaps this was a cacheing problem as it no longer reproduces for me.

[2021-01-21 10:17] microbit-mark commented on #3830
@abchatra @pelikhan  can you take a look at this blocks translation issue

[2021-01-21 10:20] microbit-mark commented on #3831
@abchatra can you take a look?

[2021-01-21 11:00] kitkittia commented on #3780
I would like to add that the split function seems to be broken:

![Screenshot from 2021-01-21 10-58-18](https://user-images.githubusercontent.com/71378354/105342032-ba805180-5bd7-11eb-8b15-235bc1101b62.png)

[2021-01-21 12:17] kitkittia opened #3844 "Python can't handle negative key initialization"
**Describe the bug**
Instantiating a dictionary with negative constants gives a parsing error in editor.

**To Reproduce**
[code]
All initializations, except `c` work.

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser: Mozilla Firefox 84.0.2

**Additional context**
Happens on branch `master` and on https://makecode.microbit.org

[2021-01-21 17:00] microbit-pauline commented on #3843
@abchatra - The user replied  "Our version of our computer system is “windows 10 x64” which means 64bits windows"

[2021-01-22 14:06] microbit-mark opened #3847 "Changing baud rate has no effect on V2 hardware"
**Describe the bug**
Using `serial.setBaudRate()` to something other than 115200 should change the default as on V1

<img width="596" alt="image" src="https://user-images.githubusercontent.com/31242877/105499896-0b687680-5cba-11eb-9f7c-d57e004e8e53.png">

**To Reproduce**
Steps to reproduce the behavior:

micro:bit V2
1. Flash https://makecode.microbit.org/_47Pdvfh7CRRo
2. Using something like Coo

[2021-01-22 14:12] microbit-mark commented on #3847
Related to CODAL issue https://github.com/lancaster-university/codal-microbit-v2/issues/60

[2021-01-22 15:33] ywc-hb opened #3848 "Compilation error"
**Describe the bug**
When I want to compile a project which use the Waveshare extension to control their LCD 1in8 screen for microbit ( [here](https;//github.com/waveshare/WSLCD1in8) ), MakeCode returns that there is an error in my code, but the error depends on the OS and the browser I use. However, with the old version of MakeCode ( [this one](makecode.microbit.org/v2/) ) still work with this ex

[2021-01-23 13:38] kitkittia opened #3849 "JSDoc type error in python"
**Describe the bug**
Initializing an empty array in a loop in a function causes an error: `JSDoc types can only be used inside documentation comments.`

**To Reproduce**
[code]

**Expected behavior**
Expected no error

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser: Mozilla Firefox 84.0.2

**Additional context**
Happens on master branch, and on https://makecode.mi

[2021-01-23 13:40] kitkittia commented on #3382
How do I do type declaration for a dict? Is type declaration supported?

[2021-01-23 13:43] kitkittia opened #3850 "python dictionary has no method clear()"
**Describe the bug**
In python, dictionary objects have no method `clear()`

**To Reproduce**
[code]

**Expected behavior**
`clear()` method should work.

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser: Mozilla Firefox 84.0.2

**Additional context**
Happens both on master and on makecode website

[2021-01-24 13:01] sutnor opened #3851 "Speed and timing"
I'm teaching programming to a 6-year-old using Makecode on a BBC Micro:bit.  I don't know whether this issue is due to the Micro:bit, or to Makecode, or possibly more likely, to a lack of understanding on my part.  I should state that while I have done a lot of programming in C, I am not familiar with Java or with Python.

I wrote the following in block code, but translated it to Python to be able

[2021-01-25 02:12] Jaqster commented on #3851
@darzu ?

[2021-01-25 11:00] ryanteck commented on #3481
Sorry about the delay, I'm back to working on this issue so here's a rough overview:

Essentially our library works perfectly fine on a V1 microbit with send and receive working as expected.

However on V2 it doesn't seem to work, it runs through the stages as we expect but it doesn't seem to communicate with our add-on in the same way. I'm working on debugging it today to try and see if I can fin

[2021-01-25 11:26] ryanteck commented on #3481
I'm going to close this issue and re-open it as a new one with a more detailed description now I've found the issue.

[2021-01-25 11:26] #3481 closed

[2021-01-25 15:17] jaustin commented on #3531
@abchatra any news on a release that will include this?

[2021-01-26 01:41] abchatra commented on #3776
Following repo is not accessible for me.
gitalm/microbit--phyphox-tutorial/tutorial

[2021-01-26 01:55] abchatra commented on #3841
Thanks @microbit-mark. Got it. I don't reproduce in Chrome and on iPad. I am unsure how this would happen.

[2021-01-26 02:03] abchatra commented on #3830
@ganicke can you take a peek at the translation if have time. These are usually incorrect translations.

[2021-01-26 02:05] abchatra commented on #3831
This will be fixed as part of annual release.

[2021-01-26 12:29] microbit-mark opened #3853 "Feature request: programmable power managment"
**Is your feature request related to a problem? Please describe.**

User story: I need to make a sensing device that lasts a long time on batteries. Thus the device needs to power off under program control, and power up on an event, take a measurement, then go to sleep again.

**Describe the solution you'd like**
CODAL offers a power management API https://github.com/lancaster-university/microbit-

[2021-01-26 16:22] #3847 closed

[2021-01-26 16:22] microbit-mark opened #3854 "Remove devices block from top extensions list"
The devices Bluetooth blocks were marked as BETA some time ago as a large number of Android devices do not support them. We should remove them for the top ten extension tiles

![image](https://user-images.githubusercontent.com/31242877/105871920-b5653d00-5ff1-11eb-99ed-baaca873087b.png)

[2021-01-26 16:24] jaustin commented on #3853
I think it makes sense for us to implement this initially as an extension (perhaps called "power management" that wraps the CODAL interface (uBit.Power)

[2021-01-26 17:06] abchatra commented on #3854
@pelikhan can we remove devices from the extension dialog?

[2021-01-26 18:03] pelikhan commented on #3854
@jwunderl ?

[2021-01-26 18:05] abchatra commented on #3854
One of us can do. I am asking if this is ok or do you have any concerns?

[2021-01-26 18:44] pelikhan commented on #3854
Absolutely not. Those blocks were kept as legacy for touchdevelop -> microbit v1 release. It's time to let them go until they are properly supported by the apps.

[2021-01-26 19:25] ganicke commented on #3830
The `%` token for variables was keyed in from another charset and wasn't valid.

* https://crowdin.com/translate/kindscript/65/en-zhcn#17310

* https://crowdin.com/translate/kindscript/65/en-zhcn#17311

[2021-01-26 22:32] abchatra commented on #3830
Thanks so much @ganicke You rock!

[2021-01-26 22:58] sutnor commented on #3851
Well I looked at the one-word link, but I couldn't find anything that relates to my question.  Perhaps you could elaborate a little?
I should add that I don't know my way around github - I have been here only a couple of times, and without much success in the past.

[2021-01-27 07:20] ganicke commented on #3830
I2C read / write functions:

![image](https://user-images.githubusercontent.com/27789908/105956313-77d1d580-602c-11eb-91b4-165f5fd0c3a7.png)

Serial write values:

![image](https://user-images.githubusercontent.com/27789908/105956477-b9628080-602c-11eb-8096-fb0aec1b0aa8.png)

Serial set padding:

![image](https://user-images.githubusercontent.com/27789908/105956571-db5c0300-602c-11eb-87be-af984a6f

[2021-01-27 07:20] #3830 closed

[2021-01-27 11:37] martinwork commented on #3851
@sutnor, @darzu is a person, to whom your question is being referred. I would be interested to see your original block code. You can get a URL for your project to paste here via the Share button on the MakeCode toolbar.

[2021-01-27 21:17] ryanteck opened #3855 "Serial Read Line crashes with 20+ Characters on V2"
**Describe the bug**
I believe this is what's been causing some of our issues with the V2 and with lots of trial and error think this is what's causing it.

When a line of over 20 characters is received via the UART of the microbit V2 oddities occur.

Sometimes it will then read the next line and assume it has received a new line character before it has been sent, causing our program that sends da

[2021-01-28 01:25] Jaqster opened #3857 "Feature Request - Console window input"
Feedback from Mr. Coxall -
The requirement that I have is to be able to have "free flow" input of numbers and letters like I have in MakeCode Arcade but in MakeCode for Micro:Bit.
I know I can do it with the console in the Python IDE, but I want to do it with a Micro:Bit using a block language.
Using the Python IDE for the Micro:Bit I can make a program like:
<img width="470" alt="Python1" src="ht

[2021-01-28 23:24] jwunderl opened #3858 "Upgrade to crowdin v2 apis"
**Is your feature request related to a problem? Please describe.**

Currently we are using crowdin v1 apis for handling translations. These are being phased out at the end of this year (2021), so we should migrate to the new v2 apis

**Describe the solution you'd like**

Migrate to v2 apis.

**Describe alternatives you've considered**

no

[2021-01-29 00:20] sutnor commented on #3851
Thanks for offering to look at this - but I have resolved it.  If you're overwhelmed with work, you can simply mark it resolved, but if you're interested, here's the explanation.

I bought my grandson a Maqueen robotic car for Christmas.  It had a V1 Micro:bit in it, and it wasn't long before the USB was connected while it was connected through the edge connector to the car, and it blew up with th

[2021-01-29 09:23] microbit-mark commented on #3785
CODAL v0.2.24 has now been released to https://makecode.microbit.org/stable can you check here to see if this still reproduces for your robots @MiroChao?

[2021-01-29 09:24] microbit-mark commented on #3731
CODAL v0.2.24 has now been released to https://makecode.microbit.org/stable can you check here to see if this still reproduces @MiroChao

[2021-01-29 09:24] microbit-mark commented on #3782
CODAL v0.2.24 has now been released to https://makecode.microbit.org/stable can you check here to see if this still reproduces @tangjie133?

[2021-01-29 09:25] microbit-mark commented on #3599
CODAL v0.2.24 has now been released to https://makecode.microbit.org/stable, can you check here to see if this still reproduces for your accessory @PhilAtKitronik?

[2021-01-29 09:26] microbit-mark commented on #3544
CODAL v0.2.24 has now been released to https://makecode.microbit.org/stable can you check here to see if this still reproduces @tangjie133 ?

[2021-01-29 11:20] jaustin commented on #3764
@abchatra it would still be really useful to have this cherry-picked into the stable branch if at all possible. I know it's only several clicks away but it's quite a step for many people to find the right location and it's extremely useful for us doing support to be able to ask people this information etc.

Here's how you *do* find the information, in case you're new to this :)

![Uploading codal

[2021-01-29 12:55] microbit-mark opened #3859 "Feature: Docs/Tutorials around commenting on code"
**Is your feature request related to a problem? Please describe.**
I might be missing something, but there doesn't seem to be a go-to place to learn about commenting on blocks or in the editor for makecode

![image](https://user-images.githubusercontent.com/31242877/106277390-e8494400-6230-11eb-8afd-d74a042a3736.png)

I think this is a really useful feature for teachers and students, particularly

[2021-01-29 13:01] microbit-mark commented on #3544
User reports that this issue still persists on Maqueen. Also raised here @tangjie133  https://github.com/DFRobot/pxt-maqueen/issues/27

[2021-01-29 19:08] martinwork commented on #3851
@sutnor I'm glad you found a solution. Yes, "show number" pauses or blocks the instruction sequence. While the button handler is waiting, the forever loop continues... clear screen and plot happen immediately.

While the button A handler is blocked in "show number", further A presses will queue up. The B handler will form it's own separate queue. After pressing AAAAAAABBBBBBB, the Bs will start to

[2021-01-29 19:08] martinwork commented on #3851
@darzu Switching either blocks example to Python translates the "truncate" blocks as int().

Changing int() to Math.trunc() fixes the errors.

[2021-01-31 08:51] matsujirushi opened #3860 "control.waitMicros() is not stable"
I am creating an Extension that communicates with DHT11.
Compared to v1, v2 is faster.
However, in v2, control.waitMicros() sometimes becomes long and can't communicate with DHT11 due to timing conflict.

In the following code, I compared v1 and v2.

[code]

![image](https://user-images.githubusercontent.com/8079404/106379036-93eac380-63ec-11eb-8f88-a04c7fedf4b2.png)

Is there any way to work arou

[2021-01-31 21:39] #3840 closed

[2021-02-01 16:36] microbit-pauline commented on #3843
@abchatra - Do you need any further information that what the user provided?

[2021-02-01 17:04] abchatra commented on #3843
We are unable to reproduce this. Any information on reproducing this would be good.

[2021-02-01 17:12] microbit-pauline commented on #3843
Hi @abchatra - This is what was provided on the ticket.

![image](https://user-images.githubusercontent.com/29146842/106492930-6b2c0200-64b0-11eb-9596-56611e3fd52e.png)

Can you please advise what further information you will need?

[2021-02-01 17:13] abchatra commented on #3843
Ask them for the system information from the windows. It will list all the configuration of that machine.

[2021-02-01 20:37] martinwork commented on #3855
@ryanteck Could you please test with https://makecode.microbit.org/stable, which has an updated CODAL v0.2.24 release

I haven't tested with redirection and a UART adaptor, but I have seen problems via the USB connector, which seem fixed in the new version.

Note that 20 is the default buffer size. To reliably support 20 byte messages (21 with newline), it would be advisable to increase the buffer

[2021-02-01 22:22] ryanteck commented on #3855
Thanks @martinwork , Will do.

I did notice when I experimented with the buffer size it didn't seem to help too much but will check both bits.

Thanks

[2021-02-02 05:30] abchatra commented on #3771
This is fixed. If not let us know

[2021-02-02 05:30] #3771 closed

[2021-02-02 05:30] abchatra commented on #3782
Fixed

[2021-02-02 05:30] #3782 closed

[2021-02-02 13:47] microbit-pauline opened #3862 "Keyboard disappearing in MakeCode"
**Describe the bug**

Micro:bit Foundation support ticket - 42906.

The user has reported that the keyboard on her Galaxy A7 tablet will pop up and then disappear meaning that they cannot enter the text or numerical values. They have attached a video and have given me permission to share.

https://user-images.githubusercontent.com/29146842/106607578-640dfe00-655b-11eb-9ad2-016e7e8ce6b3.mov

**To R

[2021-02-02 13:49] microbit-pauline commented on #3862
MakeCode settings
![QM39TbPBNTlzHf6aFTRAPEAZG4qCbq3teg](https://user-images.githubusercontent.com/29146842/106609370-63766700-655d-11eb-97c2-f732bb2774be.jpeg)

[2021-02-02 19:21] NeuerUser opened #3864 "Support bigger flash size of micro:bit V2"
**Is your feature request related to a problem? Please describe.**
I'm having a nice program which is slightly too big to fit onto a micro:bit V1. So, I bought a micro:bit v2 in the hope that the doubled flash size should allow it to fit. But the editor still tell me that the program is too big by the same amount.

**Describe the solution you'd like**
Ideally a small selection, what micro:bit I am

[2021-02-04 15:50] DaveAtKitronik opened #3868 "simple program out of memory error (possible music issue?)"
A customer reported an error using the Kitronik smart greenhouse. His system gives compilation error.
If he removed the sensing blocks (the board has a BME280 on it) then the error went but the code was not functional.
we could not reproduce so asked him to send the actual code.
The Java representation is:

input.onButtonPressed(Button.A, function () {
    music.startMelody(music.builtInMelody(Mel

[2021-02-04 22:14] tsadowski commented on #3731
Hello,
the STABLE release crashes for me reproducably at the second invocation but the current BETA seems to work fine.

[2021-02-05 09:55] jaustin commented on #3816
@tangjie133 can you please let us know which device you're needing this configuration for so we can test it? We want to put this configuration in CODAL but need to test it before doing this. We haven't found other devices that need this, so far.

[2021-02-05 10:57] microbit-mark commented on #3731
@tsadowski Can you provide a bit more info about the crash? Is this the 020 error on the hardware when using PulseIn or a browser issue? If it's a browser issue can you try running with the debug mode on https://makecode.microbit.org/stable#editor?dbg=1 and paste the console output from the browser when it crashes.

[2021-02-05 15:05] jaustin commented on #3531
@AlasdairAtKitronik could you please try /stable now that 0.2.24 has gone out to check we can close this once that release goes to Live?

[2021-02-05 16:32] microbit-mark commented on #3370
Also reproduces in Finnish local. Can you take a look @abchatra

[2021-02-05 22:05] tsadowski commented on #3731
The 020 error appears with larger programs even when not connected to the computer. It also appeared when I tried to get the device console. There was no output on the console.

 I have a simple test program. There should be a measurement every 2 seconds. With the stable release I get:
Heart, Small Heart, distance in the serial terminal, Heart, Small Heart, Program Stops - all LEDs dark.

The prog

[2021-02-06 19:57] ryanteck commented on #3855
Sorry about the delay.

I think it looks like it might be fixed now with the stable one, still got an issue with our library compared to V1 but it's certainly working better than before.

[2021-02-08 09:26] microbit-mark commented on #3731
**stable**
@tsadowski I can't reproduce this in https://makecode.microbit.org/stable#editor with a V2 micro:bit. I don't get a 020 error for your code example and it seems to run as expected. What browser version, OS and device are you using with MakeCode?

**beta**

This reproduces here for me.

[2021-02-08 11:55] microbit-mark commented on #3742
Tried this on V1 and V2 in https://makecode.microbit.org/stable#editor and it seems to work as expected. Can you confirm @tballmsft?

[2021-02-08 12:23] microbit-mark opened #3870 "Inconsistency in Forever in simulator and hardware"
**Describe the bug**
A clear and concise description of what the bug is. The behaviour of concurrent forever loops differs on simulator and hardware

![image](https://user-images.githubusercontent.com/31242877/107219009-5d263600-6a08-11eb-99ae-00c2ccef3815.png)

**To Reproduce**
Steps to reproduce the behavior:
1. https://makecode.microbit.org/_EMv5q0g0xgrs
2. Simulator passes program execution be

[2021-02-08 21:41] abchatra commented on #3742
This is fixd in v0.2.24.

[2021-02-08 21:41] #3742 closed

[2021-02-09 02:08] abchatra commented on #3746
fixed. please verify

[2021-02-09 02:08] #3746 closed

[2021-02-09 02:09] abchatra commented on #3397
fixed. please verify.

[2021-02-09 02:09] #3397 closed

[2021-02-09 15:13] jaustin commented on #3531
@AlasdairAtKitronik and @DaveAtKitronik now that 0.2.24 has been released to Live, the silence API should be there in Live for you. Please can you check this and close the ticket if it works?

[2021-02-09 16:23] abchatra commented on #3738
@microbit-giles  is this still an issue?

[2021-02-09 16:27] abchatra commented on #3532
@DaveAtKitronik is this still an issue?

[2021-02-09 16:42] jaustin commented on #3585
@DaveAtKitronik could you please try this alongside the SetSilenceLevel API (to set silence level to 0) so that we can see if this is a result of the pin dropping from the 'DAC 0' to 'real 0'

[2021-02-09 17:10] microbit-giles commented on #3738
Just tested again with a freshly-made new project in https://makecode.microbit.org/#editor and the heart still gets stuck on the display if I tap twice quickly.

[2021-02-09 17:28] finneyj commented on #3738
I think this is to be expected...  the issue is mostly likely the implicit delay in the show icon code.  Therefore your event handler for "on logo touched" doesn't complete until a while after it displays a heart.  The "on logo released" however completes almost instantaneously.

If you're quick, you can therefore process both "released" events before the second "touched" event is processed. This

[2021-02-09 17:29] finneyj commented on #3738
This does beg the question of whether "clear screen" should implicitly stop any ongoing animation effects... but I think i'd be very cautious about changing such a well used API at this stage!

[2021-02-09 17:43] microbit-giles commented on #3738
Thanks Joe that makes sense - I agree that we should not change the behaviour of the clear screen block at this stage, but perhaps consider this for the future. Closing this issue.

[2021-02-09 17:43] #3738 closed

[2021-02-09 20:24] philipphenkel commented on #3837
@jaustin Until this feature is built into MakeCode you could create a custom block similar to this one: https://github.com/1010Technologies/pxt-makerbit-pins/blob/master/loops.ts

[2021-02-10 08:08] DaveAtKitronik commented on #3532
Seems to be working, so I think not any more

[2021-02-10 08:09] #3532 closed

[2021-02-10 08:26] DaveAtKitronik commented on #3585
@jaustin  What is the SetSilenceLevel API?

[2021-02-10 09:33] AlasdairAtKitronik commented on #3531
@jaustin Unfortunately, the piano now doesn't work at all with V2 micro:bit - either with or without the silence API - there is zero functionality. It still works completely as expected with V1 micro:bit, so something else must have changed.

[2021-02-10 09:52] microbit-carlos commented on #3531
Is the problem with sound or with the touch sensor as well? Can you print something on the display based on the touch input?

[2021-02-10 10:22] AlasdairAtKitronik commented on #3531
@microbit-carlos It's the touch sensor as well, no response at all

[2021-02-10 12:41] martinwork commented on #3855
@ryanteck I have created related issues:

https://github.com/lancaster-university/codal-microbit-v2/issues/79
https://github.com/lancaster-university/codal-microbit-v2/issues/80

Could either of those explain what you see?
Can you give me any more details about what issues are still occurring?

[2021-02-12 14:52] microbit-mark commented on #3740
It would be good to have an `edge connector sound on/off` block in a similar way to speaker on/off. We could also update the simulator when this block is used to hide/strike-through the headphone connection image

[2021-02-12 18:45] microbit-matt-hillsdon opened #3875 "pxt-microbit >= 3.0.65 uses the development version of React"
**Describe the bug**

pxt-microbit >= 3.0.65 uses the development version of React which is [only intended for development use](https://reactjs.org/docs/optimizing-performance.html#use-the-production-build).

You can see this most easily with React dev tools, but also from the logged warnings about deprecated lifecycle methods that didn't used to appear in live.

https://makecode.microbit.org/v3.0

[2021-02-13 12:48] adhioutlined opened #3876 "can't extracted/expand makecode offline version for mac"
today I'm trying to download makecode offline version for mac via https://makecode.microbit.org/offline-app page. The file was successfully downloaded, but it can't be extracted/expand.

- while I'm extracted/expand using archive utility from finder (I'm using osx high sierra 10.13.6).
![Screen Shot 2021-02-10 at 9 39 42 AM](https://user-images.githubusercontent.com/3907931/107850320-15eadb80-6e34

[2021-02-13 23:27] Jaqster opened #3877 "Neopixel Brightness not working"
Doing a workshop today and was working with NeoPixels.
Hooked up a single neopixel to the micro:bit (Flora) and noticed that the Brightness was not working - strip.setBrightness(0)
Sample code - https://makecode.microbit.org/_D3KbreAEfE5x

[2021-02-15 08:09] microbit-mark commented on #3854
@abchatra I think people should still have a way of adding these if they need to, rather than removing them completely. Are they part of core pxt-microbit or can they be added by URL?

[2021-02-15 15:51] microbit-matt-hillsdon opened #3879 "Hang removing controlled MakeCode iframe since v3.0.65"
**Describe the bug**

Something changed in MakeCode v3.0.65 that means iframes using MakeCode cause Chrome tabs to hang when they are removed from the DOM.

This affected micro:bit classroom and led to a support request. We've since worked around it by hiding MakeCode on the classroom student congratulations screen rather than removing it.

**To Reproduce**

1. In Chrome, go to https://debug.micro

[2021-02-15 16:48] microbit-carlos opened #3880 "Games blocks example (crashy bird) Python error"
**Describe the bug**
Running the Crashy Bird examples https://makecode.microbit.org/projects/crashy-bird works in Blocks and JS, but not Python.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/projects/crashy-bird
2. Click on "Edit" in any of the complex examples (the first few do work)
    - For example: [this project](https://makecode.microbit.org/#proje

[2021-02-16 10:28] microbit-mark commented on #3876
This seems to work as expected in macOS11, so perhaps a legacy macOS issue?

[2021-02-16 11:08] adhioutlined commented on #3876
Trying to download with Windows 10 and extracted, then still got the error message :
![Screen Shot 2021-02-16 at 6 07 27 PM](https://user-images.githubusercontent.com/3907931/108054919-dfa29b80-7081-11eb-9c0b-44bf8ad2d7db.png)

would you like to sent me good one file to my email adhi.pri@gmail.com ?

[2021-02-16 11:18] microbit-mark commented on #3297
This would be a good one to try and fix for next release. What do y9ou think @abchatra ?

[2021-02-16 11:47] microbit-mark opened #3881 "Feature: Improve UX around using strings, booleans in variables"
micro:bit support: 43298

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The variable block defaults to an integer value. It is not obvious how to change this to a string (which would be the most common other option) or anything else.

You need to find an empty string from the text blo

[2021-02-16 20:59] kboyd12345 opened #3882 "onPulsed() not working on pin 16 in micro:bit v2"
**Describe the bug**
The onPulsed() event doesn't appear to fire for pin 16 using v2 of the micro:bit.

**To Reproduce**
[code]

(Note that it doesn't work with PulseValue.Low either)

This behaviour happens in v2 but not in v1.5, where it works as expected

[2021-02-16 21:25] martinwork commented on #3882
Related:
https://github.com/lancaster-university/codal-microbit-v2/issues/50
https://github.com/microsoft/pxt-microbit/issues/3791
https://github.com/microsoft/pxt-microbit/issues/3838

[2021-02-17 02:39] Aerospacesmith opened #3883 "amplifier attached to P0 does not output sound on micro:bit V2"
We've been working with the Foundation for a while now developing our own product, the Spark:bit, which has an embedded V2 micro:bit inside. While working on our Makecode extension, we encountered an odd issue with the audioblocks, built-in speaker, and our own speaker. We have an external speaker connected to P0 via a capacitor and MOSFET amplifier which you can see below:
![image](https://user-i

[2021-02-17 16:24] abchatra commented on #3854
If it doesn't work what is the need to let users add it?

[2021-02-17 16:25] abchatra commented on #3879
3.0.65 had only codal update and a minor bug fix to remove a package. I am not sure how it can regress this scenario.

[2021-02-17 16:30] abchatra commented on #3297
This would be summer release as the code is pretty involved.

[2021-02-18 00:24] tangjie133 commented on #3816
128X64 OLED screen

[2021-02-18 09:02] microbit-mark commented on #3703
Also reprodices on Safari for iOS and in the micro:bit app.

https://user-images.githubusercontent.com/31242877/108332526-cc99e380-71c7-11eb-8e0c-6b24dc355854.MP4

[2021-02-18 12:29] kboyd12345 commented on #3882
I've been having a conversation with Martin on the other github page about this topic. There is clearly an issue with Pin16 and it's not working with edge events as per his post. He pointed me to https://makecode.microbit.org/reference/pins/set-events where it describes that you can use edge events using the makecode platform. This is a super-useful feature but I couldn't find this on the document

[2021-02-18 14:44] microbit-mark opened #3884 "Feature: Improve contextual docs/reference workflow"
**Is your feature request related to a problem? Please describe.**
- The sideloaded docs are realy useful, but take a long time to open, which makes the experience of using them pretty frustrating

https://user-images.githubusercontent.com/31242877/108371681-e9e5a680-71f5-11eb-88cc-83ce1a12009f.mp4

- It's not obvious you can open them in a new tab (which loads quicker) and if you do use a new tab

[2021-02-19 09:08] microbit-mark commented on #3544
@tangjie133 We have reports from people using the extension that this is now fixed. I will close here, but feel free to re-open if you still see issues.

[2021-02-19 09:08] #3544 closed

[2021-02-22 10:27] microbit-matt-hillsdon commented on #3879
@abchatra I agree it's unexpected. Can you reproduce it via my links?

Looking at the diff made me wonder about the build changes. Something odd has happened in 3.0.65 to cause live MakeCode to use the the development-time version of React - see #3875.

https://github.com/microsoft/pxt-microbit/compare/v3.0.64...v3.0.65
https://github.com/microsoft/pxt/compare/v6.0.35...v6.0.38

[2021-02-22 13:25] microbit-carlos commented on #3816
@tangjie133 is it possible the accessory has resistors in series for the I2C pins?

[2021-02-22 14:42] AlasdairAtKitronik commented on #3531
@microbit-carlos @microbit-mark @jaustin
Is there any update on whether this has been fixed?

[2021-02-22 17:19] finneyj commented on #3531
@AlasdairAtKitronik

FYI, I ported your driver to C++ last week for testing. I could repro the bug there. i think it was caused by the unusual stream of repeated start i2C transactions on it. After some I2C patches, I had it working cleanly against master branch of codal-microbit-v2 and codal-nrf52.

[2021-02-23 00:39] abchatra commented on #3877
@Jaqster v2 or v1 hardware?

[2021-02-23 00:41] abchatra commented on #3882
I am closing this bug in favor of existing one #3791

[2021-02-23 00:41] #3882 closed

[2021-02-23 00:42] abchatra commented on #3883
@jaustin ?

[2021-02-23 02:01] Jaqster commented on #3877
v1 micro:bits

[2021-02-23 09:52] AlasdairAtKitronik commented on #3531
Right, so are there some changes I need to make to how I'm doing the I2C?

[2021-02-23 12:49] finneyj commented on #3531
I don't think so @AlasdairAtKitronik - I've updated the I2C driver to be more tolerant, so your code should work ok when makeCode pulls through the next CODAL release.

[2021-02-23 16:17] ngammarano opened #3888 "Link to File System extension not working in docs"
**Describe the bug**
There is a broken link in [the docs in "Extensions"](https://makecode.microbit.org/extensions).
The "File System" extension under the ["Utilities"](https://makecode.microbit.org/extensions#utilities) category.

The link is not broken: https://github.com/microsoft/pxt-filesystem, but the problem is that as the GitHub repository is archived, the File System extension does not ap

[2021-02-23 16:18] jaustin commented on #3883
The difference here is that when using the 'advanced' (V2) sounds the output is PCM audio - IE @finneyj has built a DAC with high-frequency (~45Khz) PWM - we have a higher carrier frequency than the audio. When you use the 'analog set pitch pin' we revert to the V1 compat audio that doesn't do this. this DAC approach is required for the advanced sounds on V2, so it's not really possible to offer t

[2021-02-23 16:41] abchatra commented on #3888
This package is deprecated as it didn't work. There is a new filesystem proposal which we are working on. I have removed it from the extensions. https://github.com/microsoft/pxt-microbit/pull/3889

[2021-02-23 16:41] #3888 closed

[2021-02-23 19:23] jwunderl commented on #3876
This looks like the download was interrupted; the file size on the zip file looks like it's listed at 6.3mb, where the file size for the current version is ~177mb (I just downloaded / unzipped the current file to confirm and that worked on my machine).

I did see there was a similar issue that resolved itself in arcades offline app https://forum.makecode.com/t/announcement-new-offline-app-for-make

[2021-02-24 05:38] tangjie133 commented on #3816
It is because there is a resistor in series on I2C that the communication is not successful.

[2021-02-24 13:31] microbit-mark commented on #3843
Windows 10 64-Bit (20H2)

---
I'm consistently getting the Error 'This app can't run on your PC
To find a version for your PC, check with the software publisher'
I have downloaded the .exe file from here: https://makecode.com/api/release/microbit/v3.0.65/win64
I also tried to disable UAC, Smartscreen, ran 'sfc /scannow' - stil no luck.
---

I will ask for system information

[2021-02-24 14:49] adhioutlined commented on #3876
Hi,
According from Joey reply, I'm trying to download again. This time I accessing download page using VPN service from opengate via one of their japan server, then it's look promising.
Download size was detected about 169 MB
![Screen Shot 2021-02-24 at 9 35 26 PM](https://user-images.githubusercontent.com/3907931/109016959-47dc2780-76e9-11eb-9a73-0dbd3dc65ae0.png)

after finishing download, it wa

[2021-02-24 15:22] microbit-mark commented on #3854
@abchatra I think it still works with some devices including iOS. Another person has requested the use of these blocks in microbit support ticket 43486 as they started using them a fwe weeks ago.

I would prefer they still be available in a beta extension rather than removing completely. This ticket was just to remove them from the top 10 tiles

[2021-02-24 16:01] microbit-carlos commented on #3816
Thanks @tangjie133, do you know what value resistor is it?

[2021-02-24 16:02] microbit-carlos commented on #3816
Okay, so looking at the pin configuration.

## V2

Default CODAL I2C pins config (read via debugger), PIN_CNF[0_08] and PIN_CNF[0_16]:
- `0x0000000c`
- DIR `0b0` -> Configure pin as an input pin
- INPUT `0b0` -> Connect input buffer
- PULL `0b11` -> Pullup
- DRIVE `0b000` -> S0S1 (Standard '0', standard '1')
- SENSE `0b00` -> Disabled

<img width="858" alt="Screenshot 2021-02-08 at 19 20 28" src="

[2021-02-24 17:20] abchatra commented on #3843
I prefer not to ship something which doesn't work everywhere. If it is a backward compat issue let us know.

[2021-02-24 17:21] abchatra commented on #3843
Lets communicate that it is deprecated.

[2021-02-24 17:37] jwunderl commented on #3843
It seems like there's likely something going wrong with downloads in that region / cdn breaking? @microbit-mark if you could ask for the size of the file they downloaded / are trying to install that would be very helpful. re: https://github.com/microsoft/pxt-microbit/issues/3876

[2021-02-24 18:05] jwunderl commented on #3876
Interesting, thank you for checking / glad it seems to be working! I logged onto my personal device and checked a few different vpn servers I had access to in the area and was not able to reproduce the error :( We should not have any configuration like that, from https://forum.makecode.com/t/announcement-new-offline-app-for-makecode-arcade/3356/14?u=jwunderl it seems possible that it's an issue wi

[2021-02-24 19:00] ngammarano commented on #3383
You could also add the X and Y numbers, something like this:
![image](http://brianaspinall.com/wp-content/uploads/2016/09/Screen-Shot-2016-09-06-at-8.24.31-AM.png)

[2021-02-24 20:45] Jaqster commented on #3703
Had another Teacher report this same issue on iPads in her classroom.

[2021-02-24 20:46] Jaqster commented on #3703
Can we bump this up to a P1 bug?

[2021-02-25 11:49] ngammarano opened #3890 "Feature: more than 2 micro:bits in multi MakeCode editor"
**Is your feature request related to a problem? Please describe.**
Some projects require 3 or more micro:bits interacting with each other. This is not possible to simulate in MakeCode, as the current [multi editor](https://makecode.com/multi) only has the possibility to show 2 different programs.

**Describe the solution you'd like**
I'd like the possibility to have more than 2 programs (for proje

[2021-02-25 14:29] microbit-matt-hillsdon commented on #3875
Asset sizes are also significantly bloated as it looks like some minimisation has been removed:

For example, take main.js:

3.0.64:
https://pxt.azureedge.net/blob/5d9eb71a9f5a03538833b2d07eb04b0f0d869753/main.js
1.6M all on one line

3.0.65: https://pxt.azureedge.net/blob/37e3fd85a6337e2722f769e16a60f74c54d64465/main.js
Over 11MB (!) over thousands of lines

The same is true of the current live v

[2021-02-25 18:35] #3875 closed

[2021-02-25 21:44] ngammarano opened #3891 "Experimental Bluetooth Download not working in V2"
## Describe the bug
The experimental feature "Bluetooth Download" is not working in micro:bit V2.

## To reproduce
Steps to reproduce the behavior:
1. Open [this project in MakeCode](https://makecode.microbit.org/#pub:_dtzas2LRsML8). It is a test project that prints "Hello World", with Bluetooth configuration "No Pairing Required".
2. Program the HEX file associated to this project to the micro:bi

[2021-02-25 22:14] abchatra commented on #3875
@microbit-matt-hillsdon & @microbit-mark  test /stable and see if the issues are fixed. I will release it tomorrow if everything is good.

[2021-02-25 22:14] abchatra commented on #3879
@microbit-matt-hillsdon & @microbit-mark test /stable and see if the issues are fixed. I will release it tomorrow if everything is good.

[2021-02-25 22:14] #3879 closed

[2021-02-25 22:24] martinwork commented on #3891
Related: https://github.com/microsoft/pxt-microbit/issues/3283

[2021-02-26 01:14] Parakleta opened #3892 "Sprite location should be rounded"
This line I believe implicitly casts the sprite location from a `number` to an `int` thus discarding the fractional part:
https://github.com/microsoft/pxt-microbit/blob/5df0bd147f04e3a07b71e6ac580041b4bea25c6e/libs/core/game.ts#L751

This has the effect that sprites can reside at a coordinate value of 0 if they are in the range [0..1) but they can only reside at coordinate value 4 if they are exac

[2021-02-26 08:45] microbit-mark commented on #3843
@jwunderl I have requested this information. The person that reported it in  support ticket 43455 is based in Switzerland, so I've also updated the name of this ticket.

[2021-02-26 12:07] microbit-matt-hillsdon commented on #3875
I've confirmed that main.js file size is back down and that React dev tools reports production React is in use on stable.

[2021-02-26 12:19] microbit-matt-hillsdon commented on #3879
No more hang testing via https://debug.microbit.org/stable.html

I'll remove the debug pages references on this issue after you've released.

[2021-02-26 21:40] abchatra commented on #3892
@Parakleta can you share a sample program where this bug shows up?

[2021-02-28 10:31] Parakleta commented on #3892
https://makecode.microbit.org/_FvMP8U9Mw5ib

[2021-02-28 10:32] Parakleta commented on #3892
The sprite in this example should move cleanly along the diagonals marking out a diamond shape, but instead it bounces around like a lunatic on the bottom and right and is misaligned on the top and left as a result.

[2021-03-01 01:43] Aerospacesmith commented on #3883
It turns out the MOSFET we were using had too high gate charge and could not switch fast enough. After swapping to a faster MOSFET, the sound now works. Though as @jaustin pointed out, it now hisses when no audio is playing so we will need to implement setSilenceLevel.

[2021-03-01 02:09] Aerospacesmith commented on #3883
Using setSilenceLevel(0) works great. I'm closing this issue.

[2021-03-01 02:09] #3883 closed

[2021-03-01 12:29] microbit-mark commented on #2192
Also raised in micro:bit support ticket 43572 when trying to output a musical scale

https://makecode.microbit.org/_5mUFiocM6hFz

[code]

Works in sim but constantly outputs 440 on the hardware

[2021-03-01 15:55] martinwork opened #3894 "Browser checks fail for iPod touch 7th gen in iOS WKWebView"
**Describe the bug**

When MakeCode is launched in the iOS app on an iPod touch, it jumps to the supported browsers page.

The user agent is "Mozilla/5.0 (iPod touch; CPU iPhone OS 14_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148".

I think the problem is that the test at https://github.com/microsoft/pxt/blob/master/pxtlib/browserutils.ts#L199 assumes "iPod" rather than "

[2021-03-02 03:02] bsiever opened #3896 "Problems with block rendering/docs in Extension"
**Describe the bug**

The documentation for my extension, https://makecode.microbit.org/pkg/bsiever/microbit-pxt-timeanddate, isn't rendering blocks correctly anymore (on either the page or in the MakeCode editor).  The JavaScript console shows some errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/pkg/bsiever/microbit-pxt-timeanddate
2. Notice the u

[2021-03-02 12:34] ryanteck commented on #3855
Hi @martinwork , My apologies for the delay.

Today it did seem to test fine with makecode version 3.0.67, microsoft version 6.0.39 and microbit runtime 2.2.0-rc6 as I wasn't able to replicate the issues we've been having.

[2021-03-04 07:28] CoolGuy-official commented on #3821
do you know the workaround to make P5 and P11 works fine as GPIO output?

[2021-03-04 08:46] microbit-mark commented on #3854
Any update on this? Is it possible for someone to still add these blocks to a project?

[2021-03-04 11:45] ngammarano opened #3898 "Feature: group the SPI and I²C blocks under the same group"
## Is your feature request related to a problem? Please describe.
When I use the micro:bit with SPI or I²C communication, I look for the blocks in the Advanced > Pins > more category.
But here the SPI and I²C blocks are mixed with the other pin blocks (they are not all together), so I take more time to look for those blocks.
SPI blocks are not all together.
![image](https://user-images.githubuserc

[2021-03-05 08:54] microbit-mark commented on #3737
This is still persisting for users. The red error message is cryptic and there isn't any advice on what to try or do next.

[2021-03-05 10:46] martinwork commented on #3854
The iOS app camera sample uses blocks from the Devices extension. The gamepad demo used them too, but had to change to an ugly "on event from" block because changes in the DAL and MakeCode reduced the available RAM. Those blocks would be usable again with V2.

[2021-03-06 19:34] bsiever commented on #3896
The problem was on my end.  I didn't have consistent names between the pxt.json, the repo, and the "```package```" notation in the README.md.

[2021-03-06 19:34] #3896 closed

[2021-03-07 23:13] Parakleta commented on #3179
Related to this it is not possible to create an array of empty arrays because the type information is lost and there is then a typescript error which states "variable 'list' implicitly has an 'any[][]' type".  Even adding the type information in Javascript mode and moving back into blocks doesn't work because the type information is deleted.

[2021-03-09 16:15] abchatra commented on #3737
@pelikhan or @mmoskal any clue here.

[2021-03-09 16:53] mmoskal commented on #3737
Seems to work in beta. The invalid response errors mean that we send a CMSIS DAP packet 17 and get response for packet 0. Typically this means that there was a 0 packet in the queue on the micro:bit. Now, once you get it once, it will likely continue to happen (because you're off by at least one packet). I added some code in beta to improve the situation see https://github.com/microsoft/pxt-microb

[2021-03-09 23:17] Parakleta opened #3900 "Sprite set/change/get blocks have incorrect documentation on properties"
The change/set/get blocks for sprites describe the parameters as follows

[code]

In reality, `x` is how far left or right, `y` is how far up or down, and `blink` is the delay between changes (in ms) and so the bigger the number the slower the sprite blinks.

[2021-03-11 11:53] JoshuaAHill opened #3901 "Icons or Images in drop down selectors"
**Is your feature request related to a problem? Please describe.**
Im developing an extention to do with sound, which allows the user to select different types of wave (sine, square etc.) to playback the sound. However this isnt overly beginner friendly.

**Describe the solution you'd like**
Instead of having words as a dropdown, icons or images provide a more visual, easier to understand selectio

[2021-03-12 08:00] Dolphinzzx opened #3902 "Neopixel extension pack can't switch language."
**Describe the bug**
Neopixel extension pack can't switch language.

After i add Neopixel extension pack, when i switch language it can't change language.

As shown below.
![image](https://user-images.githubusercontent.com/31792429/110910141-e86a5280-834b-11eb-95c9-b21d6a40c664.png)

[2021-03-16 04:01] sbb777 opened #3903 "current version of Bluetooth extension start to cause conflict and don't know how to solve"
**Is there any way to use old version Bluetooth extension with the online makecode editor? such as configuring the  pxt.json file for my extension?**

**Describe the bug**
The block coding which was written about 20 days ago, it still ok to complie,
but yesterday I got ‘Some extensions will be removed’ warning when I  tried to add Bluetooth extension after inserting another extension which had bee

[2021-03-16 16:17] microbit-mark opened #3905 "Copy Pasting code adds indent"
**Describe the bug**
A clear and concise description of what the bug is.

Copying the following and pasting into Python mode:

letters = ["A",
    "B",
    "C",
    "D"]
numbers = ["1",
    "2",
    "3",
    "4",]

adds an indent to the second array

![image](https://user-images.githubusercontent.com/31242877/111343127-0816b900-8673-11eb-8733-ad4d7dee29d9.png)

I would expect this to copy and past

[2021-03-17 11:30] smith9 commented on #3703
Just got my micro:bit today and also experience the same thing in the iOS phone app.
Constant tone in the "play melody" editor, but ok in the simulator - steps:

1. enter visual coding screen in app
2. add play melody block to forever block
3. click on music icon in play melody block - brings up editor.
4. press gallery tab, select scale - populates the editor grid with descending note pattern
5.

[2021-03-17 16:28] microbit-mark commented on #3734
This is still confusing people. It's not obvious that you are connected via webUSB or if you are, it's not clear what that means in terms of your .hex file, so an option to disconnect and/or use the download button to actually download a file to the machine would be handy. Is this one being considered for the upcoming release @abchatra @Jaqster?

[2021-03-17 16:41] abchatra commented on #3734
Yes we are going to evaluate all webusb related issues this release.

[2021-03-18 13:14] #3791 closed

[2021-03-18 13:16] microbit-mark commented on #3838
This should now be fixed in makecode.microbit.org/stable

Can you test and confirm @0hotpotman0

[2021-03-18 13:26] microbit-mark commented on #3524
This should now be fixed in makecode.microbit.org/stable can you confirm @tangjie133?

[2021-03-18 16:40] microbit-mark opened #3910 "Docs for Eddystone Bluetooth services do not exist"
Are the BLE docs incomplete or has something moved?

<img width="1251" alt="image" src="https://user-images.githubusercontent.com/31242877/111662978-4abdca00-8808-11eb-8baa-e9fe38f072ed.png">

These links do not work
https://makecode.microbit.org/reference/bluetooth/advertise-uid
https://makecode.microbit.org/reference/bluetooth/advertise-url

This one does
https://makecode.microbit.org/reference/

[2021-03-18 16:40] microbit-mark commented on #3910
^ @ganicke

[2021-03-18 17:32] pelikhan commented on #3910
Eddystone is not supported by Google, we should deprecate this.

From: Mark ***@***.***>
Sent: Thursday, March 18, 2021 9:41 AM
To: microsoft/pxt-microbit ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [microsoft/pxt-microbit] Docs for Eddystone Bluetooth services do not exist (#3910)

Are the BLE docs incomplete or has something moved?

[image]<https://nam06.safelinks.protection.outlook.com/?u

[2021-03-18 18:45] kjcole opened #3911 "Note() enum missing accidentals"
**DESCRIPTION**

It seems odd that to go from C4 to CSHARP4 to D4 to ... EB4 (and ditto for G4, GSHARP4, A4, BB4). Why not include DSHARP4 and ASHARP4? Trying to go up (or down) a chromatic scale and needing to switch accidentals in the middle seems peculiar.

**EXPECTED BEHAVIOR**

All of the flats and sharps of the chromatic scale should be included, rather than arbitrary switching from sharp to

[2021-03-18 18:49] kjcole opened #3912 "Note() enum not persistent"
**DESCRIPTION**

Making any edits anywhere wipes away previous Note() enums and substitutes the actual frequencies in Hz as integer literals.

**EXPECTED BEHAVIOR**

For demonstrating to others, it would be nice if the enums were persistent: "Note.C4" should stay "Note.C4" in Python and "Middle C" should stay "Middle C" in Blocks instead of switching to 262 at the drop of a hat, as the later has n

[2021-03-18 19:37] kjcole opened #3914 "MakeCode project name inconsistent. Varies with view."
**DESCRIPTION**

When browsing https://makecode.microbit.org/ and the list "**My Projects**" view is being shown, the projects retain their original names, despite being changed on GitHub and in the comment(?) (title? description?) field at the bottom of the project page, next to the GitHub upload icon (directly below the categories / modules menu to the left of the code being edited.

However, cl

[2021-03-18 20:10] microbit-carlos commented on #3531
@AlasdairAtKitronik the latest CODAL has been added to this version of the editor: https://makecode.microbit.org/stable

It'd be great if you could test it to confirm if it has resolved the issues?

[2021-03-19 20:05] SquareFingers commented on #3905
Hm.  The post above, appears to me, to be:

\>\>\>

Copying the following and pasting into Python mode:

letters = ["A",
"B",
"C",
"D"]
numbers = ["1",
"2",
"3",
"4",]

<<<

The intent, I believe, is for it to be:

\>\>\>

Copying the following and pasting into Python mode:

[code]
<<<

[2021-03-20 10:35] whaleygeek opened #3915 "Graph scrolls too fast, for slow changing data"
**Is your feature request related to a problem? Please describe.**
I am doing a school science experiment using MakeCode console/graph to log data in real time. The data I am logging changes slowly (over about 3 minutes). The graph scrolls at a fixed rate, so all we really see is a long line that is mostly straight, but I want to see the real shape of the graph.

The only way I can do this is to e

[2021-03-21 03:20] joshkordek3 opened #3916 "extension not appearing in blocks"
**Describe the bug**
I created an extension, but whenever I try to use blocks, it doesn't appear, in Javascript or Python it works just fine, what might be the cause?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'makecode.microbit.org'
2. Create a new project
3. Switch to Blocks (If you haven't already)
4. Open files
5. Download the file below
6. if necessary **Rename** the file bel

[2021-03-22 02:57] joshkordek3 commented on #3905
Hmm, it does not happen in my editor, try closing all the editor tabs and then reopening
![Screenshot 2021-03-22 10 54 48](https://user-images.githubusercontent.com/79750252/111934894-4b52ab00-8afd-11eb-9368-e6d0b74a8d6d.png)

[2021-03-22 09:25] joshkordek3 commented on #3901
Try this: https://makecode.com/playground#field-editors-gridpicker

[2021-03-22 12:54] microbit-mark opened #3917 "position degree in servo blocks does not work in Hungarian translation"
micro:bit support: 43994

When using the servo blocks with the Hungarian translation, the block to set the position does not allow the user to input the position.

![image](https://user-images.githubusercontent.com/31242877/111992458-5c0b1d00-8b0d-11eb-8f55-ec041ad1486c.png)

[2021-03-22 17:47] ngammarano opened #3918 "Feature: Allow to record sound or upload WAV file to be played by micro:bit V2 buzzer"
## Is your feature request related to a problem? Please describe.
It would be great to have more variety of sounds to reproduce with the buzzer and invent new sounds with the microphone (like in Scratch) to be reproduced with the blocks "play sound" and "play sound until done" under the "Music" category.

## Describe the solution you'd like
To be able to upload a WAV file, or to record with the co

[2021-03-22 17:56] abchatra commented on #1020
No plans to implement and there are workarounds

[2021-03-22 17:56] #1020 closed

[2021-03-22 18:20] SquareFingers commented on #3905
Excuse me for asking, but are you following the instructions from the original post from microbit-mark or the instructions in the comment I made earlier?  microbit-mark was trying to be helpful to me in taking my ticket at
https://support.microbit.org/support/tickets/43871
and opening the issue here on GitHub.  However, if you look at the ticket I wrote, it's really not the same as what's in the t

[2021-03-22 20:08] abchatra commented on #1356
Closing > 2year old issues. We decided it is not possible to determine in the class room scenario to uniquely identify if the user has seen this dialog or not. So siding with keeping this even though we understand it might be bit annoying for few users.

[2021-03-22 20:08] #1356 closed

[2021-03-23 06:37] abchatra commented on #1468
We have ? for now for the help.

[2021-03-23 06:37] #1468 closed

[2021-03-23 06:40] abchatra commented on #1818
This is fixed.

[2021-03-23 06:40] #1818 closed

[2021-03-23 06:42] abchatra commented on #1874
Extensions is the right one for this. Please feel free to build an extension.

[2021-03-23 06:42] #1874 closed

[2021-03-23 06:44] abchatra commented on #2139
This is already implemented. @ganicke can you please point to the docs where all the blocks are listed for microbit.

[2021-03-23 06:44] #2139 closed

[2021-03-23 06:44] abchatra commented on #2196
Won't fix :-(. This will increase the size of the installer by a big margin.

[2021-03-23 06:44] #2196 closed

[2021-03-23 06:47] abchatra commented on #2324
Implemented.

[2021-03-23 06:47] #2324 closed

[2021-03-23 06:48] abchatra commented on #2395
Original issue implemented. Open new ones for the additional requests.

[2021-03-23 06:48] #2395 closed

[2021-03-23 06:50] ganicke commented on #2139
A blocks listing is auto-generated when you hit this address:

https://makecode.microbit.org/block-gallery

Hopefully that is what @abchatra is referring to.

[2021-03-23 06:53] abchatra commented on #2588
No plans to address this issue.

[2021-03-23 06:53] #2588 closed

[2021-03-23 06:55] abchatra commented on #2702
No plans to address this issue.

[2021-03-23 06:55] #2702 closed

[2021-03-23 06:55] abchatra commented on #2810
No plans to address this issue.

[2021-03-23 06:55] #2810 closed

[2021-03-23 06:56] abchatra commented on #2906
No plans to address this issue.

[2021-03-23 06:56] #2906 closed

[2021-03-23 06:59] abchatra commented on #2983
No plans to address this issue.

[2021-03-23 06:59] #2983 closed

[2021-03-23 07:00] abchatra commented on #3764
Implemented in /beta

[2021-03-23 07:00] #3764 closed

[2021-03-23 07:00] abchatra commented on #3030
done

[2021-03-23 07:00] #3030 closed

[2021-03-23 07:03] abchatra commented on #3286
No plans to address this issue.

[2021-03-23 07:03] #3286 closed

[2021-03-23 07:04] abchatra commented on #3286
There are workarounds as well.

[2021-03-23 07:07] abchatra commented on #3319
No plans to address this issue. Please feel free to write an extension for the new API.

[2021-03-23 07:07] #3319 closed

[2021-03-23 07:09] abchatra commented on #3323
Duplicate of https://github.com/microsoft/pxt-microbit/issues/2205

[2021-03-23 07:09] #3323 closed

[2021-03-23 07:09] abchatra commented on #3447
Duplicate of https://github.com/microsoft/pxt-microbit/issues/2205

[2021-03-23 07:09] #3447 closed

[2021-03-23 07:11] abchatra commented on #3359
No plan to address this.

[2021-03-23 07:11] #3359 closed

[2021-03-23 07:12] abchatra commented on #3373
No plan to address this.

[2021-03-23 07:12] #3373 closed

[2021-03-23 07:13] abchatra commented on #3383
No plan to address this.

[2021-03-23 07:13] #3383 closed

[2021-03-23 07:14] abchatra commented on #3713
Work around exits.

[2021-03-23 07:14] #3713 closed

[2021-03-23 07:15] abchatra commented on #3715
Fixed.

[2021-03-23 07:15] #3715 closed

[2021-03-23 07:16] abchatra commented on #3743
Request is for typescript API for microbit version?

[2021-03-23 07:17] abchatra commented on #3744
No plans to implement.

[2021-03-23 07:17] #3744 closed

[2021-03-23 07:19] abchatra commented on #3814
We have to decompile and it is hard to keep the exact layout when the decompilation trigger. Hard to fix from our end.

[2021-03-23 07:19] #3814 closed

[2021-03-23 07:24] abchatra commented on #3853
Closing this as extension was preferred.

[2021-03-23 07:24] #3853 closed

[2021-03-23 07:25] abchatra commented on #3864
@mmoskal can we increaes the size for v2?

[2021-03-23 10:16] joshkordek3 opened #3919 "Feature: Discarded blocks are saved"
**Is your feature request related to a problem? Please describe.**
Its frustrating that whenever I turn to Javascript or Python to change something, then all the blocks that I wasn't using were discarded

**Describe the solution you'd like**
whenever it converts to Python or Javascript I would like it to add the not used blocks as ```///``` and then the code (```///``` if Javascript, ```##``` if P

[2021-03-23 14:35] mmoskal commented on #3864
Adding a v2-only extension might fix it

[2021-03-23 15:46] pelikhan opened #3920 "Simulator does not upgrade to v2.0 mode when disablesVariant: mbdal is enabled."
When an extension disables mbdal, the simulator should automatically default to 2.0 and up.

Test:

* import https://github.com/microsoft/pxt-jacdac
* notice simulator is not v2.

[2021-03-23 16:29] RRWagner commented on #3373
I could imagine that what would happen to the arguments is that the current ones would disappear, and be replaced by the new arguments appropriate to the function chosen, since that list is already known to the editor.

[2021-03-23 21:31] dsssssssss9 opened #3922 "Strange behaviour when using beta version via Brave browser"
**makecode.microbit.org version:  3.1.62

Microsoft MakeCode version:  6.13.2

microbit runtime version:  v2.2.0-rc6

codal-microbit-v2 runtime version:  v0.2.25

Brave Version 1.21.77 Chromium: 89.0.4389.90 (Official Build) (64-bit)**

When connected to the Micro:Bit in the Beta version of the editor via Brave Browser, when the editor window is active the Yellow LED on the reverse flashes constan

[2021-03-24 00:45] joshkordek3 commented on #3905
I followed directions from the original.

[2021-03-24 09:42] microbit-mark commented on #2139
Thanks @ganicke. This is really useful. I think the poster format requested would still be most useful, but good to know this is here.

Perhaps a TOC at the top of the page would help too.

[2021-03-24 23:10] #902 closed

[2021-03-24 23:10] #903 closed

[2021-03-24 23:22] abchatra commented on #914
Fixed

[2021-03-24 23:22] #914 closed

[2021-03-24 23:23] #1240 closed

[2021-03-24 23:27] abchatra commented on #1416
This is likely fixed. If this is still an issue let us know.

[2021-03-24 23:27] #1416 closed

[2021-03-24 23:27] abchatra commented on #1479
Fixed

[2021-03-24 23:27] #1479 closed

[2021-03-24 23:49] abchatra commented on #1876
Doesn't cause any exception now.

[2021-03-24 23:49] #1876 closed

[2021-03-24 23:55] abchatra commented on #1893
I am closing this as we always show the data if the webusb is connected. There is no feature in microbit yet to collect data and stream later on.

[2021-03-24 23:55] #1893 closed

[2021-03-24 23:56] abchatra commented on #1899
This is a issue with safari

[2021-03-24 23:56] #1899 closed

[2021-03-24 23:59] abchatra commented on #2065
Fixed

[2021-03-24 23:59] #2065 closed

[2021-03-24 23:59] abchatra commented on #2104
Fixed

[2021-03-24 23:59] #2104 closed

[2021-03-24 23:59] abchatra commented on #2122
Fixed

[2021-03-24 23:59] #2122 closed

[2021-03-25 00:00] abchatra commented on #2136
Won't fix

[2021-03-25 00:00] #2136 closed

[2021-03-25 00:02] abchatra commented on #2197
Won't fix

[2021-03-25 00:02] #2197 closed

[2021-03-25 00:02] #2228 closed

[2021-03-25 00:05] abchatra commented on #2241
This is implemented. We have extensions->import file now.

[2021-03-25 00:05] #2241 closed

[2021-03-25 04:13] #3910 closed

[2021-03-25 04:41] abchatra commented on #2231
This should be fixed now.

[2021-03-25 04:41] #2231 closed

[2021-03-25 04:42] abchatra commented on #2255
Old issue if this still repros let us know. Closing.

[2021-03-25 04:42] #2255 closed

[2021-03-25 04:43] abchatra commented on #2367
Fixed

[2021-03-25 04:43] #2367 closed

[2021-03-25 04:44] pelikhan opened #3927 "Long WebUSB download should have a progress bar"
We know exactly the progress of the transfer... that can be very long. We should display a progress bar.

[2021-03-25 04:45] pelikhan commented on #3917
@ganicke  @jwunderl looks like a broken translation

[2021-03-25 04:45] abchatra commented on #3050
Still repros.

[2021-03-25 04:46] abchatra commented on #2439
This should be fixed now. Please try your program and if it doesn't work let us know.

[2021-03-25 04:46] #2439 closed

[2021-03-25 04:47] abchatra commented on #2492
Old behavior won't fix.

[2021-03-25 04:47] #2492 closed

[2021-03-25 04:47] abchatra commented on #2500
fixed

[2021-03-25 04:47] #2500 closed

[2021-03-25 04:48] #2531 closed

[2021-03-25 04:49] abchatra commented on #2635
Won't fix P3.

[2021-03-25 04:49] #2635 closed

[2021-03-25 04:49] abchatra commented on #2667
This is as designed.

[2021-03-25 04:49] #2667 closed

[2021-03-25 04:49] jwunderl commented on #3917
Yeah, broken translation. Beta is filtering it out properly, will clear it in crowdin for now~

[2021-03-25 04:50] abchatra commented on #2713
Still repros

[2021-03-25 04:51] abchatra commented on #2735
Won't fix browser compat bug

[2021-03-25 04:51] #2735 closed

[2021-03-25 04:51] abchatra commented on #2740
Won't fix.

[2021-03-25 04:51] #2740 closed

[2021-03-25 04:52] abchatra commented on #2741
Won't fix

[2021-03-25 04:52] #2741 closed

[2021-03-25 04:52] abchatra commented on #2745
Won't fix

[2021-03-25 04:52] #2745 closed

[2021-03-25 04:53] abchatra commented on #2766
Won't fix.

[2021-03-25 04:53] #2766 closed

[2021-03-25 04:53] abchatra commented on #2776
Won't fix

[2021-03-25 04:53] #2776 closed

[2021-03-25 04:54] abchatra commented on #2793
Won't fix.

[2021-03-25 04:54] #2793 closed

[2021-03-25 04:54] abchatra commented on #2808
This should be fixed.

[2021-03-25 04:54] #2808 closed

[2021-03-25 05:04] abchatra commented on #2868
Won't fix. We have moved the keyboard icon to the top, user can click on it if the keyboard doesn't pop up automatically

[2021-03-25 05:04] #2868 closed

[2021-03-25 05:06] abchatra commented on #2904
Fixed? If not lets reopen.

[2021-03-25 05:06] #2904 closed

[2021-03-25 05:09] abchatra commented on #2916
Looks like we have removed the field editor. This doesn't repro anymore

[2021-03-25 05:09] #2916 closed

[2021-03-25 05:09] jwunderl commented on #3917
Fixed on crowdin, should show up in ~ 12-24 hrs

[2021-03-25 05:09] #3917 closed

[2021-03-25 05:10] abchatra commented on #2949
Won't fix.

[2021-03-25 05:10] #2949 closed

[2021-03-25 05:13] abchatra commented on #2958
fixed

[2021-03-25 05:13] #2958 closed

[2021-03-25 05:15] #2988 closed

[2021-03-25 05:15] #2995 closed

[2021-03-25 05:20] abchatra commented on #3060
won't fix. P3

[2021-03-25 05:20] #3060 closed

[2021-03-25 05:21] #3071 closed

[2021-03-25 05:29] abchatra commented on #3079
won't fix

[2021-03-25 05:29] #3079 closed

[2021-03-25 05:30] abchatra commented on #3083
Won't fix

[2021-03-25 05:30] #3083 closed

[2021-03-25 05:31] abchatra commented on #3113
This is fixed.

[2021-03-25 05:31] #3113 closed

[2021-03-25 05:31] #3127 closed

[2021-03-25 05:33] abchatra commented on #3133
This is tab or shift tab to navigate. I tested and it works.

[2021-03-25 05:33] #3133 closed

[2021-03-25 05:36] abchatra commented on #3154
Does the code not work in the microbit? What happens?

[2021-03-25 05:41] abchatra commented on #3177
We dont' do flow analysis yet.

[2021-03-25 05:44] abchatra commented on #3178
This is runtime error and can't be caught at compile time.

[2021-03-25 05:44] #3178 closed

[2021-03-25 05:53] abchatra commented on #3203
fixed

[2021-03-25 05:53] #3203 closed

[2021-03-25 05:56] abchatra commented on #3234
Won't fix minor windows app bugs.

[2021-03-25 05:56] #3234 closed

[2021-03-25 05:56] abchatra commented on #3235
Won't fix minor windows app bugs.

[2021-03-25 05:56] #3235 closed

[2021-03-25 05:57] abchatra commented on #3236
Won't fix editor reload bugs.

[2021-03-25 05:57] #3236 closed

[2021-03-25 05:58] abchatra commented on #3261
Won't fix old edge bugs.

[2021-03-25 05:58] #3261 closed

[2021-03-25 05:59] abchatra commented on #3242
Remove these docs.

[2021-03-25 06:02] abchatra commented on #3255
closing edge bugs

[2021-03-25 06:02] #3255 closed

[2021-03-25 06:03] abchatra commented on #3256
This seems to be fixed. If not let me know.

[2021-03-25 06:03] #3256 closed

[2021-03-25 06:07] abchatra commented on #3266
Request for word wrap in monaco.

[2021-03-25 06:09] abchatra commented on #3294
Won't fix.

[2021-03-25 06:09] #3294 closed

[2021-03-25 06:09] abchatra commented on #3297
This is fixed by @riknoll and in /beta. Please test.

[2021-03-25 06:09] #3297 closed

[2021-03-25 06:10] abchatra commented on #3299
We have design to put save under ...

[2021-03-25 06:12] abchatra commented on #3303
No bandwidth to fix.

[2021-03-25 06:12] #3303 closed

[2021-03-25 06:15] #3419 closed

[2021-03-25 06:16] abchatra commented on #3451
Dal issue.

[2021-03-25 06:16] #3451 closed

[2021-03-25 06:16] abchatra commented on #3471
Won't fix.

[2021-03-25 06:16] #3471 closed

[2021-03-25 06:16] abchatra commented on #3473
Fixed

[2021-03-25 06:16] #3473 closed

[2021-03-25 06:20] abchatra commented on #3491
@aznhassan and @jwunderl this is the one hitting minecraft as well right?

[2021-03-25 06:21] abchatra commented on #3504
This is fixed.

[2021-03-25 06:21] #3504 closed

[2021-03-25 06:22] abchatra commented on #3528
Duplicate of https://github.com/microsoft/pxt-microbit/issues/3927

[2021-03-25 06:22] #3528 closed

[2021-03-25 06:23] abchatra commented on #3571
This should be fixed now.

[2021-03-25 06:23] #3571 closed

[2021-03-25 06:24] abchatra commented on #3599
Fixed

[2021-03-25 06:24] #3599 closed

[2021-03-25 06:24] abchatra commented on #3611
Fixed

[2021-03-25 06:24] #3611 closed

[2021-03-25 06:26] abchatra commented on #3615
Fixed

[2021-03-25 06:26] #3615 closed

[2021-03-25 06:28] abchatra commented on #3703
Marked next-release.

[2021-03-25 06:29] abchatra commented on #3705
Won't fix windows app issues.

[2021-03-25 06:29] #3705 closed

[2021-03-25 06:36] abchatra commented on #3709
Question answered.

[2021-03-25 06:36] #3709 closed

[2021-03-25 06:40] abchatra commented on #3731
fixed

[2021-03-25 06:40] #3731 closed

[2021-03-25 06:44] abchatra commented on #3838
Fixed

[2021-03-25 06:44] #3838 closed

[2021-03-25 06:44] abchatra commented on #3854
Fixed

[2021-03-25 06:56] abchatra commented on #2681
We have no more cookie notificiation.

[2021-03-25 06:56] #2681 closed

[2021-03-25 06:57] #2700 closed

[2021-03-25 06:57] #2831 closed

[2021-03-25 06:58] #2861 closed

[2021-03-25 07:02] abchatra commented on #2881
Fixed

[2021-03-25 07:02] #2881 closed

[2021-03-25 07:03] abchatra commented on #2962
Won't fix.

[2021-03-25 07:03] #2962 closed

[2021-03-25 07:03] abchatra commented on #2971
Fixed

[2021-03-25 07:03] #2971 closed

[2021-03-25 07:04] abchatra commented on #3028
fixed

[2021-03-25 07:04] #3028 closed

[2021-03-25 07:04] #3053 closed

[2021-03-25 07:04] #3057 closed

[2021-03-25 07:05] abchatra commented on #3058
Fixed

[2021-03-25 07:05] #3058 closed

[2021-03-25 07:05] #3063 closed

[2021-03-25 07:06] abchatra commented on #3453
fixed

[2021-03-25 07:06] #3453 closed

[2021-03-25 07:07] abchatra commented on #3092
fixed

[2021-03-25 07:07] #3092 closed

[2021-03-25 07:43] pelikhan opened #3928 "Device does not restart after quick flash on WebUSB"
Using micro:bit v2:

* start quick flash
* device does not restart

[code]

[2021-03-25 07:55] pelikhan opened #3929 "Bad Trans after WebUSB full flash"
Tested on v2.
[code]

[2021-03-25 08:01] pelikhan opened #3930 "invalid memory; try power-cycling the micro:bit after flashing micro:bit with WebUSB"
repro: flash pxt-jacdac repeatidely on v2.

[code]

[2021-03-25 08:06] pelikhan commented on #3930
@mmoskal is this still relevant for v2?
https://github.com/microsoft/pxt-microbit/blame/c7905e2858db3481711fb11add87c5880eb6074c/editor/flash.ts#L446

[2021-03-25 08:39] pelikhan commented on #3706
The current behavior is to shut down all webusb connections when switching tags. So this works as designed.

[2021-03-25 08:40] pelikhan commented on #3710
Won't fix or needs to be ported upstream to DapLink.

[2021-03-25 08:42] pelikhan commented on #3675
@abchatra DAPLink controls that LED, it's not clear what can be done on the MakeCode side.

[2021-03-25 08:46] pelikhan commented on #3676
No precise repro.

[2021-03-25 08:46] #3676 closed

[2021-03-25 08:46] pelikhan commented on #3677
Changing tab will disconnect the device, which in the middle of a download will fail the download.

[2021-03-25 08:47] pelikhan commented on #3677
@abchatra This is working as designed unless you want to change the tab behavior.

[2021-03-25 08:47] pelikhan commented on #3677
Similar to https://github.com/microsoft/pxt-microbit/issues/3706

[2021-03-25 08:50] pelikhan opened #3931 "microbit not detected as PWA application"
PWA can be "installed" from Edge and CHrome. micro:bit must be missing a manifest because it is not detected as such.

[2021-03-25 08:54] pelikhan commented on #3928
Commenting out this line seems to fix things @mmoskal

https://github.com/microsoft/pxt-microbit/blame/c7905e2858db3481711fb11add87c5880eb6074c/editor/flash.ts#L448

[2021-03-25 10:42] pelikhan opened #3933 "bluetooth package should not be the very first package for micro:bit"
We should weight down the bluetooth package so that it's not the very first extension in the dialog.

[2021-03-25 15:26] mmoskal commented on #3928
removing that line will cause the flashing to try to write to UICR which I imagine results in hard fault

[2021-03-25 15:44] mmoskal commented on #3928
for me it definitely resets here (with the line not commented out):

[code]

Then it resets again when connecting serial.

[2021-03-25 15:52] mmoskal commented on #3930
I flashed it like 10 times and nothing happened. I also tried switching between sim/dev and it all works, no invalid memory.

[2021-03-25 16:27] #3142 closed

[2021-03-25 16:27] abchatra commented on #3148
wont fix

[2021-03-25 16:27] #3148 closed

[2021-03-25 16:28] abchatra commented on #3151
won't fix.

[2021-03-25 16:28] #3151 closed

[2021-03-25 20:58] abchatra commented on #3161
Fixed

[2021-03-25 20:58] #3161 closed

[2021-03-25 20:58] abchatra commented on #3183
Should be fixed now. Please validate.

[2021-03-25 20:58] #3183 closed

[2021-03-25 21:00] abchatra commented on #3241
Fixed

[2021-03-25 21:00] #3241 closed

[2021-03-25 21:00] philipphenkel commented on #1157
The issue does still exist.

I tested with
makecode.microbit.org version:  3.0.67
Microsoft MakeCode version:  6.0.39
microbit runtime version:  v2.2.0-rc6

[2021-03-25 21:01] abchatra commented on #3250
Fixed

[2021-03-25 21:01] #3250 closed

[2021-03-25 21:02] abchatra commented on #3282
Safe to ignore these.

[2021-03-25 21:02] #3282 closed

[2021-03-25 21:15] abchatra commented on #3325
This should be fixed now. If not let us know.

[2021-03-25 21:15] #3325 closed

[2021-03-25 21:16] abchatra commented on #3324
This should be fixed now.

[2021-03-25 21:16] #3324 closed

[2021-03-25 21:17] abchatra commented on #3365
If this still an issue let me know. I will reopen the issue.

[2021-03-25 21:17] #3365 closed

[2021-03-25 21:18] abchatra commented on #3158
This is fixed.

[2021-03-25 21:18] #3158 closed

[2021-03-25 21:26] abchatra commented on #3334
I can't repro this.

[2021-03-25 21:26] #3334 closed

[2021-03-25 21:27] #3335 closed

[2021-03-25 21:30] abchatra commented on #3346
This is fixed.

[2021-03-25 21:30] #3346 closed

[2021-03-25 21:30] abchatra commented on #3346
By mono repo

[2021-03-25 21:31] abchatra commented on #3347
We dont support this scenario.

[2021-03-25 21:31] #3347 closed

[2021-03-25 21:33] #3350 closed

[2021-03-25 21:49] abchatra commented on #3355
@pelikhan can you answer this question?

[2021-03-25 21:50] abchatra commented on #3358
This should be fixed now. If not please share your code.

[2021-03-25 21:52] abchatra commented on #3391
This is how these API worked for a long time. It is hard to change now by adding a flush character at the end. Won't fix from our end.

[2021-03-25 21:53] #3391 closed

[2021-03-25 21:53] abchatra commented on #3392
For legacy reasons we can't fix this.

[2021-03-25 21:53] #3392 closed

[2021-03-25 21:54] abchatra commented on #3396
We are not going to deviate from blockly behavior.  Ctrl + Click is the alternative in desktop.

[2021-03-25 21:54] #3396 closed

[2021-03-25 21:54] #3506 closed

[2021-03-25 21:55] abchatra commented on #3524
Fixed

[2021-03-25 21:55] #3524 closed

[2021-03-25 21:56] abchatra commented on #3531
Fixed

[2021-03-25 21:56] #3531 closed

[2021-03-25 21:57] abchatra commented on #3700
fixed

[2021-03-25 21:57] #3700 closed

[2021-03-25 21:59] abchatra commented on #3354
Fixed

[2021-03-25 21:59] #3354 closed

[2021-03-25 22:20] abchatra commented on #3740
Fixed by setAudioPin API? If not let me know, I will reopen this ticket.

[2021-03-25 22:20] #3740 closed

[2021-03-25 22:20] abchatra commented on #3750
Fixed

[2021-03-25 22:20] #3750 closed

[2021-03-25 22:20] abchatra commented on #3751
Fixed

[2021-03-25 22:20] #3751 closed

[2021-03-25 22:21] abchatra commented on #3776
No additional information given.

[2021-03-25 22:21] #3776 closed

[2021-03-25 22:21] abchatra commented on #3785
Fixed

[2021-03-25 22:21] #3785 closed

[2021-03-25 22:25] abchatra commented on #3798
Please need a repro. I am unable to understand the issue.

[2021-03-25 22:25] #3798 closed

[2021-03-25 22:26] abchatra commented on #3806
@carlosperate ?

[2021-03-25 22:26] #3809 closed

[2021-03-25 22:27] abchatra commented on #3811
Our number is double. And we need to document it.

[2021-03-25 22:29] pelikhan commented on #3355
It only works with the first character of the string.

[2021-03-25 22:29] pelikhan commented on #3929
Bug found on prototype v2 hardware. Will reopen if needed.

[2021-03-25 22:29] #3929 closed

[2021-03-25 22:30] pelikhan commented on #3928
Bug found on prototype v2 hardware. Will reopen if needed.

[2021-03-25 22:30] #3928 closed

[2021-03-25 22:31] pelikhan commented on #3737
What hardware revision of the micro:bit did you use?

[2021-03-25 22:32] abchatra commented on #3355
Questions answered

[2021-03-25 22:52] Parakleta commented on #3355
Sorry, but what does that mean?

[2021-03-25 22:53] pelikhan commented on #3355
Only the first character of the delimiter string is used, the rest is ignored.

[2021-03-25 22:55] Parakleta commented on #3355
How does that apply to the example I’ve given? I’m only using the colon character as a delimiter and it’s clearly not breaking at any consistent point

[2021-03-25 22:57] pelikhan commented on #3355
Sorry i read the sample wrong.

[2021-03-25 23:02] pelikhan commented on #3930
This issue was occuring on a pre-release hardware device. Reopening if it occurs again on 255.

[2021-03-25 23:03] abchatra commented on #3822
This should be fixed. Let me know if this is not.

[2021-03-25 23:03] #3822 closed

[2021-03-25 23:05] abchatra commented on #3826
This is fixed right?

[2021-03-25 23:05] #3826 closed

[2021-03-25 23:08] abchatra commented on #3355
@pelikhan is this is a bug?

[2021-03-25 23:09] Parakleta commented on #3355
Also curious to know what your basis for saying only the first delimiter character is used.  It's not clear from the documentation about the `readUntil` method but the `onDataReceived` method clearly states "delimiters is a string containing any of the character to match" which suggests that it delimits on any matching character, and I would have assumed `readUntil` would operate the same way.  Co

[2021-03-25 23:09] Parakleta commented on #3355
I would assume anything with inconsistent behaviour is a bug, which is why I reported it.  :)

[2021-03-25 23:09] abchatra commented on #3841
Can't reproduce.

[2021-03-25 23:09] #3841 closed

[2021-03-25 23:09] pelikhan commented on #3355
Looks like a bug

________________________________
From: Abhijith Chatra ***@***.***>
Sent: Friday, March 26, 2021 12:09:07 AM
To: microsoft/pxt-microbit ***@***.***>
Cc: Peli de Halleux ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/pxt-microbit] Confusing `serial.readUntil` behaviour (#3355)

@pelikhan<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fpel

[2021-03-25 23:15] abchatra commented on #3839
No additional information given

[2021-03-25 23:15] #3839 closed

[2021-03-25 23:16] abchatra commented on #3829
We need to fix this.

[2021-03-25 23:20] abchatra commented on #3843
Can't repro for us.

[2021-03-25 23:20] #3843 closed

[2021-03-25 23:25] abchatra commented on #3855
Fixed

[2021-03-25 23:25] #3855 closed

[2021-03-25 23:25] abchatra commented on #3868
Can you please provide a shorter repro and reopen the issue?

[2021-03-25 23:33] abchatra commented on #3922
We only support Firefox, Edge & Chrome today.

[2021-03-25 23:33] #3922 closed

[2021-03-25 23:35] abchatra commented on #3916
We need simpler repro to look. Please share your extension.

[2021-03-25 23:40] abchatra commented on #3905
This doesn't repro for me. If it does, please give me the browser information.

[2021-03-25 23:40] #3905 closed

[2021-03-25 23:40] abchatra commented on #3903
Bluetooth and neopixel extension doesn't work with each other. This is due to hardware limitation. You can add only one of them.

[2021-03-25 23:40] #3903 closed

[2021-03-25 23:42] abchatra commented on #3901
Yes that is the right field editor.

[2021-03-25 23:42] #3901 closed

[2021-03-26 00:47] SquareFingers commented on #3905
As I asked the previous commenter, are you following the instructions from the original post from microbit-mark or the instructions in the comment I made earlier? microbit-mark was trying to be helpful to me in taking my ticket at
https://support.microbit.org/support/tickets/43871
and opening the issue here on GitHub. However, if you look at the ticket I wrote, it's really not the same as what's s

[2021-03-26 00:58] SquareFingers opened #3936 "Copy-pasting code adds indent"
**Describe the bug**

Copy-paste into the Python editor mode adds indentation to some lines.

**To Reproduce**

Go to the Python editor mode

Copy the following into the window:

[code]

What appears is,

[code]

**Expected behavior**

What the system pastes into the editor is what ends up being in the editor.

**Desktop (please complete the following information):**

Ubuntu 16.04LTS
Google Chrome

[2021-03-26 00:59] SquareFingers commented on #3905
Never mind.  I opened a new issue, so that it is correctly described at the very top.
https://github.com/microsoft/pxt-microbit/issues/3936#issue-841495121

[2021-03-26 04:25] joshkordek3 commented on #3916
https://github.com/joshkordek3/world-game-extension
the extension does not appear, I can use it, but it does not show and therefore I am not able to use it in blocks:
![Screenshot 2021-03-26 12 22 48](https://user-images.githubusercontent.com/79750252/112576954-5758a880-8e2e-11eb-8ba1-b42d5ce12a89.png)

[2021-03-26 04:31] abchatra commented on #3916
Shows up for me
![image](https://user-images.githubusercontent.com/6107272/112577379-71a07100-8db1-11eb-93f5-4ccbc0c0c09c.png)

[2021-03-26 04:31] abchatra commented on #3916
Refresh your page. May be it didn't refresh.

[2021-03-26 04:33] abchatra commented on #3916
Just search for https://github.com/joshkordek3/world-game-extension in the extension window. You will be able to see your extension and add it.

[2021-03-26 04:48] jwunderl commented on #3916
This repros if you go to add the extension twice, looks like another api caching bug. We should handle better it but I suspect it's https://github.com/joshkordek3/world-game-extension/blob/master/pxt.json#L2 having a slash in it -- you might be able to work around the issue for now by changing that line to

[code]

[2021-03-26 06:01] abchatra commented on #3848
I think issue here is this extension only works on v1 hardware and not on v2 hardware.
There is a flag in pxt.json of the extension where we can specify only for v1 hardware. I can't seem to find the documentation for this. @mmoskal or @pelikhan do you remember?

[2021-03-26 06:18] pelikhan commented on #3848
Add « disablesVariants »: [« mbcodal »] in pxt.json

________________________________
From: Abhijith Chatra ***@***.***>
Sent: Friday, March 26, 2021 7:01:16 AM
To: microsoft/pxt-microbit ***@***.***>
Cc: Peli de Halleux ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/pxt-microbit] Compilation error (#3848)

I think issue here is this extension only works on v1 hardware and not on v2 ha

[2021-03-26 06:20] abchatra commented on #3848
@microbit-mark can we document the above for package owners?

[2021-03-26 06:34] #3242 closed

[2021-03-26 07:25] joshkordek3 commented on #3916
once I reload the page or change the language it disappears

[2021-03-26 07:26] joshkordek3 commented on #3916
@jwunderl I do not understand

[2021-03-26 08:50] microbit-mark commented on #3905
Thanks @SquareFingers. Apologies for the confusion. https://github.com/microsoft/pxt-microbit/issues/3905#issue-832976650 no longer repros for me, but #3936 still does

[2021-03-26 09:21] microbit-carlos commented on #3531
@AlasdairAtKitronik would you be able to retest with https://makecode.microbit.org/stable, it'd be great to get a final confirmation that this is fully fixed.

[2021-03-26 09:45] carlosperate commented on #3806
Yes, the sensor provides raw data in reference to its own axes, but then the software in the micro:bit transposes this data to match the board orientation, as the ultimate goal is to have the x, y, z axes to always match the board, independently of how the sensor is mounted.

[2021-03-26 09:49] microbit-mark opened #3937 "Feature request: `edge connector sound on/off` block"
It would be good to have an `edge connector sound on/off` block in a similar way to speaker on/off. The equivalent of `set audio pin none`.

We could also update the simulator when this block is used to hide/strike-through the headphone connection image.

See comment in https://github.com/microsoft/pxt-microbit/issues/3740#issuecomment-753995990 for the user story of needing to access all edge con

[2021-03-26 09:52] microbit-mark commented on #3740
@abchatra I think the issue is fixed, so I've opened #3937 to consider having a way to disable edge connector sound

[2021-03-26 10:12] microbit-mark commented on #3848
@abchatra I have added a line to https://support.microbit.org/en/support/solutions/articles/19000121371-makecode-extension-compatibility-v1-and-v2

[2021-03-26 10:51] martinwork commented on #3355
It's OK with V2 but not V1. I've created https://github.com/lancaster-university/microbit-dal/issues/480

[2021-03-26 11:00] SquareFingers commented on #3905
No worries @microbit-mark !  I reported it on support.microbit, you showed me it's better to put it here on github.  Thank you for that.  We're all good!

[2021-03-26 11:37] pelikhan commented on #1313
We have a disconnect button that shows the UI to disconnect.

[2021-03-26 11:37] #1313 closed

[2021-03-26 11:38] pelikhan commented on #1274
Connection status is now displayed in the User Interface.

[2021-03-26 11:38] #1274 closed

[2021-03-26 11:40] pelikhan opened #3938 "Full Flash + JACDAC leads to 'Bad Trans #1`"
![image](https://user-images.githubusercontent.com/4175913/112626229-2a37d600-8ded-11eb-817c-df7bae5ff945.png)

Repro:

* use micro:bit v2
* open https://makecode.microbit.org/beta?dbg=1&webusbdbg=1&webusbfullflash=1#editor
* open a new project
* pair webusb
* add JACDAC extension
* download

[2021-03-26 11:46] pelikhan commented on #3737
We'll need to pop a dialog to the user telling them to unplug and replug their micro:bit. @abchatra design needed.

[2021-03-26 11:49] pelikhan commented on #3299
Related to https://github.com/microsoft/pxt-microbit/issues/3734

[2021-03-26 11:49] pelikhan commented on #3078
I've added telemetry but there's not much to chew on here.

[2021-03-26 11:51] pelikhan commented on #3864
Add to pxt.json
[code]

[2021-03-26 11:53] pelikhan commented on #3370
@ganicke looks like a loc bug

[2021-03-26 16:48] jwunderl commented on #3916
@joshkordek3 It looks like you applied the fix correctly / that it's working again for your project as of https://github.com/joshkordek3/world-game-extension/commit/988393ee39227418a84135866cd15c388f72c98d

(the last portion of my comment was intended towards the team if that's the portion you did not understand - just pointing to where in our code this repo was breaking, in case someone else ends

[2021-03-26 18:46] mmoskal commented on #3737
we should probably wait until this repros with the current impl

[2021-03-26 19:42] ganicke commented on #3370
Yes indeed. The trailing TAB char in `{id:csvseparator}` was missing in the following locales: `tr`, `ru`, `fi`, `frca`, `is`, `es`.

[2021-03-26 19:42] #3370 closed

[2021-03-29 06:48] #3916 closed

[2021-03-29 11:03] JoshuaAHill commented on #3901
Thanks Josh and abchatra for highlighting that field editor - really I would be looking to add icons/images to the list instead of text, as seen in the on input blocks added in this commit: https://github.com/microsoft/pxt-microbit/pull/803/commits/1f529255141a032bdee7d01d1742603233d31418
![image](https://user-images.githubusercontent.com/37069297/112822730-36879180-9080-11eb-8971-a77e6b194d77.png

[2021-03-29 15:31] darzu commented on #3152
Indeed, this TS:
[code]
goes to this PY:
[code]
which goes to this TS:
[code]

Repros in all targets. Investigating...

[2021-03-29 16:34] abchatra commented on #3938
This one has a repro.

[2021-03-29 16:35] abchatra commented on #3927
Needs a design.

[2021-03-29 16:35] abchatra commented on #3737
This needs a repro.

[2021-03-29 16:36] abchatra commented on #3734
Needs a design.

[2021-03-29 16:36] abchatra commented on #3710
This is by design. This needs a upstream to Microbit foundation. Please raise with foundation if these needs to be fixed.

[2021-03-29 16:36] #3710 closed

[2021-03-29 16:38] abchatra commented on #3706
Issue is tab switching and we disconnect immediately.
One of the option is disconnect after 10 min of inactivity.

[2021-03-29 16:39] abchatra commented on #3677
This is duplicate of https://github.com/microsoft/pxt-microbit/issues/3706

[2021-03-29 16:39] #3677 closed

[2021-03-29 16:40] abchatra commented on #3675
This needs to be fixed in Daplink @jaustin @carlosperate what can be done here? Where this bug should go?

[2021-03-29 16:42] abchatra commented on #3078
This is likely fixed. Reopen if this is still an issue.

[2021-03-29 16:42] #3078 closed

[2021-03-29 16:52] microbit-carlos commented on #3675
Like captured here, if you have any additional information that could help debug this issue in DAPLink it'd be great if you could add it to this ticket: https://github.com/ARMmbed/DAPLink/issues/714

[2021-03-29 16:55] abchatra commented on #3675
Thanks @microbit-carlos . I am closing the issue on the makecode side as this is already tracked in the daplink repo.

[2021-03-29 16:55] #3675 closed

[2021-03-29 17:39] darzu commented on #3163
Repros in .py, not in .ts. Investigating

[2021-03-29 18:42] #3152 closed

[2021-03-30 10:41] joshkordek3 opened #3939 "deleting variables bug"
**Describe the bug**
When I delete a variable, and it has uses, it asks me "Delete (number of uses) uses of the "(variable name)" variable?" and when I click "yes" then it deletes the uses, but I have to try to delete the variable again

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/#'
2. Click on 'create new project' (or just use a project already exist

[2021-03-30 16:53] when-nobody-expects commented on #3063
Just like that? I would have been glad if you had commented this in any way. I understand that this kind of feature could not be inline with your vision of project but it would be much more clear for community if you respond in more descriptive than "closed". Please consider this.

[2021-03-30 17:12] abchatra commented on #3188
This program at least throw the error while converting to python.

[2021-03-30 17:37] abchatra commented on #3382
Repro
[code]

[2021-03-30 17:37] abchatra commented on #3382
This is a bug on the javascript side.

[2021-03-30 17:39] darzu commented on #3456
Duplicate of: https://github.com/microsoft/pxt-microbit/issues/3189

[2021-03-30 17:40] darzu commented on #3456
Actually, slightly different symptoms. Will verify

[2021-03-30 17:49] abchatra commented on #3880
This is duplicate https://github.com/microsoft/pxt-microbit/issues/3579

[2021-03-30 17:49] #3880 closed

[2021-03-30 18:22] darzu opened #3940 "Bring back Monaco official TypeScript lang service / intellisense"
Our home grown intellisense just isn't as good as the official one.
Let's try brining the official one back.
Python unfortunately will probably need to rely on our homemade one.

[2021-03-30 23:20] #3315 closed

[2021-03-30 23:37] abchatra commented on #3063
Sorry, this was tagged as question and we close unanswered question after 6 months.

Reading it again this was more of a feature request to add test framework. We don't have a bandwidth at this point of time to add one. If you are willing to help, feel free to send a PR.

[2021-03-31 01:22] SquareFingers opened #3942 "custom.ts function-as-parameter-to-function makes for broken blocks"
**Describe the bug**
In custom.ts, if a function is made in which one of the parameters is a function itself, dragging the resulting block from the toolbox into the blocks view makes for broken code.

**To Reproduce**
1. Start a new project
2. Click 'JavaScript' (Convert code to JavaScript)
3. Click 'Explorer'
4. Click '+' next to 'Explorer'
5. Click 'Go ahead!'
6. Inside 'namespace custom' paste:

[2021-03-31 02:34] sbb777 commented on #3903
Thanks for answer.
Could I ask two questions more?

(We plan to avoid the simultaneous use of Neopixel and BLE with your answer.
But we have already created a code and teaching plan that uses Neopixel and BLE extensions together. In fact, Neopixel and BLE Extensions together are currently being used still.

I did not know the exact cause, but the old version of Neopixel extension can be used with

[2021-03-31 10:37] martinwork opened #3943 "Console Export data and Export text changing to blobs has broken the iOS app"
**Describe the bug**
The console exports seem to have have changed from using "data:" to "blob:".

The iOS app is expecting "data:". Snapshot still uses "data:".

This change in MakeCode has broken the iOS app. Users see the "Exporting data..." message but no data is exported.

As far as I know, to catch a "blob:", the app would have to inject javascript into the page in order to read the blob and

[2021-03-31 10:50] martinwork commented on #3943
Issue raised in https://support.microbit.org/a/tickets/44255

[2021-03-31 17:10] abchatra commented on #2279
Fixed

[2021-03-31 17:10] #2279 closed

[2021-03-31 17:13] abchatra commented on #2285
Fixed

[2021-03-31 17:13] #2285 closed

[2021-03-31 17:16] abchatra commented on #2289
Fixed

[2021-03-31 17:16] #2289 closed

[2021-03-31 17:25] abchatra commented on #2328
This is fixed in high contrast mode..

[2021-03-31 17:25] #2328 closed

[2021-03-31 17:26] #2331 closed

[2021-03-31 17:26] abchatra commented on #2337
fixed

[2021-03-31 17:26] #2337 closed

[2021-03-31 17:27] abchatra commented on #2338
fixed

[2021-03-31 17:27] #2338 closed

[2021-03-31 17:28] abchatra commented on #2340
fixed

[2021-03-31 17:28] #2340 closed

[2021-03-31 17:28] abchatra commented on #2341
fixed

[2021-03-31 17:28] #2341 closed

[2021-03-31 17:29] #2344 closed

[2021-03-31 17:31] abchatra commented on #2652
Fixed

[2021-03-31 17:31] #2652 closed

[2021-03-31 17:34] abchatra commented on #3510
This is visible in high contrast mode. Please validate again.

[2021-03-31 17:41] abchatra commented on #3512
This behaves like a link and looks like a link. This is how it is designed for all usres.

[2021-03-31 17:41] #3512 closed

[2021-03-31 17:46] abchatra commented on #3514
This is same as microsoft.com homepage. This looks like a link.

[2021-03-31 17:46] #3514 closed

[2021-03-31 18:05] ngammarano opened #3944 "Featuer: Add new Bluetooth Services for the micro:bit V2 sensors"
## Is your feature request related to a problem? Please describe.
Currently, the micro:bit Bluetooth profile defines some Bluetooth services among which an accelerometer service, a magnetometer service, a temperature service, a button service, a LED service, an IO pin service, an event service and a UART service (see the Bluetooth profile [here](https://lancaster-university.github.io/microbit-docs

[2021-03-31 21:37] jwunderl commented on #3521
should have title in addition to aria label

[2021-03-31 21:43] jwunderl commented on #3523
No repro in accessibility insights / we have a tab menu with options for different jumps:
![image](https://user-images.githubusercontent.com/5615930/113215224-645f0880-922f-11eb-9612-b037dfdb97b3.png)

[2021-03-31 21:43] #3523 closed

[2021-03-31 21:46] #3545 closed

[2021-03-31 21:54] jwunderl commented on #3546
No repro on this one that I see, but I did notice along the way that the cycling top carousel needs titles / aria labels for the jump buttons in the bottom right
![image](https://user-images.githubusercontent.com/5615930/113216295-f74c7280-9230-11eb-891e-c616d43700b3.png)

which is similar to this issue, as they just read out 'button' right now.

[2021-03-31 22:18] jwunderl commented on #3549
Issue is when using os forced color modes / not our high contrast mode. We can detect that with `@media (forced-colors: active) {` in css but not sure why it wouldn't be showing the outline -- it overrides anything we set anyways.

[2021-03-31 22:21] jwunderl commented on #3551
Should be able to detect with `media screen and (-ms-high-contrast: black-on-white) { /*  */ }` I believe and swap to dark logos

[2021-03-31 22:42] jwunderl commented on #3559
By default the buttons darken for selection per sui styling, in high contrast mode they display focus outline.

![image](https://user-images.githubusercontent.com/5615930/113220222-abe99280-9237-11eb-896a-d01a4afb6732.png)

[2021-03-31 22:42] #3559 closed

[2021-03-31 22:43] jwunderl commented on #3560
duplicate https://github.com/microsoft/pxt-microbit/issues/3560

[2021-03-31 22:43] #3560 closed

[2021-03-31 22:50] jwunderl commented on #3563
no repro, likely fixed in edge update to match chrome

[2021-03-31 22:50] #3563 closed

[2021-03-31 22:57] #3566 closed

[2021-03-31 22:58] jwunderl commented on #3568
By default the buttons darken for selection per sui styling, in high contrast mode they display focus outline.
![image](https://user-images.githubusercontent.com/5615930/113221493-fec44980-9239-11eb-93ab-283b264a9e74.png)

[2021-03-31 22:58] #3568 closed

[2021-03-31 23:01] jwunderl commented on #3570
No repro, in the attached video it moved focus onto the 'choose file' section correctly / pressing space or enter would result in the file select dialog

[2021-03-31 23:01] #3570 closed

[2021-03-31 23:07] jwunderl commented on #3581
Displayed in high contrast mode, focus displayed as darkened per sui theming otherwise

![image](https://user-images.githubusercontent.com/5615930/113222088-24058780-923b-11eb-9729-d2628b21640a.png)

[2021-03-31 23:07] #3581 closed

[2021-03-31 23:22] jwunderl commented on #3582
titles aren't displayed on focus in all browsers, but it looks like this is getting fixed in chromium currently: https://bugs.chromium.org/p/chromium/issues/detail?id=829352&can=2&q=os%3Dchrome

[2021-03-31 23:24] jwunderl commented on #3583
Styled as a link

[2021-03-31 23:24] #3583 closed

[2021-03-31 23:33] jwunderl commented on #3588
no repro on new edge, likely due to chromium update

[2021-03-31 23:33] #3588 closed

[2021-03-31 23:36] jwunderl commented on #3589
focus indication by color background change, and outline visible in high contrast mode.

[2021-03-31 23:36] #3589 closed

[2021-03-31 23:36] jwunderl commented on #3590
focus visible with color change, outline in high contrast

[2021-03-31 23:36] #3590 closed

[2021-03-31 23:39] jwunderl commented on #3591
that popup is not from us, appears to be system or browser extension. Not something we can control.

[2021-03-31 23:39] #3591 closed

[2021-03-31 23:43] jwunderl commented on #3592
Has placeholder / same behavior as name input in editor itself.

[2021-03-31 23:43] #3592 closed

[2021-03-31 23:48] jwunderl commented on #3594
Only reads out once now, likely fixed in edge update

[2021-03-31 23:48] #3594 closed

[2021-03-31 23:57] jwunderl commented on #3595
Should use twitters brand blue rgb(29, 161, 242) & opacity 1.0 instead of .9 to get a bit better, but that doesn't quite reach 3:1 (probably shouldn't break from their theme though as it is their logo...)

[2021-04-01 00:10] jwunderl commented on #3602
button indicates in screenreader that is a copy button, and when user copies it indicates what value was copied (the url for the project).

[2021-04-01 00:10] #3602 closed

[2021-04-01 00:12] jwunderl commented on #3598
These are part of the bottom menu so having them listed as menu items seems correct

[2021-04-01 00:12] #3598 closed

[2021-04-01 00:13] jwunderl commented on #3601
no repro, appears fixed in edge update

[2021-04-01 00:13] #3601 closed

[2021-04-01 00:20] jwunderl commented on #3603
embed content fixed, should probably add keyboard tab for qr code button

[2021-04-01 00:20] jwunderl commented on #3604
fixed

[2021-04-01 00:20] #3604 closed

[2021-04-01 00:21] jwunderl commented on #3605
social buttons need sui.fireClickOnEnter

[2021-04-01 00:23] jwunderl commented on #3606
The url has a label that is read out on focus, all elements appear to be working.

[2021-04-01 00:23] #3606 closed

[2021-04-01 00:29] jwunderl commented on #3607
Tooltip is from browser, which typically only displays tooltip when a use's mouse pointer is below a certain speed. If mouse is kept still it will remain indefinitely.

[2021-04-01 00:29] #3607 closed

[2021-04-01 00:30] jwunderl commented on #3608
Appears fixed in edge

[2021-04-01 00:30] #3608 closed

[2021-04-01 00:31] jwunderl commented on #3609
Reads out properly when I tab through them now.

[2021-04-01 00:31] #3609 closed

[2021-04-01 00:34] jwunderl commented on #3617
same issue as https://github.com/microsoft/pxt-microbit/issues/3582 / looks like fix is coming on browser side, but for this one the tooltips are always just the text from the menu items themselves / redundant information.

[2021-04-01 00:34] #3617 closed

[2021-04-01 00:40] jwunderl commented on #3619
the menu is not a permanent addition to the page; expectation when make a choice from a dropdown menu in an editor is typically that the menu will be dismissed.

[2021-04-01 00:40] #3619 closed

[2021-04-01 00:40] jwunderl commented on #3620
focus is visible in standard & high contrast mode.

[2021-04-01 00:40] #3620 closed

[2021-04-01 00:41] jwunderl commented on #3621
focus is visible in standard / high contrast mode.

[2021-04-01 00:41] #3621 closed

[2021-04-01 00:41] jwunderl commented on #3622
appears fixed in edge

[2021-04-01 00:41] #3622 closed

[2021-04-01 00:42] jwunderl commented on #3623
Appears as link text with blue color / underline on hover / focus

[2021-04-01 00:42] #3623 closed

[2021-04-01 00:43] jwunderl commented on #3624
fixed

[2021-04-01 00:43] #3624 closed

[2021-04-01 00:46] jwunderl commented on #3625
Some secondary buttons that are unnecessary / redundant get removed as viewport shrinks for support on smaller screens. Download button is visible in the image above (icon only). zoom in / out can be accomplished with standard keyboard shortcuts.

[2021-04-01 00:46] #3625 closed

[2021-04-01 00:47] jwunderl commented on #3626
same as https://github.com/microsoft/pxt-microbit/issues/3582, fix appears to be coming on browser side.

[2021-04-01 00:50] jwunderl commented on #3628
These buttons are both used to launch the simulator, so focus moves to the simulator when they are clicked.

[2021-04-01 00:50] #3628 closed

[2021-04-01 00:53] jwunderl commented on #3630
The icons themselves are for presentation, the encapsulating button that is interactive does not have the presentation role. This is behaving as expected.

[2021-04-01 00:53] #3630 closed

[2021-04-01 00:55] jwunderl commented on #3636
focus is indicated

[2021-04-01 00:55] #3636 closed

[2021-04-01 00:59] jwunderl commented on #3637
entered url is checked on submission and user is notified at that point.

[2021-04-01 00:59] #3637 closed

[2021-04-01 01:00] jwunderl commented on #3638
focus is indicated

[2021-04-01 01:00] #3638 closed

[2021-04-01 01:01] #3639 closed

[2021-04-01 01:05] jwunderl commented on #3641
These elements are part of a tree menu (/ leaf nodes on a tree menu) where folders can be expanded / collapsed

[2021-04-01 01:05] #3641 closed

[2021-04-01 01:07] jwunderl commented on #3648
no repro

[2021-04-01 01:07] #3648 closed

[2021-04-01 06:06] #3097 closed

[2021-04-01 06:08] abchatra commented on #3806
question answered.

[2021-04-01 06:08] #3806 closed

[2021-04-01 06:09] abchatra commented on #3848
Lets give a patch to this extension.

[2021-04-01 06:10] abchatra commented on #3903
@microbit-carlos will be able to answer these questions?

[2021-04-01 10:03] microbit-carlos commented on #3903
I believe the main reason Neopixels don't work well with bluetooth is because BLE configures interrupts that can interfere with the neopixel bit banging and cause issues.

As far as I understand, MakeCode stops the use of BLE with the neopixels extension via this configuration in pxt.json:
https://github.com/microsoft/pxt-neopixel/blob/master/pxt.json#L30-L34

It looks like that configuration hasn

[2021-04-01 12:52] microbit-mark commented on #3633
Also reproduces in iOS

[2021-04-01 13:01] pelikhan commented on #3633
I will take a look.

[2021-04-03 04:30] joshkordek3 opened #3947 "file creating bug"
**Describe the bug**
when I create a new file for an extension, I use .json and I can create a file that uses json code, but if I try to create a file that uses .jres then it creates a file called (name).jres.ts

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org
2. Click on 'create new project'
3. enter any name you want
4. Click 'ok'
5. write a tiny bit of c

[2021-04-03 04:37] joshkordek3 commented on #3947
and if I try to add it in the pxt.json, it just breaks the whole project:
(just ignore every project except for clock-extension)
![Screenshot 2021-04-03 12 33 36](https://user-images.githubusercontent.com/79750252/113468512-2bb26f80-9479-11eb-93b5-31663e3fd8f1.png)
![Screenshot 2021-04-03 12 33 42](https://user-images.githubusercontent.com/79750252/113468526-3b31b880-9479-11eb-8033-934214587956.pn

[2021-04-05 09:22] pelikhan commented on #3944
This request needs to be upstreamed to CODAL. @microbit-mark @jaustin

[2021-04-05 11:58] pelikhan opened #3949 "immersive reader icon colors"
Orange and teal is a bit painful.
![image](https://user-images.githubusercontent.com/4175913/113571576-ef1c7a80-9616-11eb-9411-c715f9025e60.png)

[2021-04-05 13:15] pelikhan commented on #3930
@mmoskal I have a deterministic repro

- launch http://localhost:3232/index.html?dbg=1&webusbdbg=1&webusbfullflash=1#editor
- open project with jacdac dependency in editor, download over webusb
- navigate to home
- open "vanilla" project (without jacdac dependency), download
- "invalid memory corruption"

[2021-04-05 13:45] pelikhan commented on #3938
I added more logging in https://github.com/microsoft/pxt-microbit/pull/3950

[2021-04-05 15:58] pelikhan commented on #3633
Fixed in 3.1.66 .

[2021-04-05 15:58] #3633 closed

[2021-04-05 20:43] martinwork commented on #3943
It looks like https://github.com/microsoft/pxt/pull/7557 has changed the blob/data condition from `!pxt.BrowserUtils.isMobile()` to test `window.URL?.createObjectURL`.

https://github.com/microsoft/pxt/pull/7557/files#diff-0129d0162432ea44235e8fe301cc97fb9f2c2ccbe5b11e964b0b331bf19c6666L372

https://github.com/microsoft/pxt/pull/7557/files#diff-0129d0162432ea44235e8fe301cc97fb9f2c2ccbe5b11e964b0b3

[2021-04-05 22:41] #3521 closed

[2021-04-05 22:41] #3546 closed

[2021-04-05 22:41] #3548 closed

[2021-04-06 02:31] joshkordek3 opened #3952 "```control.waitMicros``` not working"
**Describe the bug**
when I use ```control.waitMicros(1000000)``` its supposed to wait for at least one second, but it doesn't, it just never pauses

**To Reproduce**
1. open this link: https://makecode.microbit.org/_2iaKrbJ4w9gY
2. use the simulator
3. it never pauses...

**Expected behavior**
the program pauses for 1 second before running

**micro:bit version (please complete the following infor

[2021-04-06 08:02] joshkordek3 commented on #3952
as well as makecode having trouble connecting to github, most of the time it fails to update my repository, says I'm not logged in or that I dont have internet (and I am both logged in and have internet). Was there an update that could have messed this up?

[2021-04-06 08:55] pelikhan commented on #3952
Please try sign off and sign in again with GitHub. GitHub changed the format of tokens and it might impact you.

[2021-04-06 10:27] microbit-mark commented on #3944
Raised in https://github.com/lancaster-university/codal-microbit-v2/issues/94

[2021-04-06 12:08] joshkordek3 commented on #3952
how do I sign out on makecode?

[2021-04-06 12:28] martinwork commented on #3952
It's on the More... cog menu.

[2021-04-06 14:42] microbit-mark opened #3953 "Feature: Extending touch on/off simulattion to other pins."
microbit-support: 43875

**Is your feature request related to a problem? Please describe.**

See sample code https://makecode.microbit.org/_3hK4PbUYhJU2

https://share.getcloudapp.com/6qu8BK9W

You can set the a digital write pin on and off by clicking on the pin to switch to 1 and then clicking at the bottom of the pin to set to 0.

**Describe the solution you'd like**
It would be useful to be ab

[2021-04-06 17:03] #3552 closed

[2021-04-06 17:03] #3564 closed

[2021-04-06 17:03] #3618 closed

[2021-04-06 18:01] jwunderl commented on #3670
Appears fixed in edge update to match firefox/chrome

[2021-04-06 18:01] #3670 closed

[2021-04-06 18:16] martinwork commented on #3943
Looking into this further (see code links below), I noticed:

- In the next version of the iOS app, blobs could be avoided by injecting some javascript to set
window.pxt.appTarget.appTheme.disableBlobObjectDownload.

- Hex downloads from Safari are no longer passed to the iOS app. That feature was implemented via a custom scheme which is registered by the app to make a direct link, but this is byp

[2021-04-06 22:45] darzu commented on #3579
Smaller repro:
[code]

[2021-04-06 22:46] jwunderl commented on #3578
Looks like the browser side is just not surfacing the information here; other browsers do read out the file name. This is the default file input so if the browser isn't announcing the inputted file then that seems like the expected behavior on their end / to match the normal behavior of screen reader.

[2021-04-06 22:46] #3578 closed

[2021-04-06 23:18] #3513 closed

[2021-04-06 23:18] #3519 closed

[2021-04-06 23:18] #3520 closed

[2021-04-06 23:18] #3555 closed

[2021-04-06 23:18] #3557 closed

[2021-04-06 23:18] #3558 closed

[2021-04-06 23:18] #3561 closed

[2021-04-06 23:18] #3580 closed

[2021-04-06 23:18] #3627 closed

[2021-04-07 00:02] jwunderl commented on #3688
This appears to be behaving as expected for edge; focusing first on the whole row, then going through the elements individually. (overview -> reading label -> focusing on actionable button).

[2021-04-07 00:02] #3688 closed

[2021-04-07 00:43] #3556 closed

[2021-04-07 00:43] #3569 closed

[2021-04-07 00:43] #3593 closed

[2021-04-07 00:43] #3635 closed

[2021-04-07 00:43] #3640 closed

[2021-04-07 01:22] #3940 closed

[2021-04-07 09:07] #3549 closed

[2021-04-07 09:07] #3551 closed

[2021-04-07 09:07] #3562 closed

[2021-04-07 09:07] #3565 closed

[2021-04-07 09:08] #3687 closed

[2021-04-07 09:08] #3689 closed

[2021-04-07 09:08] #3691 closed

[2021-04-07 09:08] #3694 closed

[2021-04-07 09:08] #3695 closed

[2021-04-07 09:08] #3696 closed

[2021-04-07 09:08] #3753 closed

[2021-04-07 09:08] #3754 closed

[2021-04-07 09:08] #3756 closed

[2021-04-07 09:08] #3757 closed

[2021-04-07 09:08] #3758 closed

[2021-04-07 11:18] microbit-pauline opened #3956 "Feature: Notes (Middle C) Add a drop down triangle to select notes"
**Describe the solution you'd like**
A drop down menu for different note selectors to help with user experience

![image](https://user-images.githubusercontent.com/29146842/113858247-67ac4400-979b-11eb-9659-731a82728d1c.png)

**Describe alternatives you've considered**
The alterative is the drop down piano which currently exists

[2021-04-07 11:23] microbit-pauline opened #3957 "Change to Feature: Propose a change from “ring tone” to “start tone”"
**Is your feature request related to a problem? Please describe.**
Users associate the words ring tone with a mobile phone and the MakeCode terminology can be a little confusing. Also, maybe not required to have Hz in block description as the shadow block handles the units

**Describe the solution you'd like**
Propose a change from “ring tone” to “start tone” and remove Hz because the shadow block

[2021-04-07 11:30] microbit-pauline opened #3958 "Change to Feature: Remove (ms) from rest block"
**Is your feature request related to a problem? Please describe.**
We have rest (ms) and 1 beat, which can be confusing. Proposed to remove (ms)

![image](https://user-images.githubusercontent.com/29146842/113859520-e786de00-979c-11eb-953b-5e6c271026be.png)

**Describe the solution you'd like**
Proposed to remove (ms) from block description

[2021-04-07 11:38] pelikhan opened #3959 "Crash in identity code after deleting script from the editor"
![image](https://user-images.githubusercontent.com/4175913/113860497-f64ca100-975a-11eb-88e2-5a80b443aab9.png)

![image](https://user-images.githubusercontent.com/4175913/113860565-05cbea00-975b-11eb-9d71-e788d68d0839.png)

[2021-04-07 11:46] microbit-pauline opened #3960 "Feature request: Add a stave window (score) to the play melody music block"
**Is your feature request related to a problem? Please describe.**
To enhance user experience for playing melodies, proposed adding a stave to the existing music block

**Describe the solution you'd like**
proposed adding a stave to the existing music block as per image below

![image](https://user-images.githubusercontent.com/29146842/113861223-e0f96600-979e-11eb-8fe9-83c2032e787b.png)

**Describ

[2021-04-07 12:18] joshkordek3 opened #3961 "Minor Bug: scrolling"
**Describe the bug**
when I scroll in the radio raise event block then it scrolls too much.

**Expected behavior**
it doesn't scroll so much

**Screenshots**
![Screenshot 2021-04-07 20 13 58](https://user-images.githubusercontent.com/79750252/113864960-1c675500-97de-11eb-8567-1be249c27a6f.png)
![Screenshot 2021-04-07 20 14 04](https://user-images.githubusercontent.com/79750252/113864958-1bcebe80-9

[2021-04-07 14:23] microbit-pauline opened #3962 "Feature Request: Creation of drop down icons/images for experimental sound features"
**Is your feature request related to a problem? Please describe.**
We would like to expand our sound features by giving the user the ability to create sounds. This is experimental and we would like to refine the sound creation work with additional wave and curve type features.

**Describe the solution you'd like**
As per https://github.com/microsoft/pxt-microbit/pull/803, we propose having a drop

[2021-04-07 14:57] pelikhan commented on #3962
@abchatra @soniakandah  could we get icons for those and use a similar widget as for the accelerometer events?

[2021-04-07 16:54] martinwork commented on #3943
I have succeeded in downloading the "blob:"s and the mime type for the blob. I can't see a way to get the filename.

It would be good to use webkit messages. See: https://github.com/microsoft/pxt-microbit/issues/1689

Related: Snapshot still uses a "data:" URL with a mime type "application/octet-streamng", which maybe comes from a mistake in the regular expression at https://github.com/microsoft/p

[2021-04-07 17:17] livcheerful commented on #3596
fixed with https://github.com/microsoft/pxt/pull/8062/files#diff-3e7cafbd95631be2faaeb5d32fe7bfc6b5d33f707af4d40d2067ac479d7953c9R411

[2021-04-07 17:17] #3596 closed

[2021-04-07 17:36] abchatra commented on #3947
@joshkordek3  can you try /beta and see if this repros in /beta?

[2021-04-07 17:37] abchatra commented on #3942
@SquareFingers does this repro with /beta?

[2021-04-07 17:59] SquareFingers commented on #3942
As of 7 April 2021, yes, the same happens in https://makecode.microbit.org/beta

[2021-04-07 19:47] jwunderl commented on #3773
This is the browsers print dialog, we do not have control over this. Closing.

[2021-04-07 19:47] #3773 closed

[2021-04-07 19:47] jwunderl commented on #3774
This is the browsers print dialog, we do not have control over this.

[2021-04-07 19:47] #3774 closed

[2021-04-07 19:51] jwunderl commented on #3775
This is the browsers print dialog, we do not have control over this.

[2021-04-07 19:51] #3775 closed

[2021-04-07 21:41] shakao commented on #3690
fixed with https://github.com/microsoft/pxt/pull/8063

[2021-04-07 21:41] #3690 closed

[2021-04-07 21:42] shakao commented on #3667
fixed with https://github.com/microsoft/pxt/pull/8063

[2021-04-07 21:42] #3667 closed

[2021-04-07 21:43] shakao commented on #3668
fixed with https://github.com/microsoft/pxt/pull/8063

[2021-04-07 21:43] #3668 closed

[2021-04-07 22:15] shakao commented on #3692
these cards are not links, conceptually they aren't for page navigation--they trigger an action (adding an extension to your project) that then causes a page reload. closing, since they should not have the link color

[2021-04-07 22:15] #3692 closed

[2021-04-07 22:16] shakao commented on #3666
similar to https://github.com/microsoft/pxt-microbit/issues/3692, these buttons are not links and aren't used for page navigation. closing, since they should not have the link color

[2021-04-07 22:16] #3666 closed

[2021-04-07 22:18] jwunderl commented on #3692
(👍, re this I fixed their roles in https://github.com/microsoft/pxt/pull/8064/commits/6efddeb57d7ebd46e477523f51e3604048a32bd3 so they are also not listed as links anymore.)

[2021-04-07 22:21] shakao commented on #3692
oh good call, i'll update the roles for the language selector

[2021-04-07 23:18] #3584 closed

[2021-04-07 23:18] #3685 closed

[2021-04-08 00:21] jwunderl commented on #3693
These descriptions are optional preview descriptions / only shown when there is sufficient space (e.g. they are completely hidden on mobile devices, with the relevant information available through the 'learn more' dialog / documentation pages / extension source). We may want to reconsider this in the future if we do a larger redesign of the extensions page, but for now this is by design to limit t

[2021-04-08 00:21] #3693 closed

[2021-04-08 00:27] jwunderl commented on #3686
Same as https://github.com/microsoft/pxt-microbit/issues/3688; browser is deciding how to give the information to the user, in this case giving an overview then more detailed information of the individual portions.

In this case it seems like potentially a narrator bug that it is showing the narrator focus on the wrong portion of the screen -- if you tab through or go backwards, the box shows up o

[2021-04-08 00:27] #3686 closed

[2021-04-08 00:29] jwunderl commented on #3760
@livcheerful fixed this in https://github.com/microsoft/pxt/pull/8058

[2021-04-08 00:29] #3760 closed

[2021-04-08 00:33] jwunderl commented on #3763
No video with repro so maybe just out of date, but focus order seems correct to me - only behavior that is potentially different than one might expect would be from go back => pull changes, but it is moving in priority order / to most commonly used button first, then to the (much less commonly used, smaller) buttons.

[2021-04-08 00:33] #3763 closed

[2021-04-08 00:56] darzu commented on #3579
This one has been quite tricky. The issue is that removeAt is generic and we don't really handle generics in the py compiler. All cases to date have been worked around with some special handling. I'm going to see if we can't do the same here--special case this in a somewhat general way--but the "real" solution would be to come up with a more strategic map of how type inference in py should work an

[2021-04-08 01:30] abchatra commented on #3944
I am closing this in MakeCode as we have a upstream bug tracked in codal.

[2021-04-08 01:30] #3944 closed

[2021-04-08 01:31] abchatra commented on #3949
@soniakandah can you please help here.

[2021-04-08 01:33] abchatra commented on #3956
We have piano and we don't intend to change that.

[2021-04-08 01:33] #3956 closed

[2021-04-08 01:34] abchatra commented on #3957
We can't change this for legacy reasons. Screenshots & books. Won't fix from our end.

[2021-04-08 01:34] #3957 closed

[2021-04-08 01:39] abchatra commented on #3958
This is because you can drag the number block and use it with milliseconds as well. Although I agree this is confusing.

![image](https://user-images.githubusercontent.com/6107272/113955380-73662d80-97d0-11eb-8d4b-303bcf05cdd1.png)

[2021-04-08 01:40] abchatra commented on #3959
Hmm we don't have identity in microbit. Is this  a microbit bug?

[2021-04-08 01:43] jwunderl commented on #3683
These are checkboxes visually styled as toggle buttons; reading them out as checkboxes makes sense for a screen reader where they will not receive the visual hint of the toggles.

[2021-04-08 01:43] #3683 closed

[2021-04-08 01:48] jwunderl commented on #3681
focus is visibly indicated by shading

[2021-04-08 01:48] #3681 closed

[2021-04-08 01:50] jwunderl commented on #3660
focused indicated visually by shading

[2021-04-08 01:50] #3660 closed

[2021-04-08 01:52] jwunderl commented on #3659
Focus luminosity improved

[2021-04-08 01:52] #3659 closed

[2021-04-08 01:52] jwunderl commented on #3672
focus indicated visibly with shading

[2021-04-08 01:52] #3672 closed

[2021-04-08 01:53] jwunderl commented on #3649
focus visible with shading

[2021-04-08 01:53] #3649 closed

[2021-04-08 02:18] jwunderl commented on #3522
When zoomed in we hit the mobile breakpoint which collapses some text to fit these elements on the screen; these titles will be shown in full when the user interacts with the element and expands to the detail view.

[2021-04-08 02:18] #3522 closed

[2021-04-08 02:18] joshkordek3 commented on #3947
I don't understand what is /beta

[2021-04-08 05:00] pelikhan commented on #3959
It happened in the microbit editor.

________________________________
From: Abhijith Chatra ***@***.***>
Sent: Thursday, April 8, 2021 3:40:30 AM
To: microsoft/pxt-microbit ***@***.***>
Cc: Peli de Halleux ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/pxt-microbit] Crash in identity code after deleting script from the editor (#3959)

Hmm we don't have identity in microbit. Is this a mi

[2021-04-08 05:10] abchatra commented on #3947
makecode.microbit.org/beta

[2021-04-08 06:53] pelikhan opened #3963 "Search bar overlaps title on mobile docs"
![image](https://user-images.githubusercontent.com/4175913/113981378-724af580-97fc-11eb-8f17-0a730a5afae6.png)

[2021-04-08 07:07] joshkordek3 opened #3964 "Feature: hue/hex colors usable with RGB - edubit"
(I'm assuming that you created the ebubit extension, if you didn't, just close this please)
**Is your feature request related to a problem? Please describe.**
when I create extensions, I want to test the color of the blocks, and it frustrates me whenever I have to keep opening, changing and all of that stuff.

**Describe the solution you'd like**
I would like there to be an option ```rgb_bit.show(

[2021-04-08 07:53] joshkordek3 commented on #3947
it still happens, but if I create the file in pxt.json before adding it to github then it works.

[2021-04-08 09:45] #3964 closed

[2021-04-08 16:07] #3652 closed

[2021-04-08 16:07] #3661 closed

[2021-04-08 16:07] #3663 closed

[2021-04-08 16:07] #3765 closed

[2021-04-08 16:07] #3662 closed

[2021-04-08 16:07] #3664 closed

[2021-04-08 16:26] #3626 closed

[2021-04-08 16:27] #3582 closed

[2021-04-08 17:09] #3761 closed

[2021-04-08 17:09] #3762 closed

[2021-04-08 17:09] #3682 closed

[2021-04-08 17:09] #3759 closed

[2021-04-08 17:09] #3766 closed

[2021-04-08 17:47] darzu commented on #3959
Yes, it's crashing in cloud code before it gets to the "has identity" check. I need to move the guard forward so this doesn't happen

[2021-04-08 17:50] darzu commented on #3959
The crash happens b/c we're assuming "header" is not null in the editortoolbox.tsx's renderCore fn, it just happens the cloud code is the first that assumes this.
I can't see a good reason why it should be able to be null but that's what we get for not using strictNullChecks.

[2021-04-08 18:00] darzu commented on #3959
@pelikhan , what's the repro? I tried:
1. new JS project
2. Add new file (custom.ts)
3. Delete custom.ts in explorer
4. no error..?

[2021-04-08 19:15] darzu commented on #3745
Likely same underlying issue as: https://github.com/microsoft/pxt-microbit/issues/3579

[2021-04-08 20:42] SquareFingers commented on #3942
Also occurs in arcade.makecode.com for anyone who's interested.

[2021-04-08 22:48] #3603 closed

[2021-04-08 22:48] #3605 closed

[2021-04-08 22:48] #3629 closed

[2021-04-09 00:06] darzu commented on #3745
@abchatra , this is one that likely requires enhanced generics support in py2ts. See my additional thoughts in #3579.

[2021-04-09 00:11] darzu commented on #3380
We don't support lambdas in py2ts. I added a clearer error message about that here: https://github.com/microsoft/pxt/pull/8080

@abchatra , is adding lambda support worth doing? IMO it's a few days of work. Unfortunately that bit of code in ts2py (emitFunctionDef) would need some rewriting to handle this well.

[2021-04-09 01:55] joshkordek3 opened #3965 "Feature: Execute code block"
**Is your feature request related to a problem? Please describe.**
There is a lot of code that blocks don't cover, and I always am frustrated whenever I have to use javascript just because I'm missing one function.

**Describe the solution you'd like**
I would like there to be a block called "do code (code) in (Javascript/Python)

**Describe alternatives you've considered**
I've considered creatin

[2021-04-09 02:06] joshkordek3 opened #3966 "Hardware issue: logo pressed"
**Describe the bug**
When you have a logo pressed block in your code and try to upload it to a microbit V1 then it will have an error where it doesn't do anything

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'makecode.microbit.org'
2. Click on 'create new project'
3. Write some code that includes 'on logo pressed'
4. Upload to a V1.5 microbit (or really any V1 microbit)
5. The micro

[2021-04-09 02:08] abchatra commented on #3579
What does generic mean? I am not sure I understand in this context. Why is the following failing as well?

[code]

[2021-04-09 02:25] abchatra commented on #3966
Hmm. on logo pressed is v2 only block and won't work on v1 as hardware doesn't support it.

@joshkordek3 is this a request for better error message?

[2021-04-09 02:25] abchatra commented on #3966
@carlosperate

[2021-04-09 03:34] joshkordek3 opened #3967 "Bug: not able to write any code"
**Describe the bug**
I can't do anything in Blocks, Javascript, or Python, pxt.json, nothing, I can't even see what is written there.

**To Reproduce**
I have no idea how it happened probably like this:
1. go to https://makecode.microbit.org
2. create a new project
3. switch to javascript
4. click explorer
5. click pxt.json
6. click on settings
7. click on extensions
8. download an extension

**Ex

[2021-04-09 03:37] joshkordek3 commented on #3966
@abchatra yes, it should just ignore the code, not try to execute it and show the 'anonymous error' thing on the screen, it should at least say WHY there is an error.

[2021-04-09 03:37] joshkordek3 commented on #3967
yes, I have tried to reload the page

[2021-04-09 05:16] abchatra commented on #3967
Thanks for the repro steps. I can reproduce in /beta as well

[2021-04-09 05:25] abchatra commented on #3380
@darzu lets take it at the end.

[2021-04-09 10:30] pelikhan commented on #3959
Import https://github.com/microsoft/pxt-jacdac
Delete project from editor
blank

[2021-04-09 13:04] bsiever opened #3968 "Extension Part Images Don't Load"
**Describe the bug**

I have a part image that displays correctly when I'm developing and the Extension is loaded from the "Local" version.
It *does NOT* show the image when the official (released) extension is used. It shows an icon that looks like a broken link. (screenshots below)

The image declaration in pxtparts.json is based on other examples. It looks like: `"image": "parts/ds18b20probe2Wi

[2021-04-09 13:55] pelikhan opened #3969 "Keyboard icon hides code"
![image](https://user-images.githubusercontent.com/4175913/114190819-968ffa80-9900-11eb-85a2-203d2e007dcf.jpeg)

[2021-04-09 15:03] pelikhan commented on #3959
Looks similar to https://github.com/microsoft/pxt-arcade/issues/3413

[2021-04-09 15:04] #3653 closed

[2021-04-09 15:04] #3547 closed

[2021-04-09 15:05] #3281 closed

[2021-04-09 16:20] martinwork commented on #3969
Related: https://github.com/microsoft/pxt-microbit/issues/3377

[2021-04-09 17:00] pelikhan commented on #3968
It looks like we are double encoding the image when loading it from a referenced project. It does not properly when loading the extension directly. Something is bogus.

[2021-04-09 17:13] SquareFingers commented on #3936
Also occurs in arcade.makecode.com for anyone who's interested.

[2021-04-09 17:17] SquareFingers commented on #3942
Also minecraft.makecode.com

[2021-04-09 17:33] SquareFingers commented on #3936
Here's a weird thing:  After I press ctrl+V to paste the text in the editor, the line in the middle has the indent it shouldn't have, exactly as I have described in the top post.  If I then press ctrl-Z in the editor... the improper indent disappears.  It seems, when I press ctrl-V, two events are triggered.  The first is a good and proper paste of exactly what should be pasted.  Then a second, un

[2021-04-09 17:38] jwunderl commented on #3942
in case this is blocking you in an extension you are trying to make, the issue here is just with default block 'automatic' creation when a block string is not specified -- if you specify the block itself it will work:

[code]

We should still fix that, just providing the workaround in case it helps you / anyone else who finds the issue :)

[2021-04-09 17:49] SquareFingers commented on #3942
Right... that does resolve the issue of the triangle appearing.

But, I expect what I drag from the toolbox to be a block like "call this function with this parameter... the parameter being code, in this case".  Something I can put inside a "while true do" block, for instance.  What I get from the toolbox is a block like a function-definition block.  It doesn't have a notch on the top.  And, no mo

[2021-04-09 17:55] jwunderl commented on #3942
Ah, for that I'll point you at https://makecode.com/playground#events and https://makecode.com/defining-blocks -- we support that style of block with `//% handlerStatement` . We use events *way* more often than we use handler statements so it is the default behavior. (and other things can be specified as well, e.g. allowing multiple duplicate events with `//% blockAllowMultiple=1`

[2021-04-09 18:27] SquareFingers commented on #3942
`//% handlerStatement` is exactly what I was looking for.  Thank you.
... I guess, it turns out, what I really wanted resolved wasn't what I originally described.  I just wrote a description of the first thing I saw as an obstacle to what I wanted.
Thanks for your help!

[2021-04-09 18:29] SquareFingers commented on #3942
Oh... yikes.  I guess, since you wrote "We should still fix that", I shouldn't have closed the issue - sorry.  The issue I wanted resolved is closed, but as I just wrote, the issue I described is something else.

[2021-04-09 18:36] jwunderl commented on #3942
Ah no worries, glad I could help! And thanks for reporting the initial issue as well, it's always good to find obstacles like this.

[2021-04-09 20:53] #3831 closed

[2021-04-09 20:56] darzu commented on #3579
Oh interesting, that's a new and unrelated regression. That should work and did work recently so one of my fixes might have broken that.

[2021-04-09 20:59] Jaqster opened #3970 "Add CodeJoy to Courses page"
Hi Galen,
Request that came in from a partner.
Can we add a card to the https://makecode.microbit.org/courses page, under the "Computers and Programming" section.
And also on the Home Page Courses carousel?
Title: CodeJoy Remote Robotics
Blurb: Interactive remote robotics & coding classes for students & educators
Link: http://www.codejoyeducation.com
Image:
![image](https://user-images.githubuserc

[2021-04-10 04:25] joshkordek3 opened #3973 "Feature: dropdowns can use arrays"
**Is your feature request related to a problem? Please describe.**
I sometimes like to create extensions where you can add something to an array and then use that array as options for doing something like ```move(sprites[1], 1)``` but on makecode that is unfortunately not possible (as far as I know).

**Describe the solution you'd like**
I would like there to be a way to do something like ```//% (

[2021-04-10 14:16] SquareFingers commented on #3942
This is probably clear to anyone who has spent time considering this aspect of makecode, but perhaps it's worth mentioning anyway. Another facet of this issue is that if the event has a formal parameter before its final function parameter, then, without ```//% block="function function"```, the block that is automatically generated has two placeholders for actual parameters plus the area for statem

[2021-04-11 09:07] pelikhan commented on #3968
Some nits on the blocks:

* It would be good to reformat your blocks to fit the MakeCode style.
![image](https://user-images.githubusercontent.com/4175913/114298259-c3394300-9ab5-11eb-8cbf-32f03b7e3c74.png)

``Temp. Celscius on ...`` --> ``temperature (°C) on ...``

* the event on sensor error should be moved lower as it is an advanced block use ``weight=0`` to move it down

[2021-04-11 09:31] pelikhan commented on #3968
Fix in https://makecode.microbit.org/beta (v3.1.74 and up)

[2021-04-11 09:31] #3968 closed

[2021-04-11 12:57] joshkordek3 opened #3974 "Chrome extension for Makecode"
I would like there to be a makecode offline editor extension since some people use chromebooks, and usually there isn't any extensions, only apps that you can download for Windows or Mac.
(I mean like an extension you can get from https://chrome.google.com/webstore/category/extensions, if its not too much to ask)

[2021-04-12 20:25] abchatra commented on #3974
Our website will work offline if you download once. I am not sure what is the point of extension? You need to download it once as well right?

[2021-04-12 20:25] #3974 closed

[2021-04-12 20:26] abchatra commented on #3974
We don't intend to work on this.

[2021-04-12 22:42] #3014 closed

[2021-04-12 22:42] #3707 closed

[2021-04-13 14:42] #3345 closed

[2021-04-13 15:34] #3374 closed

[2021-04-13 15:49] #3188 closed

[2021-04-13 16:00] darzu opened #3977 "to_string() doesn't work in Python"
This TS:
[code]
becomes this PY:
[code]
doesn't compile saying:
[code]

[2021-04-13 16:00] darzu commented on #3579
Hmm, I was mistaken it's not a regression, it's like this on the microbit live site.

Regardless I filed a new issue here: https://github.com/microsoft/pxt-microbit/issues/3977
because I believe there are separate underlying issues. I'll fix that one first which might make this one easier.

[2021-04-13 16:36] #3959 closed

[2021-04-13 16:37] #3145 closed

[2021-04-13 16:53] #3977 closed

[2021-04-13 17:02] darzu commented on #3579
Here's the new simplified repro:
[code]

The problem is removeAt is generic and we're not properly inferring it's return type as "game.LedSprite"

[2021-04-13 17:28] darzu commented on #3237
Fixed in latest JS and PY
![2021-04-13 10 27 11](https://user-images.githubusercontent.com/6453828/114595142-e80ef100-9c42-11eb-9167-de9341028f70.gif)

<img width="848" alt="image" src="https://user-images.githubusercontent.com/6453828/114595127-e3e2d380-9c42-11eb-80ea-c4de5e6959a5.png">

[2021-04-13 17:28] #3237 closed

[2021-04-13 17:35] darzu commented on #3197
Doesn't happen in TS any more and PY doesn't support classes
<img width="648" alt="Screen Shot 2021-04-13 at 10 29 17 AM" src="https://user-images.githubusercontent.com/6453828/114596062-fdd0e600-9c43-11eb-85a5-f4ef63251b16.png">

[2021-04-13 17:35] #3197 closed

[2021-04-13 17:37] darzu commented on #3187
No longer repros in TS or PY
![2021-04-13 10 37 06](https://user-images.githubusercontent.com/6453828/114596240-3c66a080-9c44-11eb-9a41-831b94f2698b.gif)

[2021-04-13 17:37] #3187 closed

[2021-04-13 17:38] darzu commented on #3166
No longer repros
![2021-04-13 10 38 06](https://user-images.githubusercontent.com/6453828/114596335-5f915000-9c44-11eb-86c6-68fd7621c6d5.gif)

[2021-04-13 17:38] #3166 closed

[2021-04-13 17:42] darzu commented on #3165
Doesn't repro in TS any more.

This would be very nice to have, but it's not expected or part of other PY environments.

[2021-04-13 17:42] darzu commented on #3163
Still and issue for PY

[2021-04-13 17:43] darzu commented on #3070
Doesn't repro in TS
Does repro in PY

IMO, this is important for beginners.

[2021-04-13 17:45] darzu commented on #3001
Doesn't repro in TS or PY
![2021-04-13 10 45 18](https://user-images.githubusercontent.com/6453828/114597237-610f4800-9c45-11eb-9ed5-3693bb3fcebe.gif)

[2021-04-13 17:45] #3001 closed

[2021-04-13 17:47] darzu commented on #2963
Still repros in PY, not in TS:
![2021-04-13 10 46 51](https://user-images.githubusercontent.com/6453828/114597432-9f0c6c00-9c45-11eb-9bdb-5dbff8411dd6.gif)

[2021-04-13 18:12] darzu opened #3978 "Filter "_" and other hidden members from TS intellisense"
<img width="656" alt="image" src="https://user-images.githubusercontent.com/6453828/114600315-0b3c9f00-9c49-11eb-966e-989065a0f4ed.png">

With the switch to Monaco's standard TS support, we need to filter hidden members again.

[2021-04-13 21:50] abchatra commented on #3805
Assigning to @Jaqster to get consensus to decide if we want to build a comments block.
Questions is: What happens to existing comment block?

Tynker has comment as draggable block.

[2021-04-13 23:42] shakao commented on #2872
removing next-release for now, this will be more useful when we add the ability to have chords/multiple notes, otherwise it erases your current melody when you drag

[2021-04-14 01:09] Jaqster commented on #3805
This is a big change, and we'd need to be sure this is the direction we want to move to across all editors.  Will take some research and vetting with customers.  In the meantime, is there a workaround that would help?  i.e. keep all comments open setting?

[2021-04-14 05:19] abchatra commented on #2872
We discussed this in the design office hours. This is not a good pattern for melody at this point of time.

[2021-04-14 05:19] #2872 closed

[2021-04-14 07:45] Sheila111 opened #3980 "Pause icon on sim not centered"
**Describe the bug**
Pause icon on sim not centered

**Steps to reproduce the behavior**
1.Navigate to https://makecode.microbit.org/beta#
2.Create a new project

**Expect behavior**
Pause icon on sim centered
![image](https://user-images.githubusercontent.com/59192069/114672869-2fc37480-9d38-11eb-8fd3-44a78569267b.png)

**Actual behavior**
Pause icon on sim not centered
![image](https://user-imag

[2021-04-14 15:45] shakao commented on #3291
closing, as this no longer repros for me! feel free to reopen if the issue returns

[2021-04-14 15:45] #3291 closed

[2021-04-14 15:46] shakao commented on #3292
fixed by peli with https://github.com/microsoft/pxt/pull/8081

[2021-04-14 15:46] #3292 closed

[2021-04-15 09:43] Sheila111 opened #3981 "[Keyboard Navigation – Make Code - Home page] "Red Light Green Light" and "Micro Chat" can't be reached using the Tab under Live Coding directory"
**Describe the bug**
[Keyboard Navigation – Make Code - Home page] "**Red Light Green Light**" and "**Micro Chat**" can't be reached using the Tab under **Live Coding** directory

**Steps to reproduce the behavior**
1.Navigate to https://makecode.microbit.org/beta#
2.Use **Accessibility Insights** tool and turn on **Tab Stops**
3.Navigate though all the interactive elements appearing under **Live

[2021-04-15 23:45] #3587 closed

[2021-04-16 02:19] Sheila111 commented on #3981
Same issue happened under Behind the **MakeCode Hardware**, **Science Experiments**, **Coding for Teachers** and **Deep Dive** directory

[2021-04-16 02:58] Sheila111 opened #3982 "[Keyboard Navigation – Make Code - Name Tag] "Name Tag" and bulb hint icon can't be reached using the Tab"
**Describe the bug**
[Keyboard Navigation – Make Code - Name Tag] "**Name Tag**" and **bulb hint** icon can't be reached using the Tab

**Steps to reproduce the behavior**
1.Navigate to https://makecode.microbit.org/beta#
2.Use Accessibility Insights tool and turn on Tab Stops
3.Navigate though all the interactive elements appearing in **Name Tag** tutorial page

**Actual behavior**
[Keyboard Navi

[2021-04-16 08:25] Sheila111 opened #3983 "[Visual Requirements – Make Code – tutorial] Ensure buttons have discernible text"
**Describe the bug**
[Visual Requirements – Make Code – tutorial] Ensure buttons have discernible text

**Steps to reproduce the behavior**
1.Navigate to https://makecode.microbit.org/beta#
2.Open any tutorial eg. **Smiley Buttons**
3.Use Accessibility Insights tool and click **FastPass**

**Actual behavior**
[Visual Requirements – Make Code – tutorial] Ensure buttons have discernible text
![image

[2021-04-16 08:27] Sheila111 commented on #3983
**Title**: WCAG 4.1.2: Ensures buttons have discernible text (.hintbutton)
**Tags**: Accessibility, WCAG 4.1.2, button-name
**Issue**: Ensures buttons have discernible text (button-name - https://accessibilityinsights.io/info-examples/web/button-name)
**Target application**: Microsoft MakeCode for micro:bit - https://makecode.microbit.org/beta#editor
**Element path**: .hintbutton
**Snippet**: <but

[2021-04-16 12:33] microbit-mark opened #3984 "Issue compiling extension in offline MakeCode for WIndows"
micro:bit support:  44697

**Describe the bug**

When using the cutebot package  https://makecode.microbit.org/pkg/elecfreaks/pxt-cutebot in offline MakeCode the compilation fails with "Compilation failed, please check your code for errors"

MakeCode version is 6.0.38

<img width="725" alt="image" src="https://user-images.githubusercontent.com/31242877/115024451-05002a00-9eb8-11eb-904e-8d82ce12490

[2021-04-16 17:03] riknoll commented on #3280
@abchatra so are we moving to always start in step mode? iirc that was the original behavior but we changed it because some folks found it confusing.

[2021-04-16 17:04] abchatra commented on #3280
Let's move back and see. I have heard bunch of people saying they don't understand.

[2021-04-16 18:43] #3510 closed

[2021-04-16 18:43] #3651 closed

[2021-04-16 19:44] jwunderl opened #3985 "Inline block localization failing for zh-CN"
**Describe the bug**

likely just a parsing issue failing on the - before the = since I think this is the only block attribute we have that has a dash

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to makecode.com/playground
2. paste the snippet above
3. switch to simplified chinese
4. See error

**Expected behavior**

should work

[2021-04-18 20:43] MKleinSB opened #3986 "Expandable arguments don´t work"
Expandable arguments don´t work. They have to be fully expanded or they cause an error because of missing arguments.
Even in playground. Just go to "input format" and take the block "set the motor to run" move it into "on start" and deactivate it.
Switching to Javascript shows the missing arguments.
![grafik](https://user-images.githubusercontent.com/37311672/115160125-db512980-a096-11eb-9eaa-1bb5

[2021-04-18 22:48] Amerlander commented on #3986
There is no value defined, which should be used, when there is no value given.

This can be done by just adding `= value` after the parameters.
[code]

Note, this is different from defining a default value with ` //% speed.defl = 50`. That would just define what number shows up when the block gets expanded:
[code]

If there are expandable blocks without a definition of the standard value they have

[2021-04-19 06:31] Sheila111 opened #3987 "Python/JS editor: “Undo” and "Redo" button not take effect"
**Describe the bug**
**Python/JS** editor: “**Undo**” and "**Redo**" button not take effect

**Steps to reproduce the behavior**
1.Navigate to https://makecode.microbit.org/beta#
2.Create a new project
3.Add code and click “**Undo**” and "**Redo**" button

**Expect behavior**
“**Undo**” and "**Redo**" button takes effect as in **Blocks** editor
![2](https://user-images.githubusercontent.com/591920

[2021-04-19 06:52] Sheila111 opened #3988 "JS editor: Intellisense for function randint() is not complete"
**Describe the bug**
**JS editor**: Intellisense for function **randint()** is not complete

**Steps to reproduce the behavior**
1.Navigate to https://makecode.microbit.org/beta#
2.Create a new project
3.Type **rand** and choose the **randint** intellisense

**Expect behavior**
Complete intellisense for function **randint()** as in **Python** editor
![4](https://user-images.githubusercontent.com/5

[2021-04-19 10:56] MKleinSB commented on #3986
Thanks, that works but I don´t know if that´s the expected way to use expanded blocks.

[2021-04-19 12:30] Amerlander commented on #3986
I also dont know, but I guess.
Parameters which are optional to be defined by the user, but always required to exist have to be declared this way.

[2021-04-20 17:02] riknoll commented on #2882
I think that @darzu must have fixed this with his monaco changes! It's there now in beta

[2021-04-20 17:02] #2882 closed

[2021-04-20 20:31] darzu commented on #3988
By "not complete" do you mean it doesn't produce the full snippet "randint(0,10)" ?

If so, this is currently by design. We switched out the JS intellisense engine which came with a lot of fixes but snippet auto complete doesn't work in JS for any APIs right now.

[2021-04-20 20:35] darzu commented on #3849
Indeed, this is an odd one since it doesn't reproduce if the "def" or "while" loop are missing.
<img width="579" alt="image" src="https://user-images.githubusercontent.com/6453828/115460498-32611680-a1dd-11eb-898c-a8285f90e401.png">

[2021-04-21 09:03] Sheila111 opened #3991 "Link loading failed in "7 seconds game""
**Describe the bug**
Link loading failed in "**7 seconds game**"

**Steps to reproduce the behavior**
1.Navigate to https://makecode.microbit.org/beta#
2.Games----->7 seconds----->Start Tutorial

**Expect behavior**
Link loaded successfully in "**7 seconds game**"

**Actual behavior**
Link loading failed in "**7 seconds game**"
![1](https://user-images.githubusercontent.com/59192069/115527086-4da6

[2021-04-21 15:46] #3224 closed

[2021-04-21 16:57] #3706 closed

[2021-04-21 22:08] abchatra commented on #3040
Renamed in the repo.

[2021-04-21 22:08] #3040 closed

[2021-04-21 22:16] abchatra commented on #3931
I could install microbit as pwa
![image](https://user-images.githubusercontent.com/6107272/115627855-8c80db00-a2b4-11eb-8362-431c178dbdf8.png)

[2021-04-21 22:41] pelikhan commented on #3931
It is not suggested in the address bar in Edge/Chrome

________________________________
From: Abhijith Chatra ***@***.***>
Sent: Wednesday, April 21, 2021 3:17:05 PM
To: microsoft/pxt-microbit ***@***.***>
Cc: Peli de Halleux ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/pxt-microbit] microbit not detected as PWA application (#3931)

I could install microbit as pwa
[image]<https://nam0

[2021-04-21 22:42] abchatra commented on #3737
Resolving now assuming this is fixed in the latest implementation. We are not 100% sure. If this repros please reopen the issue.

[2021-04-21 22:42] #3737 closed

[2021-04-21 22:44] abchatra commented on #3931
Can you add a screenshot of the website which is suggested? I don't see this in even on bing.com site.

[2021-04-21 22:53] abchatra commented on #3226
@ganicke need help. If you can find an image that would be lovely.

[2021-04-21 22:55] abchatra commented on #2957
Some more with missing icons.

[2021-04-21 23:13] pelikhan commented on #3931
Outlook can be installed as PWA.

[2021-04-21 23:16] pelikhan commented on #3931
I’ll add screenshots

________________________________
From: Abhijith Chatra ***@***.***>
Sent: Wednesday, April 21, 2021 3:44:53 PM
To: microsoft/pxt-microbit ***@***.***>
Cc: Peli de Halleux ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/pxt-microbit] microbit not detected as PWA application (#3931)

Can you add a screenshot of the website which is suggested? I don't see this in even

[2021-04-21 23:39] pelikhan commented on #3931
You should see a little icon near the right side of the address bar. In my case, it's already installed
![image](https://user-images.githubusercontent.com/4175913/115635235-15e9da80-a2c0-11eb-93dc-579b70b99bd0.png)

[2021-04-22 02:46] Sheila111 opened #3994 "Python/JS editor: No help for len()"
**Describe the bug**
**Python/JS** editor: No help for **len()**

**Steps to reproduce the behavior**
1.Navigate to https://makecode.microbit.org/_WsECi85pw1tx
2.Right-Click on function **len()**

**Expect behavior**
Show the help doc for function **len()**

**Actual behavior**
**Python/JS** editor: No help for **len()**
![1](https://user-images.githubusercontent.com/59192069/115648405-f43c3200-a3

[2021-04-22 03:11] Sheila111 opened #3995 "Need to add a "play video lesson" option for tutorial "Head Guess""
**Describe the bug**
Need to add a "**play video lesson**" option for tutorial "**Head Guess**"

**Steps to reproduce the behavior**
1.Navigate to https://makecode.microbit.org/beta#
2.Games----->**Head Guess*

**Expect behavior**
Need to add a "**play video lesson**" option for tutorial "**Head Guess**" as other tutorials
![image](https://user-images.githubusercontent.com/59192069/115650243-711cd

[2021-04-22 04:03] kiate opened #3996 "Couldn't find any extensions on MakeCode"
**Describe the bug**
Unable to find all extensions using the search function. Both keywords and GitHub URLs don't work.

**To Reproduce**
Just try to add any extension on MakeCode. It will return "We couldn't find any extensions matching '[extension name]' "

**MakeCode version:**
https://makecode.microbit.org/
https://makecode.microbit.org/beta
https://makecode.microbit.org/v1

**Desktop (please

[2021-04-22 04:52] abchatra commented on #3996
I can reproduce this bug.

[2021-04-22 05:26] #3991 closed

[2021-04-22 06:18] ganicke commented on #3226
How about something like:

![image](https://user-images.githubusercontent.com/27789908/115665166-b60f2600-a2f7-11eb-87ba-7cdc715b0e32.png)

This will need to go into https://github.com/microsoft/pxt-radio-firefly as `icon.png`.

[2021-04-22 06:53] abchatra commented on #3996
Update: We are actively investigating this. Looks like rate limiting from the github at this point of time.

[2021-04-22 08:56] abchatra commented on #3996
This should be fixed now. Apologies!

[2021-04-22 08:56] #3996 closed

[2021-04-22 08:59] microbit-mark commented on #3996
Thanks for the quick fix @abchatra. We had a lot of teachers report this issue.

[2021-04-22 10:47] kiate commented on #3996
Thanks @abchatra !

[2021-04-22 14:00] pelikhan commented on #3931
More info on lighthouse checks for PWA https://web.dev/lighthouse-pwa/

[2021-04-22 14:02] pelikhan commented on #3931
There seems to be 2 minor issues that prevent proper PWA support (found by running lighthouse)
![image](https://user-images.githubusercontent.com/4175913/115727649-a8c65b80-a338-11eb-817c-c2dde3003392.png)

[2021-04-22 17:21] ganicke commented on #3226
@abchatra - you can approve and merge https://github.com/microsoft/pxt-radio-firefly/pull/1 to get the icon in.

[2021-04-22 17:24] #3226 closed

[2021-04-23 03:09] Sheila111 opened #3998 "It only returns to step 2 if clicking unfinished tutorial"
**Describe the bug**
It only returns to **step 2** if clicking unfinished tutorial

**Steps to reproduce the behavior**
1.Navigate to https://makecode.microbit.org/beta#
2.Satrt any tutorials and unfinish it
3.Return to homepage
4.Click this unfinished tutorial

**Expect behavior**
It should return to **unfinished step** if clicking unfinished tutorial

**Actual behavior**
It only returns to **ste

[2021-04-23 06:12] abchatra commented on #3226
Thanks @ganicke!

[2021-04-23 06:13] abchatra commented on #3226
This looks awesome and I love it.

[2021-04-23 06:26] ganicke commented on #3226
Thanks!

[2021-04-23 06:58] #2290 closed

[2021-04-23 06:58] #3949 closed

[2021-04-23 06:59] #3970 closed

[2021-04-23 08:04] Sheila111 opened #3999 "[Visual Requirements – Make Code – Instructions] Ensures every HTML document has a lang attribute"
**Describe the bug**
[Visual Requirements – Make Code – Instructions] Ensures every HTML document has a lang attribute

**Steps to reproduce the behavior**
1.Navigate to https://makecode.microbit.org/beta#
2.Radio Games----->Fireflies---->Show Instructions
3.Use Accessibility Insights tool and click FastPass

**Actual behavior**
[Visual Requirements – Make Code – Instructions] Ensures every HTML d

[2021-04-23 08:06] Sheila111 commented on #3999
**Title**: WCAG 3.1.1: Ensures every HTML document has a lang attribute (html)
**Tags**: Accessibility, WCAG 3.1.1, html-has-lang
**Issue**: Ensures every HTML document has a lang attribute (html-has-lang - https://accessibilityinsights.io/info-examples/web/html-has-lang)
**Target application:** Fireflies - https://makecode.microbit.org/projects/fireflies
**Element path**: html
**Snippet**: <html