[2018-11-22 19:21] jaustin commented on #1659
But that's the thing, I don't think there is a bluetooth.uartwriteLine? Certainly not in blocks but neither in JS?

[2018-11-22 19:56] pelikhan commented on #1659
We should have one... maybe forgot to add it.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Jonathan Austin <notifications@github.com>
Sent: Thursday, November 22, 2018 11:21 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Comment
Subject: Re: [Microsoft/pxt-microbit] web ble-uart experiment: newline confusion (#1659)

But that's the thing, I don't think th

[2018-11-22 20:10] pelikhan commented on #1659
Note that using console.log uses a new BLE service that has a smaller memory footprint than UART, makecode supports both. Every byte counts here.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Peli de Halleux <jhalleux@microsoft.com>
Sent: Thursday, November 22, 2018 11:56 AM
To: Microsoft/pxt-microbit; Microsoft/pxt-microbit
Cc: Comment
Subject: Re: [Microsoft

[2018-11-23 07:17] Helen09 commented on #1192
Please help close this issue, thanks.

[2018-11-23 08:00] Helen09 opened #1662 "Simulator don't have sound when putting block "play tone" under "forever""
**Describe the bug**
Simulator don't have sound when putting block "play tone" under "forever"

**Steps to reproduce the behavior:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Music" in toolbox and drag block "play tone" then put it under block "forever"
![issue1123](https://user-images.githubusercontent.com/23466737/48932829-c8bf7e00-ef38-11e8-8540-ec69c7187ccd.gif)

**Exp

[2018-11-23 12:05] rhubarbdog opened #1663 "Music only plays on pin 0"
Music blocks have no pin argument so the speaker has to be connected to pin 0 and ground.
Surely not there should be a block to configure Music blocks or an argument to set the pin number on the 'start melody' block and family.
The issue is that music can be played on any PWM capable pin, where as the ADC is connected to pin 0

[2018-11-23 12:21] carlosperate commented on #1631
Great findings, thanks David.
Do you know if the newer versions of DAPLink make the MSC_DISCONNECT synchronous?

[2018-11-23 17:07] pelikhan commented on #1663
You can use https://makecode.microbit.org/reference/pins/analog-set-pitch-pin to change the music pin. Probably should have a more obvious way to do this.

[2018-11-23 17:46] jaustin opened #1664 "Move to DAL v2.1.1 on beta"
Hello MakeCode team

@finneyj and @microbit-sam have worked on a new DAL release https://github.com/lancaster-university/microbit-dal/releases/tag/v2.1.1

The most significant fix in this version is the deferral of sensor errors to the point when a user tries to use a missing/faulty sensor, rather than at boot.

It'd be good to get this out to /beta ASAP and then put to live on next release tick.

[2018-11-23 18:35] jaustin commented on #1659
Nice. That's useful to know for the MakeCode scenario but lots of people want UART because it works on other platforms etc.. Think writeline would be good as well..  Is that service always there?

[2018-11-23 18:37] pelikhan commented on #1659
It’s on demand like UART. But with UART we are more likely to go out of memory.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Jonathan Austin <notifications@github.com>
Sent: Friday, November 23, 2018 10:35 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Comment
Subject: Re: [Microsoft/pxt-microbit] web ble-uart experiment: newline confusion (#1659)

Nice.

[2018-11-24 00:30] rhubarbdog opened #1665 "For ever show number displays nothing on microbit, when the blocks contain serial and files"
For ever, show number displays nothing when serial and files are accessed in the same program via on button b pressed callback

**To Reproduce**
These  <a href="https://makecode.microbit.org/_RidEcegFvhjb">blocks</a> work on the simulator, but do nothing when flashed to a microbit.  Not only does nothing display, nothing displays or is squirted up the usb cable to serial program `screen`

<a href=

[2018-11-24 01:19] DavidWhaleMEF commented on #1631
I've not looked in any detail at the later code,there is quite a lot of it!

Another thought I had is I have vague memory that due to the host/function (master/slave) architecture of USB, a device initiated MSC_DISCONNECT may take a bit of time to propagate to the host, be detected and actioned by the host operating system. Thus the longer the hex file, this might indicate increased probability th

[2018-11-26 05:58] #1659 closed

[2018-11-26 06:03] pelikhan commented on #1653
writeNumber does not introduce a space or a new line, eventually the line gets flushed with the 111111 value. This is by design.

[2018-11-26 09:33] jaustin commented on #1664
Cheers @pelikhan

[2018-11-26 12:27] ChrisDorna opened #1668 "Missing Quotation markt in download screenshot"
When I download a screenschot of a block with quotation marks in it, the marks are not vissible

<img width="428" alt="editor" src="https://user-images.githubusercontent.com/20975602/49014016-fa298b00-f17e-11e8-85e1-2a04ae4eb08c.png">

![download](https://user-images.githubusercontent.com/20975602/49014093-35c45500-f17f-11e8-9dd8-f37a9d41d057.png)

I am on Chrome in Windows 10

[2018-11-26 14:36] shaoziyang opened #1669 "variable name bug in neopixel's setMatrixColor function"
**Describe the bug**
In neopixel extension, function setMatrixColor use **string** as default variable, it should be **strip**, same with other functions.

![neo](https://user-images.githubusercontent.com/1037534/49020517-97aaac00-f1cb-11e8-94e0-fd5750363de1.png)

[2018-11-26 16:16] pelikhan commented on #1668
@samelhusseini for your screenshot test case... i guess the " are a SVG

[2018-11-26 16:17] pelikhan commented on #1656
@mmoskal i see that we assert https://github.com/Microsoft/pxt/blob/28e192df12889f36015c8ed7c80c146d0b2cd0bd/pxtcompiler/emitter/hexfile.ts#L501. do we have checks on the total size of the hex file?

[2018-11-26 17:07] samelhusseini commented on #1668
Yes, all part of the same issue of no <Defs> in the download screen, this should be fixed soon.

[2018-11-26 17:46] abchatra commented on #1653
You need to use writeLine after writeNumber to get the results you expect. This is by design. WriteNumbers introduces a new line.

[2018-11-26 17:46] #1653 closed

[2018-11-26 17:54] abchatra commented on #1655
This is a known issue and doesn't impact the build.

[2018-11-26 17:54] #1655 closed

[2018-11-26 20:10] philipphenkel commented on #1334
My example was overly complicated. Please have a look here:

<img width="992" alt="bildschirmfoto 2018-11-26 um 21 08 20" src="https://user-images.githubusercontent.com/828416/49039221-6fb54b80-f1bf-11e8-9542-90c712c89ee9.png">

https://makecode.microbit.org/_CLjbK0asz6zx

[2018-11-26 22:20] samelhusseini commented on #1621
This has been fixed.

[2018-11-26 22:20] #1621 closed

[2018-11-26 22:20] samelhusseini commented on #1553
The latest script manager feature resolves this issue. I'll keep this open until it gets integrated into the microbit editor.

[2018-11-26 22:22] samelhusseini commented on #736
No repro on latest.

[2018-11-26 22:22] #736 closed

[2018-11-26 23:45] #1245 closed

[2018-11-26 23:45] #1639 closed

[2018-11-26 23:45] #1668 closed

[2018-11-27 09:50] microbit-matt-hillsdon opened #1670 "on pin pulsed block does not configure digital pin in the simulator"
Support ticket: 18750

Run the following code on the micro:bit simulator:

[code]

The help for the block says: "Configure the specified pin for digital input, and then execute the associated code block whenever the pin pulses High or Low (as specified)."

**Expected behavior**

The user expected P0 to be configured for digital input but this does not happen. Clicking on the pin has no effect. Thi

[2018-11-27 10:11] microbit-carlos commented on #1661
Thanks for confirming @samelhusseini, I'll close the issue then.

[2018-11-27 10:11] #1661 closed

[2018-11-27 10:25] Helen09 opened #1671 "Course "SparkFun Videos" doesn't have picture on iPad on homescreen"
**Describe the bug**
Course "SparkFun Videos" doesn't have picture on iPad

**Steps to reproduce the behavior:**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down the scroll bar to bottom of the page and observe course "SparkFun Videos"

**Expected behavior**
Course "SparkFun Videos" should have picture on iPad
![20181127](https://user-images.githubusercontent.com/23466737/49075405-

[2018-11-27 10:32] microbit-matt-hillsdon opened #1672 "Performance unusable on Windows Surface RT tablet but was acceptable on microbit.co.uk"
Support request: 18691

A code club user who needs to migrate from the microbit.co.uk blocks editor to makecode.microbit.org for the Spring term reports that the MakeCode editor is too slow for children to use on a Windows Surface RT tablet (Windows 8.1 running on a Tegra processor).

They have provided some helpful videos that illustrate the performance difference:

- microbit.org - https://youtu

[2018-11-27 14:23] #1669 closed

[2018-11-27 14:46] shaoziyang opened #1673 "can't display svg file in my extension"
**Describe the bug**
I am try to upgrade my ds1302 extension, and add svg file, but it can't display svg file for the parts, only show a blank.

https://github.com/shaoziyang/makecode_dev

**Desktop (please complete the following information):**
 - OS: win10
 - Browser: chrome, firefox

[2018-11-27 15:32] abchatra commented on #1670
There is no support for pin pulsed on simulator. @pelikhan

[2018-11-27 15:34] abchatra commented on #1665
File system package is unsupported. It is low quality and I recommend not using it.

[2018-11-27 15:34] #1665 closed

[2018-11-27 15:34] abchatra commented on #1663
As designed.

[2018-11-27 15:34] #1663 closed

[2018-11-27 15:35] abchatra commented on #1662
There is no sound support in IE. This is a browser limitation. Can't fix

[2018-11-27 15:35] #1662 closed

[2018-11-27 15:38] abchatra commented on #1658
@ganicke can you take a look it and add hint by default if need be?

[2018-11-27 15:39] abchatra commented on #1657
Added empty array block as here:
https://github.com/Microsoft/pxt/pull/5039

[2018-11-27 15:39] #1657 closed

[2018-11-27 20:52] ganicke commented on #1658
We could add ``@fullscreen`` to the sections but this starts to remove any challenge for learning/using the editor. If this was one of the projects in the "tutorial" section for getting started, well maybe then.

[2018-11-27 20:59] #1314 closed

[2018-11-27 21:05] ganicke commented on #1613
Re-open if repro.

[2018-11-27 21:05] #1613 closed

[2018-11-28 09:25] Helen09 opened #1674 "Error message shows when clicking "cancel" pair device on Chrome"
**Describe the bug**
Error message shows when clicking "cancel" pair device

**Steps to reproduce the behavior:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "More..." -> "Pair device" -> click "Pair device" -> cancel (one device has been paired)

**Expected behavior**
Message should show "One device has been paired"

**Actual behavior**
Error message shows "Failed to pair th

[2018-11-28 09:38] Helen09 opened #1675 "Only one Micro: bit is paired but the other one still shows "Paired" in the list"
**Describe the bug**
Only one Micro: bit is paired but the other one still shows "Paired" in the list

**Steps to reproduce the behavior:**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "More..." -> "Pair device" -> click "Pair device" to pair the first hardware
3. Repeat the second step to pair the second hardware
4. Drag block "show number 9" and put it under forever and clic

[2018-11-28 17:57] abchatra commented on #1657
Yes Microbit will be updated in the next release.

[2018-11-28 21:11] abchatra commented on #1675
@Helen09 Do you have both the microbit's connected to the machine?

[2018-11-28 21:13] samelhusseini commented on #1460
Fixed.

[2018-11-28 21:13] #1460 closed

[2018-11-29 01:09] Helen09 commented on #1675
@abchatra Yes, I have both the micro: bits connected to the machine

[2018-11-29 04:30] Jaqster opened #1679 "Logic and Basic block colors are too similar"
Logging this issue reported by Lisa Anne Floyd on Twitter:

"I'm wondering if in the next iteration, they might consider making the logic and basic blocks more contrasting in colour. It's hard to see that they are from different "drawers" on my slides (e.g., when I have an if.. then inside a forever block as we check the light level)."

[2018-11-29 08:01] guillaumejenkins commented on #1675
Chrome lets you pair to multiple devices at once - pairing with one device will not unpair other devices from Chrome. We do not have control over the pairing mechanism and UI, that all happens at the browser level. All we can do is request the browser to pop up the pairing dialog, and ask the browser to return us the paired devices.

[2018-11-29 08:21] Helen09 opened #1680 "No prompting message shows after adding extension "radio-broadcast""
**Describe the bug**
No prompting message shows after adding extension "radio-broadcast"

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Advanced" -> "Extensions" -> choose "radio-broadcast" to add
3. Observe the tool box on editor page

**Expected behavior**
There should have a prompting message showing "radio-broadcast" has been added to "R

[2018-11-29 08:40] Helen09 opened #1681 "Right-click on "Servos" blocks, "help" is disabled"
**Describe the bug**
Right-click on "Servos" blocks, "help" is disabled

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Advanced" -> "Extensions" -> choose "servo" to add
3. Click "Servos" in toolbox and right click on each block to check its help

**Expected behavior**
"Servos" blocks should have help tutorial

**Actual behavior**
Right-clic

[2018-11-29 15:54] abchatra commented on #1679
![image](https://user-images.githubusercontent.com/6107272/49233949-f0389f80-f3ab-11e8-86be-8a573906da03.png)
They look pretty different to me. Is this related to color blindness issue?

[2018-11-29 15:54] abchatra commented on #1679
@samelhusseini

[2018-11-29 16:05] abchatra commented on #1675
This UI is from Chrome and it will say the device is paired. Can't fix from our end.

[2018-11-29 16:05] #1675 closed

[2018-11-29 17:12] martinwork opened #1683 "BETA Print fails to print blocks when one is from Bluetooth extension"
**Describe the bug**
If a block from the Bluetooth extension is included, Print only shows the project name

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/beta'
2. Click on 'New project'
3. Add the Bluetooth extension
4. Add the "bluetooth led service" block to "on start"
5. Print

**Expected behavior**
The printout should include the blocks

**Screensho

[2018-11-29 17:17] pelikhan commented on #1683
It reproes.
![image](https://user-images.githubusercontent.com/4175913/49239418-95a54080-f3b7-11e8-862b-a2374037cb1d.png)

[2018-11-29 17:20] martinwork commented on #1683
Seems to happen with "servo" extension too, but not neopixel or turtle.

[2018-11-29 17:37] martinwork opened #1684 "Can't enter inverted commas character in JavaScript from iOS keyboard"
**Describe the bug**
JavaScript gets the wrong kind of inverted commas from the iOS keyboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/'
2. Click on 'New project'
3. Add a line "basic.showString("hello") using the keyboard
4. Try to switch to blocks or Download

**Expected behavior**
JavaScript should insert the right kind of inverted commas.

**De

[2018-11-30 01:50] Helen09 commented on #1675
Hi Abhijith, another issue I want to confirm with you:
If two micro: bits are paired with machine together and then clicking "Download", one or two micro: bits should download the code?

[2018-11-30 05:34] pelikhan opened #1687 "Unable to select logic blocks on small screen + tutorials"
In tutorial mode, the block toolbox is pushed down but the size is not adjusted. As a result, it is not possible to scroll down the block list and pick something like the logic blocks.

[2018-11-30 05:35] samelhusseini commented on #1687
This is fixed by bringing back the undo/redo buttons, issue was that the editor toolbar's z-index was capturing the touch events.

[2018-11-30 05:39] pelikhan commented on #1687
Where can I test the fix? it is still active in microbit and impacting tutorials over there.

[2018-11-30 07:13] samelhusseini commented on #1687
Just checked and microbit has the tutorial zoom button fix, so maybe I've misunderstood this bug.
What tutorial? how do I repro?

[2018-11-30 07:20] pelikhan commented on #1687
Try multi-dice on a wide screen. Try getting deep logic blocks

[2018-11-30 08:37] samelhusseini commented on #1687
Ah I'm with ya. Right that's a bug.

[2018-11-30 17:28] microbit-matt-hillsdon opened #1688 "Radio onReceivedNumber / onReceivedString blocks are easily confused"
Support request: 18806

**Describe the bug**

1. Add an `on radio received [receivedNumber]` block
2. Renamed the receivedNumber variable/parameter to receivedString
3. Observe this now matches the block appearance of `on radio received [receivedString]` block, but behaves differently and has different JavaScript

In the support request the user expected the JavaScript to update (i.e. no longer me

[2018-11-30 18:44] martinwork opened #1689 "Should console TXT and CSV exports be sent to a webkit host using a host message?"
**Is your feature request related to a problem? Please describe.**

The console TXT and CSV exports are currently delivered to a webkit host via a URL which may not be ideal for large amounts of data.

**Describe the solution you'd like**

Would they be better as a host message like hex download and save?

[2018-11-30 22:49] #1658 closed

[2018-12-02 16:06] nielsswinkels opened #1691 "simulator does not load (firefox)"
**Describe the bug**
Even if I start a new empty project, the simulator does not show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/#editor
2. Click on new project
3. Simulator does not show up

**Expected behavior**
A simulator should load.

**Screenshots**
![image](https://user-images.githubusercontent.com/5718354/49341951-8a227580-f654-11e8-8e20-4

[2018-12-02 16:06] nielsswinkels commented on #1691
makecode.microbit.org version:  1.2.11

Microsoft MakeCode version:  4.4.7

microbit runtime version:  v2.1.0

[2018-12-02 16:07] nielsswinkels commented on #1691
More bugs: if i switch to blockprogramming, I can't open the menu with the blocks.

[2018-12-02 17:52] ed-xmos commented on #1672
Hi, the originator of the support request here. Some more info for you:

- Microsoft surface tablet
- Windows RT 8.1 (latest updates applied) 32b. No upgrade path to W10 currently :(
- NVIDIA Tegra(r) 3 QUad core 1.3GHz
- 2.00GB
- IE11 version 11.0.9600 - No Edge available :(

Let me know if you need anything else.

[2018-12-03 06:54] abchatra commented on #1675
only 1-1 is supported, even if both are paired in chrome UI

[2018-12-03 18:03] jaustin opened #1696 "Download Screenshot output omits quotations"
support ticket: 18732

**Describe the bug**
The output of 'Download Screenshot' does not include quotes around strings, whereas the blocks themselves do

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to makecode.microbit.org
2. Click drag a 'show string' block into 'on start'
3. Right click, choose 'download screenshot'
4. Compare the screenshot with the view of the code.

**Expected be

[2018-12-04 10:28] microbit-giles opened #1697 "Embedded code blocks overlap"
**Describe the bug**
Tried to embed code blocks from a project https://makecode.microbit.org/_3VFKro2CFguy in a web page and the blocks overlap each other.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://www.suppertime.co.uk/blogmywiki/2018/12/microbit-dog-collar/
2. Enter password: Ellie (capital E)
3. Scroll down to 'Here’s how a radio version might look. The dog would wear a

[2018-12-04 14:51] ChrisDorna opened #1698 "Please bring back internal/external inputs in v1"
The internal/external option in the previous version realy helped to give the students a better view on complex functions like this:
![progr_04b_03](https://user-images.githubusercontent.com/20975602/49449740-d77d1f00-f7db-11e8-9f0a-c2f6f0ba7968.png)

In the previous version it was possible to breakdown the code to this:
![vb](https://user-images.githubusercontent.com/20975602/49449854-16ab7000-f7

[2018-12-04 16:25] microbit-mark commented on #1560
@abchatra you've tagged as next release. This would be a good one to fix please

[2018-12-04 18:04] abchatra opened #1699 "Add an option to create variable in the drop down"

[2018-12-04 18:06] #1699 closed

[2018-12-04 18:07] abchatra commented on #1697
@samelhusseini is this something you have fixed recently?

[2018-12-04 22:47] Jaqster opened #1700 "Shared/embedded view - 2nd micro:bit not showing for Radio"
For Radio programs, when you click on the Play/Simulator view, don't see the 2nd micro:bit.
https://makecode.microbit.org/93468-53396-53534-83273
![sharedradio](https://user-images.githubusercontent.com/22108954/49477994-718c9980-f7d3-11e8-8a2f-e65934d7b9d8.PNG)

[2018-12-05 03:13] abchatra commented on #1700
I can repro on Chrome and Edge.

[2018-12-05 03:34] pelikhan commented on #1700
Never supported in sharing mode.

[2018-12-05 17:21] martinwork opened #1701 "Help side panel no longer displays the pop-out button when hosted in a WKWebView"
**Describe the bug**
The side help panel normally displays a pop-out button. This is now missing when MakeCode is hosted in a WKWebView.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Create Code in the iOS micro:bit app.
2. Long press on the forever block and choose Help
3. See that there is no pop-out button

**Expected behavior**
The pop-out button should be there to enable display

[2018-12-06 06:43] rhubarbdog opened #1703 "when i declare a *REAL* function the start block contains many grey blocks"
**Describe the bug**
I have the need for sub routines and functions which java supports and blocks creates a grey block they function correctly.  It also produces all my let statements in grey blocks they have variable blocks

**To Reproduce**
<a href="https://makecode.microbit.org/_673UXEc3diP6">see these blocks</a>
**Expected behavior**
I expect only function and procedure definitions and calls

[2018-12-06 14:42] microbit-mark opened #1705 "Shift/Rotate pixels breaks neopixel program"
**Describe the bug**
When using the rotate or shift pixel block within a program that uses neo pixels, the program seemingly does not run properly on the micro:bit. Removing this block enables the device to work again. This isn ot an issue in v0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/_K16egV7yLMVK
2. Download and flash file. See issue
3. Remove ro

[2018-12-06 17:22] jaustin opened #1707 ""Pair Device" in offline-app menu bar but it doesn't work"
**Is your feature request related to a problem? Please describe.**
Using the app there 'pair device' feature is visible but the dialogue to select the device isn't presented so pairing always fails.

**Describe the solution you'd like**
I'd like one of two things to happen if possible
1) If there's a micro:bit plugged in we pair with it
2) Show the usual dialogue in Chrome

**Describe alternatives

[2018-12-06 18:54] guillaumejenkins commented on #1707
The Electron offline app does automatic flashing without any pairing necessary - we should hide the pair button

[2018-12-06 22:46] rhubarbdog opened #1708 "Radio producer/ consumer doesn't work"
**Describe the bug**
I've written 2 sets of blocks <a href="https://makecode.microbit.org/_HsmYh9Cafh0T">radio producer</a> and <a href="https://makecode.microbit.org/_d4FCP5WmPWdm">radio consumer</a>
i've flashed producer to 1 microbit and consumer to another.  When i send a message from producer nothing happens on consumer

**To Reproduce**
1) get 2 microbits
2) flash radio producer to one
3) fl

[2018-12-07 00:13] martinwork commented on #1708
Add a "radio set group" block to "on start" in both projects. Both producer and consumer need to used the same group number. See the help for "radio set group" for what happens if you don't specify a group.

[2018-12-07 10:57] Helen09 opened #1709 "A ".pdf" file can't be printed on IE"
**Describe the bug**
A ".pdf" file can't be printed on IE

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "More..." -> "print"  -> click "print" on the pop-window

**Expected behavior(Edge, Chrome, Firefox)**
A ".pdf" file should be printed

**Actual behavior(IE)**
A ".pdf" file can't be printed on IE
![issue12704](https://user-images.githubus

[2018-12-07 11:14] Helen09 opened #1710 "String's quote is lost after printed on Edge"
**Describe the bug**
String's quote is lost after printed on Edge

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "{}JavaScript" to switch to JavaScript editor and copy below code to content pane
......................................................................................
let text_list: string[] = []
let text_list1: number[] = []
bas

[2018-12-07 11:29] Helen09 opened #1711 "The printed icon on block "show icon" is not clear"
**Describe the bug**
The printed icon on block "show icon" is not clear

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Drag block "show icon" and put it under block "forever"
3. Click "More..." -> "print" -> click "print" on the pop-window

**Expected behavior**
The printed icon on block "show icon" should be clear
![99](https://user-images.githubu

[2018-12-07 11:41] rhubarbdog opened #1712 "Radio.sendString() has suprious preceding information"
**Is your feature request related to a problem? Please describe.**
This may be a bug
There is a lack of compatibility between blocks radio and micropython radio.

**Describe the solution you'd like**
When I have a micropython producer and a blocks consumer. I broadcast on channel 7 group 1 "Message" the consumer logs the message's arrival by executing `on RadioReceive` block but the message logged

[2018-12-07 14:01] abchatra commented on #1707
Also electron version is 2.0.5 which doesn’t support webusb yet.

[2018-12-07 18:37] abchatra commented on #1712
See https://support.microbit.org/support/solutions/articles/19000053168-receiving-radio-data-from-the-makecode-editor-within-python

There are differences in implementation due to historical reasons.

[2018-12-07 18:37] #1712 closed

[2018-12-07 18:39] abchatra commented on #1703
Duplicate of https://github.com/Microsoft/pxt-microbit/issues/689
We are working on it.

[2018-12-07 18:39] #1703 closed

[2018-12-07 18:43] abchatra commented on #1691
I can't repro this

[2018-12-07 18:45] abchatra commented on #1681
Fixed

[2018-12-07 18:45] #1681 closed

[2018-12-07 18:47] abchatra commented on #1601
Closing as no additional information is given.

[2018-12-07 18:47] #1601 closed

[2018-12-07 18:54] pelikhan commented on #1710
@samelhusseini  did you fix this as part of your screenshot work?

[2018-12-07 18:54] nielsswinkels commented on #1691
It is probably related to that i have a huge amount of projects in my browser cache. And i don't want to lose those.

[2018-12-07 19:00] samelhusseini commented on #1710
I didn't look into this code path, possibly fixed but would be a coincidence.

[2018-12-07 19:02] pelikhan commented on #1710
Is that fix in the microbit pxt branch by any chance :) ?

[2018-12-07 19:16] pelikhan commented on #1710
It seems that all xref svg elements are lost in Edge/IE. This also includes +/- images.

[2018-12-07 21:36] samelhusseini commented on #1710
I dont think so.

[2018-12-08 03:51] alankrantas opened #1716 "Random/ music blocks failed to load correctly after editor update"
**Describe the bug**
It seems that after each editor update (the webpage downloaded the update and refreshed), for a period of time some old projects would not load correctly in the editor.

I've reported this before, but closed it when everybody (me included at that time) seems not be able to reproduce it. So I recorded a video this time, after the editor upgrade from v1.2.11 to v1.2.12.
https://

[2018-12-08 20:18] nielsswinkels opened #1717 "Can I use the xicons font?"
I want to use the blocks generator to display generated blocks on my own website ([Example here](http://mermicrobit.se/lar-dig-mer/modulo/)). And I have a slider that makes it possible to switch between blocks and javascript. I would like to add the same icons to that slider as you have on the blocks/javascript slider in the makecode editor. I can see it makes use of something called xicon. Can I

[2018-12-09 01:48] indigo51 opened #1719 "Grove extension"
The Grove Zero Makecode extension is now not working.
Produces an error message and Fix does not work.

[2018-12-09 18:51] nielsswinkels opened #1721 "Block generator puts "on start" last"
**Describe the bug**
When I use the service to translate javascript into a png of the corresponding block code, it always puts the "on start" part last (furthest down). I would like it to come first (on top).

**To Reproduce**
Steps to reproduce the behavior:
1. Create some javascript makecode that includes on start and some other function
2. use the javascript to generate a picture
3. See that th

[2018-12-09 19:05] martinwork opened #1722 "Wiring Instructions printing fails on iOS and is slow on macOS"
**Describe the bug**
The Wiring Instructions for this project fail to print on iOS. Either block on its own is OK, but not both together. macOS takes over 10s to display the preview with both blocks or 2s with either one.

![image](https://user-images.githubusercontent.com/989126/49701144-72ad3480-fbe0-11e8-929c-308b09ec1b3a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https:/

[2018-12-10 08:22] abchatra commented on #1719
Please file the issue on the extension repo; https://github.com/Seeed-Studio/pxt-grove

[2018-12-10 08:22] #1719 closed

[2018-12-10 08:31] abchatra commented on #1716
@alankrantas can you please share the hex file you are loading which has this issue?

[2018-12-10 09:14] nielsswinkels commented on #1717
Writing down the answers in case anyone else wonders:

"It’s open source under MIT."

"xicons are generated from pxt/svgicons. you'll find the icons in SVG there. you can use those directly. If you want to generate your own font from svg, there are a number of open source tools out there, I can dig up the one we use if you cant find it"

What I did was download the SVG files from https://github.co

[2018-12-10 09:20] samelhusseini commented on #1696
Fixed in latest pxt-core.

[2018-12-10 09:20] nielsswinkels commented on #1679
Or could it be an issue depending on which screen is used to look at it? I once gave a presentation on a projector that had such horrible colors that everything looked the same.

[2018-12-10 09:39] microbit-matt-hillsdon opened #1724 "Hex file fails to open with neopixel version error; creates unusable project"
Support request: 18761

**Describe the bug**
[This hex file](https://github.com/Microsoft/pxt-microbit/files/2662553/microbit-RC-car-1.txt) fails to open in MakeCode.

The UI shows "Oops, something went wrong when importing your project".

The dev tools console shows the following trace:

[code]

Although unsuccessful, the import does add a project to the user's "My Projects" list on the home page

[2018-12-10 12:06] microbit-mark opened #1725 ""text from char code" block does not appear in text menu"
**Describe the bug**
The "text from char code" block appears within search, but not within the text menu

**Search**
<img width="581" alt="screenshot 2018-12-10 at 12 02 21" src="https://user-images.githubusercontent.com/31242877/49731635-dd5b8000-fc73-11e8-9d5c-00a9aff9a2e4.png">

**Text block menu**
<img width="602" alt="screenshot 2018-12-10 at 12 02 53" src="https://user-images.githubuserconte

[2018-12-10 13:51] microbit-mark opened #1726 "radio menu does not display in Danish language"
microbit support 18932

![screenshot 2018-12-10 at 13 49 57](https://user-images.githubusercontent.com/31242877/49736627-90cb7100-fc82-11e8-8cd5-985a788ff130.png)

[2018-12-10 14:42] ChrisDorna commented on #1696
Hi Sam, Perhaps a stupid question (Yes, I know that there are no stupid questions) but when is this fix visible in the online version? Or is there a way to 'test' the fix.

[2018-12-10 15:19] microbit-mark commented on #1640
Nudging this one again @pelikhan @abchatra. Serial numbers with added decimal places is confusing.

[2018-12-10 16:17] samelhusseini commented on #1696
That would be a question for @abchatra

[2018-12-10 17:37] abchatra commented on #1679
Projectors have issues with color rendering and it is plausible theory. I am closing this as not enough information .

[2018-12-10 17:43] abchatra commented on #1726
This is likely translation issue. @ganicke or @pelikhan Can we somehow patch fix this at translation?

[2018-12-10 17:50] pelikhan commented on #1726
Assign translations issue to someone going forward, thank you.

[2018-12-10 18:02] pelikhan commented on #1726
See https://github.com/Microsoft/pxt/pull/5081

[2018-12-10 18:03] pelikhan commented on #1726
Also we should investigate why we are crashing and handle this case gracefully. Most likely trying to inject a block that does not exist in the blockly tree.

[2018-12-10 18:05] abchatra commented on #1726
@samelhusseini Can you please take a look? Ideally if it is a simple change in the translation we could just patch the Danish translation.

[2018-12-10 18:12] samelhusseini commented on #1726
Looks to be fixed. https://makecode.microbit.org/?forceLang=da#editor

Am I using the right language code?

[2018-12-10 18:29] samelhusseini commented on #1726
same deal.. Am i missing something?

[2018-12-10 18:31] abchatra commented on #1726
Yes I reloaded edge and it is fixed. Not sure how. Likely someone fixed the translation. I consistently repro'd this morning.

[2018-12-10 18:31] #1726 closed

[2018-12-10 18:33] abchatra commented on #1724
@riknoll can you take a peek? Looks like neopixel upgrade issue.

[2018-12-10 18:48] riknoll commented on #1724
Here's the `pxt.json` for that project:

[code]

The neopixel entry should look something like this:

[code]

but we also shouldn't crash

[2018-12-10 18:54] abchatra commented on #1724
Ok lower priority then. We will have script manager soon in Microbit to clean up stale projects.

[2018-12-10 19:09] abchatra commented on #1696
Early Jan (we are not releasing in December)

[2018-12-10 19:43] abchatra commented on #1716
@riknoll I can repro this and see in the file microbit-螞蟻過街.hex This is basically Math.random upgrade. Can you take a look? May be upgrade rules are incorrectly hitting for this case.

[2018-12-11 00:27] Jaqster opened #1728 "Broken link in docs"
Hi Jacqueline,

Just following up to make sure you know that there is a broken link in this page: https://makecode.microbit.org/device/servo.  When you scroll down to the Calibrating section at the bottom of the page, the link for the servo calibrator program is broken.

Regards,
Kristianne

[2018-12-11 07:19] ChrisDorna commented on #1696
Hi @abchatra,
I have to make a lot of screenshots for a new book. Is it possible to 'test' the changes @samelhusseini  prepared?

[2018-12-11 09:49] microbit-mark commented on #1726
Is this a localised language bug @abchatra? Same issue for Bulgarian in beta editor

1. Choose the Bulgarian localization (still in beta): https://makecode.microbit.org/beta?liveforcelang=bg
2. Open the editor and expand the Music (Музика) tab
3. The blocks in the tab are one over another. (It seems the transform="translate(16,72)" attribute is not applied.)

[2018-12-11 13:52] abchatra commented on #1726
It is a localization issue (although flyout shouldn't crash).Bulgarian is not a supported language right? How did you get this issue?

[2018-12-11 14:28] microbit-mark opened #1729 "Issues in packages.md"
When clicking through on the ALS robot extension,  we get a no README file found message
![screen recording 2018-12-11 at 12 29 pm](https://user-images.githubusercontent.com/31242877/49807003-f25a1100-fd50-11e8-87a5-c4b6899ad424.gif)

The README.md does exist here though

https://github.com/alsrobot-microbit-makecode-packages/ALSRobotKeyboard/blob/master/README.md

[2018-12-11 14:35] microbit-mark commented on #1726
User reported it as they are developing Bulgarian language support. I guess in Crowdin?

[2018-12-11 15:02] pelikhan commented on #1729
The released version does not have a readme.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Mark <notifications@github.com>
Sent: Tuesday, December 11, 2018 6:28 AM
To: Microsoft/pxt-microbit
Cc: Subscribed
Subject: [Microsoft/pxt-microbit] Issues in packages.md (#1729)

When clicking through on the ALS robot extension, we get a no README file found message
[sc

[2018-12-11 15:02] pelikhan commented on #1729
They need to bump.

[2018-12-11 15:02] #1729 closed

[2018-12-11 15:39] microbit-mark commented on #1670
Can this be added for the simulator? Or if not, update the [docs ](https://makecode.microbit.org/reference/pins/on-pulsed)to say that this only works on the hardware

[2018-12-11 15:47] microbit-mark commented on #1688
I've seen this confusion before in support, but can't find the associated ticket. It seems like a legitimate thing you might try to do. eg
![screen recording 2018-12-11 at 03 45 pm](https://user-images.githubusercontent.com/31242877/49811794-e758ae00-fd5b-11e8-8734-6cfbce4afed8.gif)

Can we have 1 block with a dropdown for receivedString or receivedNumber?

[2018-12-11 16:07] microbit-mark commented on #1640
tagged with next-release as discussed @abchatra

[2018-12-11 16:38] microbit-mark commented on #1696
@ChrisDorna If you're able to create documentation online, you could create a series of embedded blocks that will always be up to date See. https://makecode.com/blocks-embed

There is also a [Gitbook plugin](https://plugins.gitbook.com/plugin/pxt) for blocks, so if you're able to publish via Gitbook and download the PDF for example, tht might be a good way to easily update the text.

[2018-12-11 16:41] microbit-mark opened #1732 "Is Gitbook plugin still live?"
**Describe the bug**
A link in the docs goes to a Gitbook plugin for embedding blocks, the link from this page back to the Microsoft Github is broken
![screen recording 2018-12-11 at 04 25 pm](https://user-images.githubusercontent.com/31242877/49815244-3d7d1f80-fd63-11e8-9722-30e8513bf423.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.com/blocks-embed'
2. Click

[2018-12-11 16:41] microbit-mark commented on #1732
@samelhusseini

[2018-12-11 16:43] microbit-mark commented on #1670
@abchatra After discussion, docs to be updated as this will not be supported in the sim

[2018-12-11 18:36] samelhusseini commented on #1732
Yes, please try again.

[2018-12-11 18:58] abchatra commented on #1670
@ganicke we need to update the doc

[2018-12-11 19:50] ganicke commented on #1670
Should probably add a note to all of the pin docs for apis that don't have any sim actions. The I2C pages have this note currently:

![image](https://user-images.githubusercontent.com/27789908/49826093-e6635480-fd3a-11e8-9a51-8d28e6e1b249.png)

[2018-12-11 20:13] bsivanov commented on #1726
Hello, I reported the issue. Bulgarian is still in beta so I decided to test the localization using the mentioned [https://makecode.microbit.org/beta?liveforcelang=bg](https://makecode.microbit.org/beta?liveforcelang=bg) link. I can still consistently reproduce the issue using different browser, with cleared cookies, etc.

@abchatra, do you know the cause, or any workaround? I am an approved trans

[2018-12-11 20:40] pelikhan commented on #1726
If you open the JavaScript console and reload the page, you should see error messages (hopefully)

[2018-12-11 20:54] ganicke commented on #1726
We seem to be missing **@param value** and **@param handler** in the jsdoc for **music.onEvent**. Not sure if this is might affect the translated block render.

[code]

[2018-12-11 20:58] samelhusseini commented on #1726
What this means is that one of the translations to the blocks in crowdin (bulgarian) is malformed.
in this case it's the setTempo block, looking into why..

[2018-12-11 21:01] samelhusseini commented on #1726
The translation for setTempo is:
[code]

This is probably not that obvious, but you shouldn't translate the %variables ie: %value.

The correct translation for this would be:
[code]

[2018-12-11 21:02] ganicke commented on #1670
Oop: задаване темпо до (bpm)|%стойност --- should be %value

[2018-12-11 21:04] samelhusseini commented on #1726
I have fixed this instance in crowdin, shouldn't take long to propagate.

[2018-12-11 21:07] ganicke commented on #1726
Actually, that looks like my bad 🤕

![image](https://user-images.githubusercontent.com/27789908/49830248-7a3a1e00-fd45-11e8-8691-8e9969f5fb21.png)

[2018-12-11 21:08] samelhusseini commented on #1726
Yeah haha.

[2018-12-11 21:09] abchatra commented on #1726
Thanks folks!

[2018-12-12 00:55] ganicke commented on #1726
Ha, no it was part of a batch of translation errors. Obviously I missed fixing this one.

[2018-12-12 02:39] alankrantas commented on #1716
Hello all,

The projects were first created for our first micro:bit book during summer, downloaded in V1 Beta. However when I first encountered this problem in late October (after V1 officially online) I fixed and downloaded these projects manually. You can see the files were created in Oct 31th. Since the projects are provided online for our customers I'll update them again.

I reported this in e

[2018-12-12 18:14] abchatra commented on #1679
Accessibility from NYC schools
-	Accessibility concerns with the new block UI (mainly for visual impairment)
-	No white spaces between blocks - difficult for students to distinguish between different blocks of the same category
-	Some of the block colors very similar (Basic/Logic and Inputs/Radio) - on projectors or bad screens this becomes a problem
-	Is there a way to turn on the yellow block ou

[2018-12-12 18:16] samelhusseini commented on #1679
Yellow block outlining is turned on for all normal blocks. You can't really select a shadow block as you can't drag it out or delete it, and that's the point of the highlighting: to let you know what block will be deleted if you hit backspace, and which block you're currently interacting with.

[2018-12-12 18:16] abchatra commented on #1698
Feedback from NYC schools
-	Blocks are too long horizontally - when you have nested blocks (math operators in conditional statements) it makes the blocks really long
-	Workspace issues are the biggest problem with students right now - they can zoom out, but then they can't read their code.  Some of their programs have quite a lot of blocks - and when they expand horizontally as well as vertically,

[2018-12-12 18:21] abchatra commented on #1732
fixed

[2018-12-12 18:21] #1732 closed

[2018-12-12 18:22] abchatra commented on #1728
Fixed

[2018-12-12 18:22] #1728 closed

[2018-12-12 18:54] riknoll commented on #1716
Thanks for the extra context Alan! I don't see any issues with the note blocks in the programs that you linked; they all seem to open in the editor correctly and have the correct notes. I'm using the same version of the editor as the one in the video too. Could you provide some details on your browser version?

[2018-12-13 02:36] alankrantas commented on #1716
The ones I used in my home and office are both Chrome version 70+ (I tested Bluetooth download and console last month).

Like I said, the note problem seems to happen right after an editor update, and the issue might dispensary some time after. Right now it works for me too. But it didn't work on the day the update dropped, as shown in my video. I also encountered this more than once before withou

[2018-12-13 15:39] CleoQc opened #1740 "Help on external extensions cannot be translated"
It is currently impossible to offer a translation of the help file from an external, approved, extension as it only reads from the Github README.md file

![translation](https://user-images.githubusercontent.com/4965628/49949287-4553d580-fec3-11e8-9de6-84b6d743f696.png)

I would like to be able to offer a fully translated extension.
Thank you for considering this.

[2018-12-14 09:05] microbit-mark commented on #1698
Some more support for this feature
![image](https://user-images.githubusercontent.com/31242877/49993739-6974ec80-ff7f-11e8-9c8b-f44583c4720e.png)

https://twitter.com/javierpiay/status/1073499500772233216

[2018-12-14 14:37] martinwork opened #1741 "Experiments Feedback links only show when browser window is wide"
**Describe the bug**
When the desktop browser window is reduced in width from full-screen towards nearly square, the Experiments Feedback links disappear.

The Feedback links do not show at all on iOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/beta#editor'
2. Click on 'More...' then 'About...' then 'Experiments'
3. Except on iOS, reduce the width of

[2018-12-14 16:10] smartyw opened #1742 "Allow Bluetooth Client Event to be configured to support WRITE or WROTE WITHOUT RESPONSE or BOTH operation types"
**Is your feature request related to a problem? Please describe.**

The Bluetooth Event service includes a characteristic called Client Event. This characteristic supports both forms of Bluetooth LE write operation, namely WRITE and WRITE WITHOUT RESPONSE. The first type is a request/response operation, offering a reliable way of communicating with a remote device (in this case a micro:bit) and th

[2018-12-14 16:46] pelikhan commented on #1742
Please file this on the microbit-dal repo. This requires a change over there first.

[2018-12-14 17:09] smartyw commented on #1742
Ok, will do.

[2018-12-14 17:16] smartyw commented on #1742
See https://github.com/lancaster-university/microbit-dal/issues/411

[2018-12-14 19:03] abchatra commented on #1698
What we have today is scratch blocks https://beta.scratch.mit.edu/ which is coming to scratch in Jan as well. It

[2018-12-14 19:23] abchatra commented on #1740
@guillaumejenkins any pointers here?

[2018-12-17 09:06] FranklinWhale opened #1744 "Math.randomRange is not properly converted to blocks in Traditional Chinese version"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch MakeCode language to Traditional Chinese
2. Open a new project
3. Switch to JavaScript mode
4. Replace all content with `basic.showNumber(Math.randomRange(0, 8000));`
5. Switch to Blocks mode
6. Repeat the steps above in English

**Expected behavior**
The arguments

[2018-12-17 11:31] martinwork commented on #1689
Is the URL route good enough for a release of the iOS app?
I'm not clear on how much data is being sent compared to the limitation of the size of the URL.

[2018-12-17 11:47] microbit-mark opened #1745 "Hex file does not compile in win10 app"
**Describe the bug**
A clear and concise description of what the bug is.
User reports that [microbit-light_level_external_sensor_v63.hex.zip](https://github.com/Microsoft/pxt-microbit/files/2685842/microbit-light_level_external_sensor_v63.hex.zip) will open in the makecode web editor and recompile, but not in the win 10 app which reports a compilation failure. The file also runs on the micro:bit h

[2018-12-17 17:42] carlosperate opened #1746 "Serial write line docs example is not relevant to this block"
**Describe the bug**

The example from https://makecode.microbit.org/reference/serial/write-line does not include the serial write line block:

<img width="448" alt="image" src="https://user-images.githubusercontent.com/4189262/50104693-a14f8e80-0222-11e9-8c3d-c117c7f1c179.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/reference/serial/write-line
2.

[2018-12-17 18:06] abchatra commented on #1746
@ganicke looks like write line missing in the docs

[2018-12-17 18:17] samelhusseini commented on #1744
Fixed.

[2018-12-17 18:30] #1744 closed

[2018-12-17 18:30] abchatra commented on #1744
Issue was with incorrect translation and might take a while to reflect

[2018-12-17 18:41] abchatra commented on #1745
This hex file fails to download in Chrome and Edge browser as well

[2018-12-17 18:41] abchatra commented on #1745
And this is based on Filesystem package github:microsoft/pxt-filesystem#v0.9.3  which is buggy. Likely won't fix from our end.

[2018-12-17 18:41] abchatra commented on #1745
Please file the isse on the filesystem repo.

[2018-12-17 18:43] abchatra commented on #1745
Opened on filesystem repo.

[2018-12-17 18:43] #1745 closed

[2018-12-17 19:04] themarkness commented on #1745
Strange. It worked for me in Firefox on mac, hence why I opened it here.

[2018-12-17 23:47] carlosperate commented on #1746
Thanks @ganicke!

[2018-12-18 06:03] FranklinWhale commented on #1744
Verified fixed. Thanks!

[2018-12-18 09:05] microbit-mark commented on #1553
microbit support: 19111 More support for this feature from another user.
@samelhusseini when will the script manager feature be integrated and can we demo it?

[2018-12-18 15:54] microbit-mark commented on #1688
Can you follow up on this one @abchatra

[2018-12-18 15:57] jaustin opened #1748 "Make microbit_heap_print available"
Now that microbit_heap_print() is available in the DAL could we please make it visible to a JavaScript programme?  Perhaps even as a checkbox option in MakeCode alongside

[code]

https://github.com/lancaster-university/microbit-dal/issues/390#issuecomment-426228097

[2018-12-18 17:51] abchatra commented on #1553
ETA early Jan.

[2018-12-18 17:52] abchatra commented on #1688
@guillaumejenkins Can we use new reporter semantics to help here?

[2018-12-18 17:55] guillaumejenkins commented on #1688
We certainly can, the only challenge will be upgrading existing projects, but depending on how things are implemented right now it could be very easy. I'll take a look after new functions version 1 are done.

[2018-12-18 19:30] CleoQc opened #1749 "`for element` block has rendering issues."
**Describe the bug**
Looking at step 4 of https://makecode.microbit.org/projects/crashy-bird, there's this block:
![mycode](https://user-images.githubusercontent.com/4965628/50177259-84bd6000-02cf-11e9-891e-09b030697699.png)

The green "obstacle" pulldown menu is nowhere to be found but there is an orange variable block called "obstacle".

If I switch the step 4 code into javascript, and copy/past

[2018-12-18 20:54] CleoQc commented on #1740
I would be totally fine if having README.fr.md  was supported.

[2018-12-18 21:47] pelikhan opened #1750 "Reading magnetometer field strength should not require calibration"
We should not calibrate when reading the magnetic field strength.
@finneyj could you confirm?

[2018-12-19 09:19] finneyj commented on #1750
Hi @pelikhan

Ideally, the sensor *should* be calibrated for this, but there are a number of use cases where kids might want to simply get a best effort value and look for relative shifts in field strength e.g. for metal detector etc.

An uncalibrated sensor will give potentially give a very large error in result, and this error will be different from one micro:bit to another (so not deterministic

[2018-12-19 09:45] microbit-mark commented on #1725
micro:bit support:19135
Another user reports this issue

[2018-12-19 11:11] podenphant opened #1751 "console.log block"
I would like a console.log() block in the blocks panel. Maybe under the Basic category?

When debugging or tracking down a bug it would be very helpful if there was a block representing console.log()

Especially when teaching kids to find errors in their own code.

As it is now we can switch to the javascript editor and write the code console.log() which is then represented in the blocks editor.

[2018-12-19 11:30] microbit-mark opened #1752 "Infection project is different on hardware"
microbit-support:19134

**Describe the bug**
https://makecode.microbit.org/projects/infection displays assigned user letters in simulator but not on the device

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/projects/infection'
2. Select JS and copy to makecode or click on makecode link
3. Press A+B in simulator and programme is initiated, showing number

[2018-12-20 17:08] microbit-mark commented on #1311
@ganicke I think there may be another one for Text in Spanish ![20181219 bloques de texto estan en la parte superior superpuestos y no se pueden usar](https://user-images.githubusercontent.com/31242877/50299553-c68a0a00-0479-11e9-941e-1e5741bcaa60.JPG)

[2018-12-20 18:03] MKleinSB opened #1753 "Fold functions"
It would be nice if you could fold functions or a lot of Blocks to only one block to save room,

[2018-12-20 18:20] microbit-carlos commented on #1705
I can confirm this is related to #1631 (DAPLink 0234 and hex files writing to RAM after end-of-file record).

I've taken the original hex and loaded into a 0234 micro:bit, no fail message given, neopixels don't work.
Then, I manually removed the data after the end-of-file record, loaded that hex file and it works fine.
[hex-files.zip](https://github.com/Microsoft/pxt-microbit/files/2700005/hex-fil

[2018-12-21 10:22] microbit-mark opened #1754 "Program throws 042 error on device"
**Describe the bug**
This program runs fine in the simulator but seems to start by setting the game LED and then throw an error.

https://makecode.microbit.org/_0Xm6ELJj7Mqm
[microbit-racing.hex.zip](https://github.com/Microsoft/pxt-microbit/files/2702343/microbit-racing.hex.zip)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/_0Xm6ELJj7Mqm' see/demo prog

[2018-12-21 16:19] martinwork commented on #1754
The first "while" in the forever loop should check length > 0 rather than >=.

But why does it run in the simulator? And what is error 42?

[2018-12-21 19:03] abchatra commented on #1753
Please use feature request template if possible.

[2018-12-21 19:07] abchatra commented on #1754
Simulator runs javascript and when there is out of boundary conditions it won't throw errors (eventhough we try to mimic as much as possible). But the hardware is different and is less tolerant. As @martinwork pointed out bug in the program is causing this.

[2018-12-21 21:32] ganicke commented on #1311
Ah, si es un problema tambien.

I think it might be the format of the **charAt** block.

[2018-12-22 15:46] d-f-booth opened #1760 "Incompatibility of Sonar code and BlueTooth code"
Over the last 3 months I have been helping an 11 year old build a three wheeled buggy which uses the Bitty BlueTooth Controller and an HC-SR04 3V3 sonic detector to avoid wall collisions.  Until two weeks ago this was working very well and the child was very happy.  Then it became almost impossible to use the BlueTooth codes even though the micro:bit and Tablet were paired.

By chance two days ago

[2018-12-24 07:43] nielsswinkels opened #1756 "block renderer does not show multiline comment"
**Describe the bug**
I use the renderer to generate an image of the block-style translation of a bit of javascript. If i have a multi-line comment in it, it gets rendered as a yellow comment block without text.

**To Reproduce**
Steps to reproduce the behavior:
1. Write some code that includes a /* blockcomment */
2. Use the renderer to make it into block
3. The comment is empty

**Expected behavi

[2018-12-24 08:03] kdk945tc opened #1759 "UI bug - can't release a block"
**Describe the bug**
Package:
github.com/DFRobot/pxt-Obloq
UI bug.
Works fine with Makecode V0, failed with V1.
The page dead after dragging out a block.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'makecode.microbit.org' add the package 'github.com/DFRobot/pxt-Obloq '.
2. Click on 'OBLOQ'
3. Scroll down and drag out 'on topic received.....'
4. The block cannot be released.

**Expe

[2018-12-26 07:56] waveshare opened #1757 "round' does not exist on type 'typeof Math'"
Target dir:   /home/ezio/microbit/node_modules/pxt-microbit
  PXT Core dir: /home/ezio/microbit/node_modules/pxt-core
TouchPiano.ts(129,22): error TS2339: Property 'round' does not exist on type 'typeof Math'.
TouchPiano.ts(129,28): error TS2346: Supplied parameters do not match any signature of call target.
TouchPiano.ts(130,22): error TS2339: Property 'round' does not exist on type 'typeof Math'

[2018-12-26 15:28] CleoQc opened #1758 "Our main package "Giggle" is no longer getting served"
Dec 26th and our main package no longer shows up in the search feature.
If you search for Giggle, two extensions should appear but only the the bluetooth one shows up, not the main one.
Last time we changed anything was 2 weeks ago and it was working fine then. The package can be loaded manually but of course clients don't have the direct URL.
I have confirmed with one client that it was working y

[2018-12-27 01:09] abchatra commented on #1760
@pelikhan

[2018-12-27 11:18] hnwangkg-ezio opened #1761 "Install the dependencies of pxt and build it error!"
G:\3.Micro bit\project\pxt>npm install
audited 4796 packages in 7.046s
found 0 vulnerabilities

G:\3.Micro bit\project\pxt>npm run build

[built/web/main.js] cd .; node node_modules/browserify/bin/cmd built/webapp/src/app.js -o built/web/main.js --debug
Error: Cannot find module 'pouchdb/extras/memory' from 'G:\3.Micro bit\project\pxt\built\webapp\src'
    at G:\3.Micro bit\project\pxt\node_module

[2018-12-27 11:19] hnwangkg-ezio commented on #1761
I am running  on Windows 10,

[2018-12-27 12:53] alankrantas commented on #1716
Hi, me again.

I wrote a game in mid-Dec. When I loaded it again a few minutes ago the random blocks show the same problem too.

[microbit-星球防衛者.zip](https://github.com/Microsoft/pxt-microbit/files/2712448/microbit-.zip)

![1](https://user-images.githubusercontent.com/44191076/50480812-2d2e9b00-0a19-11e9-8065-ed450d899c59.jpg)

MakeCode version 1.2.13, Chrome 71.0.3578.98, Win 10.

[2018-12-27 13:16] philipphenkel opened #1762 "Expose message bus listener flags in control.onEvent"
**Is your feature request related to a problem? Please describe.**
Currently, control.onEvent uses MESSAGE_BUS_LISTENER_QUEUE_IF_BUSY by default. Up to 10(?) events are queued. While this is a good default behavior I would like to have more control.

I missed configuration options like DROP_IF_BUSY or IMMEDIATE already several times when working on projects with high time sensitivity. This time I'

[2018-12-27 15:21] CleoQc commented on #1758
@abchatra  Any ETA on this? It's currently rendering our product unusable. Right after Christmas, when many kids got one as a gift. Really bad timing.

[2018-12-27 16:35] linker3000 opened #1763 "Web USB system restart required to make functional (Linux Mint)"
**Describe the bug**
Web USB failed to detect then flash the micro:bit until after the system had been rebooted. Possible bug to resolve, or need to update (Linux) documentation.

**To Reproduce**

1. Confirm firmware is at a supported version (beta program email said 0247, beta testing Web page at https://support.microbit.org/support/solutions/articles/19000084059-beta-testing-web-usb says 0250 -

[2018-12-27 21:22] abchatra commented on #1763
Do you have same connection issue when you try  https://python.microbit.org/v/beta? Click on Flash to activate WebUSB.

If the answer is yes, this should be filed on microbit foundation as the issue is with hardware itself.

[2018-12-27 21:35] abchatra commented on #1758
This is due to throttling by Github as it is limiting the search to first x packages. We are working on resolving the same. I will let you know the ETA when we know how to fix the issue.

[2018-12-27 22:57] CleoQc commented on #1758
Thanks @abchatra
If it's Github throlling that's the issue, would it help if we reverse the order of our two extensions?
The `giggle` extension (which is not appearing right now) is much more important than the `gigglebot` extension.  In fact, the `giggle` extension will automatically load up the `gigglebot` one. What we would lose is the contextual help for the `gigglebot` blocks. Would it work ?

[2018-12-27 23:47] abchatra commented on #1758
@CleoQc this should be back up. Can you check?

[2018-12-27 23:48] abchatra commented on #1758
We haven't checked the root cause of the issue though. So keep an eye at this and let me know how it goes. Sincere apologies.

[2018-12-28 00:00] CleoQc commented on #1758
thank you sincerely for the help on this. Yes it is indeed back up.
However my question remains. If this is going to potentially happen again, which trick can be used to force the system to pick the `giggle` extension instead of the `gigglebot` one?
In fact, this is a question I've been wanting to ask for a while. How can we make sure `giggle`  shows up first (aka the left entry), and then `giggle

[2018-12-28 10:10] hnwangkg-ezio commented on #1761
who can help me

[2018-12-28 11:04] rhubarbdog opened #1764 "The block for blank text looks like space"
**Describe the bug**
How do i distinguish between the blank string and a single space both have text block `" "`
surely not blank should be block `""` and space `" "`

**To Reproduce**
<a href="https://makecode.microbit.org/_96Y6KodfiAuA">these blocks</a> show the problem.

**Expected behavior**
The block for blank should be easier to distinguish from single space. both the microbit and simulator

[2018-12-28 11:42] rhubarbdog opened #1765 "All radio receive blocks are permisive"
**Describe the bug**
All radio receive blocks are permissive, well they assume each others identity \
without warning. Block `radio.onReceivedValue(name, value)` acts as a va\
riant block. It receives messages (19 character), integers, doubles and value, \
number pair blocks as 8 chars preceded by an int 32 or a 8 byte double.
Likewise a `radio.onReceivedString(receivedString)` receives the name p

[2018-12-28 12:04] rhubarbdog opened #1766 "Decimal numbers should display better"
**Describe the bug**
Block `basic.showNumber()` should pretty print floating point numbers.
The simulator shows `99.9` as 99.9 but my microbit shows it as 99.900000000000002

**To Reproduce**
these <a href="https://makecode.microbit.org/_cexdRAU70W0L">blocks</a> and the attached .hex file reflect the problem

[microbit-float_bug.hex.txt](https://github.com/Microsoft/pxt-microbit/files/2714805/micr

[2018-12-28 16:31] rhubarbdog opened #1767 "Text blocks should only accept a limitted range of characters"
**Describe the bug**
Text blocks accept the following keyboard characters `£` and `¬`
i can also enter the degree symbol `°` by entering the unicode 4 digit hexadecimal
both of these cases seem to be handled quite well using an 8bit ascii encoding
when i've pasted this hangul character `갎` and this symbol ` ☂ ` neither seem to be
handled well
**To Reproduce**
The hangul character and symbol were c

[2018-12-28 18:15] Jaqster opened #1768 "Typo in Rock Paper Scissors Tutorial"
In Step 9, the instructions are: "Click the + button again to add an else if section. Now, add a conditional block for hand = 1 to the condition in else if. Since hand can only be 1, 2, or 3, your code is covering all possible cases!"

The condition should be **hand = 2**.  And it's a comparison block they're using.  So I would replace this with "Now, add a comparison block for hand = 2..."

[2018-12-28 18:41] ganicke commented on #1768
Yea, I think @microbit-mark caught this one a while ago:

https://github.com/Microsoft/pxt-microbit/commit/b3be98f04696bec3d1df3ab6d133920ba282e15c#diff-ce5bc0b4e4e2dc3c7bec3ab702dfef61

[2018-12-28 19:43] abchatra commented on #1758
@CleoQc We can remove gigglebot from the list of approved packages and this would let just only giggle package to show up. Dependency will load up correctly always. Do you want to do that?

Order is based on the search results GitHub returns and we have no control on it today. We are working on making it better.

[2018-12-28 19:43] #1758 closed

[2018-12-28 20:02] Jaqster commented on #1486
Ran into this one - tried to Undo adding a Repeat block and it did this:
![undobug](https://user-images.githubusercontent.com/22108954/50526675-707c1e80-0a98-11e9-9ec9-64780ef95fce.PNG)

Redo doesn't fix the issue.

[2018-12-29 00:49] abchatra opened #1769 "Extensions do not have right license"
Following approved extensions don't have right license:

No license:
Seeed-Studio/pxt-grove null
Microsoft/pxt-max6675
mbitfun/pxt-katakana null
chevyng/pxt-ucl-junkrobot null
LaboratoryForPlayfulComputation/pxt-BlockyTalkyBLE null
pizayanz/pxt-linebeacon null
jdarling/pxt-pca9685 null
sparkfun/pxt-weather-bit null
k8robotics/pxt-k8 null
sparkfun/pxt-moto-bit null
sparkfun/pxt-gamer-bit null

Micr

[2018-12-29 00:54] abchatra commented on #1769
[code]

[2018-12-29 01:05] CleoQc commented on #1758
@abchatra
That was the original plan, to have only the `giggle` extension show up. However, most of the blocks are actually in the `gigglebot` extension, and if it's not an official package, then the help (through the right click popup menu) is unreachable.
The structure is that most of the robot blocks are in `gigglebot` and all the blocks that are incompatible with bluetooth get loaded through t

[2018-12-29 16:47] HyperDuino opened #1770 "'Duplicate' in 'more' (gear) options"
There isn't currently a clear way to make a copy of a project.  Suggest adding 'Duplicate project' to the menu of the gear (more) icon:

![image](https://user-images.githubusercontent.com/13832091/50540413-2a7d9400-0b46-11e9-8c07-60ad0a3c2c19.png)

Result would be duplicating the project with the current name + copy.

This would save a lot of time when starting a new project that needed extensions

[2018-12-31 23:08] Jaqster opened #1771 "Update docs to use the reporter blocks (For, For element)"
Need to update the blocks in the documentation to use the red pull-out reporter variable blocks (instead of the drop-down menu).

https://makecode.microbit.org/blocks/loops
https://makecode.microbit.org/blocks/loops/for-of

[2019-01-02 13:35] microbit-mark opened #1772 "Feature: Allow versioning of projects"
microbit-support: 19198

**Is your feature request related to a problem? Please describe.**
When altering a project name and clicking save the exisiting project is overwritten.

![screen recording 2019-01-02 at 01 32 pm](https://user-images.githubusercontent.com/31242877/50594140-414c1f80-0e93-11e9-9dad-a82de0c70103.gif)

**Describe the solution you'd like**
If you want to save different versions

[2019-01-02 17:46] microbit-carlos opened #1774 "Docs: Update accelerometer pitch range"
**Describe the bug**
The documentation for accelerometer/rotation/pitch should be updated.

https://makecode.microbit.org/reference/input/rotation

In v0 pitch used to return values from -90 to 90 degrees, and now in v1 it's from -180 to 180.

More context:
- https://github.com/Microsoft/pxt-microbit/issues/1075
- https://github.com/lancaster-university/microbit-dal/commit/95c1fc7f0515194c3fc93ec1

[2019-01-03 03:27] waveshare opened #1775 "pxt serve ERROR"
ezio@ubuntu:~/ezio/microbit/pxt-microbit$ pxt serve
Using target microbit with build engine yotta
  target: v1.2.17 /home/ezio/ezio/microbit/pxt-microbit
  pxt-core: v4.4.9 /home/ezio/ezio/microbit/pxt
INTERNAL ERROR: TypeError: require.resolve.paths is not a function
    at Object.lazyRequire (/home/ezio/ezio/microbit/pxt/built/nodeutil.js:509:35)
    at requireKeyTar (/home/ezio/ezio/microbit/px

[2019-01-03 08:33] microbit-mark commented on #1770
relates to #1772

[2019-01-03 22:13] abchatra commented on #1769
@microbit-mark @jaustin Is it possible to contact the owners and ask for the right license?

[2019-01-04 18:33] whaleygeek opened #1780 "I2C result code"
**Is your feature request related to a problem? Please describe.**
I want to write a scanner to identify which I2C addresses are available on the I2C bus, to confirm if my device is good.

**Describe the solution you'd like**
I want the last I2C error/ok result code stored in a last_i2c_result variable, so that each call to any I2C routine can then check if the transfer worked or failed

**Describ

[2019-01-07 14:06] microbit-mark opened #1781 "rounding issue when using i2c device"
micro:bit support 19711

**Describe the bug**
 I've been experimenting with an I2C device. I get good comms but when I get a final number and attempt to round to 2dp it does not work on real Microbit, I get 15dp's although on

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/_UwF0sDTLdcgj'
2. See 0.42 in simulator
3. Download to micro:bit
4. see 0.420000000

[2019-01-08 17:08] abchatra commented on #1769
@microbit-mark @jaustin

[2019-01-09 00:53] shallowfoot commented on #1761
any luck resolving this issue?

[2019-01-09 16:04] guillaumejenkins commented on #1761
Have you tried the following?
1. Run `jake clean`
2. Ensure you are on the master branch and run `git pull`
3. Delete your `node_modules` folder and run `npm install` again (after having pulled latest master)
4. Try to build again
5. Alternatively, clone the repo from scratch somewhere else and try installing / building again
6. If this doesn't work, then try removing the space in your `Micro bit`

[2019-01-10 08:13] hnwangkg-ezio commented on #1761
i got it ,is my ubuntu version is too low

[2019-01-11 09:50] microbit-mark opened #1786 "Light level is always set at 255 when output over serial on device"
**Describe the bug**
When outputting light level over serial, the initial level appears as 255, this is not the case in the sim.

**To Reproduce**
Use this code, flash to micro:bit, open serial terminal, press A button, see '255'. Reset micro:bit to confirm
![image](https://user-images.githubusercontent.com/31242877/51026278-0c705480-1586-11e9-955b-bf125088051a.png)

**Expected behavior**
Light le

[2019-01-11 13:24] microbit-matt-hillsdon opened #1787 "Offline app switches to JavaScript when reopening projects"
**Describe the bug**
The offline app switches to JavaScript rather than blocks mode when reopening projects, even if you've never used JavaScript mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Open offline app
2. Create example project (content doesn't matter)
3. Exit offline app
4. Open offline app
5. Re-open the project

**Expected behavior**
Mode to be blocks as per the web version

[2019-01-11 13:31] microbit-matt-hillsdon opened #1788 "Offline app has small initial window size that cuts off tutorials"
**Describe the bug**
The offline MakeCode app always seems to open with an 800x600 window size. If you resize the window it doesn't remember it on restart.

This size cuts off just below the projects list, so a user might not notice that there are tutorials. This is worse on mac where the scrollbar is hidden by default.

As MakeCode benefits from a lot of screen space perhaps it should start maxim

[2019-01-11 15:48] soubsoub commented on #1740
Yes please, add the support. It is important for teaching.

[2019-01-14 09:42] FranklinWhale opened #1792 "Add a method to check if a sprite is deleted"
**Is your feature request related to a problem? Please describe.**
There is currently no method to check whether the sprite referenced by a variable exists in the game engine or not. As a result, an extra variable is required to store such information.

**Describe the solution you'd like**
Add an `isDeleted()` method to the `LedSprite` class that returns `true` when `_enabled` is `false`.

[2019-01-15 09:41] microbit-carlos commented on #1774
Implemented in https://github.com/Microsoft/pxt-microbit/pull/1776, thanks!

[2019-01-15 09:41] #1774 closed

[2019-01-15 13:40] alankrantas commented on #1769
Hello, just saw this so I added the MIT license for https://github.com/jdarling/pxt-pca9685 (pulled request from my forked repository).

[2019-01-15 16:51] nbogie opened #1793 "Generic compilation error when accessing an array of 100 large numbers."
**Describe the bug**

Compiling a program which accesses an array of 100 generally large* integers fails with no detailed error message, only "Compilation failed, please check your code for errors."  * Largest number is 260604669.

A better error message would be useful, if we're hitting a known limitation here.

The issue goes away if we modify the code to use a much larger array (1000) of smalle

[2019-01-15 21:58] CleoQc commented on #1793
build/output says:
`error: main.ts(1,1): error TS9200:   -> Line 66 ('    ldr r1, _ldlit_2      ; WAS: ldlit r1, 184204971'), error: assembly error
   Maybe: ldr   R0-7, [R0-7, #0-124] (expecting [ at '_ldlit_2')
   Maybe: ldr   R0-7, [R0-7, R0-7] (expecting [ at '_ldlit_2')
   Maybe: ldr   R0-7, [pc, #0-1020] (expecting [ at '_ldlit_2')
   Maybe: ldr   R0-7, LABEL (argument out of range or mis-al

[2019-01-17 16:38] ganicke commented on #1771
Hey @riknoll - the replaceable variable type isn't used in the block render for  \`\`\`cards and \`\`\`namespaces. The doc render is using a different block style for these?

Blocks in \`\`\`cards
![image](https://user-images.githubusercontent.com/27789908/51332837-539c9080-1a31-11e9-9fa6-05ab6141fadc.png)

Blocks in \`\`\`blocks

![image](https://user-images.githubusercontent.com/27789908/5133294

[2019-01-17 21:48] JoshuaLowe1002 opened #1795 "The Simulator background pattern is missing"
Hi,

The simulator in Makecode normally has a micro:bit pattern background but it seems to be missing.
Taking a further look into it with the developer tools shows that this file is actually missing.

![image](https://user-images.githubusercontent.com/25752941/51351004-8ed6a800-1aa1-11e9-916f-89bd386e0a28.png)
![image](https://user-images.githubusercontent.com/25752941/51351009-926a2f00-1aa1-11e9-

[2019-01-18 16:40] jaustin opened #1796 "Neopixel errors are not clear"
**Describe the bug**
When a user hasn't first created a 'strip' object, the errors spawned by Neopixel blocks are unclear.

<img width="1142" alt="image" src="https://user-images.githubusercontent.com/147113/51399806-bc256380-1b3e-11e9-9a50-1d645b979b18.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Add the neopixel library
3. Drag one of the blocks that manipu

[2019-01-19 14:49] lwchkg opened #1797 "Opening project with deleted local dependencies crashes MakeCode"
**Describe the bug**
As titled.

**To Reproduce**
Steps to reproduce the behavior:
1. Browse https://makecode.microbit.org/
2. Start a new local extension. (Use sample code in tutorials.)
3. Start a new project. Add blocks that refers that local extension.
4. Delete the local extension.
5. Open the project created in step (2).

**Expected behavior**
The dialog in https://github.com/Microsoft/pxt/p

[2019-01-19 14:50] lwchkg commented on #1797
@riknoll Can you have a look at this? Thanks!

[2019-01-21 10:27] microbit-mark opened #1799 "Feature request: show values on data waveform in console"
micro:bit support: 19882
**Is your feature request related to a problem? Please describe.**
When logging console data in the simulator, it would be useful to show written values on the waves peaks on mouseover.

**Describe the solution you'd like**
on mouseover show the data value eg where the circle is on this image.

![image](https://user-images.githubusercontent.com/31242877/51468450-e9545a80-1

[2019-01-22 06:54] dmosyash opened #1800 "How to create an electron app from pxt-microbit local server"
I have setup a local server for pxt-microbit by following the documentation given at Readme file.
There is one electron folder having 2 files product.json and release.json, but I don't know what to do to create an electron app for windows

[2019-01-22 09:58] jaustin commented on #1536
Any update on this? We'd like to add some links straight into tutorials from microbit.org and can't because of the language thing...

[2019-01-23 09:44] CaptainCredible opened #1802 "ability to send faster Serial / ASYNC on physical pin"
**Is your feature request related to a problem? Please describe.**
Serial transmission over a physical pin is slow, specifically it takes a long time between messages sent. For me personally this creates problems when sending MIDI messages directly to physical synths via a physical pin. It can take 10ms between sending notes which leads to staggered notes when attempting to play a chord, or trigge

[2019-01-23 17:22] abchatra commented on #1759
@riknoll can you please look at this issue

[2019-01-23 18:55] abchatra commented on #1800
This is not a supported feature.

[2019-01-23 18:55] #1800 closed

[2019-01-24 09:32] dmosyash commented on #1800
Hello abchatra,
May I ask what is the use of that electron folder with 2 json files in it in the bundle.

[2019-01-25 01:15] riknoll commented on #1759
Weird bug! I explain what's going on in the PR. This only affects packages using our old radio destructuring mutator; we haven't used that since we upgraded our blocks so we didn't catch it until now.

The good news is that it shouldn't affect any scripts using the old radio blocks because the bug only shows up when dragging a block out of the toolbox (and we hid those from the toolbox)

[2019-01-26 07:04] xuefengedu opened #1803 "Simulator and physical board get different result for idiv"
**Describe the bug**
Simulator and physical board get different result

**To Reproduce**
Run `basic.showNumber(Math.idiv(4.5, 1.5))` in makecode editor javascript tab
Simulator result is 3
micro:bit physical board is 4

**Expected behavior**
Simulator result should be 4 to be same with micro:bit physical board

**Screenshots**

![simulator](https://user-images.githubusercontent.com/40351998/517838

[2019-01-26 07:09] xuefengedu commented on #1803
@riknoll do you know how to fix it?
I saw you done this feature before:
**Issue:**
#1062
**PRs:**
https://github.com/Microsoft/pxt/pull/4592/files
#1072

[2019-01-26 07:44] xuefengedu commented on #1803
I found `idiv` in 3 places about simulator:
https://github.com/Microsoft/pxt/blob/a8485c3bbd6d8c24cc3080c3ca1d6400263ad27a/pxtsim/libgeneric.ts#L212

https://github.com/Microsoft/pxt/blob/46fa060a90f782443d1ac71c61b775b526f79b46/libs/pxt-common/pxt-core.d.ts#L520

https://github.com/Microsoft/pxt/blob/46fa060a90f782443d1ac71c61b775b526f79b46/docs/static/playground/pxt-common/pxt-core.d.js#L520

[2019-01-26 07:46] xuefengedu commented on #1803
It seems this one is the problem one:
**simulator side:**
https://github.com/Microsoft/pxt/blob/a8485c3bbd6d8c24cc3080c3ca1d6400263ad27a/pxtsim/libgeneric.ts#L212

[code]
**core.cpp:**
[code]

[2019-01-26 07:49] xuefengedu commented on #1803
on simulator, `4.5/1.5=3`
on phycial board, `4.5` and `1.5` will convert to int, and become `4` and `1`, then `4/1=4`
so the difference happen.

[2019-01-26 08:20] xuefengedu commented on #1803
let me summarize:
**it converts inputs to integer, then do mul/div operation:**
`Math.imul(4.5, 1.5)` simulator side, result is 4
`Math.imul(4.5, 1.5)` board side, result is 4
`Math.idiv(4.5, 1.5)` board side, result is 4
**it do idiv operation without converting:**
`Math.idiv(4.5, 1.5)` simulator side, result is 3

Fix option 1:
If we want to keep `imul` 's simulator behavior: "it convert inputs

[2019-01-28 18:04] d1runberg opened #1804 "Installing on a Pi to run MakeCode Offline"
Hello,

I got pxt and pxt-microbit installed and runs offline, but am looking to include a couple of hardware (SparkFun motobit / weatherbit) packages to be able to be accessed as well. I have downloaded them and added them to the /lib directory. I am looking for guidance on what .json files need to be updated for these packages to show up?

[2019-01-28 21:10] #1803 closed

[2019-01-29 05:36] xuefengedu commented on #1803
@riknoll thanks for fixing it! do you know when will it affect on makecode.microbit.org? thanks.

[2019-01-29 07:50] microbit-mark opened #1805 "Feature: Allow tutors to hide tutorials from home screen"
micro:bit support: 20306
**Is your feature request related to a problem? Please describe.**
When I set makecode assignments for the students, it's too easy for them to refer to the tutorial code and copy and paste.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Could tutors hide the tutorials in a particular mode.

**Describe alternatives you've c

[2019-01-29 08:36] microbit-mark commented on #1805
Perhaps they mean Projects which link out to the reference docs eg  https://makecode.microbit.org/projects/wallet/code

[2019-01-29 10:05] xuefengedu commented on #1805
I think they mean the first page of http://makecode.microbit.org, it shows new project button and some tutorial buttons there, but when off-line, it cannot download the tutorial.code from internet, so they meet problem when click the tutorial button in offline mode

[2019-01-29 10:09] xuefengedu commented on #1805
@abchatra they can switch to javascript and then they can copy, I just guess. :D

[2019-01-29 11:22] xuefengedu opened #1806 "basic.showNumber(1.14286) shows 1.14 on simulator"
**Describe the bug**
basic.showNumber(1.14286) shows 1.14 on simulator

**To Reproduce**
basic.showNumber(1.14286) in javascript shows 1.14 on simulator

**Expected behavior**
it seems should show 1.14286? or others?

**Screenshots**
None.

**Desktop (please complete the following information):**
 - OS: Win7
 - Browser [chrome]

**Additional context**
https://makecode.microbit.org/#editor

[2019-01-29 11:33] xuefengedu commented on #1806
just see the code right now:
https://github.com/Microsoft/pxt-microbit/blob/master/libs/core/basic.ts#L13

[2019-01-29 18:36] riknoll commented on #1803
It will be in the next release, but I don't know when that will be yet. Hopefully within a few weeks.

[2019-01-30 00:11] xuefengedu commented on #1803
@riknoll thanks for sharing!

[2019-02-01 07:26] Helen09 opened #1808 "There lacks step to make a picture of a paper in tutorial "Rock Paper Scissors""
**Describe the bug**
There lacks step to make a picture of a paper in tutorial "Rock Paper Scissors"

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down and open tutorial "Rock Paper Scissors"
3. Click tutorial steps one by one

**Expected behavior**
There should add one step to make a picture of a paper in the tutorial between step 5 and 6

**Actu

[2019-02-01 10:21] ChrisDorna commented on #1668
Any news about the fix? I still miss the quotations in the downloaded screendumps.

[2019-02-02 07:21] Helen09 opened #1811 "Backing home page, it can't back to location of opened tutorial"
**Describe the bug**
Backing home page, it can't back to location of opened tutorial

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down to "Blocks To JavaScript"
3. Open one tutorial "Starter Blocks"
4. Click "Home" to back to home page again

**Expected behavior**
Backing home page, it should back to location of opened tutorial

**Actual behavior

[2019-02-02 08:29] Helen09 opened #1812 "There is no naming convention for project name"
**Describe the bug**
Backing home page, it can't back to location of opened tutorial

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Home" and input a project name in the text box

**Expected behavior**
There should have a naming convention for project name

**Actual behavior**
There is no naming convention for project name
![issue020202](htt

[2019-02-03 02:19] Helen09 commented on #825
This bug is not repro anymore, please help close.

[2019-02-03 03:34] Helen09 commented on #1710
"Print" function is not supported on Edge now

[2019-02-03 03:38] Helen09 commented on #1711
This issue is only repro on Chrome now

[2019-02-04 08:44] microbit-mark commented on #1799
support ticket: 02430

Another related request to show y-axis for data to show thresholds. eg

![screenshot 2019-02-01 at 9 48 43 am](https://user-images.githubusercontent.com/31242877/52197873-03a73180-2859-11e9-9e79-c62856cd1561.png)

[2019-02-04 08:44] microbit-mark commented on #1799
@abchatra @pelikhan ^

[2019-02-04 16:24] guillaumejenkins opened #1815 "Extension new translations are not automatically downloaded"
We do not automatically update extensions of existing projects, because that might impact or break the project (API no longer exists, behavior changed, etc).

However, this has a negative aspect: if translations are added to the extension, then existing projects will never see them, because they will still be on the previous, untranslated version of the extension. Users will need to create a new p

[2019-02-05 16:53] jonathanhogg opened #1817 "Ability to import a shared tutorial in the same way that a shared project can be"
I am working on designing workshops that involve making objects out of scrap materials and then animating these with micro:bit boards, servos and LEDs. Part of the workshop involves writing simple code for the micro:bit.

It would be great to be able to follow a tutorial structure in the MakeCode editor for producing this code, but the tutorials that this would involve would not be the kind of sta

[2019-02-06 12:40] jonathanhogg opened #1818 "Importing a GitHub shared project from home screen opens in JavaScript editor"
Importing a shared project (*not* an extension) via a GitHub URL opens the MakeCode editor in JavaScript mode with the contents of `main.ts` instead of opening in Blocks mode with `main.blocks`, even if both files are present and included in the `pxt.json` file. This will cause confusion with novice programmers given the URL of a template project to open.

**To Reproduce**
1. Go to https://makecod

[2019-02-06 15:01] microbit-mark commented on #1781
@abchatra can you check this one out?

[2019-02-06 15:10] microbit-mark commented on #1305
More support for this from microbit support ticket: 19904 when will this be available to try in microbit makecode @samelhusseini ?

[2019-02-06 15:17] microbit-mark commented on #1805
I'm not sure of the answer to this, perhaps it's inevitable that if you set assignments based on freely available online projects with walkthroughs of code, students will copy this code.

[2019-02-06 15:19] pelikhan commented on #1805
The plagiarism issue is the same as today where all tutorials are already publically available.
I am looking into this feature.

[2019-02-06 15:55] pelikhan commented on #1817
Do you have an example of such repository?

[2019-02-06 17:44] jonathanhogg commented on #1817
I haven't thought about what one might look like to be honest as I'm not familiar with the MakeCode codebase and what would be easiest to implement.

Perhaps something like a project containing a `pxt.json` file that references a `tutorial.md` file along with whatever additional resources (like images) that are required.

Using the `pxt.json` structure might be a useful way to be able to specify a

[2019-02-06 17:48] jonathanhogg commented on #1817
Ah. I see now that you are already ploughing on with implementing! I'm happy to create an example repo if you have a structure in mind from what you've already done.

[2019-02-06 17:55] pelikhan commented on #1817
All projects have a README.md by default so that is where it will be. See the docs in the PR

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jonathan Hogg <notifications@github.com>
Sent: Wednesday, February 6, 2019 9:48:38 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Comment
Subject: Re: [Microsoft/pxt-microbit] Ability to import a shared tutorial in the s

[2019-02-06 18:03] jonathanhogg commented on #1817
Gotcha!

Could there be a way to open a tutorial URL via the `Import` button? I don't think there's a way to navigate to a specific custom URL from within the iPad micro:bit app, which embeds a browser component to access MakeCode.

In fact, could one just add a flag to the `pxt.json` file like `isTutorial: true` and then import via the normal button?

[2019-02-06 18:49] pelikhan commented on #1817
Right need to think about the import story.

[2019-02-07 01:52] riknoll commented on #1818
Opening in JavaScript is usually the "safer" option because opening a blocks file will immediately overwrite the `main.ts` when the editor saves. We don't decompile when `main.ts` changes unless the user actually goes back to blocks, so the blocks file can get out of sync with the text file if you're editing in Monaco (but not in the other direction).

Normally, we store the last used editor for t

[2019-02-07 01:54] pelikhan commented on #1818
Or if main.blocks is present, we should try to go to blocks with blocks -> js == js

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Richard Knoll <notifications@github.com>
Sent: Wednesday, February 6, 2019 5:52:13 PM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Mention
Subject: Re: [Microsoft/pxt-microbit] Importing a GitHub shared project from home screen op

[2019-02-07 01:54] riknoll commented on #1818
Yeah, that's much easier :smile:

[2019-02-07 10:19] themarkness commented on #1707
I don't see automatic flashing on Mac. If I click download, I get a dialogue asking where I want to download.
![screen recording 2019-02-07 at 10 17 am](https://user-images.githubusercontent.com/1681436/52404732-9ea24480-2ac1-11e9-9ca8-27160c08f3e5.gif)

Can we hide the pairing button in the menu for offline users?

[2019-02-07 11:19] microbit-mark opened #1820 "Feature request: Servo blocks"
microbit-support:20519
"I do like the continuous servo block from the Servo extension as a more intuitive version than the servo write pin code block.

Two requests
1. Can the 0% command be improved to hold the continuous servo steady without a drifting movement. Maybe this is a continuous servo limitation.

2. Can the continuous servo block be better optimized? The continuous servo speed has diff

[2019-02-07 12:57] microbit-mark opened #1821 "Docs: /reference/bluetooth/bluetooth-pairing.md is outdated"
**Describe the bug**
The text and videos [in this page](https://makecode.microbit.org/reference/bluetooth/bluetooth-pairing) relate to a previous pairing process and we want to encourage users to use the official apps and advice here:
https://microbit.org/guide/mobile/
https://support.microbit.org/a/solutions/articles/19000051025
https://support.microbit.org/a/solutions/articles/19000080745

Sugge

[2019-02-07 15:37] microbit-mark opened #1823 "Strange console logs when using serial write"
**Describe the bug**
When using webUSB to output device data, the console view seems to implement multiple graph windows.

![screen recording 2019-02-07 at 03 26 pm](https://user-images.githubusercontent.com/31242877/52422212-8a743c80-2aed-11e9-9cb2-6acdd8d20a59.gif)

**To Reproduce**
Steps to reproduce the behavior:
With a sensor connected to pin0
1. Go to 'https://makecode.microbit.org/_4D2RX5KA

[2019-02-07 17:32] abchatra commented on #1781
Floating point math can't be accurately done in board or simulator. You will see these deviations.

[2019-02-07 17:47] abchatra commented on #1305
We are working on getting this to /beta. ETA next friday.

[2019-02-11 09:22] Helen09 opened #1825 "There is an extra "when" in tutorial "Rock Paper Scissors" 2th step"
**Describe the bug**
There is an extra "when" in tutorial "Rock Paper Scissors" 2th step

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down to "Games" and click "Rock Paper Scissors" to open this tutorial
3. Observe this tutorial's 2th step

**Expected behavior**
The tutorial should be "Add a on shake block to run code when you shake the micro: bi

[2019-02-11 09:26] Helen09 commented on #1825
This issue also repro on https://makecode.microbit.org/projects/rock-paper-scissors
The detail is as below:
![issue21202](https://user-images.githubusercontent.com/23466737/52554565-31c0de80-2e22-11e9-9527-41716664f813.PNG)

[2019-02-11 11:47] microbit-mark commented on #1781
@abchatra can you explain this a bit more? What do you mean by it can't be accurately done?

[2019-02-11 20:42] martinwork commented on #1781
On both simulator and hardware, the result of c * 100 displays as 42 and compares as equal to a.

The problem occurs in toString(),

Try c = 0.123. Simulator says 0.12, hardware says 0.11999999999999999. showNumber does rounding. Using s = d.toString() and showString(s), simulator says 0.123, hardware says 0.122999etc.

[2019-02-12 00:54] riknoll commented on #1636
Fixed by https://github.com/Microsoft/pxt/pull/5277

[2019-02-12 17:51] jaustin opened #1827 "Radio docs: Older APIs discoverable by Google, newer API docs are less clear"
**Describe the bug**
Consider someone making an example that attempts to use the 'received packet <signal strength>' block... They need to know the range of numbers this block is going to return.

The existing docs aren't clear on that:
<img width="360" alt="image" src="https://user-images.githubusercontent.com/147113/52655796-f6d7ad00-2eec-11e9-8cbf-42ab6bd71f60.png">

**To Reproduce**
Steps to r

[2019-02-12 18:08] #1636 closed

[2019-02-13 18:27] abchatra commented on #1827
@ganicke let me know if you need any further information here.

[2019-02-13 21:21] ganicke commented on #1827
Thanks. I'll go through these. It's likely that there are more of these older/original micro:bit ref pages that need some attention too.

[2019-02-14 05:02] abchatra commented on #1827
Fixed. @jaustin please verify

[2019-02-14 05:02] #1827 closed

[2019-02-14 06:48] Helen09 opened #1830 "Toolbox "Arrays" can't be opened and it is empty after switching language to "Sinhala""
**Describe the bug**
Toolbox "Arrays" can't be opened and it is empty after switching language to "Sinhala"

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "More..." -> "Language" -> choose "Sinhala"
3. Click "Advanced" -> "Arrays"

**Expected behavior**
Toolbox "Arrays" should can be opened
![issue021402](https://user-images.githubusercontent

[2019-02-14 07:31] Helen09 opened #1831 ""Support" and "Buy" text is not translated after switching language"
**Describe the bug**
"Support" and "Buy" text is not translated after switching language

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "More..." -> "Language" -> choose "Japanese"
3. Click "Help" -> hover on each items and observe the text

**Expected behavior**
"Support" and "Buy" text should be translated after switching language

**Actual

[2019-02-14 09:04] Helen09 opened #1832 ""Serial" can't be shown completely after switching language to "French""
**Describe the bug**
"Serial" can't be shown completely after switching language to "French"

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "More..." -> "Language" -> choose "French"
3. Click "Advanced" -> observe translated "Serial"

**Expected behavior**
"Serial" should can be shown completely

**Actual behavior**
"Serial" can't be shown co

[2019-02-14 09:24] Helen09 opened #1833 "Toolbox "Text" can't be opened after switching language to "Spanish""
**Describe the bug**
Toolbox "Text" can't be opened after switching language to "Spanish"

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "More..." -> "Language" -> choose "Spanish"
3. Click "Advanced" -> "Text"

**Expected behavior**
Toolbox "Text" should can be opened
![issue021406](https://user-images.githubusercontent.com/23466737/52776726

[2019-02-14 15:00] jaustin commented on #1795
The image looks like it was coming from https://az742082.vo.msecnd.net/pub/psopafpj which got terminated as part of .co.uk. (https://support.microbit.org/support/solutions/articles/19000093355-switching-off-microbit-co-uk-december-31-2018)

@pelikhan and @abchatra is there any reason you weren't serving this image directly?

[2019-02-14 15:13] microbit-rosslowe commented on #1795
Original image:

![psopafpj](https://user-images.githubusercontent.com/30410608/52795902-ac7c3a80-306a-11e9-96f2-37803e7dd6d0.png)

[2019-02-14 18:36] abchatra commented on #1795
@microbit-rosslowe @jaustin Can you share the original image? We should fix this on our end. It probably stale code which was pointing to that location. I searched in the microbit repo and this is the only instance.
If you share the image as is, I will fix the issue on our end.

[2019-02-14 18:43] abchatra commented on #1830
Good catch

[2019-02-15 07:58] Helen09 opened #1834 "Simulator shows not normally when zooming out the page"
**Describe the bug**
Simulator shows not normally when zooming out the page

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Zoom out the window until simulator shows on the left-bottom corner of the page
3. Observe simulator pins

**Expected behavior(Chrome & Firefox)**
Simulator should show normally
![issue21502](https://user-images.githubuserconte

[2019-02-15 08:17] Helen09 opened #1835 "Link "Learn more" is overlapped with the instruction text"
**Describe the bug**
Link "Learn more" is overlapped with the instruction text

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "More..." -> "Extensions"
3. Scroll down to the bottom of the page and observe the last extension

**Expected behavior**
Link "Learn more" should not overlap with the instruction text

**Actual behavior**
Link "Learn m

[2019-02-15 10:05] microbit-mark opened #1836 "Simulator does not load offline (Safari)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Open MakeCode editor in Safari when online.
Go offline and refresh the page
Simulator does not load

**Expected behavior**
Simulator loads as with Chrome

**Screenshots**
![screen recording 2019-02-15 at 10 00 am](https://user-images.githubusercontent.com/31242877/52849495-12b79a80-3109-11e9-9bef-ec60651dbbc

[2019-02-15 12:07] jaustin commented on #1795
@abchatra the image Ross posted is, as far as I can tell, the original image (resolution, format, etc same as psopafpj)

[2019-02-15 12:09] microbit-mark commented on #1795
See https://web.archive.org/web/20181203105726/https://az742082.vo.msecnd.net/pub/psopafpj for an index of it

[2019-02-18 03:06] Helen09 opened #1838 "Link "Learn more" doesn't show after changing the size of text in "Display settings""
**Describe the bug**
Link "Learn more" doesn't show after changing the size of text in "Display settings"

**Steps to reproduce the behavior**
1. Change the size of text, apps and other items to 125% in "Display settings"
2. Navigate to https://makecode.microbit.org/beta#editor
3. Click "More..." -> "Extensions"
4. Scroll down and observe the extension

**Expected behavior**
Link "Learn more" shou

[2019-02-18 07:24] ChrisDorna opened #1839 "Zoomfactor?"
Is there a way to find out which zoomfactor is active? I mean the factor in the editor and not that of the browser.

[2019-02-18 15:43] selmen2004 opened #1840 "Make the whole app a simple html5 app"
can be there a light version of the application that just have html and js files , I mean with no server needed at all  ?
this is helpfull for users with slow computers  and with no internet like here in many schools in Tunisia (many still use windows xp so impossible to talk about nodejs or electron ) where we start teaching robotics and micro:bit for the first year?

[2019-02-18 18:37] abchatra commented on #1840
Unfortunately our editor will not run in windows XP today. Browser technology is too old to support any of the MakeCode features

If you are interested in no internet scenario try out our offline app (This is still pre-release and subject to change a lot)
https://makecode.microbit.org/offline-app
This doesn't require any internet.

Please give feedback on the offline-app when you have used it. Aga

[2019-02-18 18:37] #1840 closed

[2019-02-18 18:38] abchatra commented on #1839
There is no way today.

[2019-02-18 18:38] #1839 closed

[2019-02-18 18:39] abchatra commented on #1839
Use feature request and file a request.

[2019-02-18 22:44] selmen2004 commented on #1840
I've alrea

[2019-02-18 22:48] selmen2004 commented on #1840
I've already found a solution for offline  xp users
using an online machine with google chrome and backing up the whole chrome user data and redistribute it , but that's not excellent idea
I already know about offline app wich only supports 64bit windows ,which is great , but  not what I want
Thanks

[2019-02-19 06:59] ChrisDorna opened #1841 "Show zoom factor"
I often have to make screendumps form the editor (the download screen function still does not work for 100%) and I want to know what zoom factor is active.

Can you please add a functionality on the zoom buttons that indicates the zoom factor. This can be a simple mouseover on the buttons or (more advanced) a slider.

[2019-02-19 15:42] microbit-mark commented on #1799
pinging this one again

[2019-02-19 15:43] microbit-mark commented on #1823
^ @abchatra

[2019-02-19 15:43] microbit-mark commented on #1786
^ @abchatra

[2019-02-19 15:44] microbit-mark commented on #1836
^ @abchatra

[2019-02-19 16:56] rhl2401 commented on #1752
Anyone who have solved this problem?

[2019-02-19 23:03] #1825 closed

[2019-02-20 06:16] Helen09 opened #1843 "There is no tutorial picture on home screen on Windows high contrast mode"
**Describe the bug**
There is no tutorial picture on home screen on Windows high contrast mode

**Steps to reproduce the behavior**
1. Search "Ease of Access high contrast settings" in windows and turn it on
2. Navigate to https://makecode.microbit.org/beta on each browser

**Expected behavior(Edge)**
![issue22001com](https://user-images.githubusercontent.com/23466737/53070196-4afc1600-3519-11e9-8

[2019-02-20 06:32] Helen09 opened #1844 "Page Micro: bit can't refresh on high contrast mode automatically on Chrome & Firefox"
**Describe the bug**
There is no tutorial picture on home screen on Windows high contrast mode

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta on each browser
2. Search "Ease of Access high contrast settings" in windows and turn it on

**Expected behavior(Edge & IE)**
Page Micro: bit can refresh on high contrast mode automatically

**Actual behavior(Chrome &

[2019-02-20 07:06] Helen09 opened #1845 "The published project does not preserve high contrast mode"
**Describe the bug**
The published project does not preserve high contrast mode

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "More..." -> "High Contrast On"
3. Click "Share" -> "Publish project" -> copy this link and open it on a new window

**Expected behavior(Edge & IE)**
The published project should preserve high contrast mode

**Actual

[2019-02-20 08:15] Helen09 opened #1846 "Music blocks tutorial can't be opened on Chrome"
**Describe the bug**
Music blocks tutorial can't be opened on Chrome

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Help" -> "Reference" -> scroll down and click "music"
3. Observe and click "Go back"

**Expected behavior(Edge, Firefox, IE)**
![issue22005](https://user-images.githubusercontent.com/23466737/53076351-6f142300-352a-11e9-8c0b-1f

[2019-02-20 09:11] bittysoftware opened #1847 "Bluetooth UART service needs to allow sending byte array or buffer"
I want to be able to transmit fixed length byte arrays over the Bluetooth UART service. I looked at #274 and #276 and don't see the writeUntil function mentioned there. I'm not sure that's what is needed anyway. Bluetooth is not a serial cable so writing one byte at a time is not suitable.

The DAL contains this function and I'd like it exposed from within MakeCode please:

int send(const uint8_t

[2019-02-20 12:19] martinwork commented on #1847
Yes, Bluetooth UART really needs to send multiple things to get speed. You can use console.log, which has a smaller footprint and the same problem. JavaScript seems to have bluetooth.uartWriteBuffer.

A blocks experiment... https://makecode.microbit.org/_1tW0FhiaxLfK. The MakeCode console in the iOS app seems to be happy receiving this but it's no good over my USB connection.

I think this method

[2019-02-20 12:26] smartyw commented on #1847
Thanks @martinwork .

Surfacing this as a block would be great. And if possible, making the parameter a buffer might make the most sense.

[2019-02-20 12:42] smartyw commented on #1847
There should be no need for a delimiter, either. It should be possible to simply transmit the contents of a  buffer or array of a specified length.

[2019-02-21 01:37] Helen09 commented on #1846
Closed as not repro

[2019-02-21 02:29] Raekt opened #1848 "Implementing a dictionary in typescript"
Is there a built-in dictionary/map data type for ES5 compiler?

[2019-02-21 08:11] Helen09 opened #1849 "Some blocks'text and background luminosity ratio is less than 4.5:1"
**Describe the bug**
Some blocks'text and background luminosity ratio is less than 4.5:1

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Open tool box
3. Verify the luminosity ratio for each block category

**Expected behavior**
Luminosity ratio should be more than 4.5:1

**Actual behavior**
Some blocks'text and background luminosity ratio is less t

[2019-02-21 08:32] Helen09 commented on #922
Tutorial name and background luminosity ratio is less than 4.5:1 on high contrast on mode
![issue2210121](https://user-images.githubusercontent.com/23466737/53154672-43f70580-35f6-11e9-9e5b-60042185068f.PNG)

[2019-02-21 09:24] xuefengedu commented on #1847
In fact, `bluetooth.uartWriteBuffer` already available in javascript, and the block is hidden at present: https://github.com/Microsoft/pxt-microbit/blob/fc73d71d638f54e488a66afcaf6727f9a1da44da/libs/bluetooth/shims.d.ts#L69

javascript example:
[code]

for how to use buffer:

https://github.com/Microsoft/pxt-microbit/blob/master/docs/types/buffer.md

https://github.com/Microsoft/pxt-microbit/blob/

[2019-02-21 09:25] Helen09 commented on #1808
Closed as fixed

[2019-02-21 09:25] #1808 closed

[2019-02-21 09:31] smartyw commented on #1847
Excellent, thank you.

But why is the block hidden?

[2019-02-21 09:38] Helen09 commented on #1832
This issue only repro on Firefox now

[2019-02-21 09:54] xuefengedu commented on #1848
no dict or map at makecode at present.
common types: https://makecode.microbit.org/javascript/types

share a sample to implement by yourself, I don't have time now, might add it in the future if free:
[code]

[2019-02-21 10:27] xuefengedu commented on #1847
ok, not hidden, just not implement yeah.

[2019-02-21 11:11] smartyw commented on #1847
OK, thanks. I can start using the JavaScript function. I hope it will be exposed as a block to make it easier for people though.

[2019-02-21 13:37] martinwork commented on #1847
When I wrote "JavaScript seems to have bluetooth.uartWriteBuffer", I guess I should have typed LOUDER! :)

[2019-02-21 13:43] smartyw commented on #1847
;-)

Yes, well two of you were kind enough to point this out  :-) So, all good.

[2019-02-22 00:39] abchatra opened #1852 "Add offline app to offline documentation."
Microbit offline documentation: https://makecode.microbit.org/offline

Please add information about offline app in the above page. Only Microbit and Mindstorms EV3 has this.
Offline app is here: https://makecode.microbit.org/offline-app

We want to make sure it is prominent and it is a pre-release app at this stage.

[2019-02-22 00:39] abchatra commented on #1852
@pelikhan @Jaqster FYI

[2019-02-22 02:58] pelikhan commented on #1852
CSS looks broken on the offline-app page.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Abhijith Chatra <notifications@github.com>
Sent: Thursday, February 21, 2019 6:39:53 PM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Mention
Subject: Re: [Microsoft/pxt-microbit] Add offline app to offline documentation. (#1852)

@pelikhan<https://nam06.safelinks.protecti

[2019-02-22 04:03] abchatra commented on #1852
Yes we broke it today due to microbit update

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Peli de Halleux <notifications@github.com>
Sent: Thursday, February 21, 2019 6:58 PM
To: Microsoft/pxt-microbit
Cc: Brahma Giri Abhijith Chatra; Author
Subject: Re: [Microsoft/pxt-microbit] Add offline app to offline documentation. (#1852)

CSS looks broken on the offlin

[2019-02-22 09:48] Helen09 commented on #1846
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Help" -> "Reference" -> "Reference" can't be loaded
![issue22006](https://user-images.githubusercontent.com/23466737/53234210-fd72db00-36c9-11e9-934f-c35aae1d9b7e.gif)

[2019-02-23 12:43] dnowba commented on #623
But how if I just want to show one block?  for example, a "input.lightLevel()" block ???

[2019-02-23 13:11] stritti commented on #623
Have a look at https://github.com/stritti/girlsday-einfuehrung-informatik there are some examples.

[2019-02-24 07:40] dnowba commented on #623
I've test it, but it is not working when rendering single Circle Shape Block.

[2019-02-25 08:53] #1846 closed

[2019-02-25 09:04] Helen09 opened #1857 ""Reference" can't load on each browser"
**Describe the bug**
"Reference" can't load

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Help" --> "Reference"

**Expected behavior**
"Reference" should be loaded

**Actual behavior**
"Reference" can't load
![issue22502](https://user-images.githubusercontent.com/23466737/53325499-6e123580-391e-11e9-84d6-e42c655f6cec.gif)

**Additional cont

[2019-02-25 09:53] Helen09 opened #1858 "Some extension help tutorial can't be loaded completely"
**Describe the bug**
Some extension help tutorial can't be loaded completely

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Advanced" -> "Extensions" -> choose extensions to add ( Extensions: "Environment-and-Science-loT", "RingbitCar", "kitronik-motor-driver", "kitronik-servo-lite")
3. Right-click on the blocks to look added blocks' help

*

[2019-02-25 13:29] rhubarbdog opened #1859 "My functions and some variables are being given a suffix"
**Describe the bug**
I had to switch to java editor I noticed that my function names and some vaviables are being given a numerical suffix. My program only has an `on start block` and no blocks which are run in the background or as the result of some interrupt

**To Reproduce**
here's my <a href="https://makecode.microbit.org/_Y4AevqTD8cPM">blocks</a>

**Expected behavior**
I expect variable names

[2019-02-25 18:01] abchatra commented on #1823
@darzu Can you take a look at this?

[2019-02-26 07:58] Helen09 opened #1861 "Hardware simulator doesn't have any response after it's paired with Chrome"
**Describe the bug**
Hardware simulator doesn't have any response after it's paired with Chrome

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor on Chrome
2. Click "More..." -> "Pair device" to pair a hardware (Pair hardware successfully)
3. Drag a "show icon" block and put it under block "forever"
4. Click "Download" and observe the hardware simulator

[2019-02-26 08:57] stritti commented on #623
in my environment it works fin. Have a look on this (German) slide: https://stritti.github.io/girlsday-einfuehrung-informatik/#/Blocks-Variablen
associated sources: https://github.com/stritti/girlsday-einfuehrung-informatik/blob/a65e4e2460b1e09ad24e05c339d464175bf5985f/src/index.html#L483

Maybe you could provide a source example.

[2019-02-26 09:24] Helen09 opened #1862 "Tutorial "Micro Chat" can't run successfully on beta"
**Describe the bug**
Tutorial "Micro Chat" can't run successfully on beta

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta
2. Open tutorial "Micro Chat" and drag blocks as tutorial
3. Click button "A" on simulator to run this project

**Expected behavior (on live site)**
![issue22602](https://user-images.githubusercontent.com/23466737/53401541-f5c57600-39ea-11

[2019-02-26 10:27] Helen09 opened #1863 ""Snap the dot" sprite doesn't move on Micro: bit hardware"
**Describe the bug**
 "Snap the dot" sprite doesn't move on Micro: bit hardware

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta
2. Open tutorial "Snap the dot" in "Games" and drag blocks as tutorial
3. Click "Download" and copy this .hex file to hardware

**Expected behavior (on live site)**
![issue22603](https://user-images.githubusercontent.com/23466737/534

[2019-02-26 11:37] FranklinWhale opened #1882 "compileBlockAsync is broken by changes made in #5256"
**Describe the bug**
The changes made in Microsoft/pxt#5256 require variables be tracked in the `idToScope` map of the `Environment` before block-to-typescript compilation. However, `trackVariables` is only called in `trackAllVariables` which is further only called in `compileWorkspace`. The `Environment` made during `compileBlockAsync` never tracks variables and compilation fails when the blocks

[2019-02-26 14:51] FranklinWhale opened #1883 "Variable may be re-declared after conversions between block and script"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/beta (which has PXT 5.5.13)
2. Switch to JavaScript
3. Paste the code below to the editor
[code]
4. Switch to block
5. Switch back to JavaScript
6. Repeat Step 1 to 5 on https://makecode.microbit.org/ (which has PXT 4.4.7)

**Expected behavior**
The JavaScript is unchanged after the mode switches

**Screenshot

[2019-02-26 17:32] FranklinWhale opened #1881 "Use of variable declared by for-loop may break conversions between blocks and script"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/beta (which has PXT 5.5.13)
2. Switch to JavaScript
3. Paste the code below to the editor
[code]
4. Switch to Blocks
5. Switch back to JavaScript
6. Repeat Step 1 to 5 on https://makecode.microbit.org/ (which has PXT 4.4.7)

**Expected behavior**
Conversions between Blocks and JavaScript should be successful.

[2019-02-26 19:07] jaustin commented on #1827
Thanks both, this looks fixed to me now! 👍

[2019-02-26 23:17] bosnivan opened #1864 "Optional string array in custom block shows as array with 3 empty read-only circles"
Optional string array in custom block shows as array with 3 empty read-only circles.

It's related to this extension:
https://github.com/bosnivan/pxt-wifibit

This function/block is problematic:

This is how it looks like in MakeCode block editor:
![microbit-screenshot](https://user-images.githubusercontent.com/27815255/53453147-ac454d00-3a23-11e9-9a8e-ed36cea38ae5.png)

Two same blocks are shown.

[2019-02-26 23:20] pelikhan commented on #1864
@riknoll what do we do with arrays in optional parameters?

[2019-02-27 06:02] FranklinWhale opened #1880 "'getTopBlocks' of null error when converting script to blocks"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/beta (which has PXT 5.5.13)
2. Switch to JavaScript
3. Paste the code below to the editor
[code]
4. Switch to Blocks
5. Replace the content in the script editor with the code below
[code]
6. Switch to Blocks
7. Repeat Step 1 to 6 on https://makecode.microbit.org/ (which has PXT 4.4.7)

**Expected behavior**
Th

[2019-02-27 06:13] FranklinWhale opened #1879 "Function with a parameter of type Function or a union type cannot be converted to blocks"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/beta (which has PXT 5.5.13)
2. Switch to JavaScript
3. Paste the code below to the editor, replacing all existing script if any
[code]
4. Switch to Blocks
5. Switch back to JavaScript
6. Repeat Step 1 to 5, except using the code below for Step 3
[code]
7. Repeat Step 1 to 6 on https://makecode.microbit.org/ (w

[2019-02-27 06:24] Helen09 opened #1865 ""Karel the LED" doesn't run on hardware"
**Describe the bug**
"Karel the LED" doesn't run on hardware

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/projects/karel copy this project
2. Navigate to https://makecode.microbit.org/beta#editor and switch to "JavaScript" and paste this project
3. Click "Download" and copy this .hex file to hardware

**Expected behavior (on live site)**
"Karel the LED" should

[2019-02-27 06:28] FranklinWhale opened #1878 "Error after function with an optional parameter is converted to blocks"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/beta (which has PXT 5.5.13)
2. Switch to JavaScript
3. Paste the code below to the editor
[code]
4. Switch to Blocks
5. Switch back to JavaScript
6. Repeat Step 1 to 5 on https://makecode.microbit.org/ (which has PXT 4.4.7)

**Expected behavior**
Conversions between blocks and script should be successful.

**S

[2019-02-27 06:39] Helen09 opened #1866 ""Crashy Bird" show errors when switching to "Blocks" and can't run on hardware"
**Describe the bug**
"Crashy Bird" show errors when switching to "Blocks" and can't run on hardware

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/projects/crashy-bird copy this project
2. Navigate to https://makecode.microbit.org/beta#editor and switch to "JavaScript" and paste this project
3. Click "Blocks" and observe
4. Download "Crashy Bird" and copy .hex fi

[2019-02-27 06:59] Helen09 opened #1867 "The second simulator doesn't show when running "Multi Dice""
**Describe the bug**
The second simulator doesn't show when running "Multi Dice"

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta
2. Scroll down to "Radio Games" and open tutorial "Multi Dice"
3. Drag blocks as tutorial and click shake button to run this project

**Expected behavior (on live site)**
![issue227002compare](https://user-images.githubusercontent.c

[2019-02-27 08:42] xuefengedu opened #1868 "[pxt.json:1.3.1] see many error in chrome console in today's beta portal"
**Describe the bug**
[pxt.json:1.3.1] see many error in chrome console in today's beta portal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/beta#editor
2. The page is always loading and see below error in chrome console

[code]

**Expected behavior**
It should load the editor page successfully.

**Screenshots**
always loading:
![always loading](https://u

[2019-02-27 09:25] Helen09 opened #1869 ""Slow-Mo" can't be enabled"
**Describe the bug**
"Slow-Mo" can't be enabled

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Drag "show number" and "show string" and put it under block "forever"
3. Click "Slow-Mo" and observe blocks

**Expected behavior (on live site)**
"Slow-Mo" should be enabled
![issue227003com](https://user-images.githubusercontent.com/23466737/53479718-9af

[2019-02-27 10:01] Helen09 commented on #1866
"Micro: coin" also can't switch from "JavaScript" to "Blocks" on beta

[2019-02-27 10:03] microbit-mark opened #1870 "Feature: is_gesture block equivalent"
micro:bit support: 18728

**Is your feature request related to a problem? Please describe.**
 You can detect whether button is pressed using either the event handler 'on button A' or by reading whether the logical value of 'button A is pressed' is true.
You can also detect a gesture using e.g. `on shake’.  But I can’t find a way to read a corresponding logical value to see if the micro:bit is shak

[2019-02-27 13:10] bestony opened #1871 "Where can i download the whole Project at makecode.microbit.org?"
Hi， I use MicroSoft Make Code, And I found the explorer, and here are many Typescripe Code.

Where can i download the source code?

For Version Control and compile local.

![image](https://user-images.githubusercontent.com/13283837/53492465-eb32db80-3ad3-11e9-9a3e-8868eeeab09b.png)

[2019-02-27 16:21] pelikhan commented on #1859
This issue is fixed in beta.

[2019-02-27 16:21] #1859 closed

[2019-02-27 16:22] pelikhan commented on #1847
We don't expose buffer API in blocks as they are no block to manipulate them.

[2019-02-27 16:22] #1847 closed

[2019-02-27 16:23] smartyw commented on #1847
Ok, thanks for explaining. At least I discovered there are suitable JavaScript APIs.

[2019-02-27 16:38] pelikhan commented on #1871
You can run ```pxt extract yourhexfile.hex``` to extract the files. See https://makecode.microbit.org/cli

[2019-02-27 16:38] #1871 closed

[2019-02-27 18:03] jaustin opened #1874 "Expose display rotation from DAL to JS/Blocks"
**Is your feature request related to a problem? Please describe.**

I'd like to demonstrate to a student how an accelerometer in a phone allows the phone to know which way around the display should be drawn (IE if the display is in portrait or landscape).

In MakeCode at the moment we have 'logo up' and 'logo down' events, but using these to rotate the display requires a user to draw images upside

[2019-02-27 18:10] darzu opened #1875 "WebUSB download doesn't work on /beta"
**Describe the bug**
I can "successfully" pair my device (firmware 0250; no error), but when I download a program it downloads a hex file to my computer instead of uploading it to the device like I would expect.

![usb-pair-not-working](https://user-images.githubusercontent.com/6453828/53512404-8ba6e280-3a77-11e9-87ee-0756c8a6f496.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ma

[2019-02-27 19:17] riknoll commented on #1848
In the beta editor, we now support the "any" type in TypeScript which allows for the behavior you want.

[code]

Currently, we don't support the usual TypeScript syntax for these types of data structures:

[code]

@mmoskal this should be simple to add right? Just a typechecker bug

[2019-02-27 19:29] riknoll opened #1876 "Decompiler doesn't handle indexers on non-arrays"
The following code decompiles, but causes and exception when loaded into Blockly:

[code]

The XML is here:

[code]

Looks like its trying to create an array block with a string indexer when it should just produce a grey block

[2019-02-27 19:39] riknoll commented on #1864
I don't think we do anything special, but I'll double check. I'm not sure I understand the desired behavior though? Seems like adding an array shadow block is the correct thing to do

[2019-02-27 20:15] mmoskal commented on #1848
Right, should be simple - fix a check the emitter

[2019-02-27 21:49] pelikhan commented on #1786
You need to add a new line other you are going to get 12312312312312321321...

[2019-02-27 22:01] #1683 closed

[2019-02-27 23:35] #1848 closed

[2019-02-27 23:49] pelikhan commented on #1820
I consoluted with @DaveAtKitronik from KitRonik which helped a lot about getting insights on this (Dave mentionned a guide brewing on the topic).

(1) Continuous servos are subject to drifting. Essentially, the output of the servo is somewhat proportional to the input voltage and there is no feedback mechanism to calibrate. So as your battery voltage level varies, the servo will start to get drift

[2019-02-27 23:57] pelikhan commented on #1820
![image](https://user-images.githubusercontent.com/4175913/53531592-65e60180-3aa8-11e9-8484-320355d85665.png)

[2019-02-27 23:57] pelikhan commented on #1820
@ganicke could you do a pass on docs afterwards?

[2019-02-28 00:03] pelikhan commented on #1820
https://github.com/Microsoft/pxt-common-packages/pull/720

[2019-02-28 00:22] mmoskal commented on #1848
btw, note that this does linear lookup, which isn't ever going to be a problem on microbit with it's 3k of RAM but might be a problem on a bigger devices.

[2019-02-28 00:34] riknoll commented on #1880
We can't support union types in blocks, but the string array should be fine. Looks like the `arg_reporter_custom` block is setting its output check to `string[]` when it should include `Array` to match what we do in blocklyLoader. I'll see if there's a way to fix this in pxt and not Blockly...

[2019-02-28 01:05] #1881 closed

[2019-02-28 01:10] FranklinWhale commented on #1880
Regarding union type, the behavior of PXT 4.4.7 is acceptable, where the function with union type is converted to a grey block.

[2019-02-28 01:12] riknoll commented on #1880
Yeah, sorry, I should have been more clear in my comment. My plan is to restore that behavior (grey block for types not supported in blocks) and fix the type check for array types.

[2019-02-28 02:59] xuefengedu commented on #1868
Fixed now, just close it.

[2019-02-28 02:59] #1868 closed

[2019-02-28 03:03] xuefengedu commented on #1852
it seems this issue has fixed and completed.

[2019-02-28 05:48] #1867 closed

[2019-02-28 06:25] lionyhw opened #1886 "How to extend the package from the offline app without internet connection?"
How to extendthe package from the offline app without internet connection?

[2019-02-28 07:37] Helen09 opened #1887 "The code and block doesn't unify in "red-light-green-light" tutorial"
**Describe the bug**
The code and block doesn't unify in "red-light-green-light" tutorial

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/projects/red-light-green-light
2. Scroll down to "Movement check" and observe

**Expected behavior**
The code and block should unify

**Actual behavior**
The code and block doesn't unify in "red-light-green-light" tutorial
![228

[2019-02-28 09:25] Helen09 opened #1888 "Code converting issue on "Hack Your Headphones""
**Describe the bug**
Code converting issue on "Hack Your Headphones"

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/projects/red-light-green-light
2. Copy the code to https://makecode.microbit.org/beta#editor JavaScript content pane
3. Click "Blocks" to switch to blocks mode and observe

**Expected behavior**
![image](https://user-images.githubusercontent.com/234

[2019-02-28 11:11] martinwork commented on #1786
@microbit-mark try this: https://makecode.microbit.org/_Wej7H3hCv147
Light level seems to read 255 at first. A read and small delay in on start gives it time to settle.

[2019-02-28 11:58] jaustin opened #1889 "Firefox fonts incorrect on macOS external displays"
When using MakeCode on macOS (10.14.3) in Firefox (65.0.1) I get poorly rendered fonts when the window is on an external display:

This compares Firefox, Safari and Chrome on the external display (in that order top-to-bottom):
![image](https://user-images.githubusercontent.com/147113/53564647-61285880-3b4f-11e9-9f1f-56dcf0079a59.png)

Here are the same three windows on a Retina display, Firefox is

[2019-02-28 12:58] microbit-mark commented on #1786
That would work @martinwork, but it's not intuitive. @pelikhan is it the case that we have to trigger an initial reading of the light-level to read a true value on an event like a button press?

[2019-02-28 13:54] pelikhan commented on #1786
Went parse numbers line by line, serial write number does not introduce a lien so digits pile up

[2019-02-28 15:22] pelikhan commented on #1786
By design. You need a new line to guarantee correc tparing.

[2019-02-28 15:22] martinwork commented on #1786
I wrote a C++ sample which sends time (ms) and light level data. The data below, collected with TeraTerm, shows that the reading from MicroBitDisplay::readLightLevel takes about 80ms to settle after the first read.

The first read only creates the light sensor, ready to start reading from the 3 LED channels one at a time, synchronised with the display. The value is an average of the channels. You

[2019-02-28 15:23] microbit-mark commented on #1382
micro:bit support: 20898
More users reporting this issue

[2019-02-28 15:25] pelikhan commented on #1786
We could handle first read differently but i fell this is really a DAL issue.

[2019-02-28 15:29] #1786 closed

[2019-02-28 15:29] pelikhan commented on #1786
@microbit-mark @martinwork opened a DAL issue on this: https://github.com/lancaster-university/microbit-dal/issues/426

[2019-02-28 16:19] pelikhan commented on #1888
This looks correct.

[2019-02-28 16:19] #1888 closed

[2019-02-28 16:20] pelikhan commented on #1886
@lionyhw could you give more details about your request?

[2019-02-28 16:23] pelikhan commented on #1861
No repro. Please add screen recording.

[2019-02-28 16:23] #1861 closed

[2019-02-28 16:24] pelikhan commented on #1857
This issue was due to the cloud compilatoin service being down. Now fixed.

[2019-02-28 16:24] #1857 closed

[2019-02-28 16:25] #1852 closed

[2019-02-28 16:25] pelikhan commented on #1845
High contrast is a browser local mode and is not persisted in the project sources. By Design.

[2019-02-28 16:25] #1845 closed

[2019-02-28 16:28] pelikhan commented on #1832
Fixed.

[2019-02-28 16:28] #1832 closed

[2019-02-28 16:29] pelikhan commented on #1831
This is just a missing translation.

[2019-02-28 16:29] #1831 closed

[2019-02-28 16:33] pelikhan commented on #1821
@microbit-mark where are the Windows instructions?

[2019-02-28 16:35] pelikhan commented on #1838
By design, there isn't enough space to display the link.

[2019-02-28 16:36] pelikhan commented on #1835
We need to trim the description as needed.

[2019-02-28 16:44] pelikhan commented on #1833
The translation of charAt changed the order of arguments and uses the % notation.

[2019-02-28 18:59] pelikhan commented on #1865
This script uses the microbit Image object. Remove all reference to that object removes the hard crash.

[2019-03-01 01:31] lionyhw commented on #1886
Now I have downloaded the offline app and installed it, and then I cut off my internet,
![](https://i.imgur.com/57GY4zm.png)
 I want to extend the package into the project, but it shows I failed to connect the internet and appears to be offline.
![](https://i.imgur.com/EFYNmxB.png)
I found the "packages" in the files of offline app, will it do any favor to extend the package?
![](https://i.imgur.c

[2019-03-01 01:40] lionyhw commented on #1886
@pelikhan Looking forward to your reply!

[2019-03-01 02:12] Helen09 commented on #1861
@pelikhan This bug is dupli with https://github.com/Microsoft/pxt-microbit/issues/1875, it is also repro on Chrome on Windows

[2019-03-01 02:42] darzu commented on #1875
I've believe I've got the root cause. Working on a fix now. This was blocking my work on https://github.com/Microsoft/pxt-microbit/issues/1823

[2019-03-01 03:34] pelikhan commented on #1861
I see. I did not understand the description.

[2019-03-01 03:46] pelikhan commented on #1886
This is not supported yet. Could you explain further your scenario?

[2019-03-01 04:05] lionyhw commented on #1886
The students in the classroom have no access to the internet, how can we do to help the students to extend the package in this condition?

[2019-03-01 04:58] pelikhan commented on #1886
What packages are you missing?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Lion.yan <notifications@github.com>
Sent: Thursday, February 28, 2019 8:05:20 PM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Mention
Subject: Re: [Microsoft/pxt-microbit] How to extend the package from the offline app without internet connection? (#1886)

The students in the classr

[2019-03-01 05:43] lionyhw commented on #1886
Look，I want to extend the package "Tinkercademy" and "Ring:bit car " , but the only way to achieve is to download through the internet connection.
 ![](https://i.imgur.com/zrh6ocS.png)
But how can I do to extend these two packages to the offline App without the Internet connection?
 ![](https://i.imgur.com/OL7A90b.png)

[2019-03-01 06:41] Helen09 commented on #1831
@pelikhan Will this issue be fixed?

[2019-03-01 06:49] Helen09 commented on #1838
Closed as by design

[2019-03-01 06:50] #1838 closed

[2019-03-01 07:04] Helen09 commented on #1888
@pelikhan When converting to "Blocks", all results turn to "Middle C"
![issue0301](https://user-images.githubusercontent.com/23466737/53621980-53e49a00-3c33-11e9-9201-04ce4c348950.PNG)

[2019-03-01 08:25] Helen09 opened #1891 ""My Projects" disappears when hovering on high contrast mode"
**Describe the bug**
The code and block doesn't unify in "red-light-green-light" tutorial

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "More..." -> "High contrast on" to switch to high contrast mode
3. Click "Home" to back to home page and hover on "My Projects"

**Expected behavior**
"My Projects" should not disappear when hovering on it

[2019-03-01 11:02] martinwork opened #1892 "In the iOS app host, could the More... gear menu enable "Connect to micro:bit"?"
**Is your feature request related to a problem? Please describe.**

The iOS micro:bit app features BLE connection to micro:bit to forward UART and HF2 to the MakeCode console (TestFlight builds 1.8.0 and 1.8.1).

The menu entries for "Connect to micro:bit" and "Disconnect from micro:bit" (shown when connected) are on a menu accessed via a long-press on the top-left back button. A hidden UI is not

[2019-03-01 12:15] martinwork opened #1893 "Console will not receive data until a Download has been performed"
**Is your feature request related to a problem? Please describe.**

When MakeCode has just been launched in the browser (Windows, Chrome), the console USB/serial connection is not opened until a Download is performed.

If I have a micro:bit which is already sending data or ready to send data from RAM on a button press, MakeCode will not receive it.

**Describe the solution you'd like**

Is it poss

[2019-03-01 16:56] #1875 closed

[2019-03-01 17:09] #1823 closed

[2019-03-01 20:48] adiazulay opened #1895 "Pull-up/Pull-down block does not work as expected"
**Describe the bug**
Using the Pull-up/pull-down block with an analog read does not seem to have an effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a pull-down block and select Pin10
2. Add an analog read block and read Pin10
3. Print that reading to Serial.
4. Reading will read around 551

**Expected behavior**
The reading in this case should be 0

**Desktop (please complete the

[2019-03-02 00:28] darzu opened #1896 "Home page has laggy scrolling on Safari"
**Describe the bug**
The home page of makecode microbit has very laggy scrolling even on high end hardware. It's not laggy on Chrome and some screen sizes on Safari are not laggy.

**To Reproduce**
Steps to reproduce the behavior:
1. makecode.microbit.org/beta
2. Scroll around the page, notice it is laggy
3. If it's not laggy, try resizing the browser a few times, it should be laggy at some sizes

[2019-03-02 00:36] darzu opened #1897 "NeoPixels don't render in simulator on Safari and are buggy on Chrome"
**Describe the bug**
Neopixel strips don't render properly on Safari and are a little less buggy in Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Go to makecode.microbit.org/beta (broken in non-beta too)
2. Create a new project
3. Add the "Neopixel" package
4. Add these blocks:
![image](https://user-images.githubusercontent.com/6453828/53673942-7da3be00-3c3f-11e9-8527-ccee5527c89b.p

[2019-03-02 00:49] darzu commented on #755
![block-comments-dont-render-right-safari](https://user-images.githubusercontent.com/6453828/53674313-e8ee8f80-3c41-11e9-9d5a-af4423a37df4.gif)

Another example of probably the same issue.

[2019-03-02 20:53] darzu opened #1898 "Exiting tutorial loses user's code"
**Describe the bug**
When exiting a tutorial, the user is brought back to the home screen instead of a new project with the tutorial blocks they placed.

**To Reproduce**
Steps to reproduce the behavior:
1. microbit.makecode.com/beta
2. click "flashing heart" tutorial
3. place some blocks
4. click the "exit tutorial" button
5. notice you're on the home screen

**Expected behavior**
the tutorial bl

[2019-03-02 21:09] darzu opened #1899 "Audio blocks aren't producing sound on Safari"
**Describe the bug**
Playing notes doesn't produce audio from the browser on Safari

**To Reproduce**
Steps to reproduce the behavior:
0. On Safari,
1. Open a new project at makecode.microbit.com/beta
2. Add "Play tone Middle C for 1 beat" in "forever" loop
3. Notice that no audio is produced regardless of the mute/unmute state of the simulator

**Expected behavior**
There should be audio. The aud

[2019-03-02 22:08] pelikhan commented on #1899
It might be that webaudio requires one user interfaction (click) to get started./

[2019-03-04 07:12] rhubarbdog commented on #1859
When will this be released to makecode.microbit.html

[2019-03-04 07:45] Helen09 opened #1900 "All “ring tone” under "if...else if..." is "Middle C""
**Describe the bug**
All “ring tone” under "if...else if..." is "Middle C"

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/projects/hack-your-headphones/code
2. Copy the code to https://makecode.microbit.org/beta#editor JavaScript content pane
3. Click "Blocks" to switch to blocks mode and observe

**Expected behavior**
“ring tone” under different "if...else if...

[2019-03-04 18:12] martinwork opened #1901 "Home page projects scrolling can jump too far and skip a project"
**Describe the bug**
On the Home page, the right chevron button can cause the projects carousel to scroll too far such that one or more projects are skipped.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/beta'
2. Observe which projects are the 4th and 5th on "My Projects"
2. Resize the browser window so that the right chevron button overlaps the 3rd pro

[2019-03-05 14:21] nielsswinkels opened #1902 "function written in beta editor is gone in normal editor"
**Describe the bug**
I made a program using the /beta block editor, and added a function (no parameters). Then I shared the code by publishing it, but if you follow that link it opens in the normal editor and the function is gone. Instead a strange empty block is shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to this link https://makecode.microbit.org/78974-98199-25421-27348
2. pr

[2019-03-05 15:37] microbit-mark commented on #1799
Added enhancement label. Is this something we can add in @abchatra? It would be good to get back to the users.

[2019-03-05 15:40] abchatra commented on #1799
We already show the data time if you hover over.

[2019-03-05 15:44] microbit-mark commented on #1799
Do you have ann example? I don't see anything on hover

![screen recording 2019-03-05 at 03 42 pm](https://user-images.githubusercontent.com/31242877/53817526-82c57d80-3f5d-11e9-8e6f-6fb995dc3e3d.gif)

[2019-03-05 15:50] abchatra commented on #1799
Can you share your code?

Try following it shows the tooltips on hover.
[code]

[2019-03-05 15:57] microbit-mark commented on #1799
I still don't see waveform data on hover using that code. If I run that and go to console view then pause the console and mouseover the peaks and troughs (as in above gif) should I be seeing values? Tried in Chrome and Firefox on mac

[2019-03-05 15:59] darzu commented on #1898
Repros on Chrome as well

[2019-03-05 16:44] microbit-mark commented on #1799
On windows chrome I see the values as i hover, so maybe this is an OS bug
![screen recording 2019-03-05 at 04 43 pm](https://user-images.githubusercontent.com/31242877/53821514-dc31aa80-3f65-11e9-9af8-e7852eaa92f9.gif)

[2019-03-05 16:47] stritti opened #1903 "Tutorials not translated to DE (beta)"
**Describe the bug**
I think the content of tutorial description isn't loaded language specific.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/beta?liveforcelang=de'
2. Click on 'Blinkendes Herz' (Section'Anleitungen')

**Expected behavior**
The popup dialog of tutorial and the banner navigation (see screenshot) should be in German.
The translations hav

[2019-03-05 16:48] pelikhan commented on #1903
Are the translation validated?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Stephan Strittmatter <notifications@github.com>
Sent: Tuesday, March 5, 2019 8:47:35 AM
To: Microsoft/pxt-microbit
Cc: Subscribed
Subject: [Microsoft/pxt-microbit] Tutorials not translated to DE (beta) (#1903)

Describe the bug
I think the content of tutorial description isn't loaded l

[2019-03-05 16:50] microbit-mark commented on #1899
Not sure if it's changed since this post, https://webkit.org/blog/7734/auto-play-policy-changes-for-macos/ but from the safari developers "Websites should assume any use of <video> or <audio> requires a user gesture click to play. "

In chrome web audio isnt affected by the policy
"By default, the Web Audio API is not currently affected by the autoplay policy. To enable the autoplay policy for Web

[2019-03-05 17:01] stritti commented on #1903
Is validation required on https://makecode.microbit.org/beta?liveforcelang=de
I thought it is especially to preview translation almost live.

[2019-03-05 22:43] abchatra commented on #1902
Yes, functions in /beta will not work in live editor. We don't support upward mobility. But functions written in live will always work in /beta.

[2019-03-05 22:43] #1902 closed

[2019-03-05 22:43] abchatra commented on #1902
This is because underlying structure of functions have changed in /beta

[2019-03-06 05:53] abchatra commented on #1898
I believe this is per design. If you are exiting the tutorial, likely you are going to want to try another tutorial. Compared to finishing tutorial we drop in the editor, so you can start something else.

[2019-03-06 07:54] Helen09 opened #1904 "Error shows when converting "radio dashboard" code from "JavaScript" to "Blocks""
**Describe the bug**
Error shows when converting "radio dashboard" code from "JavaScript" to "Blocks"

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/examples/radio-dashboard
2. Copy the code to https://makecode.microbit.org/beta#editor JavaScript content pane
3. Click "Blocks" to switch to blocks mode and observe

**Expected behavior**
There should not show error

[2019-03-06 09:22] Helen09 opened #1905 "Error shows when converting "Micro: Coin" code from "JavaScript" to "Blocks""
**Describe the bug**
Error shows when converting "Micro: Coin" code from "JavaScript" to "Blocks"

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/projects/micro-coin
2. Copy the code to https://makecode.microbit.org/beta#editor JavaScript content pane
3. Click "Blocks" to switch to blocks mode and observe

**Expected behavior**
There should not show error when con

[2019-03-07 08:23] #825 closed

[2019-03-07 09:56] Helen09 commented on #962
Closed as fixed

[2019-03-07 09:56] #962 closed

[2019-03-07 10:24] Helen09 commented on #1833
This bug repro on Edge(44.17763.1.0) and Firefox(65.0.2)

[2019-03-07 18:45] abchatra commented on #681
Fixed

[2019-03-07 18:45] #681 closed

[2019-03-07 18:46] abchatra commented on #689
Fixed in makecode.microbit.org/beta

return semantics are not supported yet. I will file a separate issue for the same.

[2019-03-07 18:46] #689 closed

[2019-03-07 18:49] abchatra commented on #644
Closing P3 as won't fix.

[2019-03-07 18:49] #644 closed

[2019-03-07 18:50] abchatra commented on #757
Closing P3 as won't fix.

[2019-03-07 18:50] #757 closed

[2019-03-07 18:50] abchatra commented on #1001
Closing P3 as won't fix.

[2019-03-07 18:50] #1001 closed

[2019-03-07 19:02] abchatra commented on #726
This should be fixed in new editor. Please validate and let us know.

[2019-03-07 19:02] #726 closed

[2019-03-07 19:04] abchatra commented on #740
Valid feedback, not fixing for backward compat  anytime soon. Closing this as won't fix.

[2019-03-07 19:04] #740 closed

[2019-03-07 19:09] abchatra commented on #754
Fixed

[2019-03-07 19:09] #754 closed

[2019-03-07 19:14] abchatra commented on #767
There is serial.readBuffer(length) as a workaround.

[2019-03-07 19:14] #767 closed

[2019-03-07 19:15] abchatra commented on #785
Verified in Chrome. Fixed .

[2019-03-07 19:15] #785 closed

[2019-03-07 19:19] abchatra commented on #792
@riknoll @pelikhan  Is the fix easy here?
I am assuming this bug is at multiple places when someone refers instance methods.

[2019-03-07 19:24] pelikhan commented on #792
It's probably broken for all instance methods.

[2019-03-07 19:30] abchatra commented on #801
New block cancels the old one and not bocking. This is an existing behavior for last two versions of editor. It is quite debatable if this is the right behavior.

Not intending to change the behavior, otherwise, it will break existing programs.

[2019-03-07 19:30] #801 closed

[2019-03-07 19:31] abchatra commented on #815
This are browser bugs. If you allow always, it will open from next time.  Closing as Can't fix

[2019-03-07 19:31] #815 closed

[2019-03-07 19:39] abchatra commented on #826
Z-axis issue. Still repros.

[2019-03-07 20:30] ganicke commented on #792
Also depends on convention (or the lack of convention) for classes within or without a namespace to path to the doc: _./namespace/class/method.md_ versus the usual _./namespace/method.md_. Some docs for class methods are subfoldered (is that a word?) under the class name after the namespace in their doc tree.

[2019-03-07 22:24] abchatra commented on #1057
Won't fix

[2019-03-07 22:24] #1057 closed

[2019-03-07 23:47] abchatra commented on #1770
Fixed in beta.

[2019-03-07 23:47] #1770 closed

[2019-03-07 23:48] abchatra commented on #1772
We don't plan to add this feature in near future. Wont' fix.

[2019-03-07 23:48] #1772 closed

[2019-03-07 23:54] abchatra commented on #1751
Serial.writeLine is same as console.log which is already available in microbit.

[2019-03-07 23:54] #1751 closed

[2019-03-07 23:55] abchatra commented on #1742
This is external, dal  issue

[2019-03-07 23:55] #1742 closed

[2019-03-08 01:27] Helen09 commented on #785
@abchatra  This bug still repro on IE(11.316.17763.0) & Edge(44.17763.1.0)

[2019-03-08 01:55] Helen09 opened #1906 "Guide link on the left of the page disappears when navigating to a project directly"
**Describe the bug**
Guide link on the left of the page disappears when navigating to a project directly

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/projects/love-meter
2. Observe the guide link on the left of the page

**Expected behavior(IE, Chrome)**
Guide link on the left of the page should be complete
![image](https://user-images.githubusercontent.com/234

[2019-03-08 02:23] darzu commented on #1898
So there's no way to get rid of the "tutorial mode" while still keeping whatever code you've written? It seems like we'd want a way for users that go "off rail" to be able to keep whatever they've built. Imagine a user gets inspired during with a project during the middle of a tutorial and builds a big program that's not what the tutorial wants. They should be able to keep that somehow.

I feel li

[2019-03-08 02:47] darzu commented on #1899
Interesting. I tried hitting mute and unmute and it didn't help, but maybe since the sim is in a separate iframe I need to interact with that. I'll try that out.

[2019-03-08 02:48] abchatra commented on #1898
If you finish the tutorial, your code will be kept and you will be in the editor.

[2019-03-08 02:48] abchatra commented on #1898
Only exit tutorial gets you back to home screen.

[2019-03-08 03:22] Helen09 commented on #1862
Closed as fixed

[2019-03-08 03:22] #1862 closed

[2019-03-08 04:37] kiate opened #1907 "Unable to find extension in offline app"
**Describe the bug**
I managed to install and run the newly released [Makecode offline](https://makecode.microbit.org/offline-app) but I couldn't find "reromicro" through its extension search. I still can add it in via github URL "[https://github.com/rerokit/pxt-reromicro](https://github.com/rerokit/pxt-reromicro)" though. The strange part is that other third-party extensions, eg: hummingbird-bit

[2019-03-08 08:04] Helen09 opened #1908 ""Turtle" code only run about 1 minute on hardware and reset button doesn't work on hardware"
**Describe the bug**
 "Turtle" code only run about 1 minute on hardware and reset button doesn't work on hardware

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/projects/turtle
2. Copy "Spiral" or "Scanner" code to https://makecode.microbit.org/beta#editor (JavaScript editor)
2. Download each example code and copy code to hardware
2. Observe hardware about 1 minu

[2019-03-08 16:34] jaustin commented on #1631
@mmoskal it would be good to progress this as there are a lot of 0234 micro:bits out there and in use. There are some specific and popular resources that suffer this issue, and the user experience is just 'it doesn't work'. unexpectedly.

[2019-03-08 19:57] darzu commented on #1898
Right, but I think would should be friendly to users who go off the rails. If someone is on step 3 of 10 and decide they don't want to finish the tutorial but want to keep their code, they need a way to do so IMO.

[2019-03-09 15:06] rharbird commented on #1765
Like @rhubarbdog, I too am experiencing problems with this feature. I am trying to use several name, value pairs for reporting waterflow in ml for a sink in a bathroom :

"this-use-ml" : number
"average-use-ml": number
"total-use-ml": number

I have found that the block radio.onReceivedValue(name, value) does not behave correctly.  I have tried using:

-  3 separate if statements to parse the pack

[2019-03-11 08:14] johan-gorter commented on #1863
I have the same issue. My micro:bit does show the first two moves, but the 'bounce off the wall' instruction seems to make it crash.

[2019-03-11 22:23] #1880 closed

[2019-03-11 22:23] #1878 closed

[2019-03-11 22:23] #1879 closed

[2019-03-12 00:19] pelikhan commented on #1901
Martin could you add a screen recording?

[2019-03-12 00:20] pelikhan commented on #1899
Is this a regression? We should have a visual indicator that a note is being played anyway.

[2019-03-12 00:20] pelikhan commented on #1897
The zoomed neopixel view has been broken for a while.

[2019-03-12 00:22] pelikhan commented on #1896
We do implement the IntersectionObserver . It looks like it is supported in the latest build? https://caniuse.com/#search=intersectionobserver

[2019-03-12 00:39] #1795 closed

[2019-03-12 00:57] martinwork commented on #1901
![scroll](https://user-images.githubusercontent.com/989126/54167472-b6267180-4461-11e9-8558-37e9504c8861.gif)

[2019-03-12 01:02] #1749 closed

[2019-03-12 01:07] #1887 closed

[2019-03-12 09:28] Helen09 opened #1914 "Documentation link is too close to the border-left on IE"
**Describe the bug**
Documentation link is too close to the border-left on IE

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Help" -> "Reference" ->  click link on top-right corner to open documentation in new tab
3. Observe the documentation link on left

**Expected behavior**
![Issuecompare312](https://user-images.githubusercontent.com/234

[2019-03-12 17:27] FranklinWhale opened #1915 "any type and typeof operator"
**Describe the bug**
In PXT 4.4, both `any` and `typeof` are disallowed with error shown if used.
![image](https://user-images.githubusercontent.com/8416067/54221637-e2f48a80-452e-11e9-8047-80e0f4e370e3.png)
In PXT 5.5, no error is displayed on the JavaScript editor but the code does not run.
![image](https://user-images.githubusercontent.com/8416067/54221776-1d5e2780-452f-11e9-84b2-34d131795214.p

[2019-03-12 17:52] FranklinWhale commented on #1915
It appears that `any` type is now supported in PXT 5.5 because the code below works fine:
[code]

[2019-03-12 17:56] darzu commented on #1836
Do we know if this is a regression, or if this never worked in Safari?

[2019-03-12 18:09] FranklinWhale opened #1916 "Cast to class or interface"
**Describe the bug**
In PXT 4.4, cast to class or interface is not supported.
![image](https://user-images.githubusercontent.com/8416067/54224544-b3488100-4534-11e9-92d8-5f35cfbe3db1.png)
In PXT 5.5, no error is displayed on the JavaScript editor but the code does not run.
![image](https://user-images.githubusercontent.com/8416067/54224577-c52a2400-4534-11e9-9bc0-646102d338da.png)
![image](https:/

[2019-03-12 18:17] abchatra commented on #1836
Not sure, might not have worked ever

[2019-03-12 22:13] #1883 closed

[2019-03-13 07:16] Helen09 opened #1917 "Dialog still shows "Project has no name" after inputting a new name"
**Describe the bug**
Dialog still shows "Project has no name" after inputting a new name

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/beta#editor
2. Click "Micro: bit" or "Home"
3. Input a new project name in the text box and observe

**Expected behavior**
Dialog should show "Project has new name" after inputting a new name

**Actual behavior**
Dialog still sho

[2019-03-14 06:41] abchatra commented on #1917
This is by design.

[2019-03-14 06:41] #1917 closed

[2019-03-14 06:42] abchatra commented on #1908
@Helen09 Does this work on the live site?

[2019-03-14 19:58] martinwork opened #1919 "Could Show console buttons be included in the portrait simulator view?"
**Is your feature request related to a problem? Please describe.**

When the browser window has a portrait aspect ratio, there are no "Show console" buttons.

This is the case for all browsers on all platforms but is particularly relevant for tablets and phones.

**Describe the solution you'd like**

Could buttons be added?

**Describe alternatives you've considered**

[2019-03-14 20:28] martinwork opened #1920 "Simulator console treats UART data differently from serial data and device console"
**Describe the bug**
On the simulator console display, UART text is prefixed "UART Write: " and the graph doesn't show traces for CSV data channels as it does for serial data and for the same data on the device console.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://makecode.microbit.org/beta'
2. Click on 'New project'
3. Enter this javascript program
let text = "1,2,3"
bluet

[2019-03-14 21:35] riknoll commented on #1915
Yep, `any` is supported now! See https://makecode.com/language

`typeof` should also be supported so this looks like a real bug.

[2019-03-14 21:39] riknoll commented on #1915
Works on hardware, I'll add sim support

[2019-03-14 21:50] abchatra commented on #1195
Fixed by script manager in /beta

[2019-03-14 21:50] #1195 closed

[2019-03-14 21:51] abchatra commented on #1129
@tballmsft still relevant?

[2019-03-14 21:53] abchatra commented on #1162
Try /beta and if you still is the issue please reopen. We have new GC system in place for memory issues.

[2019-03-14 21:53] #1162 closed

[2019-03-14 21:53] #1700 closed

[2019-03-14 21:56] abchatra commented on #1214
If this still an issue please reopen.

[2019-03-14 21:56] #1214 closed

[2019-03-14 22:00] abchatra commented on #1224
Zero beats per second doesn't makes no sense. So 4 is just a starting point, even that is low. This is intentional.

[2019-03-14 22:00] #1224 closed

[2019-03-14 22:06] abchatra commented on #1243
Not relevant

[2019-03-14 22:06] #1243 closed

[2019-03-14 22:09] abchatra commented on #1261
This requires a fix in the extension.

[2019-03-14 22:09] #1261 closed

[2019-03-14 22:13] riknoll commented on #1916
This is the expected behavior, but we should probably have a better error in the simulator. The error thrown on hardware is 984 (invalid cast).

See https://makecode.com/js/errorcodes

[2019-03-14 22:13] abchatra commented on #1272
No repro in the wild.

[2019-03-14 22:13] #1272 closed

[2019-03-14 22:14] abchatra commented on #1278
Should be fixed now.

[2019-03-14 22:14] #1278 closed

[2019-03-14 22:16] abchatra commented on #1295
@darzu can you take look and see if this is still a case in Firefox on Safari?

[2019-03-14 22:17] abchatra commented on #1305
Script manager is live in /beta.

[2019-03-14 22:17] #1305 closed

[2019-03-14 22:18] abchatra commented on #1306
This is by design and not planning to change.

[2019-03-14 22:18] #1306 closed

[2019-03-14 22:31] abchatra commented on #1368
By design today. We are looking into overhauling the system some point of future.

[2019-03-14 22:31] #1368 closed

[2019-03-14 22:33] abchatra commented on #1374
Not seen in the wild. Closing for now.

[2019-03-14 22:33] #1374 closed

[2019-03-14 22:52] abchatra commented on #1477
Fixed

[2019-03-14 22:52] #1477 closed

[2019-03-14 23:00] #1522 closed

[2019-03-14 23:04] abchatra commented on #1553
Fixed, script manager live in /beta.

[2019-03-14 23:04] #1553 closed

[2019-03-14 23:04] #1558 closed

[2019-03-14 23:10] abchatra commented on #1572
Can't fix

[2019-03-14 23:10] #1572 closed

[2019-03-14 23:13] abchatra commented on #1578
fixed in beta

[2019-03-14 23:13] #1578 closed

[2019-03-14 23:28] abchatra commented on #1596
Looks to be fixed. If not let me know.

[2019-03-14 23:28] #1596 closed

[2019-03-14 23:31] #1600 closed

[2019-03-14 23:34] #1623 closed

[2019-03-14 23:35] abchatra commented on #1624
Link not working.

[2019-03-14 23:35] #1624 closed

[2019-03-14 23:40] abchatra commented on #1670
Fixed the docs

[2019-03-14 23:40] #1670 closed

[2019-03-14 23:41] abchatra commented on #1672
We don't support winrt anymore.

[2019-03-14 23:41] #1672 closed

[2019-03-14 23:42] abchatra commented on #1673
If this is still relevant please reopen with a short repro.

[2019-03-14 23:42] #1673 closed

[2019-03-14 23:57] #1915 closed

[2019-03-15 00:19] riknoll commented on #1724
Fixed by https://github.com/Microsoft/pxt/pull/5330

[2019-03-15 00:19] #1724 closed

[2019-03-15 00:19] #1737 closed

[2019-03-15 01:49] Helen09 commented on #1908
@abchatra This bug doesn't repro on live site

[2019-03-15 03:26] Helen09 opened #1921 "A sprite shows on simulator after deleting "Spiral" or "Scanner" code"
**Describe the bug**
A sprite shows on simulator after deleting "Spiral" or "Scanner" code

**Steps to reproduce the behavior**
1. Navigate to https://makecode.microbit.org/projects/turtle
2. Copy "Spiral" or "Scanner" code to https://makecode.microbit.org/beta#editor (JavaScript editor)
3. Click "Advanced" -> "Extensions" -> add extension "microturtle"
4. Delete code on JavaScript content pane an

[2019-03-15 03:31] abchatra commented on #1674
Won't fix P3

[2019-03-15 03:31] #1674 closed

[2019-03-15 04:09] DoraLC opened #1922 "ring tone note changed to middle C when changing the language to TC"
**Describe the bug**
ring tone note changed to middle C when changing the language to traditional Chinese.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://makecode.microbit.org/_Pb8JqhRYHLaK
2. Check that the note should be middle A. Download the code
3. Create a new project, change language to traditional Chinese.
4. Import the code, the note changed to middle C

**Expected be

[2019-03-15 04:23] abchatra commented on #1688
@riknoll we should probably address this in this release.

[2019-03-15 04:24] #1691 closed

[2019-03-15 04:26] abchatra commented on #1696
Fixed in /beta

[2019-03-15 04:28] abchatra commented on #1697
fixed

[2019-03-15 04:28] #1697 closed

[2019-03-15 04:30] abchatra commented on #1705
Dupe of https://github.com/Microsoft/pxt-microbit/issues/1631

[2019-03-15 04:30] #1705 closed

[2019-03-15 04:34] abchatra commented on #1709
Can we remove this from IE if it doesn't work?

[2019-03-15 04:39] abchatra commented on #1696
Repros still on Edge

[2019-03-15 04:40] abchatra commented on #1710
Bug still repros

[2019-03-15 04:43] abchatra commented on #1716
Fixed

[2019-03-15 04:43] #1716 closed

[2019-03-15 04:44] #1721 closed

[2019-03-15 04:46] abchatra commented on #1722
We don't take bugs for experiments in this repo. They need to be part of the feedback issue on PXT (SEe here https://github.com/Microsoft/pxt/issues/4739)

[2019-03-15 04:46] #1722 closed

[2019-03-15 04:48] #1750 closed

[2019-03-15 04:52] abchatra commented on #1752
@pelikhan

[2019-03-15 04:55] #1754 closed

[2019-03-15 04:55] #1757 closed

[2019-03-15 05:26] abchatra commented on #1759
Fixed in /beta. Please validate.

[2019-03-15 05:26] #1759 closed

[2019-03-15 05:27] #1761 closed

[2019-03-15 05:29] #1763 closed

[2019-03-15 05:33] abchatra commented on #1764
If you double click on the string block it will show the spaces or not

[2019-03-15 05:39] abchatra commented on #1765
I am not sure we can filter on the other side on exactly what is received. @pelikhan do you know?

[2019-03-15 05:42] abchatra commented on #1766
Closing as duplicate of https://github.com/Microsoft/pxt-microbit/issues/1781

[2019-03-15 05:42] #1766 closed

[2019-03-15 05:43] abchatra commented on #1768
fixed

[2019-03-15 05:43] #1768 closed

[2019-03-15 05:46] #1775 closed

[2019-03-15 05:51] #1804 closed

[2019-03-15 05:52] #1805 closed

[2019-03-15 05:53] abchatra commented on #1806
We round to 2 digits, otherwise it is very hard to see the scrolling number

[2019-03-15 05:53] #1806 closed

[2019-03-15 05:56] abchatra commented on #1811
P3 won't fix

[2019-03-15 05:56] #1811 closed

[2019-03-15 05:56] abchatra commented on #1812
P3 won't fix

[2019-03-15 05:56] #1812 closed

[2019-03-15 05:58] abchatra commented on #1817
Custom tutorial implemented. Keeping this alive for import story.

[2019-03-15 06:02] abchatra commented on #1820
Fixed

[2019-03-15 06:02] #1820 closed

[2019-03-15 06:03] abchatra commented on #1821
@ganicke help please.

[2019-03-15 06:25] abchatra commented on #1865
Good catch @Helen09

[2019-03-15 06:34] abchatra commented on #1882
@riknoll can you articulate the impact of this?

[2019-03-15 06:36] abchatra commented on #1886
The request the way I understand it. If they had the local github repo of the extension, can they somehow load it as an extension.

[2019-03-15 06:38] abchatra commented on #1893
This doesn't repro with WebUSB. Data is received if it was already paired.

[2019-03-15 06:39] abchatra commented on #1895
@adiazulay can you please share your code?

[2019-03-15 06:41] abchatra commented on #1898
Intent might be try another tutorial. It is hard to argue either way. Also code saved as a project in the project list.

I am inclined to close this as by design.

[2019-03-15 06:43] abchatra commented on #1900
@Helen09 does this repro in live?

[2019-03-15 06:43] FranklinWhale commented on #1882
A quick fix to this issue appears to append the code below to https://github.com/Microsoft/pxt/blob/master/pxtblocks/blocklycompiler.ts#L1522

[code]

[2019-03-15 06:48] abchatra commented on #1914
This is P3 and wont' fx

[2019-03-15 06:48] #1914 closed

[2019-03-15 06:52] abchatra commented on #1922
Likely related to https://github.com/Microsoft/pxt-microbit/issues/1900

[2019-03-15 08:32] rharbird commented on #1765
Many internet protocols parse packets received based on a value for packet type in the header. Is this a possible approach?

Rae

[2019-03-15 09:08] lionyhw commented on #1886
Yes. You understanding is correct.
One computer is off-line. I copy the "makecode for micro:bit off-line app" to this computer by USB drive,but I can't extend any packages on this app when my computer is offline. So I want to try load local github repo. Will it works? If it don't work, is there any solutions?

[2019-03-15 09:35] martinwork commented on #1893
There is no problem with this via Bluetooth in the iOS app, so long as micro:bit remains paired with the iOS device, because the iOS app has a menu entry to initiate the connection.

I thought it was OK with USB too when this was first reported to me.

I am testing with USB and Chrome on Windows, which I can pair with micro:bit and directly download.

Maybe I am misunderstanding "WebUSB".  Perhaps

[2019-03-15 10:11] darzu commented on #1898
Ah I didn't notice this. That's good enough IMO

[2019-03-15 14:09] pelikhan commented on #1922
Diplicate of 1900

[2019-03-15 14:09] #1922 closed

[2019-03-15 18:19] ganicke commented on #1820
Docs addressed in: https://github.com/Microsoft/pxt-common-packages/pull/722 and #1890.

[2019-03-15 18:24] ganicke commented on #1821
Sure, I'll help "re-pair" the page.

[2019-03-15 21:11] ganicke commented on #1903
The `v1` [Flashing Heart](https://crowdin.com/translate/kindscript/990/en-de) tutorial isn't fully translated to German yet in Crowdin:

![image](https://user-images.githubusercontent.com/27789908/54462078-c2ddea80-472b-11e9-9350-13745892b469.png)

[2019-03-15 23:40] abchatra commented on #1898
by desgin

[2019-03-15 23:40] #1898 closed

[2019-03-16 21:46] stritti commented on #1903
I was Shure I had translated it. Hm. Sorry for confusion. I translated it now and will check on Monday if it is visible on editor.

[2019-03-17 07:38] houcy opened #1925 "403 error and deploy error"
I've cloned the pxt, pxt-common-packages, pxt-microbit projects and successfully built them. Then I run "pxt serve" to start the webserver.

I can visit the webpage by below link in which x.x.x.x is a public server IP :
http://x.x.x.x:3232/#local_token=dab997-07d9-48ba-7278-622217654a&wsport=3233

But when clicking the download button to save the program, below error happened in browser console:

[2019-03-18 07:44] stritti commented on #1903
I have update the translations yesterday, but they are still missing in **beta**:

https://crowdin.com/translate/kindscript/990/en-de ->
![image](https://user-images.githubusercontent.com/184547/54514141-9c9d9200-4959-11e9-9a90-e1eeb4dc3d17.png)

https://makecode.microbit.org/beta?liveforcelang=de ->
![image](https://user-images.githubusercontent.com/184547/54514084-6fe97a80-4959-11e9-81cf-771fa6f

[2019-03-18 09:12] darzu commented on #1295
Safari is reporting as Safari
Firefox is reporting as Safari "Browser: safari 10 on mac"

I'll fix that.

[2019-03-18 10:05] lionyhw opened #1926 "offline app -- change language"
**Describe the bug**
When language is changed in blocks page, the page always switches to JS page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'block page'
2. Click on 'more - language' button
3. The page change to JS page.
4. See error

**Desktop (please complete the following information):**
 - OS: [Windows 10 Enterprise]
 - offline app Version [1.2.13]

[2019-03-18 13:41] #1295 closed

[2019-03-18 14:58] #1560 closed

[2019-03-18 15:51] abchatra commented on #1925
local serve only localhost is supported. Public IP is not supported.

[2019-03-18 16:20] abchatra commented on #1232
@ganicke Is this a documentation issue or product issue? Do you know?

[2019-03-18 16:34] abchatra commented on #1869
@gushuro can you take look at this issue?

[2019-03-18 16:38] gushuro commented on #1869
Seems fixed for me in Beta.
Could you verify?

[2019-03-18 17:46] ganicke commented on #1232
Seems the embedded sim doesn't load in a document when an extension (package) is necessary. The sim frame needs to know about what's in the ``package`` tag from hosting page. In this case it's the `turtle` extension. This is a "doc system" bug.

[2019-03-19 01:48] Helen09 commented on #1869
@gushuro I have verified this bug, it still repros on each browser
![Issue31901](https://user-images.githubusercontent.com/23466737/54574665-1ef68680-4a2c-11e9-8fab-240f00ccd7fe.gif)

[2019-03-19 02:06] abchatra commented on #1869
I can also reproduce on safari

[2019-03-19 03:28] houcy commented on #1925
Thanks, I've fixed this error.

[2019-03-19 04:05] #1925 closed

[2019-03-19 09:38] microbit-mark opened #1927 "MakeCode crashes in iOS"
micro:bit support: 20094

**Describe the bug**
User reports multiple crashes of MakeCode in when using the micro:bit app on iOS, making it frustrating to use in classroom situations.

**To Reproduce**
Steps to reproduce the behavior:
I've not found a consistent reproducer yet, but for example, trying to remove a variable block caused MakeCode to freeze for me.
![IMG_0010](https://user-images.githu

[2019-03-19 11:16] martinwork commented on #1927
Thanks @microbit-mark . The iOS app hasn't crashed. I can't spot anything helpful in the iOS logs.

I can make it freeze in Safari too (iPad Air, iOS 11.4.1), by creating an array of text and trying to rearrange the items (no neopixels required). I post a screenshot.

[2019-03-19 11:19] martinwork commented on #1927
![IMG_0196](https://user-images.githubusercontent.com/989126/54602169-d72a2c00-4a38-11e9-94be-d228e5b7e89b.png)

[2019-03-19 11:32] martinwork commented on #1927
I can't make it freeze in macOS Safari or Windows Chrome.

[2019-03-19 14:05] martinwork commented on #1927
It can freeze while moving a simple variable or text block. I get the impression that it is much easier to freeze with a small block. Testing in Safari with MakeCode beta.

![IMG_0198](https://user-images.githubusercontent.com/989126/54611878-b91bf600-4a4f-11e9-8b64-46b402419e11.png)

[2019-03-19 14:15] microbit-mark opened #1928 "TODO's left in JS reference"
User reports reference is incomplete for led.unplot()
https://twitter.com/NedtheYak/status/1107016905179561985

**To recreate**
1. Open https://makecode.microbit.org/_a2JAm5aWeFWV
2. Hover over values, see TODO in tooltip

**Expected result**
Should read "a decimal number" as with blocks
![Screenshot 2019-03-19 at 15 43 44](https://user-images.githubusercontent.com/31242877/54620260-d2c43a00-4a5d-

[2019-03-19 15:42] microbit-mark commented on #1927
@abchatra see comments. This reproduces in iOS Safari as well as in the app. Building an array seems to be a good reproducer

[2019-03-19 16:11] adiazulay commented on #1895
@abchatra here is the .hex file I generate from MakeCode.
[PullDownNotWorking.zip](https://github.com/Microsoft/pxt-microbit/files/2984342/PullDownNotWorking.zip)

Also here are the MakeCode blocks https://makecode.microbit.org/_Mw3bCpcpkVHE

[2019-03-19 17:20] martinwork commented on #1895
The specified pull mode is only actually set on the pin when in digital read (and pulse or event modes,  I think), but is not changed by using analogue read. So adding a digital read to the on start block will have an effect on the analogue values read in the forever block.

[2019-03-20 20:16] ryanteck opened #1929 "setRxBufferSize Missing"
**Is your feature request related to a problem? Please describe.**
The serial buffer has a default of 20 characters set, for many applications more than 20 are required. It seems to be there in some parts of the library but not accessible.

**Describe the solution you'd like**
Implementation of the stRxBufferSize function with a block & JS  / Typescript

**Describe alternatives you've considered**

[2019-03-20 20:40] AmedeeBulle commented on #1929
I second this request.

The `serial.onDataReceived()` event handler and `serial.readUntil()`  function are currently unusable when you have lines with more than 20 characters (you will get truncated lines at best).

A workaround is to constantly poll the serial with `serial.readString()` is a separate fiber, but it is not very practical (and you can easily miss characters)

[2019-03-20 21:58] bosnivan commented on #1929
I third this request. Have same problems.

[2019-03-21 06:16] andybatey commented on #1929
+1 this request.  This issue limits my usage model.

[2019-03-21 11:24] microbit-mark commented on #1927
User has tested again and managed to retrieve the crash report. Image is of program that triggered this
[com.apple.WebKit.WebContent-2019-03-18-143647.crash.zip](https://github.com/Microsoft/pxt-microbit/files/2991777/com.apple.WebKit.WebContent-2019-03-18-143647.crash.zip)
![IMG_0004](https://user-images.githubusercontent.com/31242877/54749200-bfcf7800-4bcb-11e9-91bb-b3d04fc1fb59.PNG)

[2019-03-21 15:33] pelikhan commented on #1870
Available in /beta

[2019-03-21 15:33] #1870 closed

[2019-03-21 15:34] pelikhan commented on #1869
Fixed /beta

[2019-03-21 15:34] #1869 closed

[2019-03-21 15:36] pelikhan commented on #1903
The strings are translated but not validated so they don't show up. Are you a proofreader?

[2019-03-21 15:46] pelikhan commented on #1929
This function is in /beta.

[2019-03-21 15:46] #1929 closed

[2019-03-21 16:01] pelikhan opened #1932 "WebUSB fails to upload in /beta"
Try to pair then download to device.

[2019-03-21 16:02] pelikhan commented on #1866
Shorter repro:
[code]

[2019-03-21 16:06] pelikhan commented on #1908
This bug is probably a duplicate of https://github.com/Microsoft/pxt-microbit/issues/1865 (uses a mutable image)

[2019-03-21 16:06] pelikhan commented on #1866
This bug is probably a duplicate of https://github.com/Microsoft/pxt-microbit/issues/1865 (uses a mutable image)

[2019-03-21 16:07] pelikhan commented on #1863
This bug is probably a duplicate of https://github.com/Microsoft/pxt-microbit/issues/1865 (uses a mutable image)

All games are broken on /beta right now.

[2019-03-21 16:13] pelikhan commented on #1709
https://github.com/Microsoft/pxt/pull/5378

[2019-03-21 16:20] pelikhan commented on #1654
We do have a good default block to populate the shadow of an array parameter.

[2019-03-21 16:27] pelikhan commented on #1629
Fixed in /beta
![image](https://user-images.githubusercontent.com/4175913/54768044-9c043600-4bbb-11e9-95bd-8922c3564ffc.png)

[2019-03-21 16:27] #1629 closed

[2019-03-21 16:44] pelikhan commented on #1830
The issue is that built-in translations are not piped through our translation validator (and the translation is wrong).

[2019-03-21 16:53] #1830 closed

[2019-03-21 16:54] abchatra commented on #1830
Hmm. Someone needs to fix the translation. Why is this issue closed?

[2019-03-21 16:55] pelikhan commented on #1830
I fixed the translation.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Abhijith Chatra <notifications@github.com>
Sent: Thursday, March 21, 2019 9:54:30 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; State change
Subject: Re: [Microsoft/pxt-microbit] Toolbox "Arrays" can't be opened and it is empty after switching language to "Sinhala" (#1830)

Hmm. Someone

[2019-03-21 16:55] abchatra commented on #1830
Thanks peli. You are awesome.

[2019-03-21 16:57] pelikhan commented on #1921
By design, the turtle library is still referenced.

[2019-03-21 16:57] #1921 closed

[2019-03-21 17:09] pelikhan commented on #1905
micro:coin uses a package that needs to be added to the project.

[2019-03-21 17:09] #1905 closed

[2019-03-21 17:12] pelikhan commented on #1900
Looks fixed.

[2019-03-21 17:16] pelikhan commented on #1170
We support "hidden": true in pxt.json to acheive this now.

[2019-03-21 17:16] #1170 closed

[2019-03-21 17:16] pelikhan commented on #1103
We can reopen this when customer feedback comes in that it is a problem.

[2019-03-21 17:18] #1908 closed

[2019-03-21 17:19] #1866 closed

[2019-03-21 17:19] pelikhan commented on #1865
Smaller repro:
[code]

[2019-03-21 17:21] pelikhan commented on #1865
smaller:
[code]

[2019-03-21 17:22] #1920 closed

[2019-03-21 17:57] #1863 closed

[2019-03-21 18:33] pelikhan commented on #1833
Fixed.

[2019-03-21 18:33] #1833 closed

[2019-03-21 18:34] pelikhan commented on #1688
Can we simply hide "rename variable" in the dropdown?

[2019-03-21 18:35] abchatra commented on #1688
We are planning reporter blocks for radio, so there is no need for confusion.

[2019-03-21 18:36] pelikhan commented on #1771
Fixed.

[2019-03-21 18:36] #1771 closed

[2019-03-21 18:37] #1709 closed

[2019-03-21 18:58] pelikhan commented on #1932
Did you get WebUSB fix in?

[2019-03-21 20:47] stritti commented on #1903
Okay. Thanks. On Thursday I will have Girlsday workshop and looking forward German version.
No I am no proofreader but thought on beta the translated text will be shown without validation.

[2019-03-21 20:49] nielsswinkels commented on #1721
Why was it closed? Seems like it wasn't changed?

[2019-03-22 02:28] Helen09 commented on #1900
@pelikhan This bug still repro now, the detail please see the shared page
https://makecode.microbit.org/projects/hack-your-headphones/code

[2019-03-22 02:30] pelikhan commented on #1900
The docs are running the released version which has the bug. I cannot repro this in /beta.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Helen09 <notifications@github.com>
Sent: Thursday, March 21, 2019 7:28:21 PM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Mention
Subject: Re: [Microsoft/pxt-microbit] All “ring tone” under "if...else if..." is "Middle C" (

[2019-03-22 02:33] Helen09 commented on #1900
@pelikhan  Copy this code on beta JavaScript editor and switch to Block editor, the bug can repro
![Issue32201](https://user-images.githubusercontent.com/23466737/54797123-dd651600-4c8d-11e9-8aef-be5591f16d16.gif)

[2019-03-22 04:24] abchatra commented on #1721
We do not plan to fix this for legacy reasons. Won't fix. (Main reason is while loop in the on start will hog the fibers and event won't get registered). Valid expectation in the bug though.

[2019-03-22 08:37] microbit-mark commented on #1707
@abchatra This would be a good one to fix prior to full release. The dialogue is confusing. Is it the case that this app should support automatic flashing?

[2019-03-22 08:40] microbit-mark commented on #1787
I can recreate this. Are you able to take a look @guillaumejenkins ?

[2019-03-22 10:51] martinwork commented on #1927
The crash log predates this issue. It doesn't mention micro:bit, so maybe it's a Safari crash? I can't make anything crash when MakeCode freezes and I don't see any crash log generated.

From Apple: "The exception code 0xdead10cc indicates that an application has been terminated by the OS because it held on to a file lock or sqlite database lock during suspension. If your application is performing

[2019-03-22 14:52] whaleygeek commented on #1929
Great, glad to see this has finally been dealt with, well done.

[2019-03-22 15:14] AmedeeBulle commented on #1929
Tested in my project, works fine, thanks!

(There are no blocks though, but it doesn't matter for me as it is for a library)

[2019-03-22 19:26] darzu opened #1936 ""spawn projectile (primed tnt)" spawns ladders instead"
**Describe the bug**
When using the "spawn projectile (primed tnt)" block, instead ladders are spawned

**To Reproduce**
Steps to reproduce the behavior:
1. Go MakeCode in Minecraft:EE
2. Add these blocks:
![image](https://user-images.githubusercontent.com/6453828/54848074-8c324200-4ce0-11e9-9d81-86897d2023db.png)
3. Notice that ladders are spawned above your head

**Expected behavior**
TnT should

[2019-03-22 19:28] darzu commented on #1936
https://makecode.com/_EMkEkoRVoKkp

Using beta version

[2019-03-22 20:29] abchatra commented on #1936
This is by design. You need spawn the mob and not place it. Both are numbers so you can put one inside other. Something we can't handle today.

[2019-03-22 20:29] abchatra commented on #1936
Closing as won't fix

[2019-03-22 20:29] #1936 closed

[2019-03-22 20:30] abchatra commented on #1936
Also please file on Minecraft repo.

[2019-03-23 15:05] darzu commented on #1932
Yeah, the fix went in with: https://github.com/Microsoft/pxt/pull/5303
I'll take a look. Might be a different cause

[2019-03-23 20:25] nielsswinkels commented on #1721
But changing the position visually doesn't make any difference for what order stuff actually happens programmatically. My request is to have the "on start" block get generated as the topmost block, not the last.

[2019-03-23 20:42] pelikhan commented on #1721
You need to register the event before onstart starts otherwise they will not run while on start is running.

[2019-03-23 21:35] nielsswinkels commented on #1721
What i'm talking about is the renderer that generates the visual picture of the blockcode. This should have nothing to do with how the code actually works in the background?

[2019-03-25 09:01] microbit-mark opened #1938 "Offline app will not install"
microbit-support: 21318
**Describe the bug**
Trying to install the offline app results in this error
"This app will not run on your pc. To search a version of this app for your pc, please contact the app supplier."(translation 99% accurate from portuguese).

**To Reproduce**
Steps to reproduce the behavior:
 On my w10 64x emachines D732-6643. Download the .exe and try to run the file
When I click

[2019-03-25 15:48] abchatra commented on #1938
We need more information than above to debug the issue. Please ask the user to launch the system information and get all the information from there.

[2019-03-25 16:00] microbit-mark commented on #1938
Yep, already asked for this. Will update the ticket as it comes through.

[2019-03-25 21:43] riknoll commented on #1882
No impact for us; this is an old codepath we don't use anymore. @FranklinWhale how is this impacting you?

[2019-03-25 21:47] pelikhan commented on #1882
If we can, we should delete it.

From: Richard Knoll <notifications@github.com>
Sent: Monday, March 25, 2019 2:44 PM
To: Microsoft/pxt-microbit <pxt-microbit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Microsoft/pxt-microbit] compileBlockAsync is broken by changes made in #5256 (#1882)

No impact for us; this is an old codepath we don't use anymore. @FranklinWh

[2019-03-25 22:54] riknoll commented on #1900
I can repro this; looks like a decompiler bug

[2019-03-26 00:03] #1900 closed

[2019-03-26 00:23] riknoll commented on #1765
The value name you're trying to send is too long. The docs [here](https://makecode.microbit.org/reference/radio/send-value) say the maximum length is 12 characters, but I just tried it and it seems like the max length might actually be 8. I think it changed when we started supporting floating points in the mbit. I'll fix the simulator so that it matches the hardware and update the reference.

We s

[2019-03-26 00:25] pelikhan commented on #1765
@ganicke can you document the limitations?

[2019-03-26 00:40] riknoll commented on #1765
Ah, I see, @rhubarbdog was way ahead of me! The limitation is 12 characters for integers and 8 characters for doubles. Right now there's a bug that's breaking that behavior though, which I can fix.

I have to say though, treating doubles and ints differently is not very JavaScript-y. Maybe we should limit the name to 8 characters always?

[2019-03-26 00:43] pelikhan commented on #1765
I'm fine with that. it would make our code and the documentation simpler.

[2019-03-26 03:25] rhubarbdog commented on #1765
@abchatra all  packets have a packet type
0 integer
1 value pair with integer
2 string
3
4 double
5 value pair with double.

If the packet id is incorrect for this block type just return to the main loop.

[2019-03-26 03:30] rhubarbdog commented on #1765
@rharbird
You say your code syops working when on 2 microbit. Are you setting the group with block `radio.setGroup(    )`.

[2019-03-26 03:41] rhubarbdog commented on #1765
@pelikhan where are the docs I'm the author of a piece of micropython which allows for comms between MakeCode blocks and micropython on the radio

[2019-03-26 03:50] pelikhan commented on #1765
source of truth: https://github.com/Microsoft/pxt-microbit/blob/master/libs/radio/radio.cpp

[2019-03-26 12:03] rharbird commented on #1765
Hello,

Yes I was. I can’t retest right now because I’m in a part of the world with no microbits ☹

Rae

From: rhubarbdog <notifications@github.com>
Sent: 26 March 2019 03:30
To: Microsoft/pxt-microbit <pxt-microbit@noreply.github.com>
Cc: r.harbird@cs.ucl.ac.uk; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/pxt-microbit] All radio receive blocks are permisive (#1765)

@rharbird<htt

[2019-03-26 15:12] microbit-mark commented on #1927
@abchatra can you look at ios crash logs and tag for next release

[2019-03-26 15:24] jaustin commented on #1050
@abchatra people are still confused by this one, so I'd really like to consider the option of putting the shadown < 'str' == 'str' > so it's much easier to create this
<img width="390" alt="image" src="https://user-images.githubusercontent.com/147113/55009901-352bb600-4fdb-11e9-9afe-c28c27c3fe37.png">

[2019-03-26 15:28] jaustin commented on #1874
@pelikhan if this isn't trivial for someone to do in MakeCode, some pointers here on this ticket for how someone else can do this would be great.

[2019-03-26 16:07] FranklinWhale commented on #1882
I have a custom build of pxt-microbit that uses `compileBlockAsync()` to get the TypeScript of a block and its descendants. I am aware that such use is not officially supported and I currently don't have a strong argument against its deletion...

[2019-03-26 17:28] abchatra commented on #1865
This should be fixed. Please verify.

[2019-03-26 17:28] #1865 closed

[2019-03-26 17:28] abchatra commented on #1865
Please also verify all the dependent bugs

[2019-03-26 17:30] abchatra commented on #1637
@pelikhan are you taking a look at this?

[2019-03-26 17:43] abchatra commented on #1050
@jaustin please share the use case scenario.

Agrument against it is this: There is no string manipulation in logic today and it will lead to confusion if one student drags number comparsion and another string comparision . Also what does <, > etc do for strings?

AFAIK strings are only generated by radio. We already have radio broadcast apis to make it easier with strings. May be we can make it d

[2019-03-26 17:44] pelikhan commented on #1637
Not at the moment.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Abhijith Chatra <notifications@github.com>
Sent: Tuesday, March 26, 2019 10:30:02 AM
To: Microsoft/pxt-microbit
Cc: Peli de Halleux; Mention
Subject: Re: [Microsoft/pxt-microbit] Block to convert number to string (#1637)

@pelikhan<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2F

[2019-03-26 18:55] jaustin commented on #1050
Hey,

I think the things likely to generate strings are
* Radio
* Serial/UART (USB, Bluetooth to a lesser extent)

So, the typical use case is something similar to the one in my screenshot above - A user wants to perform a different action based on the exact string they are sent. One example of this is people really often want to send messages telling another device which icon to show - the step o

[2019-03-27 09:13] microbit-mark opened #1940 "Bugs in using escape characters"
micro:bit-support: 21346
**Describe the bug**
In blocks entering  within Serial Write Line, Serial Write String on in a general string assignment, entering a character escape sequence such as “\r” adds extra  “\”
If the character required is \”, then two extra \ are added.
![ecape](https://user-images.githubusercontent.com/31242877/55063449-e67c2b80-506f-11e9-815b-b2bd20c836f3.gif)

Entering a cha

[2019-03-28 02:03] firemansamm opened #1941 "PXT_BUFFER_DATA fails to compile on MakeCode beta"
We've been informed that some of our packages are failing to compile on MakeCode beta. We've found this to be down to the following cloud compilation trace:

[code]

We suspect this might be due to https://github.com/Microsoft/pxt-common-packages/commit/08c13a08a68dd270a49c7748dd3566afb72fb70a#diff-32a5f970468fdfffc8fb945b20264c94L653 - is this change currently active in beta? (Or are we missing f

[2019-03-28 09:22] ouki-wang opened #1942 "Failed to install makcecode server on Mac"
run pxt serve --local
<img width="570" alt="aaQQ图片20190328171804" src="https://user-images.githubusercontent.com/13196063/55145585-f3874080-517d-11e9-916e-cfba05aaabb7.png">

[2019-03-29 04:43] dmosyash opened #1945 "How to convert JS code into HEX file"
Hello there,

I want to create an editor of my own for micro:bit. I am using JavaScript as the base language for my editor. The programmer will use blockly blocks and then the editor will convert the blockly blocks into JS code.
And this JS code will further get converted into .hex file. I want to know how to convert JS code into hex code so that micro:bit can perform the instructions.

Thanks in

[2019-03-29 04:43] pelikhan commented on #1945
Click "download"

[2019-03-29 06:47] elecfreaks opened #1946 "Same package，Different Displays"
extensions home page
![](https://i.imgur.com/kjkabCV.png)
extensions Search page
![](https://i.imgur.com/dB6f1Kd.png)
it should be same
![](https://i.imgur.com/hmBeOND.png)

[2019-03-29 08:54] #1945 closed

[2019-03-29 08:54] dmosyash opened #1947 "How to convert JS code into HEX file, using JS"
Hello there,

I want to create an editor of my own for micro:bit. I am using JavaScript as the base language for my editor. The programmer will use blockly blocks and then the editor will convert the blockly blocks into JS code.
And this JS code will further get converted into .hex file. I want to know how to convert JS code into hex code so that micro:bit can perform the instructions.

Thanks in

[2019-03-29 16:46] darzu commented on #1896
It's really slowing down my whole system:
![image](https://user-images.githubusercontent.com/6453828/55248633-7c6bae00-524a-11e9-8a7c-889083d0199a.png)

Chrome and Teams are unusable while I have safari open to arcade.makecode.com's homepage

[2019-04-01 17:31] #1725 closed

[2019-04-01 20:48] abchatra commented on #1103
@shakao take a look at this. I have no clue how hard\easy this is. @riknoll should be able to figure that out.

[2019-04-01 20:55] abchatra commented on #1947
We have compiler from javascript to asm. Here is the spec https://makecode.com/language
You will need a compiler from your javascript to assembly code.

[2019-04-01 20:55] #1947 closed

[2019-04-01 23:46] abchatra commented on #1637
@jwunderl can you take a look at this?

[2019-04-02 02:56] abchatra commented on #1103
fixed

[2019-04-02 02:56] #1103 closed

[2019-04-02 20:29] abchatra commented on #1486
@darzu I am load balancing this to Shannon. Feel free to pass on anything you know

[2019-04-03 00:46] #1536 closed

[2019-04-03 07:54] microbit-mark opened #1950 "Beta: hat missing when downloading snapshot of function"
This is the snapshot downloaded from makecode.microbit.org/beta of a function with parameters

![microbit-screenshot(4)](https://user-images.githubusercontent.com/31242877/55462046-d45d3880-55ed-11e9-94d1-b041d035f92c.png)

This is the equivalent screenshot
<img width="364" alt="Screenshot 2019-04-03 at 08 49 40" src="https://user-images.githubusercontent.com/31242877/55462053-d7f0bf80-55ed-11e9-9

[2019-04-03 19:06] pelikhan commented on #1950
This is size computation bug in blockly. Blockly does not take the hat into account when returning the size of the blocks -- so it gets clipped.

[2019-04-03 22:31] jwunderl commented on #1907
There is no problem with your repo -- the offline app just uses the version of the ``targetconfig.json`` included with the release. In this case, that's v1.2.13, and ``hummingbird-bit`` is the last one included in the approved list there. The ``reromicro`` was first included in v1.2.19, so it will show up like it does on the website when the next version of the offline app is released.

[2019-04-03 22:40] abchatra commented on #1382
@jwunderl This is a good one to address

[2019-04-03 22:41] abchatra commented on #1050
@jwunderl  Please work with @riknoll for the right design for this

[2019-04-03 22:46] #1907 closed

[2019-04-03 22:46] abchatra commented on #1932
@darzu please prioritize this if you can.

[2019-04-04 00:19] jwunderl commented on #1741
Unfortunately, there isn't enough room on mobile to fit a feedback link, as they switch to being small icons. The cards are still the same size in tablet view, though, so we can fix that at least; that's being addressed in https://github.com/Microsoft/pxt/pull/5428

[2019-04-04 00:32] #1741 closed

[2019-04-04 16:33] pelikhan commented on #1941
Correct, we are now using UTF8 strings and you access the string data using ``->getUTF8Data()``. We probably also need a macro to access the length ``->getUTF8Size()``

[2019-04-04 16:34] pelikhan commented on #1928
@ganicke can you take a peek?

[2019-04-04 16:37] pelikhan commented on #1904
This is advanced typescript code using classes. I think it is ok to refuse to go back to blocks.

[2019-04-04 16:57] pelikhan opened #1954 "Memory corruption with infection on /beta"
The infection game crashes on /beta. After pressing A+B, screen displays random images.

[2019-04-04 17:05] pelikhan opened #1955 "Beta website always open project in blocks"
**Describe the bug**
Any pre-beta project will be opened in blocks because the getPreferredEditor logic does not handle properly legacy scripts.

**To Reproduce**
* create project in main web site, switch to blocks
* open in /beta
* see that it opens blocks

[2019-04-04 17:59] pelikhan commented on #1955
Fixed in pxt.5.9.3

[2019-04-04 17:59] #1955 closed

[2019-04-04 18:17] pelikhan opened #1957 "LedSprite cannot be added as parameter to Functions"
**Describe the bug**
We should be able to add a LedSprite to the function parameters.

[2019-04-04 19:41] pelikhan opened #1960 "Toggle icon alignment issue"
icon vertical position and left margin on text in toggle have changed slightly.

Should look like:
![image](https://user-images.githubusercontent.com/4175913/55583507-e49d1280-56d6-11e9-80a8-e4deb5e75c26.png)
Actual
![image](https://user-images.githubusercontent.com/4175913/55583529-ef57a780-56d6-11e9-82c0-ea973bbee8fc.png)

I also never noticed that our main icons/text were not aligned.
![image](

[2019-04-04 19:50] pelikhan commented on #1960
This change impacts the toggle: https://github.com/Microsoft/pxt/commit/887b76d7b285743a11ceb49a8cdca5da53e635ee#diff-7e12c54173711b3c4f0453ad6f9b6736R377

[2019-04-04 20:35] #1835 closed

[2019-04-04 20:41] #1637 closed

[2019-04-04 20:52] abchatra opened #1961 "Slow mo can be selected when debugger is on"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'About' -> 'Experiments'
2.  Enable debugger
3.  Start debugger
4. See  you can select slow mo.

Only one of the slow mo or debugger should be able to selected.

**Screenshots**
![image](https://user-images.githubusercontent.com/6107272/55587638-9f7dde00-56e0-11e9-9ef6-6754c585022c.png)

**Desktop (please complete the following information

[2019-04-04 21:00] #1941 closed

[2019-04-04 22:26] jwunderl commented on #1957
fixed by https://github.com/Microsoft/pxt-microbit/pull/1959 ?

[2019-04-04 22:38] pelikhan commented on #1957
Yes.

[2019-04-04 22:38] #1957 closed

[2019-04-04 22:58] pelikhan commented on #1932
Probably broke this with .tsx refactoring. looking.

[2019-04-04 23:14] pelikhan commented on #1932
https://github.com/Microsoft/pxt-microbit/blob/master/editor/tsconfig.json#L17

Looks like prepend is ignored and dapjs is not included.

[2019-04-04 23:33] ganicke commented on #1928
It seems that if the parameter is not of exactly the type ``number`` then the hover tip is not displayed. Those defined as ``int`` or ``int32`` (in TS) won't display the tip. @riknoll?

[2019-04-04 23:44] ChaseMor commented on #1640
Looks like the issue comes from printing a number that is larger than 2^30.

[2019-04-05 01:55] abchatra commented on #1640
We don't support integers larger than 2^30 as it doesn't fit in tagged int strategy and will be converted to float. Floating point values don't have exact precision. This is a limitation in makecode.

We won't be able to fix from our end.

[2019-04-05 01:55] #1640 closed

[2019-04-05 03:19] #1382 closed

[2019-04-05 04:02] pelikhan commented on #1932
Fixed.

[2019-04-05 04:02] #1932 closed

[2019-04-05 04:02] pelikhan commented on #1688
New reporter blocks are live in /beta

[2019-04-05 11:11] martinwork commented on #1640
@microbit-mark Would it be useful to provide access to the 5 character micro:bit friendly name derived from the received serial number?

[2019-04-05 16:28] osupk8 commented on #1640
Can ou give an example ?

[2019-04-05 17:23] martinwork commented on #1640
For the host micro:bit, control.deviceName is the friendly name (eg. tovip), derived from control.deviceSerialNumber, which corresponds to the A+B+Reset LED pattern used for Bluetooth pairing. I meant the equivalent of deviceName for the received serial number. I'm imagining a "device name" choice on the received packet block dropdown.

[2019-04-05 17:29] abchatra commented on #1640
Convert to string and send as a string? Even that has 8 character limit, but you can send multiple parts of as the string.

[2019-04-05 17:31] pelikhan commented on #1640
The serial number is encoded properly but the tostring might not handle it.

[2019-04-05 18:10] jwunderl opened #1966 "Radio tutorials need updating for draggable params change"
**Describe the bug**

micro-chat tutorial and possibly other tutorials say to find ``receivedString`` under Variables in the toolbox, but that flyout might not exist and doesn't contain the reporter with draggable params

**To Reproduce**

Steps to reproduce the behavior:
1. Go to micro-chat tutorial step 4
2. See error

**Expected behavior**

just say to drag from the event block

**Screenshots**

[2019-04-05 18:12] pelikhan commented on #1966
You cannot merge this until June!!!

________________________________
From: Joey Wunderlich <notifications@github.com>
Sent: Friday, April 5, 2019 11:10:36 AM
To: Microsoft/pxt-microbit
Cc: Subscribed
Subject: [Microsoft/pxt-microbit] Radio tutorials need updating for draggable params change (#1966)

Describe the bug

micro-chat tutorial and possibly other tutorials say to find receivedString unde

[2019-04-05 18:38] gushuro opened #1967 "Tutorials - When translated to Spanish, "Hint" dialog overlaps text"
"Hint" is translated to Spanish, but it overlaps the rest of the text.
![image](https://user-images.githubusercontent.com/5607882/55649128-0fe73680-5797-11e9-8bb2-20f291ad612f.png)

[2019-04-05 18:38] riknoll opened #1968 "Creating a var with the same name as a default in the flyout breaks toolbox"
How to reproduce:
1. Create a new project
2. Create a variable called "list"
3. Open the Arrays category and try dragging out any of the blocks with list variables

Here's a GIF:

![list_flyout_break](https://user-images.githubusercontent.com/13754588/55649183-34431300-5797-11e9-8245-3baf7ab21303.gif)

[2019-04-05 18:38] shakao opened #1969 "Incorrect search results in My Projects"
**Describe the bug**
Search results returning projects that don't match the search string

**To Reproduce**
Steps to reproduce the behavior:
1. Create several projects with different names
2. Go to the "My Projects" view
3. Search for a couple different projects

**Expected behavior**
Should only return projects matching the search string.

**Screenshots**
![search](https://user-images.githubuserc

[2019-04-05 18:39] riknoll commented on #1968
I think this is new functions related

[2019-04-05 18:42] pelikhan commented on #1967
It gets worse in Italian.

[2019-04-05 20:20] jwunderl opened #1970 "Some buttons in simulator require double click"
**Describe the bug**

Some elements of the simulator require double clicks on /beta (looks like one to focus then one to input) that don't on the live site. Example with shake: (top is safari, bottom is chrome)

![2019-04-05 11 42 21](https://user-images.githubusercontent.com/5615930/55653783-6d35b480-57a4-11e9-9259-5451334a18cc.gif)

same with light sensor and other simulator button, but only in